_messageColor1 = _colorG + 7%

[class^=message]
  --color: currentColor
  //--color-link: _colorT2
  --bg-color: _messageColor1
  padding: .15em 1em
  color: var(--color)
  background-color: var(--bg-color)
  box-shadow: _shadow5
  //overflow hidden // @note Evite un conflit avec les margins et padding des éléments enfants. Mais pose des problèmes avec les pseudo-éléments.
  //& a
  //  color: var(--color-link)

main [class^=message]
  //margin-block-end: 1em
  border-radius: _r2

.message-info
  --bg-color: _color6

.message-success
  --bg-color: _color4

.message-error
  --bg-color: _color3

.message-warning
  --bg-color: _color5 - 30%

[class^=message][class*=highlight]
  --icon-size: 2.5em // 3em
  display: grid
  grid-template-columns: var(--icon-size) minmax(0, 1fr)
  gap: _gap
  align-items: center
  min-height: 5em //grid-template-rows: minmax(5em, 1fr)
  padding-inline: 1em
  & > .icon
    width: var(--icon-size)
    height: var(--icon-size)
    //place-self: center
    padding: 25%
    fill: var(--bg-color)
    background-color: currentcolor
    clip-path: circle(50%)
