/* Variables CSS globales */
:root {
  /* Couleurs */
  --color-primary: hsl(210, 100%, 58%);
  --color-primary-light: hsl(216, 100%, 73%);
  --color-primary-dark: hsl(216, 98%, 52%);
  --color-background: #fff;
  --color-text: hsl(210, 9%, 31%);
  --color-surface: hsl(24, 92%, 90%);

  /* Couleurs des événements */
  --color-event-day: hsl(197, 92%, 90%);
  --color-event-evening: hsl(24, 92%, 90%);
  --color-event-morning: hsl(109, 100%, 91%);
  --color-event-night: hsl(25, 100%, 88%);
  --color-event-rest: hsl(0, 0%, 96%);

  /* Tailles */
  --icon-size: 2.5em;
  --grid-item-min-width: 22em;
  --border-radius: 0.3em;

  /* Espacements */
  --spacing-xs: 0.2em;
  --spacing-sm: 0.5em;
  --spacing-md: 1em;
  --spacing-lg: 1.5em;
}

/* Police de caractères */
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notoSans-Regular.woff2') format('woff2'), url('../fonts/notoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/notoSerif-Regular.woff2') format('woff2'), url('../fonts/notoSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oleo Script Swash Caps';
  src: url('../fonts/OleoScriptSwashCaps-Regular.woff2') format('woff2'), url('../fonts/OleoScriptSwashCaps-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset et styles de base */
* {
  box-sizing: border-box;
  user-select: none; /* La spécification ne prévoie pas que cette propriété soit héritée, bien que les navigateurs webkit le fasse. Cette règle n'a de sens que pour une application web. */
  background-color: rgba(255, 55, 55, .5);
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  background-color: var(--color-background);
}

.wrap {
  display: grid;
  grid-template-columns: minmax(0, 90em);
  justify-content: center;
}

.main-content {
  display: grid;
  grid-template-rows: 200px;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-item-min-width), 100%), 1fr));
}

.gap {
  gap: var(--spacing-md);
}

img {
  max-width: 100%;
  pointer-events: none;
}

/* En-tête */
header {
  color: var(--color-background);
  background-color: var(--color-primary);
}

header > .wrap,
footer > .wrap,
.main-content .wrap {
  padding-inline: var(--spacing-md);
}

.main-content {
  display: grid;
  margin-block-start: var(--spacing-md);
}

hgroup {
  font-family: 'Oleo Script Swash Caps';
  text-align: center;
  text-wrap: balance;
}

hgroup h1 {
  margin-block: 0.5em 0;
  font-size: 3em;
}

hgroup p {
  margin-block: 0 var(--spacing-md);
  font-size: 1.8em;
}

/* Pied de page */
footer {
  color: var(--color-background);
  pa
  background-color: var(--color-primary);
}
