extends ../../../patternLayout

block variables
  - const documentType = 'card'
  -
    const data = {
      _name: 'Cards <span>.&nbsp;documentation</span>',
      _title: 'Cards, documentation',
      _description: 'Cards, documentation'
    }

block main
  h1.main-heading!= data._name
  include ../card
