extends ../../../patternLayout

block variables
  - const documentType = 'checkbox'
  - const data = { _name: 'Checkboxes & Radio buttons <span>.&nbsp;documentation</span>', _title: 'Checkboxes & Radio buttons . Scritpura framework' }

block main
  h1.main-heading!= data._name
  include ../checkbox
