extends ../../../patternLayout

block variables
  - const documentType = 'column'
  - const data = { _name: 'Columns <span>.&nbsp;documentation</span>', _title: 'columns . Scritpura framework' }

block main
  h1.main-heading!= data._name
  include ../column
