extends ../../../patternLayout

block variables
  - const documentType = 'form'
  -
    const data = {
      _name: 'Forms <span>.&nbsp;Documentation</span>',
      _title: 'Forms, documentation',
      _description: 'Forms, documentation'
    }

block main
  h1.main-heading!= data._name
  include ../form
