extends ../../../patternLayout

block variables
  - const documentType = 'language'
  -
    const data = {
      _name: 'Languages <span>.&nbsp;Documentation</span>',
      _title: 'Languages, documentation',
      _description: 'Languages, documentation'
    }

block main
  h1.main-heading!= data._name
  include ../language
