extends ../../../patternLayout

block variables
  - const documentType = 'list'
  -
    const data = {
      _name: 'Lists <span>.&nbsp;Documentation</span>',
      _title: 'Lists, documentation',
      _description: 'Lists, documentation'
    }

block main
  h1.main-heading!= data._name
  include ../list
