extends ../../../patternLayout

block variables
  - const documentType = 'progressBar'
  - const data = { _name: 'Progress Bars <span>.&nbsp;documentation</span>', _title: 'Progress Bars . Scritpura framework' }

block main
  h1.main-heading!= data._name
  include ../progressBar
