extends ../../../patternLayout

block variables
  - const documentType = 'range'
  - const data = { _name: 'Ranges <span>.&nbsp;documentation</span>', _title: 'Ranges . Scritpura framework' }

block main
  h1.main-heading!= data._name
  include ../range
