extends ../../../patternLayout

block variables
  - const documentType = 'range'
  -
    const data = {
      _name: 'Ranges <span>.&nbsp;Documentation</span>',
      _title: 'Ranges, documentation',
      _description: 'Ranges, documentation'
    }

block main
  h1.main-heading!= data._name
  include ../range
