extends ../../../patternLayout

block variables
  - const documentType = 'ribbon'
  -
    const data = {
      _name: 'Ribbons <span>.&nbsp;Documentation</span>',
      _title: 'Ribbons, documentation',
      _description: 'Ribbons, documentation'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../ribbon
