extends ../../../patternLayout

block variables
  - const documentType = 'table'
  - const data = { _name: 'Tables <span>.&nbsp;documentation</span>', _title: 'Tables . Scritpura framework' }

block main
  h1.main-heading!= data._name
  include ../table
