extends ../../../patternLayout

block variables
  - const documentType = 'typography'
  -
    const data = {
      _name: 'Typography <span>.&nbsp;Documentation</span>',
      _title: 'Typography, documentation',
      _description: 'Typography, documentation'
    }

block main
  h1.main-heading!= data._name
  include ../typography
