extends ../../../patternLayout

block variables
  - const documentType = 'zoom'
  -
    const data = {
      _name: 'Zooms <span>.&nbsp;Documentation</span>',
      _title: 'Zooms, documentation',
      _description: 'Zooms, documentation'
    }

block main
  h1.main-heading!= data._name
  include ../zoom
