
//- @see https://www.cnil.fr/fr/reglement-europeen-protection-donnees
template#gdpr
  #gdpr-see.wrap(style='--bg-color:tomato')
    .mm(role='alert')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#cookie-bite')
        div
          p Ce site utilise des cookies et vous donne le contrôle sur ceux que vous souhaitez activer&nbsp;:
    .flex.gap
      button.button#gdpr-true-consent
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#checkmark')
        | Tout accepter
      button.button#gdpr-false-consent
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#mark')
        | Tout refuser
      button.button
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#quill')
        | Personnaliser
noscript
  .wrap
    .mm(role='alert')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#warning')
      p Javascript est désactivé dans votre navigateur. Afin de bénéficier de toutes les fonctionnalités du site, réactivez cette option dans vos paramètres.
