
//- @see https://www.cnil.fr/fr/reglement-europeen-protection-donnees
template#gdpr
  #gdpr-see.message-info(role='alert' style='--color: #fff')
    div
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | Ce site utilise des cookies et vous donne le contrôle sur ceux que vous souhaitez activer&nbsp;:
      .flex.gap
        button.button#gdpr-true-consent(style='--color:#fff;--bg-color:#4e667a')
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#checkmark')
          | Tout accepter
        button.button#gdpr-false-consent(style='--color:#fff;--bg-color:#4e667a')
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#mark')
          | Tout refuser
        button.button(style='--color:#fff;--bg-color:#4e667a')
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#quill')
          | Personnaliser
noscript
  .message-warning(role='alert')
    p
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#warning')
      | Javascript est désactivé dans votre navigateur. Afin de bénéficier de toutes les fonctionnalités du site, réactivez cette option dans vos paramètres.
