ol.breadcrumb(aria-label='Breadcrumb')
  if documentType !== 'index'
    li
      a(href='/') Home
  if pageType === 'component'
    li
      a(href='/page/styleGuide.html') Style Guide
  else if pageType === 'template'
    li
      a(href='/page/templates.html') Template examples
  //- Attention : ici la comparaison se fait avec documentType, et non pageType
  li
    //- @note L'attribut aria-current='page' n'est pas obligatoire pour l'accessibilité. Donc, sppression du lien pour la page courante car sa desactivation via CSS (pointer-events:none) peut toujours être contournée par le focus.
    //- a(href=data._url.path aria-current='page' aria-disabled='true')!= data._name
    div!= data._name
