mixin list(icon, name, slug)
  li
    svg.icon(role='img' focusable='false')
      use(href='/sprites/util.svg#' + icon)
    a(href='/page/' + slug + '.html') #{name}

ul.grid4.list-straight
  //-+list('paint-roller', 'All components', 'components')
  +list('ampersand', 'Typography', 'typography')
  +list('language', 'Languages', 'languages')
  +list('space-invader', 'Icons', 'icons')
  +list('list-ul', 'Lists', 'lists')
  +list('indent', 'Details/Summary', 'detailsSummary')
  +list('folder-closed', 'Tabs', 'tabs')
  +list('square-caret-down', 'Accordions', 'accordions')
  +list('message', 'Message Boxes', 'messageBoxes')
  +list('code', 'Code Blocks', 'codeBlocks')
  +list('table', 'Tables', 'tables')
  +list('picture', 'Images', 'images')
  +list('video-play', 'Media players', 'mediaPlayers')
  +list('table-list', 'Forms', 'forms')
  +list('sliders', 'Ranges', 'ranges')
  +list('check', 'Checkboxes, radios & switches', 'checkboxes')
  +list('power-off', 'Buttons', 'buttons')
  +list('bars-progress', 'Progress', 'progress')
  +list('spinner', 'Loaders', 'loaders')
  +list('pie', 'Charts', 'charts')
  +list('address-card', 'Cards', 'cards')
  +list('ribbon', 'Ribbons', 'ribbons')
  +list('border-none', 'Grids', 'grids')
  +list('grip', 'Columns', 'columns')
  +list('search', 'Scales', 'scales')
  +list('map-location-dot', 'Maps', 'maps')
