.wrap
  div
    .logo
      svg
        use(href='/sprites/silos/195v.svg#a')
    p Scriptura
  p Created by 
    a(href='https://www.linkedin.com/in/olivier-chavarin/').author Olivier Chavarin
  p Since 2015
