//- fichier autogénéré par la commande `yarn icon`
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#fast-forward')
  rt fast-forward
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#fast-rewind')
  rt fast-rewind
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#favorite-border')
  rt favorite-border
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#favorite')
  rt favorite
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#forward-10')
  rt forward-10
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#forward-30')
  rt forward-30
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#forward-5')
  rt forward-5
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#fullscreen')
  rt fullscreen
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#get-app')
  rt get-app
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#menu')
  rt menu
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#move-down')
  rt move-down
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#move-up')
  rt move-up
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#pause')
  rt pause
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#picture-in-picture-alt')
  rt picture-in-picture-alt
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#picture-in-picture')
  rt picture-in-picture
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#play-disabled')
  rt play-disabled
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#play')
  rt play
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#playlist-play')
  rt playlist-play
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#replay')
  rt replay
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#rewind-10')
  rt rewind-10
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#rewind-30')
  rt rewind-30
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#rewind-5')
  rt rewind-5
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#skip-next')
  rt skip-next
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#skip-prev')
  rt skip-prev
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#slow-motion')
  rt slow-motion
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#stop')
  rt stop
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#subtitles-off')
  rt subtitles-off
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#subtitles')
  rt subtitles
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#volume-off')
  rt volume-off
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/player.svg#volume-up')
  rt volume-up