//- Fichier autogénéré par la commande `pnpm icon`
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#address-card')
  rt address-card
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#ampersand')
  rt ampersand
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#arrow-down')
  rt arrow-down
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#arrow-left')
  rt arrow-left
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#arrow-right')
  rt arrow-right
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#arrow-right2')
  rt arrow-right2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#arrow-up')
  rt arrow-up
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#asterisk')
  rt asterisk
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#asterisk2')
  rt asterisk2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#asterism')
  rt asterism
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#asterism2')
  rt asterism2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#at')
  rt at
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#badge')
  rt badge
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#bars-progress')
  rt bars-progress
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#bin')
  rt bin
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#birthday-cake')
  rt birthday-cake
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#book')
  rt book
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#border-none')
  rt border-none
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#bubbles')
  rt bubbles
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#bubbles2')
  rt bubbles2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#calendar')
  rt calendar
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#check')
  rt check
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#checkmark-hollow')
  rt checkmark-hollow
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#checkmark')
  rt checkmark
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#chevron-right')
  rt chevron-right
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#code')
  rt code
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#cogwheel')
  rt cogwheel
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#cogwheel2')
  rt cogwheel2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#cogwheel3')
  rt cogwheel3
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#compact-disc')
  rt compact-disc
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#compress')
  rt compress
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#cookie-bite')
  rt cookie-bite
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#cookie')
  rt cookie
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#copy')
  rt copy
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#copy2')
  rt copy2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#crop')
  rt crop
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#download2')
  rt download2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#ellipsis-vertical')
  rt ellipsis-vertical
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#ellipsis')
  rt ellipsis
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#expand')
  rt expand
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#external-link')
  rt external-link
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#eye-blocked')
  rt eye-blocked
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#eye')
  rt eye
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#flake')
  rt flake
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#flame')
  rt flame
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#folder-closed')
  rt folder-closed
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#frame')
  rt frame
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#github')
  rt github
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#gopuram')
  rt gopuram
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#grip')
  rt grip
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#heart-hollow')
  rt heart-hollow
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#heart')
  rt heart
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#home')
  rt home
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#hour-glass')
  rt hour-glass
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#indent')
  rt indent
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#info')
  rt info
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#key')
  rt key
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#keyboard')
  rt keyboard
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#language')
  rt language
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#link')
  rt link
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#list-ul')
  rt list-ul
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#location')
  rt location
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#locked')
  rt locked
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#login')
  rt login
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#logout')
  rt logout
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#man')
  rt man
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#map-location-dot')
  rt map-location-dot
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#mark-hollow')
  rt mark-hollow
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#mark')
  rt mark
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#mars')
  rt mars
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#maximize')
  rt maximize
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#message')
  rt message
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#minimize')
  rt minimize
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#minus')
  rt minus
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#moon')
  rt moon
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#music-note')
  rt music-note
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#old-key')
  rt old-key
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#paint-roller')
  rt paint-roller
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#palette')
  rt palette
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#paper-plane')
  rt paper-plane
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#paperclip')
  rt paperclip
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#pen-clip')
  rt pen-clip
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#pencil')
  rt pencil
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#phone')
  rt phone
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#picture')
  rt picture
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#pie')
  rt pie
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#plus')
  rt plus
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#power-off')
  rt power-off
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#power')
  rt power
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#print-slash')
  rt print-slash
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#print')
  rt print
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#puzzle')
  rt puzzle
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#quill')
  rt quill
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#quotes-left')
  rt quotes-left
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#quotes-right')
  rt quotes-right
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#radio-checked')
  rt radio-checked
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#radio-checked2')
  rt radio-checked2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#radio-unchecked')
  rt radio-unchecked
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#ribbon')
  rt ribbon
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#rocket')
  rt rocket
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#search')
  rt search
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#select-column')
  rt select-column
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#share')
  rt share
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#sharp')
  rt sharp
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#skull-crossbones')
  rt skull-crossbones
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#skull')
  rt skull
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#sliders')
  rt sliders
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#space-invader')
  rt space-invader
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#spinner')
  rt spinner
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#square-caret-down')
  rt square-caret-down
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#square-check')
  rt square-check
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#star')
  rt star
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#suitcase')
  rt suitcase
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#sun')
  rt sun
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#table-cells')
  rt table-cells
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#table-columns')
  rt table-columns
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#table-list')
  rt table-list
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#table')
  rt table
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#thumbtack')
  rt thumbtack
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#trowel-bricks')
  rt trowel-bricks
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#umbrella')
  rt umbrella
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#unlocked')
  rt unlocked
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#upload')
  rt upload
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#upload2')
  rt upload2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#user')
  rt user
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#users')
  rt users
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#venus')
  rt venus
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#video-play')
  rt video-play
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#video-play2')
  rt video-play2
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#warning')
  rt warning
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#women')
  rt women
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#xmark')
  rt xmark
ruby
  svg.icon(role='img' focusable='false')
    use(href='/sprites/util.svg#youtube')
  rt youtube