ul.grid3.list-straight
  li
    a(href='/page/person.html') Person page
  li
    a(href='/page/article.html') Article page
  li
    a(href='/page/place.html') Place page
  li
    a(href='/page/imageGallery.html') Image gallery
  li
    a(href='/page/styleGuide.html') Style Guide
  li
    a(href='/styles/expanded/main.css' target='_blank') Styles expanded
  li
    a(href='//github.com/Scriptura/scriptura.github.io') Scriptura on Github
