ul.list-stripe-links.grid3
  li
    a(href='/p/login') Login page
  li
    a(href='/p/person') Person page
  li
    a(href='/p/article') Article page
  li
    a(href='/p/place') Place page
  li
    a(href='/p/imageGallery') Image gallery
  li
    a(href='/p/styleGuide/') Style Guide
  li
    a(href='/styles/expanded/main.css' target='_blank') Styles expanded
  li
    a(href='//github.com/Scriptura/scriptura.github.io') Scriptura on Github
