button.cmd-nav(type='button' aria-label='Main Menu')
  svg(viewBox='0 0 1000 1000')
    rect(x='50' y='225' width='900' height='50')
    rect(x='50' y='475' width='900' height='50')
    rect(x='50' y='725' width='900' height='50')
.main-nav(aria-label='Main')
  ul
    li
      if documentType === 'person'
        .current
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#frame')
          | Person 1
      else
        a(href='/page/person.html')
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#frame')
          | Person 1
    li
      if documentType === 'place'
        .current
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#location')
          | Place 1
      else
        a(href='/page/place.html')
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#location')
          | Place 1
    li
      if documentType === 'article'
        .current
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#quill')
          | Article 1
      else
        a(href='/page/article.html')
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#quill')
          | Article 1
    li
      if documentType === 'imageGallery'
        .current
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#picture')
          | Image gallery
      else
        a(href='/page/imageGallery.html')
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#picture')
          | Image gallery
    li
      if documentType === 'styleGuide'
        .current
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#ampersand')
          | Style Guide
      else
        a(href='/page/styleGuide.html')
          svg.icon(role='img' focusable='false')
            use(href='/sprites/utils.svg#ampersand')
          | Style Guide
    li
      a(href='//github.com/Scriptura/scriptura.github.io')
        svg.icon(role='img' focusable='false')
          use(href='/sprites/utils.svg#github')
        | Repository
