mixin item(currentType, name, pageSlug, iconSlug)
  li
    if documentType === currentType
      .current
        svg.icon-inline(role='img' focusable='false')
          use(href=iconSlug)
        = name
    else
      a(href=pageSlug)
        svg.icon-inline(role='img' focusable='false')
          use(href=iconSlug)
        = name

button.cmd-nav(type='button' aria-label='Main Menu')
  svg(viewBox='0 0 1000 1000')
    rect(x='50' y='225' width='900' height='50')
    rect(x='50' y='475' width='900' height='50')
    rect(x='50' y='725' width='900' height='50')
.main-nav(aria-label='Main')
  ul
    +item('person', 'Person 1', '/page/person.html', '/sprites/utils.svg#frame')
    +item('place', 'Place 1', '/page/place.html', '/sprites/utils.svg#location')
    +item('article', 'Article 1', '/page/article.html', '/sprites/utils.svg#quill')
    +item('imageGallery', 'Image gallery', '/page/imageGallery.html', '/sprites/utils.svg#picture')
    +item('styleGuide', 'Style Guide', '/page/styleGuide.html', '/sprites/solid.svg#paint-roller')
    +item('', 'Repository', '//github.com/Scriptura/scriptura.github.io', '/sprites/utils.svg#github')
