mixin item(currentType, name, pageSlug, iconSlug)
  li
    if documentType === currentType
      .current
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#' + iconSlug)
        = name
    else
      a(href=pageSlug)
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#' + iconSlug)
        = name

button.cmd-nav(type='button' aria-label='Main Menu')
  svg(viewBox='0 0 1000 1000')
    rect(x='50' y='225' width='900' height='50')
    rect(x='50' y='475' width='900' height='50')
    rect(x='50' y='725' width='900' height='50')
ul.sub-nav(aria-label='Main')
  +item('components', 'Components', '/page/components.html', 'trowel-bricks')
  +item('templates', 'Templates', '/page/templates.html', 'gopuram')
  +item('grid', 'Grid systems', '/page/grids.html', 'border-none')
  +item('article', 'Sample article', '/page/article.html', 'ampersand')
  +item('forum', 'Sample forum', '/page/forum.html', 'bubbles')
  +item('gallery', 'Sample gallery', '/page/imageGallery.html', 'picture')
  +item('dashboard', 'Sample dashboard', '/page/dashboard.html', 'cogwheel3')
  if documentType === 'dashboard'
    li
      a(href='/page/person.html')
        .avatar(style='--img:url(/medias/images/uploads/henri-de-lubac-w300.webp)')
        | Henri de Lubac
  else
    +item('', 'Repository', '//github.com/Scriptura/scriptura.github.io', 'github')
