mixin item(currentType, name, pageSlug, iconSlug)
  li
    if documentType === currentType
      .current
        svg.icon-inline(role='img' focusable='false')
          use(href=iconSlug)
        = name
    else
      a(href=pageSlug)
        svg.icon-inline(role='img' focusable='false')
          use(href=iconSlug)
        = name

button.cmd-nav(type='button' aria-label='Main Menu')
  svg(viewBox='0 0 1000 1000')
    rect(x='50' y='225' width='900' height='50')
    rect(x='50' y='475' width='900' height='50')
    rect(x='50' y='725' width='900' height='50')
ul.sub-nav(aria-label='Main')
  +item('styleGuide', 'Style Guide', '/page/styleGuide.html', '/sprites/util.svg#paint-roller')
  +item('templates', 'Templates', '/page/templates.html', '/sprites/util.svg#gopuram')
  +item('grid', 'Grid systems', '/page/grids.html', '/sprites/util.svg#border-none')
  +item('article', 'Article page', '/page/article.html', '/sprites/util.svg#quill')
  //-+item('imageGallery', 'Image gallery', '/page/imageGallery.html', '/sprites/util.svg#picture')
  +item('', 'Repository', '//github.com/Scriptura/scriptura.github.io', '/sprites/util.svg#github')
