mixin list(icon, name, slug)
  li
    svg.icon(role='img' focusable='false')
      use(href='/sprites/util.svg#' + icon)
    a(href='/page/' + slug + '.html') #{name}

block templateLink
  +list('login', 'Login', 'login')
  +list('user', 'Register', 'register')
  +list('picture', 'Image gallery', 'imageGallery')
  +list('quill', 'Articles', 'articles')
  +list('quill', 'Article', 'article')
  +list('bubbles', 'Forum', 'forum')
  +list('bubbles', 'Topic', 'topic')
  +list('location', 'Place', 'place')
  +list('address-card', 'Person', 'person')
  +list('warning', 'Error 404', '404')
