extends patternLayout

block variables
  - const documentType = 'index'
  -
    const data = {
      name: 'Mon Planning',
      title: 'Mon planning à l\'UA0',
      description: 'Anticiper mes horraires postés dans le temps.',
      themeColor: '#2994ff',
      ccc: 'Au fil de l\'O'
    }

block main
  article
    header.header.no-print(role='banner')
      .wrapper
        h1.main-heading!= data.name
    .main-content
      .wrapper
        .tabs
          include includes/pannel1
          include includes/pannel2
          include includes/pannel3
