# For Scriptura project
.env
variables.js
private/

# node.js
node_modules/

# npm
.npm/
npm-debug.log

# pnpm
.pnpm-debug.log*

# Debian/Ubuntu (Gnome)
.goutputstream*

# Mac os
.DS_Store
*.cfg

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Visual Studio Code
.vscode/
.history/

# Other
logs
tmp/
*.log
*.tmp
.cache

