# private
.env
variables.js
private/

# npm
.npm
node_modules/
npm-debug.log

# Yarn
yarn-debug.log
yarn-error.log
# yarn.lock # versioning des packages

# Debian/Ubuntu (Gnome)
.goutputstream*

# Mac os
.DS_Store
*.cfg

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Visual Studio Code
.vscode/
.history/

# Other
tmp/
*.log
*.tmp
.cache
