//- Page 404 only for Github...

extends PatternLayouts

append var
  - name = 'Error 404!'
  - errorpage = true
  - contentlarge = true

block content
    header.section.vh100(role='banner')
      .wrap.ribbon-container
        .ribbon
          a(href='./') Home Page
        .vertical.vh85
          .text-center
            h1(itemprop='name') Error 404!
            h2 Page not found...