//- Page 404 only for Github...

extends PatternLayouts

append var
  - name = 'Error 404!'
  - errorpage = true
  - contentlarge = true

block content
    header.section(role='banner')
      .wrap.ribbon-container
        .ribbon
          a(href='./') Home Page
        h1.emphasized(itemprop='name') Error 404!
        .grid
          .m2.sizeS-m4.vertical
            span.icon-arrow-up.surround.zoom500
          .m2.sizeS-m4.vertical
            span.icon-arrow-left.surround.zoom500
          .m2.sizeS-m4.vertical
            span.icon-arrow-down.surround.zoom500
          .m2.sizeS-m4.vertical
            span.icon-arrow-right.surround.zoom500
          .m2.sizeS-m4.vertical.sizeS-hidden
            span.icon-arrow-up.surround.zoom500
          .m2.sizeS-m4.vertical.sizeS-hidden
            span.icon-arrow-left.surround.zoom500
          .m2.sizeS-m4.vertical.sizeS-hidden
            span.icon-arrow-down.surround.zoom500
          .m2.sizeS-m4.vertical.sizeXS-hidden
            span.icon-arrow-right.surround.zoom500
          .m2.sizeS-m4.vertical.sizeXS-hidden
            span.icon-arrow-up.surround.zoom500
          .m2.sizeS-m4.vertical.sizeXS-hidden
            span.icon-arrow-left.surround.zoom500
          .m2.sizeS-m4.vertical.sizeXS-hidden
            span.icon-arrow-down.surround.zoom500
          .m2.sizeS-m4.vertical.sizeXS-hidden
            span.icon-arrow-right.surround.zoom500