block var
  //- Default values
  - name = '[Name]'
  - title = '[Title]'
  - titlesuffix = ', Style Guide'
  - contentlarge = false

doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    if homepage
      title Scriptura, a framework Pug/Stylus/Javascript
    else if errorpage
      title Error 404: Page not found
    else
      title= title + ' | Scriptura Framework'
    if homepage
      meta(name='description' content='Scriptura is a framework html/js/css light that aims to simplify the layout. Here, no supperflu adding html tags or index in the flow of web pages in order to support a script or a visual effect, priority is given to content, the HTML code is clean and respects the logic of the flow Datas.')
    else
      meta(name='description' content=name + ' for Scriptura Framework')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='geo.placename' content='Saint-Médard-en-Forez, Loire, France')
    meta(name='theme-color' content='#ff6f7d')
    link(rel='shortcut icon' href='../favicon.ico')
    link(rel='icon' sizes='192x192' href='../favicon192.png')
    link#stylesheet(rel='stylesheet' href='../Public/Styles/MainBlooming.css', media='screen')
    //- For framework:
    link(rel='stylesheet' href='../Public/Styles/Demos.css' media='screen')
    link(rel='stylesheet' href='../Public/Styles/Print.css' media='print')
  body(itemscope itemtype='https://schema.org/WebPage')
    block mainnav
      include Includes/MainNav
    block breadcrumb
    main(itemprop='mainContentOfPage')
      if contentlarge
        block content
          // Default
          p [Content]
      else
        .section
          .wrap
            h1(itemprop='headline name').emphasized= name
            block content
              // Default
              p [Content]
    block aside
    block footer
      include Includes/Footer
