.grid.text-center
<% _.each(glyphs, function(glyph) { %>  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .<%= className %><%= glyph.name %>
    .<%= className %><%= glyph.name %>.zoom250
<% }); %>