extends patternLayout

block variables
  - const documentType = '404'
  -
    const data = {
      _name: 'Erreur 404 <span>.&nbsp;page non trouvée</span>',
      _title: 'Erreur 404,page non trouvée',
      _description: 'La page demandée n\'a pas été trouvée.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  svg.size25.decorative-svg(role='img' focusable='false')
    use(href='/sprites/silos/131v-d1.svg#1')
  hr
  include includes/link
