extends patternLayout

block variables
  - var documentType = 'articles'

block main
  h1.main-heading!= data._name
  .column4.gap
    each e in data
      article.card
        h2.h2!= e._name
        a(href='/article/' + e._id)
          svg
            use(xlink:href='/sprites/silos/131v-d1.svg#1')
        p!= e._description
