extends patternLayout

block variables
  - const documentType = 'forum'
  -
    const data = {
      _name: 'Forum <span>.&nbsp;Example</span>',
      _title: 'Forum de démonstration',
      _description: 'Forum de démonstration.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  ul.forum
    - for (let i = 0; i < 7; i++)
      li.topic
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div(style='--img:url(/medias/images/uploads/dawid-zawila-w300.webp)')
        div
          h2
            a(href='/page/article.html') Lorem ipsum dolor sit amet consectetur adipiscing elit
          div(aria-label='Nombre de commentaires')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#bubbles')
            | 0
        div
          p(aria-label='Sujet créé')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#quill')
            | par 
            a(href='/page/person.html') Jeanne d'Arc
            |  aujourd'hui à 9h31
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/cards.html') Écriture & Tradition
            li
              a(href='/page/cards.html') Apologétique
            li
              a(href='/page/cards.html') Paroles des Pères
      li.topic.topic-solved
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div(style='--img:url(/medias/images/uploads/tanner-mardis-w300.webp)')
        div
          h2
            a(href='/page/article.html') Vestibulum ut facilisis turpis, vitae efficitur magna
          div(aria-label='Nombre de commentaires')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#check2')
            | 17
        div
          p(aria-label='Dernière réponse')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#share')
            | par 
            a(href='/page/person.html') Henri de Lubac
            |  le 15 janvier 2023
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/cards.html') Sur le mal
            li
              a(href='/page/cards.html') Métaphysique
      li.topic
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div(style='--img:url(/medias/images/uploads/nicolas-hoizey-w300.webp')
        div
          h2
            a(href='/page/article.html') Praesent in neque pharetra tincidunt metus sed lobortis neque
          div(aria-label='Nombre de commentaires')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#bubbles')
            | 2
        div
          p(aria-label='Dernière réponse')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#share')
            | par 
            a(href='/page/person.html') Origène
            |  le 9 janvier 2023
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/cards.html') Apologétique
            li
              a(href='/page/cards.html') Sacrements
            li
              a(href='/page/cards.html') Filiation
            li
              a(href='/page/cards.html') Traduction
      li.topic
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div(style='--img:url(/medias/images/uploads/pisit-heng-w300.webp')
        div
          h2
            a(href='/page/article.html') Cras viverra nunc ut ex egestas
          div(aria-label='Nombre de commentaires')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#bubbles')
            | 5
        div
          p(aria-label='Dernière réponse')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#share')
            | par 
            a(href='/page/person.html') Eusèbe de Césarée
            |  le 16 janvier 2023
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/cards.html') Apologétique
            li
              a(href='/page/cards.html') Filioque
//-
  +topic('/medias/images/uploads/dawid-zawila-w300.webp', 'Lorem ipsum dolor sit amet', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Consectetur adipiscing elit', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '0', '', 'article')
  +topic('quill', 'Pellentesque gravida euismod nisl ac sodales', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Aliquam erat volutpat', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '3', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Aenean volutpat diam eu tristique faucibus', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '2', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Vestibulum vitae laoreet ligula', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Suspendisse potenti', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '4', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Donec vel faucibus quam, vitae bibendum odio', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '5', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'In hac habitasse platea dictumst', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Ut vel libero ac velit tincidunt pellentesque eget at odio', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '0', '', 'article')
  +topic('quill', 'Cras ac leo ut tortor ornare aliquam', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Mauris quis justo orci', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '3', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Etiam ut sagittis est, id ultrices ipsum', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '2', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'In vel odio aliquet, ultrices tortor sit amet, dignissim purus', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '1', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Pellentesque hendrerit blandit placerat', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '5', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Class aptent taciti sociosqu ad litora torquent per conubia nostra', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '7', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Curabitur hendrerit sapien sed metus consectetur', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '9', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Nam non lacus consequat, bibendum nisl eu', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '3', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'In id nunc vel ex efficitur venenatis id ac massa', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '8', 'Jeanne d\'Arc', 'article')
  +topic('quill', 'Ut ultrices, velit eu finibus condimentum', 'lundi 17 janvier 2022', '9h00', 'Henri de Lubac', '2', 'Jeanne d\'Arc', 'article')
