extends patternLayout

block variables
  - const documentType = 'forum'
  -
    const data = {
      _name: 'Forum <span>.&nbsp;Template example</span>',
      _title: 'Sample forum . Scriptura framework',
      _description: 'Forum de démonstration.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  ul.forum
    - for (let i = 0; i < 5; i++)
      li.topic-item
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div
          h2
            a(href='/page/article.html') Lorem ipsum dolor sit amet consectetur adipiscing elit
          div(aria-label='Nombre de commentaires')
            - if(i == 0)
              svg.icon-inline(role='img' focusable='false')
                use(href='/sprites/util.svg#thumbtack')
            - else
              svg.icon-inline(role='img' focusable='false')
                use(href='/sprites/util.svg#bubbles')
            | 0
        div
          p(aria-label='Sujet créé')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#quill')
            a(href='/page/person.html') Jeanne d'Arc
            |  aujourd'hui à 9h31
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/forum.html') Écriture & Tradition
            li
              a(href='/page/forum.html') Apologétique
        .avatars(aria-label='Initiateur du sujet : Pseudo' style='--img:url(/medias/images/uploads/dawid-zawila-w300.webp)')
      li.topic-item.topic-solved
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div
          h2
            a(href='/page/article.html') Vestibulum ut facilisis turpis, vitae efficitur magna
          div(aria-label='Sujet résolu . Nombre de commentaires')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#check2')
            | 17
        div
          p(aria-label='Dernière réponse')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#share')
            a(href='/page/person.html') Henri de Lubac
            |  hier à 15h05
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/forum.html') Sur le mal
            li
              a(href='/page/forum.html') Métaphysique
        .avatars(aria-label='Initiateur du sujet : Pseudo ; derniers participants : Pseudo1, Pseudo2, Pseudo3' style='--img:url(/medias/images/uploads/tanner-mardis-w300.webp)')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/willian-justen-de-vasconcellos-w300.webp)')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/nicolas-hoizey-w300.webp)')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/pisit-heng-w300.webp)')
      li.topic-item
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div
          h2
            a(href='/page/article.html') Praesent in neque pharetra tincidunt metus sed lobortis neque
          div(aria-label='Nombre de commentaires')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#bubbles')
            | 2
        div
          p(aria-label='Dernière réponse')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#share')
            a(href='/page/person.html') Origène
            |  le 9 janvier 2023
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/forum.html') Apologétique
            li
              a(href='/page/forum.html') Sacrements
            li
              a(href='/page/forum.html') Traduction
        .avatars(aria-label='Initiateur du sujet : Pseudo ; derniers participants : Pseudo1, Pseudo2' style='--img:url(/medias/images/uploads/nicolas-hoizey-w300.webp')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/willian-justen-de-vasconcellos-w300.webp)')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/pisit-heng-w300.webp)')
      li.topic-item
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div
          h2
            a(href='/page/article.html') Cras viverra nunc ut ex egestas
          div(aria-label='Nombre de commentaires')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#bubbles')
            | 1
        div
          p(aria-label='Dernière réponse')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#share')
            a(href='/page/person.html') Eusèbe de Césarée
            |  le 16 janvier 2023
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/forum.html') Écriture & Tradition
            li
              a(href='/page/forum.html') Traduction
        .avatars(aria-label='Initiateur du sujet : Pseudo ; premier participant : Pseudo1' style='--img:url(/medias/images/uploads/pisit-heng-w300.webp')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/nicolas-hoizey-w300.webp)')
      li.topic-item
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div
          h2
            a(href='/page/article.html') Cras viverra nunc ut ex egestas
          div(aria-label='Nombre de commentaires')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#bubbles')
            | 5
        div
          p(aria-label='Dernière réponse')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#share')
            a(href='/page/person.html') Thomas d'Aquin
            |  le 2 février 2023
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/forum.html') Sur le mal
            li
              a(href='/page/forum.html') Métaphysique
        .avatars(aria-label='Initiateur du sujet : Pseudo ; derniers participants : Pseudo1, Pseudo2, Pseudo3' style='--img:url(/medias/images/uploads/willian-justen-de-vasconcellos-w300.webp')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/pisit-heng-w300.webp)')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/dawid-zawila-w300.webp)')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/nicolas-hoizey-w300.webp)')
      li.topic-item
        a.topic-link(href='/page/article.html' aria-hidden='true' tabindex='-1')
        div
          h2
            a(href='/page/article.html') Nulla at pellentesque libero
          div(aria-label='Sujet vérouillé. Nombre de commentaires')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#locked')
            | 1
        div
          p(aria-label='Dernière réponse')
            svg.icon-inline(role='img' focusable='false')
              use(href='/sprites/util.svg#share')
            a(href='/page/person.html') Romanos le Mélode
            |  le 17 janvier 2023
          ul(aria-label=' Mots clefs')
            li
              a(href='/page/forum.html') Hymnes
            li
              a(href='/page/forum.html') Liturgie des heures
        .avatars(aria-label='Initiateur du sujet : Pseudo ; premier participant : Pseudo1' style='--img:url(/medias/images/uploads/aleksandra-boguslawska-w300.webp')
          div(style='--img:url(https://scriptura.github.io/medias/images/uploads/pisit-heng-w300.webp)')
