extends patternLayout

block variables
  - const documentType = 'index'
  -
    const data = {
      _name: 'Scriptura <span>.&nbsp;un framework pour le web</span>',
      _title: 'Scriptura, un framework pour le web',
      _description: 'Scriptura est un framework front-end léger dont le but est de simplifier la mise en page.'
    }

mixin list(name, slug)
  li
    a(href='/page/' + slug + '.html')
      svg.icon(role='img' focusable='false')
        use(xlink:href='/sprites/utils.svg#link')
      | #{name}

block main
  h1.main-heading!= data._name
  .grid2.gap
    div(lang='fr')
      - const date = new Date().toISOString().split('T')
      - const version = date[0].replace(/-/g, '.') + '.' + date[1].split('.')[0].replace(/:/g, '')
      h2.h3 Version { #{version} }
      p
        | Scriptura est un framework front-end léger dont le but est de simplifier la mise en page. Ici, pas d'ajout supperflu de balises html dans les pages web dans le but de soutenir un script ou un effet visuel, la priorité est donnée au contenu, le code html reste propre et respecte la logique du flux des données.
      p
        | L'idée est de partir d'un texte correctement structuré et de l'entourer d'un élément parent comportant une classe. La partie du document ainsi ciblée sera transformée en menu onglets ou accordéon, ou encore autre chose selon les besoins. Pour voir des exemples consultez notre 
        a(href='/page/styleGuide.html') StyleGuide
        | .
      p
        | Le framework permet des 
        a(href='/page/grids.html') mises en page complexes
        |  gr&acirc;ce &agrave; un système de grille basé sur le module css grid layout.
      p
        | Les choix techniques impliquent une limitation de la rétrocompatibilité aux navigateurs récents, un parti pris de notre part qui nous permet l'utilisation des dernières technologies du web sans compromis.
    .center
      svg.size25.decorative-svg(role='img' focusable='false')
        use(xlink:href='/sprites/silos/195v.svg#1')
  hr
  ul.list-stripe-links.grid4
    +list('Style Guide', 'styleGuide')
    +list('Typography', 'typography')
    +list('Languages', 'languages')
    +list('Lists', 'lists')
    +list('Details/Summary', 'detailsSummary')
    +list('Tabs', 'tabs')
    +list('Accordions', 'accordions')
    +list('Message Boxes', 'messageBoxes')
    +list('Code Blocks', 'codeBlocks')
    +list('Tables', 'tables')
    +list('Images', 'images')
    +list('Audio & video players', 'players')
    +list('Forms', 'forms')
    +list('Checkboxes & Radio buttons', 'checkboxes')
    +list('Ranges', 'ranges')
    +list('Buttons', 'buttons')
    +list('Progress Bars', 'progressBars')
    +list('Loaders', 'loaders')
    +list('Cards', 'cards')
    +list('Ribbons', 'ribbons')
    +list('Grids', 'grids')
    +list('Columns', 'columns')
    +list('Zoom', 'zoom')
    +list('Maps', 'maps')
