extends patternLayout

block variables
  - const documentType = 'index'
  -
    const data = {
      _name: 'Scriptura <span>.&nbsp;Boîte à outils pour applications web</span>',
      _title: 'Scriptura, un framework pour applications web',
      _description: 'Un framework front-end permettant de créer des applications web.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    .grid2.s-grid1.gap
      .tabs
        details
          summary
            svg.icon-inline.xs-hidden(role='img' focusable='false')
              use(href='/sprites/util.svg#quill')
            | Présentation
          div
            h2.h4 Un mot sur l'outil
            p Scriptura est un framework front-end à destination du web. Mais n'allez pas chercher un support quelquonque&nbsp;: l'ensemble de son code base est avant tout un immense terrain de jeu pour son concepteur&nbsp;! Les choix techniques impliquent une limitation de la rétrocompatibilité aux navigateurs récents, un parti pris permettant l'utilisation des dernières technologies du web sans compromis.
            p Un autre paradygme important du framework est la volonté de simplifier la mise en page. Ici, pas d'ajout superflu de balises HTML dans le but de soutenir un script ou un effet visuel, la priorité est donnée au contenu, le code HTML reste propre en respectant la logique du flux des données et en s'appuyant le plus possible sur les éléments HTML natifs. L'idée est donc de partir d'éléments HTML correctement structurés et de leur ajouter une classe, ou de les entourer d'un élément parent comportant une classe. La partie du document ainsi ciblée sera transformée en menu onglets ou accordéon, ou encore autre chose selon les besoins.
            p Ce site n'est pas vraiment une documentation explicite du framework, il a plutôt vocation à présenter les patterns disponibles à travers leur fonctionnement en situation réelle. Il est destiné à servir avant tout... à son auteur.
        details
          summary
            svg.icon-inline.xs-hidden(role='img' focusable='false')
              use(href='/sprites/util.svg#code')
            | Version
          div
            - const date = new Date().toISOString().split('T')
            - const version = date[0].replace(/-/g, '.') + '.' + Math.round(date[1].split('.')[0].replace(/:/g, '') / 500)
            h2.h4 Version du framework
            p Il n'y a jamais vraiment de version majeure, le soucis de rétrocompatibilité n'est pas porté&nbsp;: le site évolue constament, dans toutes les directions. L'ensemble du framework est un immense prototype.
            ul
              li Draft version&nbsp;: #{version} (
                a(href='//github.com/Scriptura/scriptura.github.io') Github
                | )
        details
          summary
            svg.icon-inline.xs-hidden(role='img' focusable='false')
              use(href='/sprites/util.svg#info')
            | Client test
          div
            h2.h4 Configuration cliente
            ul.client-test
              li test..
      figure.center.xs-order.s-order
        svg.size.decorative-svg(role='img' focusable='false')
          use(href='/sprites/silos/195v.svg#1')
    h2 Components
    ul.grid4.gap-bottom.list-straight
      include includes/componentLinks
    h2 Templates
    ul.grid4.list-straight
      include includes/templateLinks
