extends patternLayout

block variables
  - var documentType = 'keywords'

block main
  h1.main-heading!= data._name
  ul.list-stripe-links.grid3.media-xs-grid2
    each e in data
      li
        a(href='/keyword/' + e._slug)= e._name
