block variables

doctype html
html.no-js.no-overscroll(lang='fr')
  head
    meta(charset='utf-8')
    title=data._title
    meta(name='description' content=data._description)
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(name='theme-color' content='#ff6347')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='mobile-web-app-capable' content='yes')
    link(rel='manifest' href='/manifest.webmanifest')
    link(rel='apple-touch-icon' sizes='180x180' href='/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicons/favicon-16x16.png')
    //-link(rel='icon' type='image/svg+xml' href='/favicons/favicon.svg')
    //-link(rel='icon' type='image/png' href='/favicons/favicon.png')
    link(rel='shortcut icon' href='/favicons/favicon.ico')
    link(rel='mask-icon' href='/favicons/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='stylesheet' href='/styles/main.css' media='screen')
    link(rel='stylesheet' href='/styles/print.css' media='print')
    link(rel='preload' href='/fonts/notoSans-Regular.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='/fonts/notoSerif-Regular.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='/sprites/util.svg' as='image' type='image/svg+xml' crossorigin)
    link(rel='preload' href='/sprites/player.svg' as='image' type='image/svg+xml' crossorigin)
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-config' content='/browserconfig.xml')
  body.no-overscroll(class='type-' + documentType)
    a(href='#main').sr-only Aller au contenu
    block nav
      nav.nav(role='navigation')
        a(href='/').logo-nav
          span.sr-only Scriptura
        include includes/subNav
        include includes/breadcrumb
    main#main(role='main')
      block main
    //-block aside
      //-aside.aside aside
      //-include aside
    block footer
      footer.footer(role='contentinfo')
        include includes/footer
    block alert
      .alert
        include includes/alert
    block script
      script(src='/scripts/main.js' async)
    block structuredData
