block variables

doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title=data._title
    meta(name='description' content=data._description)
    //- @documentation viewport-fit=cover pour le support des variables CSS env()
    meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='theme-color' content='#333')
    link(rel='manifest' href='/app.webmanifest' crossorigin='use-credentials')
    link(rel='shortcut icon' href='/favicons/favicon.ico')
    link(rel='icon' type='image/svg+xml' href='/favicons/favicon.svg')
    link(rel='icon' type='image/png' href='/favicons/favicon.png')
    //-link(rel='icon' type='image/png' sizes='16x16' href='/favicons/favicon-16x16.png')
    //-link(rel='icon' type='image/png' sizes='32x32' href='/favicons/favicon-32x32.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/favicons/apple-touch-icon.png')
    link(rel='mask-icon' href='/favicons/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='stylesheet' href='/styles/main.css' media='screen')
    link(rel='stylesheet' href='/styles/print.css' media='print')
    link(rel='preload' href='/fonts/notoSans-Regular.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='/fonts/notoSerif-Regular.woff2' as='font' type='font/woff2' crossorigin)
    //-link(rel='preload' href='/sprites/util.svg' as='image' type='image/svg+xml' crossorigin)
    //-link(rel='preload' href='/sprites/player.svg' as='image' type='image/svg+xml' crossorigin)
  body(class='type-' + documentType)
    a(href='#main').sr-only Aller au contenu
    block nav
      nav.nav(role='navigation')
        if documentType === 'index'
          .logo-nav
            span.sr-only Scriptura
        else
          a(href='/').logo-nav
            span.sr-only Scriptura
        include includes/subNav
        include includes/breadcrumb
    main#main(role='main')
      block main
    //-block aside
      //-aside.aside aside
      //-include aside
    block footer
      footer.footer(role='contentinfo')
        include includes/footer
    block alert
      .alert
        include includes/alert
    block script
      //- @note Forcage en HTTPS, spécifique pour les Github Pages. @see https://gist.github.com/konklone/9968713. @todo En attendant que Github Pages améliore sa configuration...
      script if (window.location.host !== 'scriptura.github.io.localhost' && window.location.protocol === "http:") window.location.protocol = 'https'
      script(src='/scripts/main.js' async)
    block structuredData
