extends patternLayout

block variables
  - const documentType = 'register'
  -
    const data = {
      _name: 'Register',
      _title: 'Register page',
      _description: 'Page d\'inscription.'
    }

block main
  header(role='banner')
    h1.main-heading= data._name
  .grid2.s-grid1.gap
    form(action='/register' method='post')
      .input
        label Créez un nom d'utilisateur
        input(type='text' name='username' placeholder='user' autocorrect='off' autocapitalize='off' spellcheck='false' required='required')
      .input
        label Créez votre mot de passe
        input(type='password' name='password' placeholder='• • • • • • • •' required='required')
      .input
        label Réentrez votre mot de passe
        input(type='password' name='password2' placeholder='• • • • • • • •' required='required')
      div
        button.button.scale120
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#bookmark')
          | Enregistrer
    .center
      svg.size25.decorative-svg(role='img' focusable='false')
        use(href='/sprites/silos/195v.svg#1')
