extends patternLayout

block variables
  - const documentType = 'styleGuide'
  - const data = {_name: 'Style Guide <span>.&nbsp;Documentation</span>', _title: 'Style Guide . Scritpura framework', _description: 'Style Guide . Scritpura framework' }

mixin list(icon, name, slug)
  li
    svg.icon-inline(role='img' focusable='false')
      use(href='/sprites/solid.svg#' + icon)
    a(href='#section-' + slug) #{name}

mixin section(name, slug)
  section(id='section-' + slug).ribbon-content
    h2= name
      a.anchor(href='#section-' + slug)
    a(href='./' + slug + '.html').ribbon-bottom-right
      span
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/solid.svg#arrow-right-long')
        | See page
    block

block main
  h1.main-heading!= data._name
  ul.grid4.list-straight
    +list('pen-fancy', 'Typography', 'typography')
    +list('language', 'Languages', 'languages')
    +list('list-ul', 'Lists', 'lists')
    +list('indent', 'Details/Summary', 'detailsSummary')
    +list('folder', 'Tabs', 'tabs')
    +list('square-caret-down', 'Accordions', 'accordions')
    +list('message', 'Message Boxes', 'messageBoxes')
    +list('code', 'Code Blocks', 'codeBlocks')
    +list('table', 'Tables', 'tables')
    +list('image', 'Images', 'images')
    +list('vault', 'Audio & video players', 'players')
    +list('table-list', 'Forms', 'forms')
    +list('check', 'Checkboxes, radios & switches', 'checkboxes')
    +list('sliders', 'Ranges', 'ranges')
    +list('tablet-button', 'Buttons', 'buttons')
    +list('bars-progress', 'Progress Bars', 'progressBars')
    +list('spinner', 'Loaders', 'loaders')
    +list('address-card', 'Cards', 'cards')
    +list('ribbon', 'Ribbons', 'ribbons')
    +list('table-cells', 'Grids', 'grids')
    +list('table-columns', 'Columns', 'columns')
    +list('magnifying-glass', 'Scales', 'scales')
    +list('map-location-dot', 'Maps', 'maps')
  hr
  //-
    +section('Sprites', 'sprites')
      include includes/demos/sprite
    hr
  +section('Typography', 'typography')
    include includes/demos/typography
  hr
  +section('Languages', 'languages')
    include includes/demos/language
  hr
  +section('Lists', 'lists')
    include includes/demos/list
  hr
  +section('Details/Summary', 'detailsSummary')
    include includes/demos/detailsSummary
  hr
  +section('Tabs', 'tabs')
    include includes/demos/tab
  hr
  +section('Accordions', 'accordions')
    include includes/demos/accordion
  hr
  +section('Message Boxes', 'messageBoxes')
    include includes/demos/messageBox
  hr
  +section('Code Blocks', 'codeBlocks')
    include includes/demos/codeBlock
  hr
  +section('Tables', 'tables')
    include includes/demos/table
  hr
  +section('Images', 'images')
    include includes/demos/image
  hr
  +section('Audio & video players', 'players')
    include includes/demos/player
  hr
  +section('Forms', 'forms')
    include includes/demos/form
  hr
  +section('Checkboxes & Radio buttons', 'checkboxes')
    include includes/demos/checkbox
  hr
  +section('Ranges', 'ranges')
    include includes/demos/range
  hr
  +section('Buttons', 'buttons')
    include includes/demos/button
  hr
  +section('Progress Bars', 'progressBars')
    include includes/demos/progressBar
  hr
  +section('Loaders', 'loaders')
    include includes/demos/loader
  hr
  +section('Cards', 'cards')
    include includes/demos/card
  hr
  +section('Ribbons', 'ribbons')
    include includes/demos/ribbon
    //- @note Pour inclure le ribbon dédié à la page en évitant les conflits avec le dernier ribbon de la démonstration.
    br
    br
    br
    br
    br
  hr
  +section('Grids', 'grids')
    include includes/demos/grid
  hr
  +section('Columns', 'columns')
    include includes/demos/column
  hr
  +section('Scales', 'scales')
    include includes/demos/scale
  hr
  +section('Maps', 'maps')
    include includes/demos/map
