extends patternLayout

block variables
  - const documentType = 'topic'
  -
    const data = {
      _name: 'Topic <span>.&nbsp;Sample topic template</span>',
      _title: 'Sample topic template . Scriptura framework',
      _description: 'Sujet de forum de démonstration.'
    }

block main
  article.topic
    header(role='banner')
      h1.main-heading!= data._name
      //
        address
          a(href='/page/person.html') Henri de Lubac
        time(datetime='2017-04-23 20:33:21')
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#quill')
          | Le 23 avril 2017 à 20h33
        p.keywords
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#old-key')
          a(href='/keyword/lion') Lion
          |  &bull; 
          a(href='/keyword/lion') Antilope
          |  &bull; 
          a(href='/keyword/lion') Crocodile
    .wrapper.links.decorative-hr
      p Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue.
      pre.pre
        code.language-css(data-code='CSS' translate='no').
          :root {
            color-scheme: dark;
          }
      p Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.
    - for (let i = 0; i < 12; i++)
      article.links.decorative-hr
        header
          h2.sr-only Commentaire numéro #{i} du sujet en cours.
          - if (i % 2)
           .avatar(style='--img:url(/medias/images/uploads/pisit-heng-w300.webp)')
          - else
           .avatar(style='--img:url(/medias/images/uploads/nicolas-hoizey-w300.webp)')
          address
            a(href='/page/person.html') Pseudo #{i + 1}
          time(datetime='2017-04-23 20:33:21') Le 23 avril 2017 à 20h33
        p
          | Lorem ipsum dolor sit amet. Aut fuga laborum eos 
          a(href='/') ipsam corrupti
          |  et aspernatur eligendi voluptatem veniam et nulla voluptas? Est beataesint cum 
          a(href='https://github.com') dolores dolorem
          |  est doloremque quia ut autem numquam ea error voluptas.
        - if (i % 5 == 0)
          pre.pre
            code.language-css(data-code='CSS' translate='no').
              @media (prefers-reduced-motion: reduce) {
                html {
                  scroll-behavior: auto;
                }
              }
        p Ab eaque commodi est fugiat temporibus qui consequatur galisum quo facilis quia non sint dignissimos. Qui consequuntur enim est voluptatemmolestias et voluptas velit.
        a(href='#comment-' + (i + 1) aria-label='Commentaire n°' + (i + 1)) ##{i + 1}
    form(method='get' action='./')
      .input
        label.sr-only Répondre
        textarea
        button.button
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#share')
          | Répondre
