@font-face {
  font-family: 'Noto Sans';
  src: url('../../fonts/notoSans-Regular.woff2') format('woff2'), url('../../fonts/notoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('../../fonts/notoSerif-Regular.woff2') format('woff2'), url('../../fonts/notoSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  background-color: #fff;
}

footer {
  color: #fff;
  background-color: hsl(0, 0%, 20%);
}

.wrap {
  display: grid;
  grid-template-columns: minmax(0, 90em);
  justify-content: center;
}

header > .wrap,
footer > .wrap,
article > :not(header, footer) {
  padding-inline: 1em;
}

header {
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 100%, 58%);
}

hgroup {
  padding-block: 1em;
  font-weight: bold;
}

hgroup h1 {
  margin-block-end: 0.25em;
  font-size: 2em;
}

hgroup p {
  margin-block-start: 0;
  font-size: 1.5em;
}

pre {
  font-family: monospace, monospace;
}

@media (max-width: 32em) {
  main .pre {
    margin-inline: auto;
    font-size: 80%;
  }
}

footer .pre {
  margin-block: .5em 0;
}

:root {
  --icon-size: 2.5em;
}

.message-highlight {
  display: grid;
  grid-template-columns: var(--icon-size) minmax(0, 1fr);
  gap: 1em;
  align-items: center;
  min-height: 5em;
  margin-block: 1em;
  padding: 0.5em 1em;
  color: currentcolor;;
  background-color: hsl(0, 0%, 96%);
  border-radius: .5em;
}

.message-highlight .icon {
  font-weight: bold;
  width: var(--icon-size);
  height: var(--icon-size);
  line-height: var(--icon-size);
  text-align: center;
  color: #fff;
  background-color: hsl(210, 100%, 58%);
  border-radius: 50%;
}

.message-highlight p {
  margin-block: 0;
}

.message-highlight ul {
  margin-block: 0;
}

.form-control {
  display: block;
  width: 100%;
  max-width: 30em;
  height: 3em;
  padding-inline: 0.5em;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid hsl(210, 14%, 83%);
  border-radius: 0.25em;
  margin-bottom: 1em;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: hsl(216, 98%, 52%);
  border: 1px solid hsl(216, 98%, 52%);
  padding: 0.75em;
  font-size: 1em;
  border-radius: 0.25em;
  cursor: pointer;
  margin-bottom: 1.5em;
}

.button:hover,
.button:active {
  border: 1px solid hsl(216, 100%, 73%);
  background-color: hsl(216, 100%, 73%);
  cursor: pointer;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--size-grid, 22em), 100%), 1fr));
  gap: 1em;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

.table th,
.table td {
  padding: 0.5em;
  height: 2.5em;
  text-align: center;
}

.table td {
  position: relative;
}

.table td::before {
  content: attr(data-day);
  position: absolute;
  bottom: 0.2em;
  right: 0.5em;
  font-size: 0.7em;
  color: #777;
}

.table th {
  background-color: hsl(0, 0%, 96%);
  font-weight: bold;
}

.table caption {
  caption-side: top;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.table .event-day {
  background-color: hsl(197, 92%, 90%);
}

.table .event-evening {
  background-color: hsl(24, 92%, 90%);
}

.table .event-morning {
  background-color: hsl(109, 100%, 91%);
}

.table .event-rest {
  background-color: hsl(0, 0%, 96%);
}

.table .event-extra-rest {
  background-color: hsl(0, 0%, 96%);
}

.table .event-holiday {
  background-color: hsl(0, 0%, 96%);
}

.table .event-night {
  background-color: hsl(25, 100%, 88%);
}

.cmd-print {
  display: none;
}

.cmd-print.ready {
  display: inline-block;
}

.item-push {
  margin-inline-start: auto;
}

@media print {
  .grid-auto {
    --size-grid: 15em;
  }

  .grid-auto > * {
    font-size: 75%;
  }

  table {
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .no-print {
    display: none;
  }
}
