details.no-print
  summary
    svg.icon(focusable='false')
      use(href='./sprites/util.svg#tune')
    | Configuration
  div
    h2 Configuration de base du planning
    .grid2.gap.gap-top
      div
        .grid.gap
          div
            label(for='pattern-select') Ma fonction&nbsp;:
            .form-control
              select#pattern-select.target-for-textarea
                option(value='IDE', selected) Infirmier
                option(value='ASH') Agent des Services Hospitaliers
                option(value='CUSTOM') Roulement personnalisé
          div
            label.form-label(for='start-date') Début de mon roulement&nbsp;:
            .form-control
              input#start-date(type='date', required)
          details.details(name='details')
            summary
              em Quand débuter mon roulement&nbsp;?
            .message-highlight
              div
                details(name='details-sub')
                  summary Pour les IDE
                  p
                    | Le roulement IDE de jour s’étend sur 11 semaines.
                    br
                    | Nous partirons de cette semaine&nbsp;:
                    br
                    code J, J, S, J, J, R, R
                details(name='details-sub')
                  summary Pour les ASH
                  p
                    | Le roulement ASH s'étend sur 4 semaines.
                    br
                    | Nous partirons de cette semaine&nbsp;:
                    br
                    code M, M, M, M, R, S, S
                p Il faut repérer cette semaine dans votre planning déjà connu et la faire correspondre sur un strong lundi. Attention à ne pas confondre les semaines entre elles&nbsp;!
                p Quel que soit le moment où le roulement est défini, le planning sera toujours généré à partir du premier jour du mois en cours.
          details.details.target-for-textarea(name='details')
            summary
              em Personnaliser mon roulement
            .message-highlight
              p
                | Cette personnalisation permet de modifier un roulement, on peut même en
                | créer un nouveau. Les jours (J), soirs (S), matins (M), repos (R), etc, seront séparés par des virgules.
              p Par la suite sélectionner 
                code Ma fonction > Roulement personnalisé
                |  pour récupérer ce roulement.
              div
                .gap-block
                  label(for='custom-pattern') Roulement à personnaliser&nbsp;:
                  textarea#custom-pattern.autosize.custom-pattern(name='custom-pattern')
                .flex.items-push
                  button#save-custom-pattern.button
                    svg.icon(focusable='false')
                      use(href='./sprites/util.svg#event_available')
                    | Enregistrer
          .flex.wrap.gap.xs-button-full
            button#generate-schedule.button
              svg.icon(focusable='false')
                use(href='./sprites/util.svg#event_repeat')
              | Générer le planning
            button#reset.button.warning
              svg.icon(focusable='false')
                use(href='./sprites/util.svg#delete')
              | Réinitialiser tout
      div
        .grid.gap
          .message-highlight.visibility.hidden
            h3 Le planning a bien été créé
            p Vous pouvez le réinitialiser à tout moment à partir de cet onglet.
            p Vous pouvez changer des postes directement sur le planning en appuyant préalablement sur le bouton 
              code Éditer
              | .
          .message-highlight.visibility.hidden
            .grid.gap
              div
                h3 Mettre à jour mon agenda électronique
                p Le bouton suivant permet de générer un fichier que l'on pourra importer dans un agenda électronique.
                details.details
                  summary
                    em Comment ça marche&nbsp;?
                  div
                    p Il s'agit d'un fichier ICS, un standard pour l'importation de données dans votre agenda électronique favori (Google Agenda, Apple Calendar, Outlook, etc). Le fichier contient les 12 mois à venir à partir de la date courrante. Si vous modifiez entre-temps votre planning sur l'application vous pourrez remettre à jour votre agenda électronique personnel en important à nouveau le fichier ICS.
              .flex.items-push
                button#generate-ics.button Télécharger le fichier ICS
