details.no-print
  summary
    svg.icon(focusable='false')
      use(href='./sprites/util.svg#bar_chart')
    | Statistiques
  div
    h2 Statistiques pour l'année 
      span#current-year-stats en cours
    .grid2.gap.gap-top
      .stats
        #stats
          .message-highlight
            p Vous devez configurer un planning pour voir les statistiques.
      div
        h3 Glossaire
        ul.stats-list
          li
            span M
            | matin
          li
            span S
            | soir
          li
            span J
            | jour
          li
            span N
            | nuit
          li
            span H
            | heures supplémentaires
          li
            span R
            | repos
          li
            span T
            | réduction du temps de travail
          li
            span F
            | ferié
          li
            span C
            | congé annuel
          li
            span I
            | formation
          li
            span A
            | arrêt travail ou maladie
          li
            span G
            | grève
          li
            span D
            | décharge syndicale
          li
            span O
            | autre
