h2.h3 Successful Test
.message-info
  p.adddropcap Ajax loaded content successfully!
form(method='get', action='./')
  p
    code [type="checkbox"].switch
  div
    input#test88199.switch(type='checkbox')
    label(for='test88199') Option 1
      span(data-on='yes', data-off='no')