aside.aside#index-comments
  .wrap
    h2.emphasized Comments
      a.anchor(href='#index-comments')
    .grid
      .m6.sizeS-m9.comment#index-comment1
        .author-comment
          .avatar(style='background-image:url(//scriptura.github.io/Images/Demo/ponton.jpg)')
          p.author Pseudo 1
          p Posted the 
            time(datetime='2015-11-21T20:06:17+00:00') 20/11/2015
          a(href='#index-comment1', title='Index the comment') #
        p Nunc ut eros sed justo convallis mollis facilisis ac erat. Quisque fermentum luctus ipsum, eu commodo mi dapibus sed. Nunc tincidunt ipsum eu mauris rutrum volutpat. Fusce tristique mollis risus, et posuere ipsum feugiat quis.
        p Sed sed neque ut libero hendrerit congue efficitur vel lorem. Duis elementum turpis quis nunc tempus, quis rhoncus ligula hendrerit. Sed gravida dolor nisi, et convallis odio iaculis vitae. In hac habitasse platea dictumst. Morbi fringilla diam tellus, ac ornare ligula tincidunt et.
      .m6.o1.sizeS-m9.sizeS-o3.comment#index-comment2
        .author-comment
          .avatar(style='background-image:url(//scriptura.github.io/Images/Demo/boat.jpg)')
          p.author Pseudo 2
          p Posted the 
            time(datetime='2015-11-21T20:06:17+00:00') 20/11/2015
          a(href='#index-comment2', title='Index the comment') #
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac pharetra mauris. Nunc nunc lorem, egestas ut laoreet ac, lobortis quis est. Sed eget dui nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sollicitudin nibh sit amet tristique pulvinar. Morbi a molestie elit. Donec nec faucibus odio. Donec sit amet imperdiet risus.
        p Etiam ornare eget elit eget cursus. Integer posuere neque vitae lacus pharetra congue. Praesent scelerisque sagittis purus non malesuada.
        p Quisque tincidunt eu lectus quis ultrices. Integer a rhoncus quam. Nulla rhoncus in arcu a consectetur. Nunc at lorem sit amet tellus gravida tincidunt. Curabitur rhoncus suscipit viverra.
      .m6.o2.sizeS-m9.sizeS-o0.comment#index-comment3
        .author-comment
          .avatar(style='background-image:url(//scriptura.github.io/Images/Demo/phare.jpg)')
          p.author Pseudo 3
          p Posted the 
            time(datetime='2015-11-21T20:06:17+00:00') 20/11/2015
          a(href='#index-comment3', title='Index the comment') #
        p Nunc ut eros sed justo convallis mollis facilisis ac erat. Quisque fermentum luctus ipsum, eu commodo mi dapibus sed. Nunc tincidunt ipsum eu mauris rutrum volutpat. Fusce tristique mollis risus, et posuere ipsum feugiat quis. Sed sed neque ut libero hendrerit congue efficitur vel lorem. Duis elementum turpis quis nunc tempus, quis rhoncus ligula hendrerit.
        p Sed gravida dolor nisi, et convallis odio iaculis vitae. In hac habitasse platea dictumst. Morbi fringilla diam tellus, ac ornare ligula tincidunt et.
      .m6.o3.sizeS-m9.sizeS-o3.comment#index-comment4
        .author-comment
          .avatar(style='background-image:url(//scriptura.github.io/Images/Demo/phare.jpg)')
          p.author Pseudo 4
          p Posted the 
            time(datetime='2015-11-21T20:06:17+00:00') 20/11/2015
          a(href='#index-comment4', title='Index the comment') #
        p Nunc ut eros sed justo convallis mollis facilisis ac erat. Quisque fermentum luctus ipsum, eu commodo mi dapibus sed. Nunc tincidunt ipsum eu mauris rutrum volutpat. Fusce tristique mollis risus, et posuere ipsum feugiat quis. Sed sed neque ut libero hendrerit congue efficitur vel lorem. Duis elementum turpis quis nunc tempus, quis rhoncus ligula hendrerit.
        p Sed gravida dolor nisi, et convallis odio iaculis vitae. In hac habitasse platea dictumst. Morbi fringilla diam tellus, ac ornare ligula tincidunt et.
      .m6.o4.sizeS-m9.sizeS-o0.comment#index-comment5
        .author-comment
          .avatar(style='background-image:url(//scriptura.github.io/Images/Demo/phare.jpg)')
          p.author Pseudo 5
          p Posted the 
            time(datetime='2015-11-21T20:06:17+00:00') 20/11/2015
          a(href='#index-comment5', title='Index the comment') #
        p Nunc ut eros sed justo convallis mollis facilisis ac erat. Quisque fermentum luctus ipsum, eu commodo mi dapibus sed. Nunc tincidunt ipsum eu mauris rutrum volutpat. Fusce tristique mollis risus, et posuere ipsum feugiat quis. Sed sed neque ut libero hendrerit congue efficitur vel lorem. Duis elementum turpis quis nunc tempus, quis rhoncus ligula hendrerit.
        p Sed gravida dolor nisi, et convallis odio iaculis vitae. In hac habitasse platea dictumst. Morbi fringilla diam tellus, ac ornare ligula tincidunt et.
      .m6.o5.sizeS-m9.sizeS-o3.comment#index-comment6
        .author-comment
          .avatar(style='background-image:url(//scriptura.github.io/Images/Demo/phare.jpg)')
          p
            span.author Pseudo 6
          p Posted the 
            time(datetime='2015-11-21T20:06:17+00:00') 20/11/2015
          a(href='#index-comment6', title='Index the comment') #
        p Nunc ut eros sed justo convallis mollis facilisis ac erat. Quisque fermentum luctus ipsum, eu commodo mi dapibus sed. Nunc tincidunt ipsum eu mauris rutrum volutpat. Fusce tristique mollis risus, et posuere ipsum feugiat quis. Sed sed neque ut libero hendrerit congue efficitur vel lorem. Duis elementum turpis quis nunc tempus, quis rhoncus ligula hendrerit.
        p Sed gravida dolor nisi, et convallis odio iaculis vitae. In hac habitasse platea dictumst. Morbi fringilla diam tellus, ac ornare ligula tincidunt et.
      .m6.o6.sizeS-m9.sizeS-o0.comment#index-comment7
        .author-comment
          .avatar(style='background-image:url(//scriptura.github.io/Images/Demo/phare.jpg)')
          p.author Pseudo 7
          p Posted the 
            time(datetime='2015-11-21T20:06:17+00:00') 20/11/2015
          a(href='#index-comment7', title='Index the comment') #
        p Nunc ut eros sed justo convallis mollis facilisis ac erat. Quisque fermentum luctus ipsum, eu commodo mi dapibus sed. Nunc tincidunt ipsum eu mauris rutrum volutpat. Fusce tristique mollis risus, et posuere ipsum feugiat quis. Sed sed neque ut libero hendrerit congue efficitur vel lorem. Duis elementum turpis quis nunc tempus, quis rhoncus ligula hendrerit.
        p Sed gravida dolor nisi, et convallis odio iaculis vitae. In hac habitasse platea dictumst. Morbi fringilla diam tellus, ac ornare ligula tincidunt et.
      .m6.o5.sizeS-m9.sizeS-o3.comment#index-comment8
        .author-comment
          .avatar(style='background-image:url(//scriptura.github.io/Images/Demo/phare.jpg)')
          p
            span.author Pseudo 8
          p Posted the 
            time(datetime='2015-11-21T20:06:17+00:00') 20/11/2015
          a(href='#index-comment8', title='Index the comment') #
        p Nunc ut eros sed justo convallis mollis facilisis ac erat. Quisque fermentum luctus ipsum, eu commodo mi dapibus sed. Nunc tincidunt ipsum eu mauris rutrum volutpat. Fusce tristique mollis risus, et posuere ipsum feugiat quis. Sed sed neque ut libero hendrerit congue efficitur vel lorem. Duis elementum turpis quis nunc tempus, quis rhoncus ligula hendrerit.
        p Sed gravida dolor nisi, et convallis odio iaculis vitae. In hac habitasse platea dictumst. Morbi fringilla diam tellus, ac ornare ligula tincidunt et.
      form(method='get', action='#').m6.o4.sizeS-m9.sizeS-o0
        fieldset
          legend.h3 Add a comment
          .columns
            .input
              label(for='nom') Given name
              input#givenname(type='text', name='givenname', value='', size='23', placeholder='John', required='')
            .input
              label(for='nom2') Family name
              input#familyname(type='text', name='familyname', value='', size='23', placeholder='Smith', required='')
            .input
              label(for='nom2') Website
              input#website(type='text', name='website', value='', size='23', placeholder='http://site')
          .input
            label(for='message') Textarea
            textarea#message(name='message', placeholder='Bonjour...', required='')
          .button-group
            button.button
              span.icon-checkmark
              |  Submit