h2.h3 @todo Problem Ajax
.columns
  div
    p.message-info
      strong Eng: 
      | The output of the display value is not available before an action on the slider range.
      br
      | Ideally it available on, as this example available on this page: 
      a(href='./StyleGuide.html#index-ranges')
        ins here
      | .
  div
    p.message-info
      strong Fr : 
      | La valeur d'affichage de l'output n'est pas disponible avant une action sur le curseur range.
      br
      | L'idéal serait qu'elle soit disponible de suite, comme cet exemple disponible sur cette même page : 
      a(href='./StyleGuide.html#index-ranges')
        ins ici
      | .
form
  fieldset
    p
      code .range
    .range
      input(type='range', name='range-a', min='0', max='10000', step='100', value='5000')
      output --