.grid3.gap.gap-bottom
  div
    p
      code .accordion
    .accordion
      details
        summary Cherry
        div
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium, leo sed malesuada tempor, leo ipsum fermentum magna, et sodales nibh dolor sed lacus. Phasellus condimentum lectus sit amet urna gravida molestie. Ut varius in ex in aliquet. Ut scelerisque elementum scelerisque. Vivamus ipsum nunc, lobortis eget diam nec, pellentesque mattis neque. Mauris eu laoreet sapien. Pellentesque vel viverra orci. Donec ac aliquet quam, ut imperdiet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo augue, lacinia vitae egestas sit amet, rhoncus a ipsum. Quisque id est eu ipsum rutrum lacinia et nec elit. Nulla facilisi. Fusce tellus diam, interdum sed tincidunt ac, feugiat a diam. Cras nec diam quis felis fermentum aliquam vitae congue ante. Aenean laoreet nibh id sodales blandit. Etiam a erat molestie, malesuada purus ut, dictum neque.
      details
        summary Banana
        div
          p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
      details
        summary Gooseberry
        div
          p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
          p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
  div
    p
      code (data-singletab='true')
    .accordion(data-singletab='true')
      details
        summary Apricot
        div
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium, leo sed malesuada tempor, leo ipsum fermentum magna, et sodales nibh dolor sed lacus. Phasellus condimentum lectus sit amet urna gravida molestie. Ut varius in ex in aliquet. Ut scelerisque elementum scelerisque. Vivamus ipsum nunc, lobortis eget diam nec, pellentesque mattis neque. Mauris eu laoreet sapien. Pellentesque vel viverra orci. Donec ac aliquet quam, ut imperdiet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo augue, lacinia vitae egestas sit amet, rhoncus a ipsum. Quisque id est eu ipsum rutrum lacinia et nec elit. Nulla facilisi. Fusce tellus diam, interdum sed tincidunt ac, feugiat a diam. Cras nec diam quis felis fermentum aliquam vitae congue ante. Aenean laoreet nibh id sodales blandit. Etiam a erat molestie, malesuada purus ut, dictum neque.
      details
        summary Pear
        div
          p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
      details
        summary Peach
        div
          p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
          p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
  div
    p
      code details(open='open')
    .accordion(data-singletab='true')
      details
        summary Redcurrant
        div
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium, leo sed malesuada tempor, leo ipsum fermentum magna, et sodales nibh dolor sed lacus. Phasellus condimentum lectus sit amet urna gravida molestie. Ut varius in ex in aliquet. Ut scelerisque elementum scelerisque. Vivamus ipsum nunc, lobortis eget diam nec, pellentesque mattis neque. Mauris eu laoreet sapien. Pellentesque vel viverra orci. Donec ac aliquet quam, ut imperdiet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo augue, lacinia vitae egestas sit amet, rhoncus a ipsum. Quisque id est eu ipsum rutrum lacinia et nec elit. Nulla facilisi. Fusce tellus diam, interdum sed tincidunt ac, feugiat a diam. Cras nec diam quis felis fermentum aliquam vitae congue ante. Aenean laoreet nibh id sodales blandit. Etiam a erat molestie, malesuada purus ut, dictum neque.
      details(open='open')
        summary Watermelon
        div
          p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
      details
        summary Raspberry
        div
          p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
          p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
.grid2.vertical-gap
  div
    p.message
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#paperclip')
      | L'accordéon est basé sur les éléments html 
      code details/summary
      | . Le javascript transforme cette base pour permettre les animations et un meilleur contrôle, il ajoute aussi des attributs aria pour l'accessibilité. L'accordéon reste accessible au clavier comme pour le html de base.
  div
    p.message
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#paperclip')
      | Notez que l'apparence de l'accordéon ne changera pas si javascript est désactivé. Seul les animations et l'option 
      code singletab
      |  auront disparus.
  div
    p.message(role='alert')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#warning')
      | Les accordéons ne doivent pas inclure d'éléments enfants provoquant un recalcul de la hauteur du panneau (animation de l'accordéon basée sur la propriété max-height).
