.grid4.gap.masonry
  - for (let i = 0; i < 6; i++)
    article.card
      div
        h2.h2 Proin vestibulum dolor
      a(href='/page/article.html')
        svg
          use(href='/sprites/silos/131v-d1.svg#1')
      div
        p Nullam id arcu in purus pretium tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu leo commodo, aliquam lorem at, auctor massa. Donec malesuada tellus id est convallis, non efficitur magna varius. Proin accumsan tristique hendrerit. Suspendisse tempus mauris felis, at pharetra elit malesuada et.
    article.card
      div
        h2.h2 Aenean vitae faucibus
      a(href='/page/article.html')
        svg
          use(href='/sprites/silos/126v-d1.svg#1')
      div
        p Curabitur diam magna, malesuada sed convallis non, fermentum lacinia dolor. Nullam iaculis sapien ac quam ultricies posuere. Suspendisse non luctus justo. Nulla facilisi. Maecenas dapibus maximus enim, et bibendum nisl vulputate sit amet. Donec semper felis eu porttitor auctor.
    article.card
      div
        h2.h2 Suspendisse non luctus
      a(href='/page/article.html')
        svg
          use(href='/sprites/silos/145v-d1.svg#1')
      div
        p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Suspendisse nibh neque, porta et placerat vel, gravida at magna.
    article.card.ribbon-content
      div
        h2.h2 Integer hendrerit
      a(href='/page/article.html')
        svg
          use(href='/sprites/silos/195v.svg#1')
      div
        p Vivamus sodales eget eros ut euismod. Ut eu pulvinar ante, vitae porta dui. Mauris eu elementum velit. Curabitur aliquet sem eget tempus venenatis. Vivamus vel lectus dictum, tempus arcu non, sodales ex. Praesent ut nisi cursus, tristique elit quis, tempus enim.
      .ribbon-top-right.media-xs-hidden Nouveau
