.grid-auto.gap
  div
    p
      code button.button
    br
    button.button(type='submit')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#share')
      | Share
  div
    p
      code (style='--color:#fff;--bg-color:#4e667a')
    br
    button.button(type='submit' style='--color:#fff;--bg-color:#4e667a')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#share')
      | Share
  div
    p
      code .scale150
    br
    button.button.scale150(type='submit')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#share')
      | Share
hr(data-hr='✻ ✻ ✻')
.grid-auto.gap
  div
    p
      code button.round-button
    br
    button.round-button(type='button' aria-label='Button test')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
  div
    p
      code (style='--color:#fff;--bg-color:#4e667a')
    br
    button.round-button(type='button' aria-label='Button test' style='--color:#fff;--bg-color:#4e667a')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
  div
    p
      code .scale150
    br
    button.round-button.scale150(type='button' aria-label='Button test')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
.grid-auto.gap
  div
    p
      code button.button2
    br
    button.button2(type='button' aria-label='Button test')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
