.grid3.gap
  div
    p
      code button.button
    button.button.cmd-print(type='submit')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
      | Imprimer
  div
    p
      code (style='--button-color:#fff;--button-bg-color:#4e667a')
    button.button.cmd-print(type='submit' style='--button-color:#fff;--button-bg-color:#4e667a')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
      | Imprimer
  div
    p
      code .scale120
    button.button.cmd-print.scale120(type='submit')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
      | Imprimer
  div
    p
      code button.round-button
    button.round-button.cmd-print(type='button' aria-label='Imprimer')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
  div
    p
      code (style='--color:#fff;--bg-color:#4e667a')
    button.round-button.cmd-print(type='button' aria-label='Imprimer' style='--button-color:#fff;--button-bg-color:#4e667a')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
  div
    p
      code .scale120
    button.round-button.cmd-print.scale120(type='button' aria-label='Imprimer')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
  div
    p
      code button.button2
    button.button2.cmd-print(type='button' aria-label='Button test')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
