.grid-auto.gap
  div
    pie-chart.pie-chart(data='27' gap='0.05' donut='0.7' labels='Lapins')
  div
    pie-chart.pie-chart(data='27;37' gap='0.05' donut='0.7' labels='Courgettes;Lapins')
  div
    pie-chart.pie-chart(data='40;30;30;20;10' gap='0.05' donut='0.7' labels='Cherry;Banana;Apricot;Peach;Raspberry')
  div
    pie-chart.pie-chart(data='60;10;30' gap='0.05' donut='0.7' labels='Carottes;Tomates;Oignons' colors='hsl(180, 100%, 50%); hsl(90, 100%, 50%); hsl(200, 100%, 50%)')
  div
    pie-chart.pie-chart(data='40;30;30;20;10' gap='0.05' donut='0.7' labels='Cherry;Banana;Apricot;Peach;Raspberry' colors='hsl(9, 100%, 64%); hsl(12, 63%, 49%); hsl(96, 41%, 29%); hsl(39, 100%, 50%); hsl(207, 22%, 39%)')
