h2 Util sprites
.grid-auto.gap.gap-bottom.demo-icons(style='--size-grid:6em')
  include ../includes/iconListUtil
h2 Player sprites
.grid-auto.gap.gap-bottom.demo-icons(style='--size-grid:6em')
  include ../includes/iconListPlayer
.grid2.gap.gap-block
  .message
    p
      | Icones disponibles à partir de fichiers composés de sprites SVG. Ceux-ci sont compilés (et peuvent être recompilés si besoin de personnalisation) à partir de SVGs situés dans un même dossier. Optimisation avec SVGO. Voir la configuation du 
      code package.json
      | .
