h2 Util sprites
.grid-auto.gap.gap-bottom.demo-icons(style='--size-grid:6em')
  include ../includes/iconListUtil
h2 Player sprites
.grid-auto.gap.gap-bottom.demo-icons(style='--size-grid:6em')
  include ../includes/iconListPlayer
hr(data-hr='✻ ✻ ✻')
.grid2
  .message-highlight
    svg.icon(role='img' focusable='false')
      use(href='/sprites/util.svg#info')
    div
      p
        | Icones disponibles à partir de fichiers composés de sprites SVG. Ceux-ci sont compilés à partir de SVGs situés dans un même dossier (ils peuvent être recompilés si besoin de personnalisation). Optimisation avec SVGO. Voir la configuation du 
        code package.json
        | .
