.grid.gap.gap-bottom(style='grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr))')
  include ../includes/iconList
.grid2.gap
  .message
    p
      | Icones disponibles à partir d'un fichier composé de sprites SVG. Celui-ci est compilé (et peut être recompilé si besoin de personnalisation) à partir de SVGs situés dans un même dossier. Optimisation avec SVGO. Voir la configuation du 
      code package.json
      | .
