p
  code [lang=grc]
.grid2.gap
  p(lang='grc')
    span.verse 1
    |  Ἰησοῦς δὲ ἐπορεύθη εἰς τὸ ὄρος τῶν ἐλαιῶν. 
    span.verse 2
    |  Ὄρθρου δὲ πάλιν παρεγένετο εἰς τὸ ἱερὸν καὶ πᾶς ὁ λαὸς ἤρχετο πρὸς αὐτόν, καὶ καθίσας ἐδίδασκεν αὐτούς. 
    span.verse 3
    |  Ἄγουσιν δὲ οἱ γραμματεῖς καὶ οἱ Φαρισαῖοι γυναῖκα ἐπὶ μοιχείᾳ κατειλημμένην καὶ στήσαντες αὐτὴν ἐν μέσῳ 
    span.verse 4
    |  λέγουσιν αὐτῷ· διδάσκαλε, αὕτη ἡ γυνὴ κατείληπται ἐπ᾽ αὐτοφώρῳ μοιχευομένη· 
    span.verse 5
    |  ἐν δὲ τῷ νόμῳ ἡμῖν Μωϋσῆς ἐνετείλατο τὰς τοιαύτας λιθάζειν. σὺ οὖν τί λέγεις ; 
    span.verse 6
    |  τοῦτο δὲ ἔλεγον πειράζοντες αὐτόν, ἵνα ἔχωσιν κατηγορεῖν αὐτοῦ. ὁ δὲ Ἰησοῦς κάτω κύψας τῷ δακτύλῳ κατέγραφεν εἰς τὴν γῆν.
  p
    span.verse 1
    |  Et Jésus alla vers le Mont des Oliviers. 
    span.verse 2
    |  Et à l'aurore, de nouveau, il se présenta vers le Temple, et tout le peuple venait auprès de lui, et s'asseyant il les enseignait. 
    span.verse 3
    |  Et les scribes et les Pharisiens amènent une femme saisie sur adultère, et l'ayant dressée au milieu 
    span.verse 4
    |  ils lui disent : Maître, cette femme a été saisie en flagrant délit, s'adultérant ; 
    span.verse 5
    |  dans la loi Moïse nous a commandé de lapider de telles (femmes). Toi donc, que dis-tu ? 
    span.verse 6
    |  Et cela ils (le) disaient en l'éprouvant, afin qu'ils aient à l'accuser. Mais Jésus s'étant baissé en bas, du doigt, écrivait sur la terre.
p
  code [lang=he]
.grid2.gap.gap-bottom
  p(lang='he')
    span.verse 1
    |  בְּרֵאשִׁ֖ית בָּרָ֣א אֱלֹהִ֑ים אֵ֥ת הַשָּׁמַ֖יִם וְאֵ֥ת הָאָֽרֶץ׃ 
    span.verse 2
    |  וְהָאָ֗רֶץ הָיְתָ֥ה תֹ֨הוּ֙ וָבֹ֔הוּ וְחֹ֖שֶׁךְ עַל־פְּנֵ֣י תְהֹ֑ום וְר֣וּחַ אֱלֹהִ֔ים מְרַחֶ֖פֶת עַל־פְּנֵ֥י הַמָּֽיִם 
    span.verse 3
    |  וַיֹּ֥אמֶר אֱלֹהִ֖ים יְהִ֣י אֹ֑ור וַֽיְהִי־אֹֽור׃ 
    span.verse 4
    |  וַיַּ֧רְא אֱלֹהִ֛ים אֶת־הָאֹ֖ור כִּי־טֹ֑וב וַיַּבְדֵּ֣ל אֱלֹהִ֔ים בֵּ֥ין הָאֹ֖ור וּבֵ֥ין הַחֹֽשֶׁךְ 
    span.verse 5
    |  וַיִּקְרָ֨א אֱלֹהִ֤ים׀ לָאֹור֙ יֹ֔ום וְלַחֹ֖שֶׁךְ קָ֣רָא לָ֑יְלָה וַֽיְהִי־עֶ֥רֶב וַֽיְהִי־בֹ֖קֶר יֹ֥ום אֶחָֽד׃ פ
  p
    span.verse 1
    |  Au commencement, Dieu créa le ciel et la terre. 
    span.verse 2
    |  Or la terre était vide et vague, les ténèbres couvraient l'abîme, un vent de Dieu tournoyait sur les eaux. 
    span.verse 3
    |  Dieu dit : "Que la lumière soit" et la lumière fut. 
    span.verse 4
    |  Dieu vit que la lumière était bonne, et Dieu sépara la lumière et les ténèbres. 
    span.verse 5
    |  Dieu appela la lumière "jour" et les ténèbres "nuit." Il y eut un soir et il y eut un matin : premier jour.
.grid2.s-grid1.gap
  div
    .message-highlight
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#info')
      div
        p
          | Afin d'harmoniser les caractères Unicode il est bon de parser les chaines avec une fonction de normalisation NFC. En JavaScript&nbsp;: 
          code string.normalize('NFC')
          | . Cf. 
          a(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/normalize') mdn web docs.
  figure.center
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/Jeanne-D-Arc.svg#1')

//-
  p
    code [lang=grc]
  .grid4.gap
    p(lang='grc')
      span.verse 1
      |  Ὃ ἦν ἀπ᾽ ἀρχῆς, ὃ ἀκηκόαμεν, ὃ ἑωράκαμεν τοῖς ὀφθαλμοῖς ἡμῶν, ὃ ἐθεασάμεθα καὶ αἱ χεῖρες ἡμῶν ἐψηλάφησαν περὶ τοῦ λόγου τῆς ζωῆς – 
      span.verse 2
      |  καὶ ἡ ζωὴ ἐφανερώθη, καὶ ἑωράκαμεν καὶ μαρτυροῦμεν καὶ ἀπαγγέλλομεν ὑμῖν τὴν ζωὴν τὴν αἰώνιον ἥτις ἦν πρὸς τὸν πατέρα καὶ ἐφανερώθη ἡμῖν – 
      span.verse 3
      |  ὃ ἑωράκαμεν καὶ ἀκηκόαμεν, ἀπαγγέλλομεν καὶ ὑμῖν, ἵνα καὶ ὑμεῖς κοινωνίαν ἔχητε μεθ᾽ ἡμῶν. καὶ ἡ κοινωνία δὲ ἡ ἡμετέρα μετὰ τοῦ πατρὸς καὶ μετὰ τοῦ υἱοῦ αὐτοῦ Ἰησοῦ Χριστοῦ. 
      span.verse 4
      |  καὶ ταῦτα γράφομεν ἡμεῖς, ἵνα ἡ χαρὰ ἡμῶν ᾖ πεπληρωμένη. 
      span.verse 5
      |  Καὶ ἔστιν αὕτη ἡ ἀγγελία ἣν ἀκηκόαμεν ἀπ᾽ αὐτοῦ καὶ ἀναγγέλλομεν ὑμῖν, ὅτι ὁ θεὸς φῶς ἐστιν καὶ σκοτία ἐν αὐτῷ οὐκ ἔστιν οὐδεμία. 
      span.verse 6
      |  Ἐὰν εἴπωμεν ὅτι κοινωνίαν ἔχομεν μετ᾽ αὐτοῦ καὶ ἐν τῷ σκότει περιπατῶμεν, ψευδόμεθα καὶ οὐ ποιοῦμεν τὴν ἀλήθειαν· 
      span.verse 7
      |  ἐὰν δὲ ἐν τῷ φωτὶ περιπατῶμεν ὡς αὐτός ἐστιν ἐν τῷ φωτί, κοινωνίαν ἔχομεν μετ᾽ ἀλλήλων καὶ τὸ αἷμα Ἰησοῦ τοῦ υἱοῦ αὐτοῦ καθαρίζει ἡμᾶς ἀπὸ πάσης ἁμαρτίας. 
      span.verse 8
      |  ἐὰν εἴπωμεν ὅτι ἁμαρτίαν οὐκ ἔχομεν, ἑαυτοὺς πλανῶμεν καὶ ἡ ἀλήθεια οὐκ ἔστιν ἐν ἡμῖν. 
      span.verse 9
      |  ἐὰν ὁμολογῶμεν τὰς ἁμαρτίας ἡμῶν, πιστός ἐστιν καὶ δίκαιος, ἵνα ἀφῇ ἡμῖν τὰς ἁμαρτίας καὶ καθαρίσῃ ἡμᾶς ἀπὸ πάσης ἀδικίας. 
      span.verse 10
      |  ἐὰν εἴπωμεν ὅτι οὐχ ἡμαρτήκαμεν, ψεύστην ποιοῦμεν αὐτὸν καὶ ὁ λόγος αὐτοῦ οὐκ ἔστιν ἐν ἡμῖν. 
    p
      span.verse 1
      |  Ce qui était dès le commencement, ce que nous avons entendu, ce que nous avons vu de nos yeux, ce que nous avons contemplé et (que) nos mains ont palpé du Logos de vie - 
      span.verse 2
      |  et la vie a été manifestée, et nous avons vu, et nous témoignons et nous vous annonçons la vie éternelle qui était auprès du Père et nous fut manifestée - 
      span.verse 3
      |  ce que nous avons vu et entendu, nous vous l'annonçons à vous aussi, afin que vous aussi soyez en communion avec nous. Et notre communion à nous (est) avec le Père et avec son Fils Jésus Christ. 
      span.verse 4
      |  Et cela nous l'écrivons, nous, afin que notre joie soit en plénitude. 
      span.verse 5
      |  Et tel est le message que nous avons entendu de lui et (que) nous vous annonçons : Dieu est lumière et de ténèbres en lui il n'en est aucune. 
      span.verse 6
      |  Si nous disons que nous sommes en communion avec lui et (que) nous marchons dans les ténèbres nous mentons et nous ne pratiquons pas la vérité ; 
      span.verse 7
      |  mais si nous marchons dans la lumière comme lui-même est dans la lumière, nous sommes en communion les uns avec les autres et le sang de Jésus son Fils nous purifie de tout péché. 
      span.verse 8
      |  Si nous disons que nous n'avons pas de péché nous nous égarons nous-mêmes et la vérité n'est pas en nous. 
      span.verse 9
      |  Si nous confessons nos péchés, il est fidèle et juste, afin qu'il remette nos péchés et nous purifie de toute injustice. 
      span.verse 10
      |  Si nous disons que nous n'avons pas péché, nous faisons (de) lui un menteur et sa parole n'est pas en nous.
