.grid4.gap
  div
    p
      code .loader
    br
    .center
      .loader
  div
    p
      code .loader.scale(style='--scale:120%')
    br
    .center
      .loader.scale(style='--scale:120%')
  div
    p
      code (style='--frame:5s')
    br
    .center
      .loader.scale(style='--frame:5s;--scale:120%')
  div
    p
      code (style='--color:#d2b48c')
    br
    .center
      .loader.scale(style='--frame:10s;--color:#d2b48c;--scale:120%')
