.grid2.s-grid1.gap.gap-bottom
  //-div
    p
      code audio
    audio(controls)
      source(src='/medias/audios/BagdadCafe.mp3')
      p.message-error This media is not supported by your browser.
  div
    p
      //-code .media-single-player audio.media
      code audio.media
    .grid.gap(style='--n:1')
      figure.figure-media
        figcaption Adieu mon père
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/Adieu-mon-père.mp3')
      figure.figure-media
        figcaption La tempête
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/La-tempête.mp3')
      figure.figure-media
        figcaption Les souterrains (Electro City Gold) - 1
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/Les-souterrains-(Electro-City-Gold)-1.mp3')
      figure.figure-media
        figcaption Le Grand Héritage (electro war) - 1
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/Le-Grand-Héritage-(electro war)-1.mp3')
      figure.figure-media
        figcaption Interlude, lever de soleil - 1
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/Interlude-lever-de-soleil-1.mp3')
  div
    p
      code .media-relationship(data-next-reading='true')
    .grid.gap.media-relationship(style='--n:1' data-next-reading='true')
      figure.figure-media
        figcaption Le Feu de Saint-Elme
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/Le-Feu-de-Saint-Elme.mp3')
      figure.figure-media
        figcaption Le rêve d'Esteban
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/Le-rêve-d-Esteban.mp3')
      figure.figure-media
        figcaption Le Serpent à plumes
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/Le-Serpent-à-plumes.mp3')
      figure.figure-media
        figcaption Le vol du Condor
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/Le-vol-du-Condor.mp3')
      figure.figure-media
        figcaption Réminiscences
        audio.media(controls)
          source(src='/medias/audios/LesMysterieusesCitesDOr/Réminiscences.mp3')
  div
    p
      code (src='urlError')
    figure.figure-media
      figcaption.sr-only Erreur d'URL
      audio.media(controls)
        source(src='/urlError.mp3')
  div
    p
      code [streaming] (test)
    figure.figure-media
      figcaption.sr-only Web radio
      audio.media(controls)
        source(src='https://stream.vestaradio.com/VertigeRadio')
.grid2.s-grid1.gap-vertical
  div
    .message
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | Par défaut un seul lecteur peut être actif sur la page. En cas de nouveau player, le précédent passera sur pause, à part ce principe de base, les lecteurs sont indépendants entre eux.
      p Un élément parent bénéficiant de la classe ".media-relationship" rend ses médias enfants solidaires entre eux, sans pour autant qu'ils soient obligés d'être des élements frères.
      p "data-next-reading=false" ajoutera une option de lecture à la suite, "data-next-reading=true" l'activera par défaut.
  div
    .message
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | Crédit pour les musiques : 
        em Les Mystérieuses Cités d'Or
        | , interprétées par Yannick Rault (
        a(href='https://citesdor.com/musiques/musiques_boub.php3') lien
        | ).
  div
    p
      code Tester la fonction lecture suivante si erreurs
    .grid.gap.media-relationship(style='--n:1' data-next-reading='true')
      figure.figure-media
        figcaption Petites n'abeilles...
        audio.media(controls)
          source(src='/medias/audios/abeilles.mp3')
      figure.figure-media
        figcaption Erreur d'URL n°1
        audio.media(controls)
          source(src='/urlError.mp3')
      figure.figure-media
        figcaption Stridulation d'un grillon
        audio.media(controls)
          source(src='/medias/audios/grillons.mp3')
      figure.figure-media
        figcaption Erreur d'URL n°2
        audio.media(controls)
          source(src='/urlError.mp3')
      figure.figure-media
        figcaption Erreur d'URL n°3
        audio.media(controls)
          source(src='/urlError.mp3')
hr(data-hr='✻ ✻ ✻')
p
  code video.media
.grid2.s-grid1.gap.gap-bottom.media-relationship(data-next-reading='true')
  figure.figure-media
    figcaption.sr-only Spring
    video.media(controls poster='/medias/videos/Agent327/poster.jpg' style='aspect-ratio: 21/9')
      source(src='/medias/videos/Agent327/Agent327.mp4' type='video/mp4')
      track(src='/medias/videos/Agent327/fr.vtt' kind='subtitles' srclang='fr' label='Français')
      track(src='/medias/videos/Agent327/he.vtt' kind='subtitles' srclang='he' label='Hebreu')
      track(src='/medias/videos/Agent327/jp.vtt' kind='subtitles' srclang='jp' label='Japonais')
      track(src='/medias/videos/Agent327/en.vtt' kind='subtitles' srclang='en' label='English')
  figure.figure-media
    figcaption.sr-only Spring
    video.media(controls width='1280' height='536' poster='/medias/videos/Spring/Spring.jpg' style='aspect-ratio: 21/9')
      source(src='/medias/videos/Spring/Spring.mp4' type='video/mp4')
  figure.figure-media
    figcaption.sr-only Sintel
    video.media(controls width='1024' height='436' poster='/medias/videos/Sintel/poster.jpg' style='aspect-ratio: 21/9')
      source(src='/medias/videos/Sintel/Sintel.m4v')
      track(src='/medias/videos/Sintel/fr.vtt' kind='subtitles' srclang='fr' label='Français' default)
      track(src='/medias/videos/Sintel/en.vtt' kind='subtitles' srclang='en' label='English')
      track(src='/medias/videos/Sintel/es.vtt' kind='subtitles' srclang='es' label='Español')
      track(src='/medias/videos/Sintel/de.vtt' kind='subtitles' srclang='de' label='Deutsch')
      track(src='/medias/videos/Sintel/it.vtt' kind='subtitles' srclang='it' label='Italiano')
  //-figure.figure-media
    figcaption.sr-only Le retour du Roi
    video.media(controls poster='/medias/videos/LeRetourDuRoi/poster.jpg' style='aspect-ratio: 21/9')
      source(src='/medias/videos/LeRetourDuRoi/LeRetourDuRoi.mp4' type='video/mp4')
  figure.figure-media
    figcaption.sr-only Erreur d'URL
    video.media(controls poster='/medias/videos/Agent327/poster.jpg' style='aspect-ratio: 21/9')
      source(src='/urlError.mp4' type='video/mp4')
  div
    .message
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | Crédit pour les vidéos : 
        a(href='https://www.blender.org/about/studio/') Blender Studio
        | .
  div
    .message
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | Certains des lecteurs présents bénéficient de sous-titres, activés ou non par défaut selon les spécifications natives du code HTML5.
hr(data-hr='✻ ✻ ✻')
.grid2.gap.gap-bottom
  div
    p
      code .video-youtube
    .video-youtube(data-id='3Bs4LOtIuxg')
  div
    p
      code (data-id='pZm94gQBzOQ')
    .video-youtube(data-id='pZm94gQBzOQ')
  div
    p
      code (data-id='uWCGK4nneeU')
    .video-youtube(data-id='uWCGK4nneeU')
  div
    p
      code (data-id='errorId')
    .video-youtube(data-id='errorId')
.grid2.gap
  .message
    p
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#info')
      | Afin de garder des pages légères les vidéos Youtubes ne sont chargées qu'à la demande de l'utilisateur, lorsque celui-ci clique sur le bouton de lecture.
    P L'API youtube n'est pas utilisée afin d'éviter les limitations inhérentes à cette dernière en terme de requêtes. Ce qui nous permet aussi de garder notre indépendance face à la nécessité d'une clef d'API.
