.grid2.s-grid1.gap
  //-div
    p
      code audio
    audio(controls='controls')
      source(src='/medias/audios/BagdadCafe.mp3')
      p.message-error This media is not supported by your browser.
  div
    p
      code audio.media
    div(style='display:grid;gap:1em')
      audio.media
        source(src='/medias/audios/BagdadCafe.mp3')
      audio.media
        source(src='/medias/audios/YvesDuteil.mp3')
      audio.media
        source(src='/medias/audios/GerardBerliner.mp3')
      audio.media
        source(src='/medias/audios/merle.mp3')
      audio.media
        source(src='/medias/audios/abeilles.mp3')
      audio.media
        source(src='/medias/audios/grillons.mp3')
  div
    p
      code video.media
    video.media(controls='controls', poster='/medias/videos/posters/LeRetourDuRoi.jpg')
      source(src='/medias/videos/LeRetourDuRoi.mp4', type='video/mp4')
hr(data-hr='✻ ✻ ✻')
.grid3.m-grid2.gap.gap-bottom
  div
    p
      code .video-youtube
    .video-youtube(data-id='3Bs4LOtIuxg')
  div
    p
      code (data-id='pZm94gQBzOQ')
    .video-youtube(data-id='pZm94gQBzOQ')
  div
    p
      code (data-id='uWCGK4nneeU')
    .video-youtube(data-id='uWCGK4nneeU')
  div
    p
      code (data-id='errorId')
    .video-youtube(data-id='errorId')
  div
    p
      code (missing `maxresdefault.jpg`)
    .video-youtube(data-id='rnS20usFqYs')
  div
    p
      code (missing `maxresdefault.jpg`)
    .video-youtube(data-id='jNQXAC9IVRw')
.grid2.gap
  div
    .message
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | Afin de garder des pages légères les vidéos Youtubes ne sont chargées qu'à la demande de l'utilisateur, lorsque celui-ci clique sur le bouton de lecture.
      P L'API youtube n'est pas utilisée afin d'éviter les limitations inhérentes à cette dernière en terme de requêtes. Ce qui nous permet aussi de garder notre indépendance face à la nécessité d'une clef d'API.
