.grid3.s-grid1.gap.gap-bottom
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E01.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E01.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E02.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E03.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E04.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E05.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E06.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E07.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E08.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E09.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E10.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E11.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E12.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E13.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E14.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E15.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E16.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E17.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E18.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E19.mp3')
  figure.figure-media
    figcaption.sr-only Donjon de Naheulbeuk
    audio.media(controls)
      source(src='/medias/audios/DonjonDeNaheulbeuk/S01E20.mp3')
.grid2.s-grid1.gap
  //-div
    p
      code audio
    audio(controls)
      source(src='/medias/audios/BagdadCafe.mp3')
      p.message-error This media is not supported by your browser.
  div
    p
      //-code .media-single-player audio.media
      code audio.media
    .grid.gap(style='--n:1')
      figure.figure-media
        figcaption.sr-only The beat of nature
        audio.media(controls)
          source(src='/medias/audios/the-beat-of-nature.mp3')
      figure.figure-media
        figcaption.sr-only This is epic
        audio.media(controls)
          source(src='/medias/audios/this-is-epic.mp3')
      figure.figure-media
        figcaption.sr-only Cinematic fairy tale story main
        audio.media(controls)
          source(src='/medias/audios/cinematic-fairy-tale-story-main.mp3')
      figure.figure-media
        figcaption.sr-only Ambient classical guitar
        audio.media(controls)
          source(src='/medias/audios/ambient-classical-guitar.mp3')
      figure.figure-media
        figcaption.sr-only Petites n'abeilles...
        audio.media(controls)
          source(src='/medias/audios/abeilles.mp3')
      figure.figure-media
        figcaption.sr-only Stridulation d'un grillon
        audio.media(controls)
          source(src='/medias/audios/grillons.mp3')
  div
    p
      code .media-relationship .media
    .grid.gap(style='--n:1').media-relationship
      figure.figure-media
        figcaption.sr-only The beat of nature
        audio.media(controls)
          source(src='/medias/audios/the-beat-of-nature.mp3')
      figure.figure-media
        figcaption.sr-only This is epic
        audio.media(controls)
          source(src='/medias/audios/this-is-epic.mp3')
      figure.figure-media
        figcaption.sr-only Cinematic fairy tale story main
        audio.media(controls)
          source(src='/medias/audios/cinematic-fairy-tale-story-main.mp3')
      figure.figure-media
        figcaption.sr-only Ambient classical guitar
        audio.media(controls)
          source(src='/medias/audios/ambient-classical-guitar.mp3')
      figure.figure-media
        figcaption.sr-only Petites n'abeilles...
        audio.media(controls)
          source(src='/medias/audios/abeilles.mp3')
      figure.figure-media
        figcaption.sr-only Stridulation d'un grillon
        audio.media(controls)
          source(src='/medias/audios/grillons.mp3')
  div
    p
      code (src='urlError')
    figure.figure-media
      figcaption.sr-only Erreur d'URL
      audio.media(controls)
        source(src='/urlError.mp3')
  div
    p
      code [streaming] (test)
    figure.figure-media
      figcaption.sr-only Web radio
      audio.media(controls)
        source(src='https://stream.vestaradio.com/VertigeRadio')
hr(data-hr='✻ ✻ ✻')
p
  code video.media
.grid2.s-grid1.gap
  figure.figure-media
    figcaption.sr-only Escargots
    video.media(controls)
      source(src='/medias/videos/escargots.mp4' type='video/mp4')
  figure.figure-media
    figcaption.sr-only Papillon
    video.media(controls)
      source(src='/medias/videos/papillon.mp4' type='video/mp4')
  //-figure.figure-media
    figcaption.sr-only Grand Pic Épeiche
    video.media(controls)
      source(src='/medias/videos/grandPicEpeiche.mp4' type='video/mp4')
  //-figure.figure-media
    figcaption.sr-only Bouvreuil
    video.media(controls)
      source(src='/medias/videos/ruisseau.mp4' type='video/mp4')
  //-figure.figure-media Le retour du Roi
    video.media(controls poster='/medias/videos/posters/leRetourDuRoi.jpg')
      source(src='/medias/videos/leRetourDuRoi.mp4' type='video/mp4')
  //-figure.figure-media
    figcaption
      code (src='urlError')
    video.media(controls)
      source(src='/medias/videos/urlError.mp4' type='video/mp4')
hr(data-hr='✻ ✻ ✻')
.grid3.m-grid2.gap.gap-bottom
  div
    p
      code .video-youtube
    .video-youtube(data-id='3Bs4LOtIuxg')
  div
    p
      code (data-id='pZm94gQBzOQ')
    .video-youtube(data-id='pZm94gQBzOQ')
  div
    p
      code (data-id='uWCGK4nneeU')
    .video-youtube(data-id='uWCGK4nneeU')
  div
    p
      code (data-id='YvNy8Nvy4VE')
    .video-youtube(data-id='YvNy8Nvy4VE')
  div
    p
      code (data-id='XCJdPfjECq4')
    .video-youtube(data-id='XCJdPfjECq4')
  div
    p
      code (data-id='errorId')
    .video-youtube(data-id='errorId')
.grid2.gap
  div
    .message
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | Afin de garder des pages légères les vidéos Youtubes ne sont chargées qu'à la demande de l'utilisateur, lorsque celui-ci clique sur le bouton de lecture.
      P L'API youtube n'est pas utilisée afin d'éviter les limitations inhérentes à cette dernière en terme de requêtes. Ce qui nous permet aussi de garder notre indépendance face à la nécessité d'une clef d'API.
