.grid3.m-grid2.vertical-gap
  div
    p
      code .message
    .message(role='alert')
      p
        | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
        a(href='/') Link test
        | .
  div
    p
      code .message .icon
    .message(role='alert')
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#paperclip')
        | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
        a(href='/') Link test
        | .
  div
    p
      code .message-info
    .message-info(role='alert')
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
        a(href='/') Link test
        | .
  div
    p
      code .message-success
    .message-success(role='alert')
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#check')
        | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
        a(href='/') Link test
        | .
  div
    p
      code .message-error
    .message-error(role='alert')
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#xmark')
        | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
        a(href='/') Link test
        | .
  div
    p
      code .message-warning
    .message-warning(role='alert')
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#warning')
        | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
        a(href='/') Link test
        | .
  div
    p
      code .message-highlight
    .message-highlight
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#pencil')
      div
        p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
          a(href='/') Link test
          | .
  div
    p
      code (style='--bg-color:Tomato')
    .message-highlight(style='--bg-color:Tomato')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#quill')
      div
        p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
          a(href='/') Link test
          | .
  div
    p
      code (style='--color:#aaa;--color-link:#fff')
    .message-highlight(style='--color:#aaa;--color-link:#fff')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#info')
      div
        p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
          a(href='/') Link test
          | .
