.grid3.m-grid2.gap.gap-bottom
  div
    p
      code audio
    audio(controls='controls')
      source(src='/medias/audios/BagdadCafe.mp3')
      p.message-error This media is not supported by your browser.
  div
    p
      code audio.audio
    audio.audio
      source(src='/medias/audios/BagdadCafe.mp3')
      p.message-error This media is not supported by your browser.
    p
      code audio.audio
    audio.audio
      source(src='/medias/audios/BagdadCafe.mp3')
      p.message-error This media is not supported by your browser.
    p
      code audio.audio
    audio.audio
      source(src='/medias/audios/BagdadCafe.mp3')
      p.message-error This media is not supported by your browser.
  div
    p
      code video
    video(controls='controls', poster='/medias/videos/posters/LeRetourDuRoi.jpg')
      source(src='/medias/videos/LeRetourDuRoi.mp4', type='video/mp4')
      p.message-warning HTML5 video codec proposed is not supported by your browser.
hr(data-hr='✻ ✻ ✻')
.grid3.m-grid2.gap.gap-bottom
  div
    p
      code .video-youtube
    .video-youtube(data-id='3Bs4LOtIuxg')
  div
    p
      code (data-id='pZm94gQBzOQ')
    .video-youtube(data-id='pZm94gQBzOQ')
    //- iQZobAhgayA, HkPk-uVWLMY
  div
    p
      code (data-id='uWCGK4nneeU')
    .video-youtube(data-id='uWCGK4nneeU')
  div
    p
      code (data-id='errorId')
    .video-youtube(data-id='errorId')
  div
    p
      code (missing `maxresdefault.jpg`)
    .video-youtube(data-id='rnS20usFqYs')
  div
    p
      code (missing `maxresdefault.jpg`)
    .video-youtube(data-id='jNQXAC9IVRw')
.grid2.gap.vertical-gap
  div
    .message
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | Afin de garder des pages légères les vidéos Youtubes ne sont chargées qu'à la demande de l'utilisateur, lorsque celui-ci clique sur le bouton de lecture.
  div
    .message
      p
        svg.icon-inline(role='img' focusable='false')
          use(href='/sprites/util.svg#info')
        | L'API youtube n'est pas utilisée afin d'éviter les limitations inhérentes à cette dernière en terme de requêtes. Ce qui nous permet aussi de garder notre indépendance face à la nécessité d'une clef d'API.
