.grid2.gap
  .column.gap
    p
      code progress(max='100' value='0')
    progress.progress(max='100' value='0')
    p
      code (max='100' value='50')
    progress.progress(max='100' value='50')
    p
      code (style='--color:#4e667a')
    progress.progress(max='100' value='50' style='--color:#4e667a')
    p
      code .scale150
    progress.progress.scale150(max='100' value='50')
    h2 Test
    progress.progress#progress-test-target(max='100' value='0')
    button#progress-test-cmd.button(type='button') Test de 0 à 100%
  figure.center
    svg.size.reverse.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/126r-d1.svg#1')
.grid2.gap
  .message-highlight
    svg.icon(role='img' focusable='false')
      use(href='/sprites/util.svg#info')
    div
      p La barre de progression HTML native est utilisée désormais, notre solution précédente était constituée d'une div pilotée par JavaScript pour simuler la progression.
