.grid2.gap.s-grid1
  div
    p
      code .range
    .range
      label(for='range-1').sr-only Évaluation
      input#range-1(type='range' name='range-1' min='0' max='100' step='1' value='0')
      output
  div
    p
      code .range
    .range
      label(for='range-2').sr-only Évaluation
      input#range-2(type='range' name='range-2' min='-200' max='-100' step='1' value='-180')
      output
  div
    p
      code .range(data-intl='fr-FR' data-currency='EUR')
    .range(data-intl='fr-FR' data-currency='EUR')
      label(for='range-3').sr-only Évaluation
      input#range-3(type='range' name='range-3' min='0' max='5000' step='50' value='2500')
      output(style='--size:6em')
  div
    p
      code .range input[disabled]
    .range
      label(for='range-4').sr-only Évaluation
      input#range-4(type='range' name='range-4' min='0' max='100' step='1' value='50' disabled)
      output
  div
    p
      code .range-multithumb
    .range-multithumb
      label(for='range-start-1').sr-only Évaluation start
      input#range-start-1(type='range' name='range-start' min='0' max='100' step='1' value='25')
      label(for='range-stop-1').sr-only Évaluation stop
      input#range-stop-1(type='range' name='range-stop' min='0' max='100' step='1' value='75')
      output
  div
    p
      code .range-multithumb
    .range-multithumb
      label(for='range-start-1').sr-only Évaluation start
      input#range-start-1(type='range' name='range-start' min='-500' max='-100' step='1' value='-400')
      label(for='range-stop-1').sr-only Évaluation stop
      input#range-stop-1(type='range' name='range-stop' min='-500' max='-100' step='1' value='-200')
      output(style='--size:6em')
  div
    p
      code .output.phylactery
    .range-multithumb(data-intl='fr-FR' data-currency='EUR')
      label(for='range-start-2').sr-only Évaluation start
      input#range-start-2(type='range' name='range-start1' min='0' max='1000' step='10' value='0')
      label(for='range-stop-2').sr-only Évaluation stop
      input#range-stop-2(type='range' name='range-stop1' min='0' max='1000' step='10' value='1000')
      output.phylactery
  div
    p
      code .output.phylactery(style='--size')
    .range-multithumb(data-intl='fr-FR')
      label(for='range-start-3').sr-only Évaluation start
      input#range-start-3(type='range' name='range-start2' min='0' max='500000' step='5000' value='75000')
      label(for='range-stop-3').sr-only Évaluation stop
      input#range-stop-3(type='range' name='range-stop2' min='0' max='500000' step='5000' value='250000')
      output.phylactery(style='--size:10em')
  div
    p
      code .range-multithumb
    .range-multithumb
      label(for='range-start-4').sr-only Évaluation start
      input#range-start-4(type='range' name='range-start3' min='0' max='100' step='1' value='25' disabled)
      label(for='range-stop-4').sr-only Évaluation stop
      input#range-stop-4(type='range' name='range-stop3' min='0' max='100' step='1' value='75' disabled)
      output
  div
    .message-highlight
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#pencil')
      div
        p Les sliders acceptent aussi les valeurs négatives pour leur plage respective.
