.grid2.gap
  .demo-item.ribbon-content.center
    p
      code .ribbon-top-left
    .ribbon-top-left Top left
  .demo-item.ribbon-content.center
    p
      code .ribbon-top-right
    .ribbon-top-right Top right
  .demo-item.ribbon-content.center.c2(style='min-height:15em')
    p
      code .ribbon-content > .ribbon-&lt;top|bottom&gt;-&lt;left|right&gt;
    .ribbon-top-left Top left
    .ribbon-top-right Top right
    .ribbon-bottom-left Bottom left
    .ribbon-bottom-right Bottom right
  .demo-item.ribbon-content.center
    p
      code .ribbon-bottom-left
    .ribbon-bottom-left Bottom left
  .demo-item.ribbon-content.center
    p
      code .ribbon-bottom-right
    .ribbon-bottom-right Bottom right
hr(data-hr='✻ ✻ ✻')
.grid2.gap
  .demo-item.ribbon-content.c2(style='min-height:15em')
    .ribbon-top-left Top left
    .ribbon-top-right Top right
    .ribbon-bottom-left
      .rotate180 Bottom left
    .ribbon-bottom-right
      .rotate180 Bottom right
  .demo-item.ribbon-content.center
    p
      code .ribbon-bottom-left .rotate180
    .ribbon-bottom-left
      .rotate180 Bottom left
  .demo-item.ribbon-content.center
    p
      code .ribbon-bottom-right .rotate180
    .ribbon-bottom-right
      .rotate180 Bottom right
hr(data-hr='✻ ✻ ✻')
.grid2.gap
  .demo-item.ribbon-content.center(style='min-height:12em')
    .ribbon-top-left.scale(style='--scale:150%') Top left
    .ribbon-bottom-right.scale(style='--scale:150%')
      .rotate180.rescale Bottom right
    div
      p
        code .ribbon-top-left.scale(style='--scale:150%')
      p
        code .ribbon-bottom-right.scale(style='--scale:150%') .rotate180.rescale
  .demo-item.ribbon-content.center
    div
      p
        code a.ribbon-top-right
      p
        code a.ribbon-bottom-left
    a(href='#').ribbon-top-right Link
    a(href='#').ribbon-bottom-left
      .rotate180 Link
hr(data-hr='✻ ✻ ✻')
.grid.gap
  .demo-item.ribbon-content.center(style='min-height:15em')
    p
      code (style='--color:#fff;--bg-color:#4e667a')
    .ribbon-top-left(style='--color:#fff;--bg-color:#4e667a') Custom color
    .ribbon-top-right(style='--color:#fff;--bg-color:#008C69') Custom color
    .ribbon-bottom-left(style='--color:#fff;--bg-color:#008C69')
      .rotate180 Custom color
    .ribbon-bottom-right(style='--color:#fff;--bg-color:#4e667a')
      .rotate180 Custom color
