.column3.gap-vertical
  div
    p
      code .scale(style='--scale:70%')
    p.scale(style='--scale:70%') Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code .scale(style='--scale:75%')
    p.scale(style='--scale:75%') Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code .scale(style='--scale:80%')
    p.scale(style='--scale:80%') Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code .scale(style='--scale:90%')
    p.scale(style='--scale:90%') Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code .scale(style='--scale:95%')
    p.scale(style='--scale:95%') Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code no scale
    p Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code .scale(style='--scale:105%')
    p.scale(style='--scale:105%') Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code .scale(style='--scale:110%')
    p.scale(style='--scale:110%') Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code .scale(style='--scale:115%')
    p.scale(style='--scale:115%') Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code .scale(style='--scale:120%')
    p.scale(style='--scale:120%') Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  div
    p
      code .scale(style='--scale:50%') .rescale
    p.scale(style='--scale:50%') Consetetur sadipscing elitr, 
      span.rescale sed diam nonumy
      |  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
hr(data-hr='✻ ✻ ✻')
.grid-auto.gap
  div
    p
      code .round-button
    .center
      button(type='button' aria-label='Submit').round-button
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#checkmark')
  div
    p
      code .round-button.scale(style='--scale:160%')
    .center
      button.round-button.scale(type='button' aria-label='Submit' style='--scale:160%')
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#checkmark')
  div
    p
      code .round-button.scale(style='--scale:200%')
    .center
      button.round-button.scale(type='button' aria-label='Submit' style='--scale:200%')
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#checkmark')
hr(data-hr='✻ ✻ ✻')
p
  code .xs-scale.s-scale.m-scale.l-scale
figure.xs-center
  svg.size.xs-scale.s-scale.m-scale.l-scale.decorative-svg(role='img' focusable='false' style='--size-width:30em;--size-height:30em;--xs-scale:50%;--s-scale:75%;--m-scale:100%;--l-scale:120%')
    use(href='/sprites/various/MonogrammeTULivreDeKellsTEST.svg#a')
