-
  const codeBlock0 = `<path d="" fill="#784421"/>`
  const codeBlock1 = `<path d="" fill="var(--tilion-color7, #784421)"/>`
  const codeBlock2 = `#tilion {
    --tilion-color2: crimson;
    animation: anim-tilion 10s infinite;
  }
  @keyframes anim-tilion {
    25% {
      --tilion-color2: deeppink;
    }
    50% {
      --tilion-color2: mediumslateblue;
    }
    75% {
      --tilion-color2: seagreen;
    }
  }`
style= codeBlock2
.grid-auto.gap
  div
    p
      code Original SVG
    .grid.gap
      figure.center
        svg.size.decorative-svg.scale(role='img' focusable='false' style='--scale:70%')
          use(href='/sprites/tiLion.svg#a')
      pre.pre
        code.language-html(data-code='SVG' translate='no')= codeBlock0
  div
    p
      code With default CSS variables
    .grid.gap
      figure.center
        svg.size.decorative-svg.scale(role='img' focusable='false' style='--scale:70%')
          use(href='/sprites/tiLionVar.svg#a')
      pre.pre
        code.language-html(data-code='SVG' translate='no')= codeBlock1
  div
    p
      code With modified CSS variables
    .grid.gap
      figure.center
        svg#tilion.size.decorative-svg.scale(role='img' focusable='false' style='--scale:70%')
          use(href='/sprites/tiLionVar.svg#a')
      pre.pre
        code.language-css(data-code='CSS' translate='no')= codeBlock2
