figure
  svg.size.scale(role='img' focusable='false' style='--scale:500%;aspect-ratio:1/1;height:auto')
    use(href='/sprites/various/LindisfarneChiRihoColor.svg#a')
figure
  svg.size.scale(role='img' focusable='false' style='--scale:500%;fill:#777 !important;opacity:.1;aspect-ratio:1/1;height:auto')
    use(href='/sprites/various/LindisfarneChiRiho.svg#a')
.grid4.xs-grid2.gap
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/ChristPantocratorLivreDeKells.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/ChristPantocratorLivreDeKellsMonochrome.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/ClefDeLAbime.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/ClefDeLAbimeMonochrome.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/Assomption.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/Jeanne-D-Arc.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/Christ-de-Wissembourg.svg#a')
  figure
    svg.size15.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/39r.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/79v-d1.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/83v-d1.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/126r-d1.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/131v-d1.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/145v-d1.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/163v.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/182r-d1.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/182r-d2.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/195v.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/silos/245v-d1.svg#a')
  figure
    svg.size.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/MonogrammeTULivreDeKellsTEST.svg#a')
