.grid2.gap.gap-bottom
  div
    p
      code .tabs
    .tabs
      details
        summary Apricot. A tab with a very long label for tests
        div
          p Curabitur egestas vestibulum neque, sit amet tristique mauris consectetur eget. Aliquam venenatis purus mauris, et suscipit libero aliquam vitae. Quisque eu tincidunt leo. Maecenas a quam neque. Duis non tellus est. Proin mattis, tortor nec finibus finibus, nunc odio viverra lorem, nec sagittis elit sapien nec libero. Duis vel porttitor diam. In rutrum euismod nisl id varius. Etiam ac volutpat odio. Suspendisse mattis facilisis leo. Fusce laoreet libero sit amet pellentesque elementum. Integer pulvinar maximus ligula in feugiat. Aliquam rutrum, felis et placerat bibendum, lacus nisi dapibus urna, ac accumsan nisl enim pellentesque nunc.
      details
        summary Watermelon
        div
          p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
      details
        summary Prickly pear
        div
          p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
          p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
  div
    p
      code .tabs
    .tabs
      details
        summary Cherry
        div
          h2.h4 Title for a panel
          p Mauris sit amet ultricies sapien. Pellentesque mauris ex, pulvinar et vehicula nec, vehicula in turpis. Sed interdum rutrum nibh, vitae tempus felis scelerisque sed. Aenean aliquam sagittis sem, et dapibus augue bibendum at. Maecenas venenatis nec enim nec varius. In hac habitasse platea dictumst. Mauris maximus dui ut ex commodo, vel ultricies lacus accumsan. Sed nisi ipsum, vestibulum ut eleifend vitae, fermentum vitae quam.
      details
        summary Banana
        div
          details
            summary Dragonfruit
            div
              p Mauris sit amet ultricies sapien. Pellentesque mauris ex, pulvinar et vehicula nec, vehicula in turpis. Sed interdum rutrum nibh, vitae tempus felis scelerisque sed. Aenean aliquam sagittis sem, et dapibus augue bibendum at. Maecenas venenatis nec enim nec varius. In hac habitasse platea dictumst. Mauris maximus dui ut ex commodo, vel ultricies lacus accumsan. Sed nisi ipsum, vestibulum ut eleifend vitae, fermentum vitae quam.
          details
            summary Banana
            div
              p Vivamus tempus tincidunt rhoncus. Phasellus eget ullamcorper ex, ut venenatis justo. Duis sit amet lacus sit amet ex efficitur venenatis. Nulla ligula leo, dapibus nec erat in, dictum viverra felis. Nam eu ante quis tellus euismod bibendum. Pellentesque nec est suscipit, vulputate turpis suscipit, posuere elit. Donec ut aliquam odio. Nunc hendrerit ipsum justo, pharetra pharetra dolor cursus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent in ullamcorper leo.
          details
            summary Lemon
            div
              p Integer at nunc quis justo elementum euismod. Suspendisse id interdum diam, a fermentum risus. In hac habitasse platea dictumst. Suspendisse facilisis gravida sem, et vulputate sem tincidunt vel. Sed hendrerit, est et varius posuere, tortor nunc rhoncus risus, at posuere ipsum sapien in ante. Ut sed nibh vel felis commodo molestie et quis dui. Maecenas hendrerit mauris id quam pellentesque venenatis eu ut ex. Pellentesque vitae ipsum volutpat, eleifend enim sit amet, mattis dolor. Praesent ac dui ut felis egestas tristique in vel quam.
          p Vivamus tempus tincidunt rhoncus. Phasellus eget ullamcorper ex, ut venenatis justo. Duis sit amet lacus sit amet ex efficitur venenatis. Nulla ligula leo, dapibus nec erat in, dictum viverra felis. Nam eu ante quis tellus euismod bibendum. Pellentesque nec est suscipit, vulputate turpis suscipit, posuere elit. Donec ut aliquam odio. Nunc hendrerit ipsum justo, pharetra pharetra dolor cursus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent in ullamcorper leo.
      details
        summary Apple
        div
          p Integer at nunc quis justo elementum euismod. Suspendisse id interdum diam, a fermentum risus. In hac habitasse platea dictumst. Suspendisse facilisis gravida sem, et vulputate sem tincidunt vel. Sed hendrerit, est et varius posuere, tortor nunc rhoncus risus, at posuere ipsum sapien in ante. Ut sed nibh vel felis commodo molestie et quis dui. Maecenas hendrerit mauris id quam pellentesque venenatis eu ut ex. Pellentesque vitae ipsum volutpat, eleifend enim sit amet, mattis dolor. Praesent ac dui ut felis egestas tristique in vel quam.
.grid2.gap
  div
    p
      code .tabs > .tabs
    .tabs
      details
        summary Orange
        div
          .tabs
            details
              summary Dragonfruit
              div
                p Mauris sit amet ultricies sapien. Pellentesque mauris ex, pulvinar et vehicula nec, vehicula in turpis. Sed interdum rutrum nibh, vitae tempus felis scelerisque sed. Aenean aliquam sagittis sem, et dapibus augue bibendum at. Maecenas venenatis nec enim nec varius. In hac habitasse platea dictumst. Mauris maximus dui ut ex commodo, vel ultricies lacus accumsan. Sed nisi ipsum, vestibulum ut eleifend vitae, fermentum vitae quam.
            details
              summary Banana
              div
                p Vivamus tempus tincidunt rhoncus. Phasellus eget ullamcorper ex, ut venenatis justo. Duis sit amet lacus sit amet ex efficitur venenatis. Nulla ligula leo, dapibus nec erat in, dictum viverra felis. Nam eu ante quis tellus euismod bibendum. Pellentesque nec est suscipit, vulputate turpis suscipit, posuere elit. Donec ut aliquam odio. Nunc hendrerit ipsum justo, pharetra pharetra dolor cursus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent in ullamcorper leo.
            details
              summary Lemon
              div
                p Integer at nunc quis justo elementum euismod. Suspendisse id interdum diam, a fermentum risus. In hac habitasse platea dictumst. Suspendisse facilisis gravida sem, et vulputate sem tincidunt vel. Sed hendrerit, est et varius posuere, tortor nunc rhoncus risus, at posuere ipsum sapien in ante. Ut sed nibh vel felis commodo molestie et quis dui. Maecenas hendrerit mauris id quam pellentesque venenatis eu ut ex. Pellentesque vitae ipsum volutpat, eleifend enim sit amet, mattis dolor. Praesent ac dui ut felis egestas tristique in vel quam.
          p Cras dignissim pharetra lorem. Cras ullamcorper rutrum lorem ac porta. Cras urna lorem, vestibulum eget lacinia eget, elementum et neque. Integer tempus eros non turpis vestibulum elementum. Fusce non urna ipsum. Suspendisse pretium lobortis elit, eu pellentesque tellus. Pellentesque nec pretium nulla, quis sollicitudin libero. Morbi finibus enim leo, fringilla mollis ligula consequat sit amet.
      details
        summary Coconut
        div
          p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
      details
        summary Lychee
        div
          p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
          p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
  div
    p
      code .tabs > .tabs
    .tabs
      details
        summary Quince
        div
          .tabs
            details
              summary Tangerine
              div
                p Nulla fermentum tempus massa vel facilisis. Cras nec nisi mattis, vestibulum orci quis, mattis sem. Sed posuere orci at metus eleifend, sed mollis magna convallis. Aenean blandit est nec sodales vulputate. Nullam massa ex, luctus sed orci convallis, rhoncus venenatis felis. Sed eget nunc eget velit facilisis lacinia. Nunc arcu elit, facilisis eget nisi sed, maximus consequat odio. Suspendisse sit amet dictum ex. Nunc eu suscipit felis.
            details
              summary Pineapple
              div
                p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
            details
              summary Blackcurrant
              div
                p In eleifend placerat mi. Suspendisse semper suscipit tortor sed efficitur. Aliquam nulla sem, volutpat luctus mauris elementum, lobortis ultricies dui. Nam sit amet nisi eu nibh gravida elementum at quis nibh. Nam pretium elit ut vulputate cursus.
      details
        summary Watermelon
        div
          .tabs
            details
              summary Blackberry
              div
                p Duis vitae pellentesque leo, ut semper lorem. Nulla massa lorem, venenatis pretium venenatis vitae, dignissim eu orci. Morbi rutrum arcu ac tellus bibendum, sed placerat ipsum vehicula. Phasellus rhoncus luctus nulla, sed venenatis nisl accumsan vel. Curabitur in sapien lectus. Duis dictum massa ac mauris rhoncus rutrum.
            details
              summary Kiwi
              div
                p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
            details
              summary Strawberry
              div
                p Donec a ex sagittis, ultricies dui feugiat, posuere nunc. Morbi tempus dolor turpis, eu ullamcorper nunc pharetra at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed volutpat magna sed varius tincidunt. Nunc metus nisl, mollis non nibh vel, imperdiet tristique nibh.
      details
        summary Pomegranate
        div
          p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin eget magna metus. Etiam et feugiat lectus. Proin augue quam, fringilla vitae urna venenatis, placerat vulputate leo. Aenean vel justo lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dignissim quam tempus nisi auctor ultrices. Morbi bibendum, nunc et semper dictum, lorem quam laoreet neque, vitae maximus metus eros pretium orci. Suspendisse potenti. Donec efficitur nisi sit amet magna pulvinar mollis. Etiam vulputate odio eget mattis finibus. Nunc ac auctor leo, sed dignissim eros.
          p Cras dignissim pharetra lorem. Cras ullamcorper rutrum lorem ac porta. Cras urna lorem, vestibulum eget lacinia eget, elementum et neque. Integer tempus eros non turpis vestibulum elementum. Fusce non urna ipsum. Suspendisse pretium lobortis elit, eu pellentesque tellus. Pellentesque nec pretium nulla, quis sollicitudin libero. Morbi finibus enim leo, fringilla mollis ligula consequat sit amet.
