.column2.vertical-gap
  div
    p
      code .add-drop-cap p
    .add-drop-cap
      p Lorem ipsum dolor sit amet, consetetur 
        ins sadipscing elitr
        |  
        code ins
        | , sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Stet clita kasd gubergren, 
        s no sea takimata sanctus
        |  
        code s
        |  est Lorem ipsum 
        del dolor sit amet
        |  
        code del
        | .
      p
        | At vero eos et accusam et justo duo dolores et ea rebum. 
        strong Stet clita kasd gubergren
        |  
        code strong
        |, no sea takimata sanctus est. Lorem ipsum dolor sit amet,
        |  
        small consetetur
        |  
        code small
        |  
        | sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  .links
    p
      code .links a 
      //@todo .add-tooltips a
    p
      | Nam liber tempor cum 
      a(href='/', title='Viewing the title in a tooltip.') soluta nobis
      |  eleifend option congue nihil imperdiet doming id 
      a(href='/', title='Demo link with a title.') quod mazim placerat
      |  facer possim assum. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
      a(href='/' title='Internal link') ullamcorper suscipit
      |  lobortis nisl ut aliquip ex ea 
      a(href='https://developer.mozilla.org' title='External link') commodo consequat
      |.
    p
      | Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
      em Stet clita kasd gubergren
      |  
      code em
      | , no sea takimata sanctus est. 
      mark Lorem ipsum dolor sit amet
      |  
      code mark
      |, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  .blockquote
    p
      code .blockquote blockquote
    blockquote(cite='https://developer.mozilla.org')
      p Nunc lacinia libero eu rhoncus ultricies. Nulla condimentum nunc eget metus imperdiet convallis. Cras et efficitur ex, sed dictum nisl. Pellentesque mattis enim in metus tincidunt suscipit. Integer pharetra feugiat auctor.
      p Phasellus id massa ut diam lacinia condimentum sit amet at sem. Vestibulum molestie est sed elementum tincidunt. Curabitur id magna enim. Phasellus aliquam sapien in leo vulputate, ut gravida diam fermentum.
    p
      code .blockquote blockquote footer
    blockquote(cite='https://developer.mozilla.org')
      p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
      footer
        | Information produced by 
        cite Name
    p
      code sup
      |  
      code sub
    p
      var E
      | =
      var mc
        sup 2
      |  ; 
      var a
      |  + 
      var b
        sub 2
      | .
  div
    p
      code .protected
    p.protected Nunc lacinia libero eu rhoncus ultricies. Nulla condimentum nunc eget metus imperdiet convallis. Cras et efficitur ex, sed dictum nisl. Pellentesque mattis enim in metus tincidunt suscipit. Integer pharetra feugiat auctor. Phasellus id massa ut diam lacinia condimentum sit amet at sem. Vestibulum molestie est sed elementum tincidunt. Curabitur id magna enim. Phasellus aliquam sapien in leo vulputate, ut gravida diam fermentum.
  div
    p
      code h1
      |  
      code .h1
    h2.h1 Scriptura heading. Mauris nec dolor tincidunt, mattis elit in, condimentum sem. Mauris augue metus, fringilla non viverra ut, lacinia quis mauris.
  div
    p
      code h2
      |  
      code .h2
    h2.h2 Scriptura heading. Mauris nec dolor tincidunt, mattis elit in, condimentum sem. Mauris augue metus, fringilla non viverra ut, lacinia quis mauris.
  div
    p
      code h3
      |  
      code .h3
    h2.h3 Scriptura heading. Mauris nec dolor tincidunt, mattis elit in, condimentum sem. Mauris augue metus, fringilla non viverra ut, lacinia quis mauris.
  div
    p
      code h4
      |  
      code .h4
  div
    h2.h4 Scriptura heading. Mauris nec dolor tincidunt, mattis elit in, condimentum sem. Mauris augue metus, fringilla non viverra ut, lacinia quis mauris.
    p
      code h5
      |  
      code .h5
  div
    h2.h5 Scriptura heading. Mauris nec dolor tincidunt, mattis elit in, condimentum sem. Mauris augue metus, fringilla non viverra ut, lacinia quis mauris.
    p
      code h6
      |  
      code .h6
    h2.h6 Scriptura heading. Mauris nec dolor tincidunt, mattis elit in, condimentum sem. Mauris augue metus, fringilla non viverra ut, lacinia quis mauris.
  p
    code hr
  hr
  p
    code hr(data-hr='✻ ✻ ✻')
  hr(data-hr='✻ ✻ ✻')
  p
    code hr(data-hr='✢ ✢ ✢')
  hr(data-hr='✢ ✢ ✢')
  p
    code hr(data-hr='★ ★ ★')
  hr(data-hr='★ ★ ★')
hr(data-hr='✻ ✻ ✻')
h2 Rendering test for a print
.grid-auto.gap
  div
    p
      code .cmd-print
    button.round-button.scale150.cmd-print(type='button' aria-label='Print Stylesheet')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#print')
  div
    p.message Pour une simulation plus concrète de l'impression nous vous conseillons de tester cette fonctionnalité 
      a(href='/page/article.html') à partir de notre aticle de démonstration
      | .
