_accordionColor1 = _colorG + 7% //_color2
_accordionColor2 = _color2 //_color5
_accordionColor3 = rgba(255, 255, 255, .1)
_accordionTime1 = .5s

.accordion
  display flex
  flex-direction column
  gap .5em 0
  & > * > :first-child
    box-sizing border-box
    display flex
    align-items center
    width 100%
    //height 3rem
    line-height 1 // @note Solution permettant d'harmoniser le rendu entre les éléments details/summary et les éléments remplacés.
    padding .75em 1em
    color _colorT
    background-color _accordionColor1
    border none
    border-radius _r2
    box-shadow 0 1rem 1rem rgba(0, 0, 0, .1)
    cursor pointer
    outline none
    &:focus-within
    &:hover
      outline none
      //animation animAccordion .1s ease-in-out
    &::after
      content '\2039'
      //content url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path></svg>')
      margin-left auto
      font-weight bold
      font-size 1.5em
  & .accordion-summary::after
    transition transform _accordionTime1 ease-in-out // @note Sprécifique aux éléments remplacés.
  & > * > :last-child
    overflow hidden
    padding 0 1em
    background-color _color1
    //border 1px solid _accordionColor3
    //border-top none
    border-radius 'calc(%s + 1px)' % _r2 // Compense le décalage de la "bordure" en box-shadow inset.
    box-shadow 0 1rem 1rem rgba(0, 0, 0, .1), inset 0 -1px 0 1px _accordionColor3
    transition max-height _accordionTime1 ease-in-out
    &[aria-hidden=true] // @note Cette spécificité empêche le lancement d'une animation au chargement de la page via le JS.
      max-height 0
      //border-color transparent // @note "Efface" la bordure, sinon elle apparait encore lorsque le panneau est fermé.
      //transition max-height _accordionTime1 ease-in-out, border-color _accordionTime1 cubic-bezier(1, 0, 1, 0) // @note "Efface" la bordure au dernier moment, avant la fermeture du panneau ; mais oblige aussi à répéter la propriété max-height sinon écrasement de cette propriété.
  & > details[open] summary::after
  & .open .accordion-summary::after
    transform rotate(-90deg)

@media (hover hover) and (pointer fine)

  .accordion > * > :first-child
    &:focus-visible
    &:hover
    &:active
      background-color _accordionColor2
    &:focus-within
    &:hover
      background-color _accordionColor2
      box-shadow _shadow15
      animation animAccordion .1s ease-in-out

@keyframes animAccordion
  to
    transform scale(1.01) translateZ(0)
