_accordionColor1 = _colorG + 7%
_accordionColor2 = _color2
_accordionColor3 = rgba(255, 255, 255, .1)
_accordionTime1 = .5s

.accordion
  display: flex
  flex-direction: column
  gap: .5em
  & > * > :first-child
    overflow: hidden // @note En test. @todo À réévaluer.
    white-space: nowrap // @note En test. @todo À réévaluer.
    //text-overflow: ellipsis
    box-sizing: border-box
    display: flex
    align-items: center
    width: 100%
    line-height: 1 // @note Solution permettant d'harmoniser le rendu entre les éléments details/summary et les éléments remplacés.
    padding: .75em 1em
    color: _colorT
    background-color: _accordionColor1
    border: none
    border-radius: _r2
    box-shadow: _shadow17
    cursor: pointer
    outline: none
    &:focus-within
    &:hover
      outline: none
    &::after
      content: '\2039'
      margin-left: auto
      font-weight: bold
      font-size: 1.5em
    & svg
      margin-right: 1em
  & > * > summary::before
    all: unset
  & .accordion-summary::after
    transition: transform _accordionTime1 ease-in-out // @note Sprécifique aux éléments remplacés.
  & > * > :last-child
    overflow: hidden
    padding: 0 1em
    background-color: _color1
    border-radius: 'calc(%s + 1px)' % _r2 // Compense le décalage de la "bordure" en box-shadow inset.
    box-shadow: _shadow17, inset 0 -1px 0 1px _accordionColor3
    transition: max-height _accordionTime1 ease-in-out
    &[aria-hidden=true]
      max-height: 0
  & > details
    all: unset
  & > details[open] summary::after
  & [data-open=true] .accordion-summary::after
    transform: rotate(-90deg)
  @media (hover: hover) and (pointer: fine)
    & > * > :first-child
      &:focus-visible
      &:hover
      &:active
        background-color: _accordionColor2
      &:focus-within
      &:hover
        background-color: _accordionColor2
        box-shadow: _shadow15
        animation: anim-accordion .1s ease-in-out

@keyframes anim-accordion
  to
    transform: scale(1.01) translateZ(0)
