.alert
  & .wrap
    --color: #222 //currentColor
    --color-link: _colorT2
    --bg-color: _color5 + 30%
    --icon-size: 3em
    display: grid
    grid-template-columns: minmax(_gap, 1fr) minmax(0, _wrap) minmax(_gap, 1fr)
    padding-block: 1em
    color: var(--color)
    background-color: var(--bg-color)
    box-shadow: _shadow5
    & > *
      grid-column: 2 / 3
  & .mm
    display: grid
    grid-template-columns: var(--icon-size) minmax(0, 1fr)
    gap: _gap
    & .icon
      width: var(--icon-size)
      height: var(--icon-size)
      margin: auto
      padding: .75em
      fill: var(--bg-color)
      background-color: currentcolor
      clip-path: circle(50%)
  & #gdpr-see .mm
    margin-bottom: 1em