_articleColor1 = _colorG
_articleColor2 = _colorG + 27.5%
_articleColor3 = _colorG - 10%
_articleHeight1 = 4em

.article
  display: grid
  grid-template-columns: minmax(0, 60em) minmax(0, 1fr)
  gap: _gap 0
  & > header
    grid-column: span 2
  & h1
    margin-bottom: .44em // @note Compense de manière "artisanale" le gap entre header et .wrapper @todo À revoir.
  @media (max-width: _sizeXS)
    & .wrapper
      margin-top: - _gap
    & article
      padding-block: 1em
  //& > :not(header)
  & > .wrapper
  & > article
  & > form
    grid-column: 1
    max-width: 55em
    @media (min-width: _sizeXS)
      border-radius: _r2
      box-shadow: _shadow8
    @media (min-width: _sizeXS) and (max-width: _sizeS)
      padding: 2.5em 4em
    @media (min-width: _sizeS)
      padding: 4em 6em
      &:nth-child(odd)
        margin-left: auto
      &:nth-child(even)
        margin-right: auto
      // @note Sur 3 rangées (minmax de topic à 65em), résultat non satisfaisant : impression visuelle d'un désordre.
      /*
      &:nth-child(4n+2)
        margin-left: 0
      &:nth-child(4n+3)
        margin-inline: auto
      &:nth-child(4n+4)
        margin-left: auto
      &:nth-child(4n+5)
        margin-inline: auto
      */
  & .sub-header
  & article header
    display: grid
    grid-template-columns: 3.5em minmax(0,1fr)
    grid-template-areas: 'aa tt' 'aa uu'
  & article header
    position: relative
    margin-bottom: 1em
    padding-bottom: 1em
    border-bottom: .1em solid _colorG + 5%
  & .sub-header
    margin-block: 2em 1em
  & article
    position: relative
  & form
    width: 100%
  & .avatar
    grid-area: aa
    --img: ''
    width: 3em
    aspect-ratio: 1
    background: #222 var(--img)
    background-size: cover
    border-radius: 50%
  & address
    grid-area: tt
    font-style: normal
    font-weight: bold
    font-variant: small-caps
    & a
      text-decoration: none
      //&:where(:focus, :hover, :active)
      //  text-decoration: underline
  & time
    grid-area: uu
  & .keywords
    list-style: none
    display: flex
    flex-wrap: wrap
    gap: (_gap / 2) (_gap / 2)
    margin-block: .75em 0
    padding-left: 0
    font-size: .8em
    & > :last-child
      margin-right: 0
    & li
      margin-bottom: .75em
      //filter: drop-shadow(_shadow8)
    & a
      padding: .25em .5em .25em 1.25em
      text-decoration: none
      white-space: nowrap
      background-color: _colorG - 28%
      clip-path: polygon(.75em 0, 100% 0, 100% 100%, .75em 100%, 0 50%)
  & .anchor
    position: absolute
    right: 0
    bottom: 1em
    color: _articleColor2
    &:where(:focus, :hover, :active)
      text-decoration: none
      color: _color5
  & > footer
    grid-column: 1
    display: flex
    justify-content: flex-end
    gap: _gap
    max-width: 55em
    @media (min-width: _sizeXS) and (max-width: _sizeS)
      padding-inline: 4em
    @media (min-width: _sizeS)
      padding-inline: 6em

@media (min-width: _sizeXS)
  .boxx
    padding: 4em 6em
    border-radius: _r2
    box-shadow: _shadow8

main > article > footer
    grid-column: 1
    display: flex
    justify-content: flex-end
    gap: _gap
