_breadcrumbSize = 2.5em
_breadcrumbColor = _colorT2
_breadcrumbColor1 = _colorG - 34%
_breadcrumbColor2 = _color2
//_breadcrumbColor3 = _color5

.breadcrumb
  display flex
  margin 0
  padding 0 3em 0 0
  background-color _breadcrumbColor1
  & li
    list-style none
    filter drop-shadow(_shadow4)
    overflow hidden
    & a
      &:focus
      &:hover
      &:active
        color #fff
        background-color _breadcrumbColor2
  & li:nth-last-child(3)
    z-index 2
    flex-shrink 0
  & li:nth-last-child(2)
    z-index 1
    flex-shrink 0
  & li:last-child div
      color _colorT
  & li > *
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    position relative
    display block
    line-height unit(_breadcrumbSize, '')
    padding 0 ceil(_breadcrumbSize * .75, 2)
    text-decoration none
    background-size cover
    background-repeat no-repeat
    color _breadcrumbColor
    background-color _breadcrumbColor1
    transition background-color .3s ease-in-out
    clip-path polygon(0 0, calc(100% - 1em) 0, 100% 50%, calc(100% - 1em) 100%, 0 100%)
  & li:first-child > *
    padding-left 1em
  & li + li
    margin-left -1em

@media (max-width _sizeXS)

  .breadcrumb > :nth-last-child(3) // @note Ne pas mettre :first-child, il faut penser à la page index.
    display none
