//_buttonColor1 = _color2
_buttonColor2 = _color2
_buttonColor3 =  _color2
_buttonColor4 = _color5

// @note Toujours privilégier l'élément <button> sur l'élément <input type=button> car il permet de réaliser des rendus plus complexe en acceptant des balises html.

//[class*=button] // @deprecated Espace de nom trop généraliste. Conflits avec les styles de certaines classes de plugins tels que Leaflet.
.button
.round-button
  all: unset
  --color: _colorT
  --bg-color: _buttonColor2
  --bg-color2: rgba(0, 0, 0, .1)
  overflow: hidden
  position: relative
  color: var(--color)
  box-shadow: _shadow6
  transition: all .2s linear
  transition-property: translate, box-shadow
  user-select: none
  cursor: pointer
  //background-color: var(--button-bg-color, _buttonColor2)
  &:focus-visible
  &:hover
    box-shadow: _shadow6
    transform: translateY(-.1rem) // @note En rem car ne dépend pas de la taille du bouton.
    &::after
      transform: scaleX(1)
      transform-origin: left center
  &:focus-visible::before
    background-color: _buttonColor4
  &:active
    box-shadow: _shadow7
    transform: translateY(.05em) // @note En em car dépend de la taille du bouton.
  &::before
  &::after
    content: ''
    position: absolute
    inset: 0
  &::before
    z-index: -2
    background-color: var(--bg-color)
  &::after
    z-index: -1
    background-color: var(--bg-color2)
    transform: scaleX(0)
    transform-origin: left center
    transition: transform 0.4s
  &:disabled
  &[disabled]
    box-shadow: _shadow6
    transform: none
    &::before
      background-color: _colorG
    &::after
      content: none

.button
  padding: .5em 1em
  line-height: 2
  white-space: nowrap
  text-overflow: ellipsis
  border-radius: _r2

.round-button
  display: grid
  height: 4em
  width: 4em
  border-width: .25em
  border-radius: 50%
  & svg
    height: 1.5em
    width: 1.5em
    margin: auto
    //padding 0
  &::before
    border-radius: 50%
  & + .round-button-test
    margin-left: .5em // @note Espace entre deux bouttons déclarés en inline-block.

.button2
  --color: _colorG + 20%
  all: unset
  width: 3em
  aspect-ratio: 1
  display: grid
  place-items center
  color: var(--color)
  border: .15em dotted var(--color)
  border-radius: 50%
  box-shadow: _shadow8
  cursor: pointer
  transition: transform .5s
  &:focus
  &:hover
  &:active
    --color: _color5
    transform: rotate(360deg)
