/* @note Toujours privilégier l'élément HTML <button> sur l'élément <input type=button> car il permet de réaliser des rendus plus complexe en acceptant des éléments enfants. */

.button,
.round-button {
  /* [class*=button] @deprecated Espace de nom trop généraliste. Conflits avec les styles de certaines classes de plugins tels que Leaflet. */
  all: unset;
  --color: var(--colorT);
  --bg-color: var(--color2);
  --bg-color2: var(--colorAB1);
  overflow: hidden;
  position: relative;
  color: var(--color);
  box-shadow: var(--shadow2);
  transition: all 0.2s linear;
  transition-property: translate, box-shadow;
  user-select: none;
  cursor: pointer;

  &:where(:focus-visible, :hover) {
    box-shadow: var(--shadow2);
    /* @note En rem car ne dépend pas de la taille du bouton. */
    transform: translateY(-0.1rem);
  }

  &:focus-visible::after,
  &:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
  }

  &:focus-visible::before {
    background-color: var(--color5);
  }

  &:active {
    box-shadow: inset 0 0 0.1em var(--colorAB3);
    /* @note En em car dépend de la taille du bouton. */
    transform: translateY(0.05em);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  &::before {
    z-index: -2;
    background-color: var(--bg-color);
  }

  &::after {
    z-index: -1;
    background-color: var(--bg-color2);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.4s;
  }

  &:disabled {
    /* &[disabled] */
    box-shadow: var(--shadow2);
    transform: none;
    cursor: default;
    /* pointer-events: none; */

    &::before {
      background-color: var(--color1);
    }

    &::after {
      content: none;
    }
  }
}

.button {
  padding: 0.5em 1em;
  line-height: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 0.3em;
}

.round-button {
  display: grid;
  height: 4em;
  width: 4em;
  border-width: 0.25em;
  border-radius: 50%;

  & svg {
    height: 1.5em;
    width: 1.5em;
    margin: auto;
  }

  &::before {
    border-radius: 50%;
  }
}

.button2 {
  --color: var(--colorG38);
  all: unset;
  width: 3em;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: var(--color);
  border: var(--border-width, 0.15em) dotted var(--color);
  border-radius: 50%;
  box-shadow: var(--shadow3);
  cursor: pointer;
  transition: transform 0.5s;

  &:where(:focus, :hover, :active) {
    --color: var(--color5);
    transform: rotate(360deg);
  }
}
