_buttonsColor1 = _color2
_buttonsColor2 = _color2 //rgba(205, 133, 63, .5) // peru
_buttonsColor3 =  _color2 //sienna
_buttonsColor4 = _color5

// @note Toujours privilégier l'élément <button> sur l'élément <input type=button> car il permet de réaliser des rendus plus complexe en acceptant des balises html.

//[class*=button] // @deprecated Conflits avec les styles certaines classes de plugins tels que Leaflet.
.button
.round-button
  //font-size 1em // @note Modifiez la taille des bouttons avec la classe utilitaire .zoom
  color _colorT
  background-color _buttonsColor3
  border .5em solid _buttonsColor2
  box-shadow _shadow6
  transition all .2s linear
  transition-property translate box-shadow
  outline 0
  user-select none
  //&:focus
  &:focus-visible
  &:hover
    box-shadow _shadow6
    transform translateY(-.1rem) // en rem, ne dépend pas de la taille du bouton
  &:active
    box-shadow _shadow7
    transform translateY(.05em) // en em, dépend de la taille du bouton
  &:focus-visible
    border-color _buttonsColor4

.button
  padding 0 1em
  line-height 2
  white-space nowrap
  text-overflow ellipsis
  //color lighten(_buttonsColor2, 50)
  border-radius .5em //_r4

.round-button
  display flex
  padding .3em
  color rgba(233, 218, 197, .5)
  border-width .25em
  border-radius 50%
  &::before
    content ''
    display inline-block
    vertical-align middle
    padding-top 100%
  & *
    margin auto
  & svg
    height 1em
    width 1em
