.calendar-color
  vertical-align sub
  display inline-block
  height 1.3em
  width 1.3em
  margin-right .5em
  //background-color #777

.calendar-white
  background-color #ffffff

.calendar-green
  background-color #008000 // green

.calendar-red
  background-color #d40000 //#ff0000 // #bf2329

.calendar-purple
  background-color #800080 // #9f15a7

.calendar-pink
  background-color #ff69b4 // hotpink

.calendar-black
  background-color #000000

//.calendar-gold
//  background-color #ffd700
