@use 'variable' as *;

.card {
  & h2,
  & p {
    margin: 0;
    padding: 2rem;
    background-color: var(--colorG27);
    box-shadow: var(--shadow3);
  }

  & h2 {
    margin-block-end: 0;
    text-align: center;
    border-radius: 0.5rem 0.5rem 2px 2px;

    & span {
      color: var(--color2);
    }
  }

  & p {
    margin-block-start: 0;
    border-radius: 2px 2px 0.5rem 0.5rem;
  }
  
  & > a svg {
    display: block;
    width: calc(100% - 4px);
    height: 8em;
    margin: 0 auto;
    padding: 1em 0;
    color: var(--colorT);
    background-color: var(--colorG27);
    box-shadow: var(--shadow3);
  }
  
  & svg {
    transition: background-color 0.5s, color 0.5s;
  }

  &:focus-within svg,
  &:hover svg,
  & svg:hover {
    color: var(--colorW);
    background-color: var(--color2);
  }

  /*
  &:hover svg:hover {
    background-color: var(--color5);
  }
  */
}

.user-def {
  display: grid;
  grid-template-columns: 3.5em minmax(0, 1fr);
  grid-template-areas: 'aa tt' 'aa uu';

  & .avatar {
    grid-area: aa;
    width: 3em;
    aspect-ratio: 1;
    background: var(--colorG13) var(--img, '');
    background-size: cover;
    border-radius: 50%;
  }

  & address {
    grid-area: tt;
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
  }

  & address a {
    text-decoration: none;
  }

  & time {
    grid-area: uu;
  }
}
