_cardColor1 = _colorT
_cardColor2 = _colorG + 7%
_cardColor3 = _colorG + 7% //_color6 - 7%
_cardColor4 = _color2
_cardColor5 = _colorW
_cardR1 = .5rem // @note [1] Mettre des unités fixes en raison de la nature différentes des éléments
_cardR2 = 2px // Idem [1]

.card
  & h2
  & p
    margin: 0
    padding: 2rem // @note Idem [1]
    background-color: _cardColor2
    box-shadow: _shadow8
  & h2
    margin-bottom: 0
    text-align: center
    border-radius: _cardR1 _cardR1 _cardR2 _cardR2
    & span
      color: _color2
  & p
    margin-top: 0
    border-radius: _cardR2 _cardR2 _cardR1 _cardR1
  & > a svg
    display: block
    width: 'calc(100% - %s)' % (_cardR2 * 2)
    height: 8em
    margin: 0 auto
    padding: 1em 0
    color: _cardColor1
    background-color: _cardColor3
    box-shadow: _shadow8
  & svg
    transition: background-color .5s, color .5s
  &:hover svg
  & svg:hover
  &:focus-within svg
    color: _cardColor5
    background-color: _cardColor4
  &:hover svg:hover
    background-color: _color5
