_checkboxColor5 = rgba(255, 255, 255, .2)
_checkboxSize1 = 2px // @note Valeur en lien avec 'transform scale' sur le (pseudo-)élément.
_switchColor5 = rgba(255, 255, 255, .1)
_switchSize1 = 1.2em
_switchSize2 = 3px

.checkbox
  position absolute // @note Label des éléments frères décalés si déclaration en relatif.
  left -200vw
  & + label // @bugfix @affected Firefox @note Les pseudos éléments doivent impérativement partir du label et non des éléments checkbox et radio.
    position relative
    vertical-align middle
    display inline-block // @note Évite un clique involontaire de l'utilisateur sur un label doté d'un 'width100%' si définition 'block'.
    margin-left 2em
    cursor pointer
    &::before
      content ''
      display block
      position absolute
      top .1em
      left -1.8em
      width 1em
      height 1em
      box-sizing border-box // @note Nécessité de spécifier cette règle malgré sa déclaration en globale
      background-color _colorG - 30%
      border .1em solid _colorG
      outline 0 // @todo Règle à vérifier
      box-shadow inset 0 .1em .3em rgba(0, 0, 0, .3)
      border-radius 0
      cursor pointer
      transition all .2s
      transform scale(1.4)
    &::after
      content '' //'✔'
      position absolute
      top 0 // @note Fixe le pseudo-élément si label sur plusieurs lignes.
      left -1.8em
      width 1em
      height 1em
      background-color _color2
      clip-path polygon(17% 40%, 0 57%, 39% 100%, 100% 25%, 83% 10%, 38% 64%)
      transform scale(0)
      transition transform .2s

.checkbox:checked + label::after
  transform scale(1.3)

[type=radio].checkbox + label::after
  top .1em // @note Fixe le pseudo-élément si label sur plusieurs lignes.
  left -1.8em
  clip-path circle(50% at 50% 50%)

[type=radio].checkbox:checked + label::before
  border-color _color2

.checkbox:focus-visible + label::before
[type=radio].checkbox:focus-visible + label::before
  border .1rem solid _color5

[type=radio].checkbox:checked + label::after
  transform scale(.7)

[type=radio].checkbox + label::before
  border-radius 50%

.checkbox:disabled + label
  color #777
  cursor not-allowed

.checkbox:disabled + label::before
  cursor not-allowed
  background _formsColor1 repeating-linear-gradient(-45deg, transparent 0 _checkboxSize1, #555 _checkboxSize1 _checkboxSize1 * 2)


// @subsection Switchs
// -----------------------------------------------------------------------------
// @note Adaptation d'un tutoriel @see  http://www.creativejuiz.fr/

.switch
  //box-sizing border-box
  position absolute // @note Label des éléments frères décalés si déclaration en relatif
  left -200vw
  & + label
    position relative
    display inline-block // @note Évite une action involontaire de l'utilisateur sur un clic car le label prend la règle 'width:100%' si 'display:block'
    //margin-top 1em
    padding-left 'calc(%s + 1rem)' % (_switchSize1 * 2) // @note L'unité rem évite des marges trop importantes avec la classe utilitaire .zoom
    &::before
    &::after
      content ''
      position absolute
      //top -.5em
      left 0
      border-radius .2em
    &::before
      height _switchSize1
      width _switchSize1 * 2
      background-color _colorG - 30%
      border .1em solid transparent
      box-shadow inset 0 .2em .5em rgba(0, 0, 0, .2)
    &::after
      display flex
      align-items center
      justify-content center
      width _switchSize1
      height _switchSize1
      background-color _color2
      box-shadow 0 .2em .5em rgba(0, 0, 0, .3)
      transition left .2s
  &:focus-visible + label::before
    border-color _color5
  &[type=radio] + label::before
    border-radius 1em
  &[type=radio] + label::after
    border-radius 50%
  &:disabled + label
    position relative
    color #777
    cursor not-allowed
    &::before
    &::after
      background-image repeating-linear-gradient(-45deg, _switchColor5 0 _switchSize2, _switchColor5 0, transparent 0, transparent _switchSize2 * 2)
    &::after
      background-color _colorG
  &:not(:checked) + label::after
  &:checked + label::after
    position absolute
    z-index 10
    top 0 // @note Fixe le pseudo-élément si label sur plusieurs lignes.
    color rgba(255, 255, 255, .5)
  &:not(:checked) + label::after
    content attr(data-off)
    left 0
  &:checked + label::after
    content attr(data-on)
    left _switchSize1
