// @bug @affected Chrome @note Nombreux bugs : éléments html ou effets d'ombre tronqués s'ils dépassent des colonnes, drop-shadow utilisé sur des éléments internes aux colonnes créé des artefacts.

[class^=column]
  column-gap 0
  position relative

[class^=column] > *
  display inline-block
  width 100%
  word-wrap break-word // @note Alias de overflow-wrap @see https://developer.mozilla.org/fr/docs/Web/CSS/overflow-wrap

@media (max-width _sizeXS)

  .sizeXS-column2
    column-count 2

@media (min-width _sizeXS)

  .column2
  .column3
  .column4
    column-count 2

  .column5
  .column6
    column-count 3

@media (min-width _sizeS)

  .column3
  .column4
    column-count 3

  .column5
  .column6
    column-count 4

@media (min-width _sizeL)

  .column4
    column-count 4

  .column5
    column-count 5

  .column6
    column-count 6

[class^=column].gap
  column-gap _gap

[class^=column].gap > :not(hr) // @todo En test... // [class^=column].gap > *
  margin-bottom _gap

//[class^=column].vertical-gap
//  column-gap _gap
