// @bug @affected Chrome @note Nombreux bugs : éléments html ou effets d'ombre tronqués s'ils dépassent des colonnes, drop-shadow utilisé sur des éléments internes aux colonnes créé des artefacts.

[class^=column]
  column-gap: 0
  position: relative
  & > *
    display: inline-block
    width: 100%
    break-inside: avoid-column // @note Évite aux items enfants de column d'être éventuellement coupés en deux. @see https://stackoverflow.com/questions/7785374
    word-wrap: break-word // @note Alias de overflow-wrap @see https://developer.mozilla.org/fr/docs/Web/CSS/overflow-wrap
  &.gap
    column-gap: _gap
    margin-bottom: - _gap // @note À l'inverse de grid layout, le module columns a besoin des marges pour bien s'implémenter.
  &.gap > *
    margin-bottom: _gap // @note Idem
  &.gap-top
    margin-top: _gap // @note Idem
  &.gap-bottom
    margin-bottom: 0 // @note Idem
  &.gap-vertical
    gap: 0 _gap
    //column-gap: _gap

@media (max-width: _sizeXS)

  .sizeXS-column2
    column-count: 2

@media (min-width: _sizeXS)

  .column2
  .column3
  .column4
  .s-column2 // @note Est équivalent à .column2
    column-count: 2

  .column5
  .column6
    column-count: 3

@media (min-width: _sizeS)


  .column3
  .column4
    column-count: 3

  .column5
  .column6
    column-count: 4

  .m-column2
    column-count: 2

@media (min-width: _sizeL)

  .column4
    column-count: 4

  .column5
    column-count: 5

  .column6
    column-count: 6

  .l-column3
    column-count: 3
