_demoColor1 = _colorG + 7%
_demoColorDeg = 15
_demoColorDeviation = 10

[class*=demo-items]
  --itemHeight 2em
  & > *
    box-sizing border-box
    padding 1em
    background-color _demoColor1
    box-shadow _shadow5
    & code
      margin-left .2em
      background-color rgba(0, 0, 0, .2)

.demo-items-empty > *
  min-height var(--itemHeight)

.demo-item
  box-sizing border-box
  padding 1em
  background-color _demoColor1
  box-shadow _shadow5

.demo-items-color
  color: #333
  for _i in 1...15
    & > :nth-child({_i}n)
      _c = unit(_demoColorDeg, deg) + _i * _demoColorDeviation - _demoColorDeviation
      background-color: hsl(_c 100% 50%)
  & code
    background-color: #444

.demo-counter
  & > *
    counter-increment: div
  & > ::before
    content: counter(div) '.'
    display: inline
  & > * :first-child
    display: inline

.type-styleGuide
  & main > section
    @media (max-width: _sizeS)
      position: relative
      padding: 0
    @media (min-width: _sizeS)
      padding: 4em 6em
      box-shadow: _shadow8
    &.ribbon-content::before
      @media (max-width: _sizeS)
        content: ''
        position: absolute
        top: -.5em
        right: -.5em
        width: 100%
        max-width: 20em
        aspect-ratio: 1/1
        background-image: linear-gradient(-135deg, rgba(255, 255, 255, .05), transparent 50%)
        //background-size: 100% 100%
        background-repeat: no-repeat
        background-position: 100% 0%
        pointer-events: none
    & > .ribbon-top-right
      @media (max-width: _sizeS)
        transform: translate(2.85em, .9em) rotate(45deg) !important

//.type-styleGuide section:not(:first-child)
  //content-visibility: auto
  //contain-intrinsic-size: 1px 5000px

/*
body::after
  position: fixed
  z-index: 5000
  bottom: .3em
  right: .3em
  width: 3em
  height: 3em
  line-height: 3em
  text-align: center
  color: #fff
  background-color: orange
  border-radius: 50%
  content: 'XS'
  @media (min-width: _sizeS)
    content: 'S'
  @media (min-width: _sizeM)
    content: 'M'
  @media (min-width: _sizeL)
    content: 'L'
  @media (min-width: _sizeXL)
    content: 'XL'
  @media (min-width: _sizeXXL)
    content: 'XXL'
*/

_sizeT = 32.01em

.topic
  --img: url(/medias/images/uploads/dawid-zawila-w300.webp)
  position: relative
  display: grid
  grid-template-rows: repeat(2, auto)
  @media (max-width: _sizeT)
    grid-template-columns: minmax(0, 1fr)
    grid-template-areas: 'ttt' 'uuu'
  @media (min-width: _sizeT)
    grid-template-columns: 4em minmax(0, 1fr)
    grid-template-areas: 'aaa ttt' 'aaa uuu'
  gap: 0 _gap
  & > a // @note Permet à tout l'élément d'être cliquable (simulation d'imbrication des liens)
    position: absolute
    inset: 0
    z-index: 1
    &:focus
    &:hover
    &:active
      & ~ * h2 a
        text-decoration: underline
  & > * a // @note Rétablit le clique des liens de base.
    position: relative
    z-index: 3
  & .aaa
    grid-area: aaa
    @media (max-width: _sizeT)
      display: none
    @media (min-width: _sizeT)
      width: 3.5em
      aspect-ratio: 1
      margin: auto
      border-radius: 50%
      background: #222 var(--img)
      background-size: cover
  & > .ttt
    grid-area: ttt
    display: flex
    //flex-wrap: nowrap
    justify-content: space-between
    gap: 0 _gap
    & > *
      margin-bottom: .15em
    & p
      flex-shrink: 0
  & .uuu
    grid-area: uuu
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: baseline
    gap: 0 _gap
    & > *
      margin-top: .15em
    & > :last-child
      display: flex
      flex-wrap: wrap
      gap: (_gap / 2) (_gap / 2)
      font-size: .8em
      & a
        padding: .25em .5em .25em 1.25em
        white-space: nowrap
        background-color: #333
        clip-path: polygon(.75em 0, 100% 0, 100% 100%, .75em 100%, 0 50%)
  & h2
    //all: unset
    //font-variant: small-caps
    //font-weight: normal
    font-size: 1em
  &
    margin-block: .75em 0
