_demoColor1 = _colorG + 7%
_demoColorDeg = 15
_demoColorDeviation = 10

[class*=demo-items]
  --itemHeight 2em
  & > *
    box-sizing border-box
    padding 1em
    background-color _demoColor1
    box-shadow _shadow5
    & code
      margin-left .2em
      background-color rgba(0, 0, 0, .2)

.demo-items-empty > *
  min-height var(--itemHeight)

.demo-item
  box-sizing border-box
  padding 1em
  background-color _demoColor1
  box-shadow _shadow5
  &.ribbon-content
    min-height: 7.5em // @note Si ribbon, alors une hauteur minimum doit être présente sur les éléments parents vides.

.demo-items-color
  color: #333
  for _i in 1...15
    & > :nth-child({_i}n)
      _c = unit(_demoColorDeg, deg) + _i * _demoColorDeviation - _demoColorDeviation
      background-color: hsl(_c 100% 50%)
  & code
    background-color: #444

.demo-counter
  & > *
    counter-increment: div
  & > ::before
    content: counter(div) '.'
    display: inline
  & > * :first-child
    display: inline

.type-components .box2
  scroll-margin-block-start: 1em
  @media (max-width: _sizeS)
    position: relative
    padding: 0
  @media (min-width: _sizeS)
    padding: 4em 6em
    box-shadow: _shadow8
  &.ribbon-content::before
    @media (max-width: _sizeS)
      content: ''
      position: absolute
      top: -.5em
      right: -.5em
      width: 100%
      max-width: 20em
      aspect-ratio: 1/1
      background-image: linear-gradient(-135deg, rgba(255, 255, 255, .05), transparent 50%)
      //background-size: 100% 100%
      background-repeat: no-repeat
      background-position: 100% 0%
      pointer-events: none
  & > .ribbon-top-right
    @media (max-width: _sizeS)
      transform: translate(2.85em, .9em) rotate(45deg) !important

.demo-icons
  & ruby
    padding: 1em 0 .5em
    background-color: _colorG
    border-radius: _r2
    transition: all .3s ease-in-out
    &:hover
      background-color: _color2
      & *
        color: _colorW
  & svg
    font-size: 2em
  & rt
    font-size: .8em
    color: _colorG + 20%

//.type-components section:not(:first-child)
  //content-visibility: auto
  //contain-intrinsic-size: 1px 5000px

/*
body::after
  position: fixed
  z-index: 5000
  bottom: .3em
  right: .3em
  width: 3em
  height: 3em
  line-height: 3em
  text-align: center
  color: #fff
  background-color: orange
  border-radius: 50%
  content: 'XS'
  @media (min-width: _sizeS)
    content: 'S'
  @media (min-width: _sizeM)
    content: 'M'
  @media (min-width: _sizeL)
    content: 'L'
  @media (min-width: _sizeXL)
    content: 'XL'
  @media (min-width: _sizeXXL)
    content: 'XXL'
*/
