_demoColor1 = _colorG + 7%

[class*=demo-items]
  --itemHeight 2em
  & > *
    box-sizing border-box
    padding 0 .5em
    background-color _demoColor1
    box-shadow _shadow5
    & code
      margin-left .2em
      background-color rgba(0, 0, 0, .2)

.demo-items > *
  padding 1em

.demo-items-empty > *
  min-height var(--itemHeight)
  padding 1em

.demo-counter
  & > *
    counter-increment div
  & > ::before
    display inline
    content counter(div) '.'
  & > * :first-child
    display inline
