/* @note Les propriétés applicables au sélecteur ::first-letter varient d'un navigateur à l'autre ; la solution retenue pour l'instant est un wrapper en javascript 'span.dropcap' sur la première lettre. */

.add-drop-cap > p:first-child::first-letter {
  float: left;
  margin-inline-end: 0.2em;
  /* @todo Valeur spécifique à la font utilisée, à évaluer si changement de font. */
  padding: 0.28em 0.2em 0.12em;
  /* @affected Chrome. */
  line-height: 1;
  font-size: 3em;
  font-weight: bold;
  font-family: var(--font-list2);
  color: var(--color2);
  background-color: var(--colorA005);
  transform: translateY(0.05em);
  @supports (-moz-appearance:none) {
    margin-block-start: 0.05em;
    padding: 0.32em 0.2em 0.32em;
  }
}
