_dropCapSize1 = 3em
_dropCapSize2 = 5px
_dropCapColor1 = _color2
_dropCapColor2 = rgba(255, 255, 255, .05)

// @note Les propriétés applicables au sélecteur ::first-letter varient d'un navigateur à l'autre ; la solution retenue est un wrapper en javascript 'span.dropcap' sur la première lettre.

.drop-cap
.no-js .add-drop-cap > :not(*) + p:first-child::first-letter
  float left
  margin-right .2em
  padding .28em .2em .12em // .2em @todo Valeur spécifique à la font utilisée, à évaluer
  line-height 1
  font-size _dropCapSize1
  font-weight bold
  font-family _fontList2
  color _dropCapColor1
  background-color _dropCapColor2
  transform translateY(.05em)
  //clip-path polygon(0 .1em, .1em .1em, .1em 0, calc(100% - .1em) 0, calc(100% - .1em) .1em, 100% .1em, 100% calc(100% - .1em), calc(100% - .1em) calc(100% - .1em), calc(100% - .1em) 100%, .1em 100%, .1em calc(100% - .1em), 0 calc(100% - .1em))
  //clip-path polygon(0 0, 40% 0, 40% 10%, 60% 10%, 60% 0, 100% 0, 100% 40%, 90% 40%, 90% 60%, 100% 60%, 100% 100%, 60% 100%, 60% 90%, 40% 90%, 40% 100%, 0 100%, 0 60%, 10% 60%, 10% 40%, 0 40%)
