_fontFileR = notoSans-Regular

if _fontName and _fontFileR
  @font-face
    font-family _fontName
    src url('../fonts/' _fontFileR '.woff2') format('woff2'),
        url('../fonts/' _fontFileR '.woff') format('woff')
    font-weight normal
    font-style normal
    font-display swap // @see https://css-tricks.com/almanac/properties/f/font-display/

_fontFile2R = notoSerif-Regular

if _fontName2 and _fontFile2R
  @font-face
    font-family _fontName2
    src url('../fonts/' _fontFile2R '.woff2') format('woff2'),
      url('../fonts/' _fontFile2R '.woff') format('woff')
    font-weight normal
    font-style normal
    font-display swap // @see https://css-tricks.com/almanac/properties/f/font-display/
