@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notoSans-Regular.woff2') format('woff2'),
       url('../fonts/notoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* @see https://css-tricks.com/almanac/properties/f/font-display/ */
}

@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/notoSerif-Regular.woff2') format('woff2'),
       url('../fonts/notoSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
