.footer {
  padding: 0 1em;
  color: var(--colorT2);
  background-color: var(--colorG15);

  & a {
    color: var(--colorT);
    text-decoration: none;

    &:where(:focus, :hover, :active) {
      text-decoration: underline;
    }
  }

  & .wrap {
    display: flex;
    max-width: 92em;
    margin: 0 auto;

    & > :first-child {
      display: flex;
      align-items: center;
    }
  }

  & .logo,
  & .logo svg {
    width: 2em;
    height: 2em;
  }

  & .logo {
    margin-inline-end: 1em;
  }

  & .wrap > :nth-child(2) {
    text-align: center;
  }
}

@media (width < $sizeXS) {
  .footer .wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1;
    padding: 1em;
  }
}

@media (width > $sizeXS) {
  .footer .wrap {
    justify-content: space-between;
    align-items: center;
  }
}
