_forumSize = 35.01em

.forum
  all: unset
  display: grid
  grid-template-columns: minmax(0, 1fr)
  gap: _gap

.topic-item
  position: relative
  display: grid
  grid-template-rows: repeat(2, auto)
  padding-inline: 1em
  background-color: _colorG + 3% // 7%
  border-radius: _r2
  box-shadow: _shadow5
  gap: 0 _gap
  @media (max-width: _forumSize)
    grid-template-columns: minmax(0, 1fr) 2em
    grid-template-areas: 'ttt ttt' 'uuu aaa'
  @media (min-width: _forumSize)
    grid-template-columns: 4em minmax(0, 1fr)
    grid-template-areas: 'aaa ttt' 'aaa uuu'
  & .topic-link // @note Permet à tout l'élément d'être cliquable (simulation d'imbrication des liens)
    position: absolute
    inset: 0
    z-index: 1
    //&:focus // @note Pas de focus car tabindex='-1'
    &:hover
    &:active
      & + * h2 a
        color: _color5
        text-decoration: underline
  & > * a // @note Rétablit le clique des liens de base.
    position: relative
    z-index: 3
  & > :nth-child(2)
  & > :nth-child(3)
    display: flex
    justify-content: space-between
    align-items: baseline
    gap: 0 _gap
  & :where(p, ul, li)
    all: unset
  & > :nth-child(2)
    grid-area: ttt
    & div
      flex-shrink: 0
  & > :nth-child(3)
    flex-wrap: wrap
    & p
      justify-content: start
      margin-block: .25em 1em
    & ul
      display: flex
      flex-wrap: wrap
      gap: (_gap / 2) (_gap / 2)
      font-size: .8em
      margin-bottom: 1em
      //margin-left: auto
      & > :last-child
        margin-right: 0
      & li
        margin-bottom: .5em
      & a
        padding: .25em .5em .25em 1.25em
        white-space: nowrap
        background-color: _colorG - 25%
        clip-path: polygon(.75em 0, 100% 0, 100% 100%, .75em 100%, 0 50%)
  & h2
    all: unset
    margin-block: 1.25em 0
    //font-family: _fontName
    font-weight: bold
    //font-size: 1em
    text-wrap: balance

_forumAvatarsSize = 3.5em
_forumAvatarsX = round(_forumAvatarsSize / 3, 1)
_forumAvatarsY = round(_forumAvatarsSize / 3 - .2em, 1)

.avatars
.avatars > *
  width: _forumAvatarsSize
  height: _forumAvatarsSize
  background-image: var(--img, '')
  background-color: #222
  background-size: cover
  border-radius: 50%

.avatars
  grid-area: aaa
  @media (max-width: _forumSize)
    margin-bottom: 2em // @note Valeur obtenue de manière un peu empirique, liée à la propriété font-size définie ci après.
    font-size: .5em
  position: relative
  margin: auto
  & > *
    position: absolute
    border: .2em solid _colorG + 10%
  & > :nth-child(1)
    transform: 'translate(%s, %s) scale(.5)' % (_forumAvatarsX _forumAvatarsY)
  & > :nth-child(2)
    transform: 'translate(%s, %s) scale(.5)' % (_forumAvatarsX (_forumAvatarsY - .8))
  & > :nth-child(3)
    transform: 'translate(%s, %s) scale(.5)' % (_forumAvatarsX (_forumAvatarsY - 1.6))

.topic-solved > :nth-child(2) svg:first-child
  color: _color4 + 34%
