_forumSize = 35.01em
_forumColor1 = _colorG + 7%

.forum
  all: unset
  display: grid
  gap: _gap

.topic
  --img: url(/medias/images/uploads/dawid-zawila-w300.webp)
  position: relative
  display: grid
  grid-template-rows: repeat(2, auto)
  padding-inline: 1em
  background-color: _forumColor1
  border-radius: _r2
  box-shadow: _shadow5
  @media (max-width: _forumSize)
    grid-template-columns: minmax(0, 1fr) 4em
    grid-template-areas: 'ttt ttt' 'uuu aaa'
  @media (min-width: _forumSize)
    grid-template-columns: 4em minmax(0, 1fr)
    grid-template-areas: 'aaa ttt' 'aaa uuu'
  gap: 0 _gap
  & > .topic-link // @note Permet à tout l'élément d'être cliquable (simulation d'imbrication des liens)
    position: absolute
    inset: 0
    z-index: 1
    //&:focus // @note Pas de focus car tabindex='-1'
    &:hover
    &:active
      & ~ * h2 a
        color: _color5
        text-decoration: underline
  & > * a // @note Rétablit le clique des liens de base.
    position: relative
    z-index: 3
  //& .avatars
  //  grid-area: aaa
  //  @media (max-width: _forumSize)
  //    display: none
  //  @media (min-width: _forumSize)
  //    width: 3.5em
  //    aspect-ratio: 1
  //    margin: auto
  //    border-radius: 50%
  //    background: #222 var(--img)
  //    background-size: cover
  & > :nth-child(3)
  & > :nth-child(4)
    display: flex
    justify-content: space-between
    align-items: baseline
    gap: 0 _gap
  & :where(p, ul, li)
    all: unset
  & > :nth-child(3)
    grid-area: ttt
    & div
      flex-shrink: 0
  & > :nth-child(4)
    flex-wrap: wrap
    & p
      margin-block: .25em 1em
    & ul
      display: flex
      flex-wrap: wrap
      gap: (_gap / 2) (_gap / 2)
      font-size: .8em
      margin-bottom: 1em
      //margin-left: auto
      & > :last-child
        margin-right: 0
      & li
        margin-bottom: .5em
      & a
        padding: .25em .5em .25em 1.25em
        white-space: nowrap
        background-color: #333
        clip-path: polygon(.75em 0, 100% 0, 100% 100%, .75em 100%, 0 50%)
  & h2
    all: unset
    margin-block: 1.25em 0
    //font-family: _fontName
    font-weight: bold
    //font-size: 1em

_forumAvatarsSize = 3.5em
_forumAvatarsS = _forumAvatarsSize / 2
_forumAvatarsX = _forumAvatarsSize / 3
_forumAvatarsY = _forumAvatarsSize / 3

.avatars
.avatars > *
  --img: ''
  width: _forumAvatarsSize
  height: _forumAvatarsSize
  background-image: var(--img)
  background-color: #222
  background-size: cover
  border-radius: 50%

.avatars
  grid-area: aaa
  @media (max-width: _forumSize)
    margin: auto 0 1em auto
  @media (min-width: _forumSize)
    margin: auto
  position: relative
  & > *
    position: absolute
  & > :nth-child(1)
    transform: 'translate(%s, %s) scale(.5)' % (_forumAvatarsX _forumAvatarsY)
  & > :nth-child(2)
    transform: 'translate(%s, %s) scale(.5)' % (_forumAvatarsX (_forumAvatarsY + 1 * -1))
  & > :nth-child(3)
    transform: 'translate(%s, %s) scale(.5)' % (_forumAvatarsX (_forumAvatarsY + 2 * -1))

.topic-solved > :nth-child(3) svg:first-child
  color: _color4 + 34%
