@media (scripting: enabled) and (prefers-reduced-motion: no-preference) {
  .invisible-if-animation {
    visibility: hidden;
  }

  .svg-animation.active {
    & :where(path, circle, ellipse, line, polygon, polyline, rect, text, textPath, tref, tspan) {
      stroke-width: 1;
      fill: transparent;
      stroke: var(--colorG45);
      animation: anim-svg var(--anim-svg, 5s) cubic-bezier(0.5, 0, 1, 0) forwards;
    }
  }

  @keyframes anim-svg {
    90% {
      stroke: var(--colorG45);
    }
    to {
      stroke-dashoffset: 0;
      stroke: var(--colorT2);
    }
  }
}
