.input {
  & label {
    display: inline-block;
    margin-block-end: 0.5em;
  }

  & input:not([type='button'], [type='submit'], [type='range']),
  & select,
  & textarea {
    width: 100%;
    color: currentcolor;
    /* @bugfix @affected Chrome @note Le !important supplante le style par défaut des préremplissages. */
    background-color: var(--colorG15) !important; /* --colorG18 */
    /* @note Permet d'anticiper le comportement des bordures colorées de '.invalid' en évitant des rattrapages en padding aléatoires selon le type d'input. */
    border: var(--border1); /* --colorG27 */
    border-radius: 0.3em;
    /* @bugfix @affected Chrome @note Le !important supplante le style par défaut des préremplissages. */
    box-shadow: inset 0 0.2em 0.5em var(--colorAB2) !important;
  }

  & input:not([type='button'], [type='submit'], [type='range']),
  & select:not([multiple]) {
    /* @note Permet d'approcher un alignement "pixel perfect" entre les différents champs lorqu'ils sont alignés. */
    height: 3em;
    max-height: 3em;
    line-height: 3em;
    padding-inline: 1em;
  }

  & input[type='color'] {
    /* @note Les padding top et bottom doivent être les mêmes que les autres inputs pour rester verticalement aligné avec ces derniers. Ce comportement ne peut être corrigé par `box-sizing: border-box`. */
    padding: 2px !important;

    &::-webkit-color-swatch {
      border: none;
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }

  & input[type='date'],
  & input[type='datetime-local'],
  & input[type='week'],
  & input[type='month'] {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(0, 0%, 47%)'><path d='M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z'/></svg>");
  }

  & input[type='date']:focus,
  & input[type='datetime-local']:focus,
  & input[type='week']:focus,
  & input[type='month']:focus,
  & input[type='date']:hover,
  & input[type='datetime-local']:hover,
  & input[type='week']:hover,
  & input[type='month']:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(39, 100%, 50%)'><path d='M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z'/></svg>");
  }

  & input[type='month'] {
    text-transform: capitalize;
  }

  & input[type='time'] {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(0, 0%, 47%)'><path d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/><path d='M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z'></path></svg>");
  }

  & input[type='time']:focus,
  & input[type='time']:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(39, 100%, 50%)'><path d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/><path d='M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z'></path></svg>");
  }

  & input[type='file'] {
    padding-inline-end: 3em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(0, 0%, 47%)'><path d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z'></path></svg>");
  }

  & input[type='file']:focus,
  & input[type='file']:hover,
  & input[type='file']:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(39, 100%, 50%)'><path d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z'></path></svg>");
  }

  & select:not([multiple]) {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(0, 0%, 47%)'><path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/></svg>");
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.4em) 50%;
  }

  & select:not([multiple]):focus,
  & select:not([multiple]):hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(39, 100%, 50%)'><path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/></svg>");
  }

  & select:not([multiple]):active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(0, 0%, 47%)'><path d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/></svg>");
  }

  & select[multiple] {
    /* @affected Chrome Androïd. */
    min-height: 3em;
    padding: 0.4em 1em;
  }

  & textarea {
    min-height: 9.75em;
    max-height: 50vh;
    padding: 1em;
    line-height: 1.5;
    resize: vertical;
  }

  & input:not([type='button']):focus,
  & select:focus,
  & textarea:focus {
    border-color: var(--color2);
    outline: none;
  }

  &.disabled label {
    color: var(--colorG60);
  }

  &.disabled input {
    background: var(--colorG18) repeating-linear-gradient(-45deg, transparent 0 5px, var(--color1) 5px 10px);
    background-size: 100% 100%;
    cursor: default;
  }

  & .invalid {
    /* @note Révision de l'emplacement de l'astérisque si champ obligatoire. */
    background-position: right 0.7em center;
  }

  & .invalid {
    animation: anim-invalid-input 2s ease-in-out infinite !important;
  }

  & input + [class*='message'] {
    margin-block-start: 1em;
  }

  &:has([type='color'] + output) {
    position: relative;
  }

  &:has([type='color'] + output) output {
    /* @note Les sélecteur :has() n'est pas encore supporté de manière large. @affected Firefox < v108. */
    position: absolute;
    left: 0.5em;
    bottom: 0.6em;
    margin: 2px;
    padding: 0.2em 0.5em;
    /* @bugfix Déclaration double, solution de contournement pour certains navigateurs qui ont tendance à réduire la taille des polices monospaces. @affected Chrome. @see https://stackoverflow.com/questions/38781089/font-family-monospace-monospace */
    font-family: monospace, monospace;
    color: var(--colorW);
    background-color: var(--colorAB5);
    pointer-events: none;
  }
}

legend.h2,
h2.legend {
  /* @note personnalisation de l'élément, optimisé pour un `.h2` @todo À évaluer dans le temps. */
  /* Pertinence d'une classe ".legend" à évaluer dans le temps. */
  margin-block: 0.83em 0.415em;
}

:root .input-password input {
  /* @note Évite que le texte saisit ne passe sous l'icône. */
  padding-inline-end: 3em;
  letter-spacing: 0.4em;
}

.input-password {
  position: relative;

  & button {
    position: absolute;
    bottom: 3em/2;
    right: 0.5em;
    width: 2.1em;
    height: 2.8em;
    padding: 0.5em;
    color: hsl(0, 0%, 47%);
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    &:where(:focus, :hover, :active) {
      color: var(--color5);
    }

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}

.search form {
  display: flex;
  width: 100%;
  height: 3em;
  align-items: stretch;

  & * {
    outline: none;
  }

  & input {
    flex-grow: 1;
    max-height: 100%;
    padding: 0.4em 1em;
    color: currentcolor;
    background-color: var(--colorG15); /* --colorG18 */
    border: var(--border1); /* --colorG27 */
    border-right: none;
    border-radius: 1.5em 0 0 1.5em;
    box-shadow: inset 0 0.2em 0.5em var(--colorAB2);

    &:where(:focus, :hover, :active) {
      border-color: var(--color2);
    }
  }

  & button {
    min-width: 3.5em;
    color: var(--colorT);
    background-color: var(--color2);
    border: none;
    border-radius: 0 1.5em 1.5em 0;
    box-shadow: inset 0 0.2em 0.5em var(--colorAB2);

    &:where(:focus, :hover, :active) {
      color: var(--colorW);
      animation: anim-search 0.2s ease-in-out;
    }

    & svg {
      width: 1em;
      height: 1em;
    }
  }
}

@keyframes anim-invalid-input {
  50% {
    border-color: var(--color5);
  }
}
