_lineMarkUnit = 1em
_lineMarkColor = _colorG + 27.5%

@media (max-width: _sizeS)

  .line-mark
    display: none // @note Un match media javascript peutconditionner le script, mais cette solution est moins modulable et surtout moins robuste que la solution CSS.

@media (min-width: _sizeS)

  .add-line-marks > *
    position: relative

  .line-mark
    position: absolute
    top: 0
    right: -6em
    width: 4em
    height: 2em
    vertical-align: sub
    //font-family: _fontList2
    font-size: 1rem // Unité rem obligatoire car ne doit pas dépendre de l'élément parent.
    font-weight: normal
    //text-align: right
    text-decoration: none
    color: _lineMarkColor
    outline: none
    transition: color .2s ease-in-out
    user-select: none // @note On évite de sélectionner les marqueurs, ceux-ci sont un élément de navigation et non de contenu.
    scroll-margin-top: _lineMarkUnit
    &:focus
    &:hover
    &active
      //color: orange
      text-decoration: none
    &::before
      content: '- '
    &::after
      content: ' -'

  h2 .line-mark
  h3 .line-mark
    top: .5em
