@media (width < $sizeS) {
  .line-mark {
    display: none;
  }
}

@media (width > $sizeS) {
  .add-line-marks > * {
    position: relative;
  }

  .line-mark {
    position: absolute;
    top: 0;
    right: -6em;
    width: 4em;
    height: 2em;
    vertical-align: sub;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    color: var(--colorG38);
    outline: none;
    transition: color 0.2s ease-in-out;
    user-select: none;
    scroll-margin-block-start: 1em;

    &:where(:focus, :hover, :active) {
      color: var(--colorW);
      text-decoration: none;
    }

    &::before {
      content: '- ';
    }

    &::after {
      content: ' -';
    }
  }

  h2 .line-mark,
  h3 .line-mark {
    top: 0.5em;
  }
}
