_listSize = 2.5em
_listColor = _color2
_listColor2 = _colorT2
_listColor3 = _colorG + 7%
_listColor4 = _colorT
_listShadow1 = .5rem .5rem 2rem rgba(0, 0, 0, .1)

ul
  list-style-type square

ol ol
  list-style-type lower-latin

ol ol ol
  list-style-type lower-greek

[class^=list]
[class^=list] > *
  padding-left 0

[class^=list] li
  display block

[class^=list-stripe]
  display grid
  gap _gap
  margin 0

[class^=list-stripe] > *
  padding .5em 1em
  background-color _listColor3
  box-shadow _shadow14

.list-stripe-links
  a
    display block
    color _listColor4 //inherit
    text-decoration none
  li:focus-within
  li:hover
    background-color _listColor
    box-shadow _shadow15
    outline none
    animation animList .05s ease-in-out

@keyframes animList
  to
    transform scale(1.03) translateZ(0)

// ----------------------------------------------------------------------------------

ul.list-straight
ul.list-rounded
  padding 0
  li
    display flex
    &:focus-within svg
    &:hover svg
      color #fff
      background-color _color5
  svg
  a
    box-shadow _listShadow1
    transition color, background-color .3s ease-in-out
  svg
    flex-shrink 0
    display flex
    align-items center
    justify-content center
    color _listColor4
    background-color _listColor
    *
      max-width 1em
      max-height 1em
  a
    display flex
    align-items center
    //align-content center
    width 100%
    min-height _listSize
    padding .5em 1em
    //color _listColor4
    background-color _listColor3
    &:focus
    &:hover
    &:active
      color #fff
      background-color _listColor
      text-decoration none

ul.list-straight
  li
    position relative
  a
    position absolute
    right 0
    width calc(100% - 2.5em)
    padding-left 1.5em
    clip-path polygon(100% 0, 100% 100%, 0% 100%, 1em 50%, 0% 0%)
  svg
    width _listSize + .5
    min-height _listSize
    padding .7em .7em .7em .2em
    clip-path polygon(0% 0%, calc(100% - 1em) 0, 100% 50%, calc(100% - 1em) 100%, 0% 100%)

ul.list-rounded
  li
    &:focus-within svg
    &:hover svg
      transform rotate(360deg)
  svg
    //border-radius 50%
    clip-path circle(50%)
    //filter drop-shadow(_listShadow1)
    width _listSize
    height _listSize
    margin-right .5em
    padding .7em
    transition transform .3s ease-in-out
  a
    //mask-image url(https://scriptura.github.io/medias/images/moons/0.svg)
    //mask-size _listSize _listSize
    //mask-repeat no-repeat
    //mask-position center
    border-radius round(_listSize / 2, 2)


// ----------------------------------------------------------------------------------

ol.list-straight
ol.list-rounded
  padding 0
  li
    display flex
    counter-increment li
    &::before
    a
      box-shadow _listShadow1
      transition color, background-color .3s ease-in-out
    a
      display flex
      align-items center
      //align-content center
      width 100%
      min-height _listSize
      padding .5em 1em
      background-color _listColor3
      &:focus
      &:hover
      &:active
        color #fff
        background-color _listColor
        text-decoration none
    &::before
      flex-shrink 0
      display flex
      align-items center
      justify-content center
      content counter(li)
      color _listColor4
      background-color _listColor //tomato
    //&:focus
    //&:hover
    //&:active
      //animation animList .05s ease-in-out
    &:focus-within::before
    &:hover::before
    &:active::before
      color #fff
      background-color _color5
      //transform scale(1.2) translateZ(0)

ol.list-straight
  li
    position relative
    display flex
    a
      position absolute
      right 0
      width calc(100% - 2.5em)
      padding-left 1.5em
      clip-path polygon(100% 0, 100% 100%, 0% 100%, 1em 50%, 0% 0%)
    &::before
      width _listSize + .5
      min-height _listSize
      padding-right .7em
      clip-path polygon(0% 0%, calc(100% - 1em) 0, 100% 50%, calc(100% - 1em) 100%, 0% 100%)

ol.list-rounded
  li
    display flex
    gap .5em
    &::before
      width _listSize
      height _listSize
      padding .6em
      border-radius 50%
      transition transform .3s ease-in-out
    &:focus-within::before
    &:hover::before
      transform rotate(360deg)
  a
    border-radius round(_listSize / 2, 2)

[class^=grid].list-straight
[class^=grid].list-rounded
  gap .5em 1em
