_listSize = 2.5em
_listColor = _color2
_listColor2 = _colorT2
_listColor3 = _colorG + 7%
_listColor4 = _colorT
_listShadow1 = _shadow14

ul
  list-style-type: square

ol ol
  list-style-type: lower-latin

ol ol ol
  list-style-type: lower-greek

[class^=list]
[class^=list] > *
  padding-left: 0

[class^=list] li
  display: block

[class^=list-stripe]
  display: grid
  gap: _gap
  margin: 0

[class^=list-stripe] > *
  padding: .5em 1em
  background-color: _listColor3
  box-shadow: _shadow14
  //filter: drop-shadow(_shadow14)

.list-stripe-links
  & a
    display: block
    color: _listColor4 //inherit
    text-decoration: none
  & li:focus-within
  & li:hover
    background-color: _listColor
    //box-shadow: _shadow15
    outline: none
    animation: anim-list .05s ease-in-out

@keyframes anim-list
  to
    transform: scale(1.03) translateZ(0)

.list-straight
.list-rounded
  padding: 0
  & li
    display: grid
    grid-template-columns: 3em minmax(0, 1fr)
    //box-shadow: _listShadow1
    &:focus-within svg
    &:hover svg
    &:active svg
    &:focus-within::before
    &:hover::before
    &:active::before
      color: #fff
      background-color: _color5
  & li::before
  & svg
  & a
    box-shadow: _listShadow1
    //filter: drop-shadow(_listShadow1)
    transition: color, background-color .3s ease-in-out
  & li::before
  & svg
    display: flex
    align-items: center
    justify-content: center
    color: _listColor4
    background-color: _listColor
  & a
    display: flex
    align-items: center
    width: 100%
    min-height: _listSize
    padding: .5em 1em
    background-color: _listColor3
    &:focus
    &:hover
    &:active
      color: #fff
      background-color: _listColor
      text-decoration: none

.list-straight
  & li
    box-shadow: _listShadow1
  & li::before
  & svg
    width: _listSize + .5
    clip-path: polygon(0% 0%, calc(100% - 1em) 0, 100% 50%, calc(100% - 1em) 100%, 0% 100%)
  & li::before
    padding-right: .7em
  & svg
    min-height: 100%
    padding-left: .7em
    padding-right: 1.1em
  & a
    position: relative
    right: .5em
    width: calc(100% + .5em)
    padding-left: 1.5em
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 1em 50%, 0% 0%)

.list-rounded
  & li
    &:focus-within svg
    &:hover svg
    &:focus-within::before
    &:hover::before
      transform: rotate(360deg)
  & li::before
  & svg
    width: _listSize
    height: _listSize
    margin: auto 0 // @note Pour centrer la "puce" si contenu de l'item trop important. @todo Résultat visuel à évaluer.
    transition: transform .3s ease-in-out
  & li::before
    border-radius: 50%
  & svg
    position: relative
    padding-inline: .7em
    clip-path: circle(50%)
  & a
    border-radius: round(_listSize / 2, 2)

ol.list-straight
ol.list-rounded
  & li
    counter-increment: li
    &::before
      content: counter(li)

[class^=grid].list-straight
[class^=grid].list-rounded
  gap: (_gap / 2) _gap
