.loader {
  --frame: 1s;
  --color: var(--color2);
  position: relative;
  width: 6em;
  height: 6em;
  animation: anim-loader var(--frame) linear infinite;

  &,
  &::before,
  &::after {
    /* @note Les pixels donnent un rendus plus précis quelque soit l'échelle. */
    border: 5px solid var(--color);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    /* @note Les pixels donnent un rendus plus précis quelque soit l'échelle. */
    inset: 1px;
    /* @note Multiplicateur arbitraire. */
    animation: anim-loader calc(var(--frame) * 4.7) ease infinite;
  }

  &::after {
    /* @note Les pixels donnent un rendus plus précis quelque soit l'échelle. */
    inset: 7px;
    /* @note Multiplicateur arbitraire. */
    animation: anim-loader calc(var(--frame) * 1.51) ease infinite;
  }
}

@keyframes anim-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
