_loaderColor0 = transparent
_loaderColor1 = _colorG + 10%
_loaderColor2 = _color2
_loaderUnit1 = .2em

:root
  --loaderFrame: 1.5s

.loader
.loader::before
  box-sizing border-box
  width 2em
  height 2em
  border _loaderUnit1 solid _loaderColor0
  border-radius 50%

.loader
  position relative
  border-color _loaderColor1
  border-top-color _loaderColor2
  border-left-color _loaderColor2
  animation animLoader var(--loaderFrame) linear infinite

.loader::before
  position absolute
  content ''
  display block
  top - _loaderUnit1
  left - _loaderUnit1
  border-top-color _loaderColor2
  border-left-color _loaderColor2
  border-radius 50%
  animation animLoader calc(var(--loaderFrame) * 2) ease infinite

@keyframes animLoader
  from
    transform rotate(0deg)
  to
    transform rotate(359deg)
