_mainNavSizeHeight = 2.5rem
_mainNavFix = 177px
_mainNavColor1 = _colorG - 34%
_mainNavColor2 = _colorT2
_mainNavColor3 = _color2
_mainNavColor4 = _color5
_mainNavColor5 = _color2
_logoNavSizeWidth = 3em

.nav
  user-select none

.logo-nav
  grid-row span 2
  display block
  background-color _mainNavColor5
  box-shadow _shadow2
  &:focus
  &:hover
  &:active
    fill #222
    background-color _color5
  &::after
    content ''
    display block
    width 100%
    height 100%
    background-image url(../medias/images/logo/195v.svg)
    background-repeat no-repeat
    background-position 50% 50%
    background-size auto 70%
    box-shadow _shadow3

.main-nav
  position relative
  display flex
  z-index 2000 // @note Permet de passer au-dessus de certains éléments définis par des sources externes, comme les Maps Leaflet.
  //height _mainNavSizeHeight
  //font-size 1em
  box-shadow _shadow2
  & ul
    width 100%
    margin 0
    padding 0
    background-color _mainNavColor1
  & li
    list-style none
    & > *
      display block
      padding 0 1em
      line-height unit(_mainNavSizeHeight, '') // @todo Ou _mainNavSizeHeight tout simplement...
      box-shadow _shadow3
  & .current
    background-color _mainNavColor3
  & a
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    color _mainNavColor2
    text-decoration none
    &:focus
    &:hover
    &:active
      color #fff
      background-color _mainNavColor3
    &:focus svg
    &:hover svg
    &:active svg
      animation animJump .5s ease-in-out

@media (max-width _sizeNav)

  .logo-nav
    position absolute // @todo Solution à revoir.
    z-index 10
    width _logoNavSizeWidth
    height _mainNavSizeHeight
    //aspect-ratio 1.2/1

  .main-nav
    top _mainNavSizeHeight
    & ul
      display flex
      flex-wrap wrap
      position absolute
      z-index 800
      transform translateX(-100vw)
    & li
      flex 1
      flex-basis 50%
      background-color _mainNavColor1
      transform rotate(90deg)
      transition transform .4s ease-in-out
    &.active li
      transform translateX(100vw) rotate(0deg)

  _x = 12
  for _i in 1.._x
    _abstr = _i / _x
    .nav li:nth-child({_i})
      transition-delay '%ss' % round(_abstr, 2)

  body.active
    overflow hidden
    & main
    & footer
    & aside
      pointer-events none
      //cursor pointer

  .main-nav.active
    box-shadow 0 100vh 0 100vh rgba(0, 0, 0, .5)

  .breadcrumb
    padding-left _logoNavSizeWidth !important // @todo Solution à revoir.

@media (min-width _sizeXS) and (max-width _sizeNav)

  .main-nav li
    flex-basis 33%

@media (min-width _sizeS) and (max-width _sizeNav)

  .main-nav li
    flex-basis 25%

@media (min-width _sizeNav)

  .nav
    display grid
    grid-template-columns 5em 1fr

  .main-nav ul
    display flex
    & .current
      position relative
      //background-color _mainNavColor3
      &::after
        content ''
        position absolute
        top 100%
        left calc(50% - 1em)
        width 2em
        height 1em
        background-color _mainNavColor3
        clip-path polygon(0 0, 100% 0, 50% 100%)

  @keyframes animJump
    30%
      transform translateY(-.3em)

  .nav ul > :last-child
      margin-left auto

@media (max-width _sizeNav)

  .cmd-nav
    position absolute
    right 0
    //z-index 2001
    width _mainNavSizeHeight
    height _mainNavSizeHeight
    padding (_mainNavSizeHeight / 10)
    cursor pointer
    background-color transparent
    //fill #000
    border none
    outline none
    & svg
      width 100%
      height 100%
    & *
      transform-origin center
      transition transform .3s ease
      fill _mainNavColor3
    &:focus
    &:hover
      background-color _mainNavColor3
    &:focus svg *
    &:hover svg *
      fill #fff
    &.active svg :nth-child(1)
      transform translate(- _mainNavFix, _mainNavFix) rotate(45deg)
    &.active svg :nth-child(2)
      transform rotate(-45deg)
    &.active svg :nth-child(3)
      transform translate(- _mainNavFix, - _mainNavFix) rotate(-45deg)

@media (min-width _sizeNav)

  .cmd-nav
    display none

/*
@media (max-width _sizeNav)

  .logo-nav
    position absolute // @todo Solution à revoir.
    //z-index 10
    left 1em
    width _logoNavSizeWidth
    //height _mainNavSizeHeight
    aspect-ratio 1/1.2
    clip-path polygon(100% 0, 100% 100%, 50% 75%, 0 100%, 0% 0%) // polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0% 0%)
    //filter drop-shadow(0 0 .1em rgba(0, 0, 0, .3))
    filter drop-shadow(0 0 1rem rgba(0, 0, 0, 1))
*/
