.map
  width 100%
  height 100vh
  margin auto
  background-color #e6e4e0 // Couleur en lien avec le background dominant des tuiles choisies pour les cartes Leaflet.
  overflow hidden // Évite à l'occasion un débordement des tuiles. Solution imparfaite.

//.leaflet-container
  //outline-color _color5 !important

:root .map .leaflet-control
  border none
  box-shadow _shadow14

:root .map .leaflet-popup-content-wrapper
  font-size 1rem // @note Unité rem obligatoire pour éviter les conflits sur la carte.
  color #777
  border-radius .2em
  box-shadow _shadow14

.leaflet-popup-content
  max-width calc(100vw - 6em)

.leaflet-popup-tip
  box-shadow _shadow14

.leaflet-marker-icon
  outline none // pour prévenir l'effet sur :focus et :hover

.leaflet-marker-icon
  &:focus-visible::after
    content ''
    display block
    box-sizing border-box
    position relative
    z-index -1
    height 4em
    width 4em
    border 1em solid rgba(255, 0, 0, .3)
    clip-path polygon(45% 0%, 55% 0%, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0% 55%, 0% 45%, 45% 45%)
    transform translate(-.35em, -2.5em)
  &:focus .marker-icon
  &:hover .marker-icon
    animation animBounce .35s ease infinite alternate

.start-map .marker-icon
  animation animDrop 1s ease

.marker-icon
  filter drop-shadow(.3em .3em .3em rgba(0, 0, 0, .5))
  & > :first-child
    fill Coral
  & > :last-child
    fill Tomato

.map:nth-child(2) .marker-icon
  & > :first-child
    fill MediumSeaGreen
  & > :last-child
    fill #1FA055

.map:nth-child(3) .marker-icon
  & > :first-child
    fill CornflowerBlue
  & > :last-child
    fill MediumSlateBlue

.map:nth-child(4) .marker-icon
  & > :first-child
    fill HotPink
  & > :last-child
    fill DeepPink

@keyframes animBounce
  to
    transform translate(0, -16px)

@keyframes animDrop
  0%
    transform translate(0, -100vh)
  50%
    transform translate(0, 0)
  75%
    transform translate(0, -40px)
  100%
    transform translate(0, 0)

//.leaflet-control-attribution
//  display none
