_mediaPlayerSize = 3.5em
_mediaPlayerGap = .5em //(_mediaPlayerSize / 7)
_mediaPlayerSize2 = _mediaPlayerSize - (_mediaPlayerGap * 2)
_mediaPlayerBorder = .41em
_mediaPlayerRangeHeight = .31em

_mediaPlayerBlockThumb =
  pointer-events: auto
  width: 1em
  aspect-ratio: 1
  background-color: transparent
  border-radius: 50%

audio
video
canvas
  width: 100%

audio
video
  outline: none

//audio
//  height: _mediaPlayerSize // @note Harmonisation avec notre propre player personnalisé.

//audio:not([controls])
//  display: none // @affected All browsers @note Affichage de l'audio sans contrôle

// @bugfix Redimentionnement de l'élément video à la lecture @note La solution adoptée est de mettre un poster de même dimention que le flux vidéo
//video
//  object-fit cover // @affected Firefox @note Influence sur l'image des posters

//audio.media
//  display: none // @note C'est Javascript qui se charge de la suppression, ce qui permet l'affichage d'un lecteur par défaut si JS désactivé.

video.media
  display: block
  background-color: #000 // @bugfix @affected Google Maps @note Pas de background prédéfinit sur élément `canvas` afin d'éviter les conflits.
  box-shadow: _shadow15

.media-player
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  gap: _mediaPlayerGap
  width: 100%
  height: _mediaPlayerSize
  padding-right: _mediaPlayerGap
  background-color: _colorG + 7%
  border-radius: (_mediaPlayerSize / 2)
  box-shadow: _shadow17
  user-select: none
  & button
    all: unset
    flex-shrink: 0
    display: grid
    height: _mediaPlayerSize
    outline: none
    cursor: pointer
    & svg
      width: 1.2em
      height: 1.2em
      margin: auto
  & .media-play-pause
  & .media-mute
    & > :last-child
      display: none
    &.active
      & > :first-child
        display: none
      & > :last-child
        display: initial
  & .media-mute
  & .media-fullscreen
  & .media-menu
  & .media-extend-menu button
    width: _mediaPlayerSize2
    height: _mediaPlayerSize2
    border-radius: 50%
  & .media-mute
  & .media-fullscreen
  & .media-extend-menu button
    background-color: _colorG + 14%

  & .media-mute
  & .media-fullscreen
    &:hover
      background-color: _colorG + 21%
    &:focus-visible
      background-color: _color5
  & .media-menu
    &:hover
      background-color: _colorG + 21%
    &:focus-visible
      background-color: _color5
  & .media-extend-menu button
    &:hover
      background-color: _colorG + 21%
    &:focus-visible
      background-color: _color5
    &:active
    &.active
      background-color: _color2
  & .media-time
    flex-shrink: 0
  & .media-progress-bar
  & .media-volume-bar
    --colorSlide: _color2
    all: unset
    min-width: 0 // @affected Firefox
    height: _mediaPlayerRangeHeight
    padding-block: 1em // @note S'ajoute à la propriété height, ne doit pas dépasser la hauteur du player
    color: _color2
    background-color: _colorG + 14%
    background-image: linear-gradient(90deg, var(--colorSlide) 0, var(--colorSlide) var(--position), transparent var(--position))
    background-clip: content-box
    cursor: pointer
    &:focus-visible
      --colorSlide: _color5
  & .media-progress-bar
  & .media-volume-bar
    &:hover::-webkit-slider-thumb
    &:active::-webkit-slider-thumb
      background-color: _color2
    &:focus-visible::-webkit-slider-thumb
      background-color: _color5
    &:hover::-moz-range-thumb
    &:active::-moz-range-thumb
      background-color: _color2
    &:focus-visible::-moz-range-thumb
      background-color: _color5
  /* @note Affichage du thumb si player en lecture @todo Expérience UI valable ; à voir.
  & .media-play-pause.active ~ .media-progress-bar::-webkit-slider-thumb
    background-color: _color2
  & .media-play-pause.active ~ .media-progress-bar::-moz-range-thumb
    background-color: _color2
  */
  & ::-webkit-slider-thumb
    -webkit-appearance: none
    {_mediaPlayerBlockThumb}
  & ::-moz-range-thumb
    box-sizing: border-box // @affected Firefox @note Définition obligatoire de cette règle malgré sa déclaration en globale.
    border: none
    {_mediaPlayerBlockThumb}
  & .media-mute
  //& .media-mute:hover
    background: none
  & .media-volume-bar
    background-color: _colorG + 21%
  & .media-play-pause
    position: relative
    z-index: 1
    width: _mediaPlayerSize
    background-color: _colorG + 14%
    border-radius: 50%
    &::before
      content ''
      position: absolute
      inset: 0
      z-index: -1
      border: _mediaPlayerBorder solid transparent
      border-radius: 50%
    &:hover::before
      background-color: _colorG + 21%
    &:focus-visible::before
      border-block-color: _color5
    &.active::before
      border-block-color: _color2
      animation: anim-play 20s linear infinite var(--play-state, running)
  & .media-extend-volume
    display: flex
    justify-content: flex-end
    align-items: center
    background-color: _colorG + 14%
    border-radius: (_mediaPlayerSize2 / 2)
    outline: none
    &:focus-within
    &:hover
    &:active
      padding-left: _mediaPlayerGap
      & .media-volume-bar
        display: inherit
        max-width: 10em
  & .media-play-pause.active ~ .media-extend-volume .media-mute.active
    animation: anim-mute 1s infinite // Si lecture et fonction mute activée, alors le bouton mute clignote ; pour rappeler lors de la reprise d'une lecture que la fonction mute est active.
  & .media-volume-bar
    width: 100%
    max-width: 0
    transition: max-width .6s ease-in-out // L'ajout de la propriété "padding" ne change rien au petit bug de l'animation (dépassement du parent à la fermeture).
  & .media-progress-bar
    flex-grow: 1
  & .media-picture-in-picture
    & > :last-child
      display: none
    &.active
      & > :first-child
        display: none
      & > :last-child
        display: initial
  & .media-extend-menu
    display: none
  & .media-extend-menu.active
    position: absolute
    z-index: 200 // @todo Si besoin
    top: - _mediaPlayerSize
    right: 0
    display: flex
    align-items: center
    gap: _mediaPlayerGap
    height: _mediaPlayerSize
    padding-inline: _mediaPlayerGap
    background-color: _colorG + 7%
    border-radius: (_mediaPlayerSize / 2)
    box-shadow: _shadow17
  &.error
    color: _colorG + 50%
    & .media-time
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      max-width: 'calc(100% - %s)' % (_mediaPlayerSize + _mediaPlayerSize2 * 2 + _mediaPlayerGap * 5)

.waiting .media-play-pause.active
  animation: anim-waiting  1s infinite

video + .media-player
  margin-top: .5em

.figure-media figcaption
  color: _colorT2 //_colorG + 40%

@keyframes anim-play
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

@keyframes anim-mute
  50%
    color: _colorG + 14%

@keyframes anim-waiting
  50%
    background-color: _color2

.video-youtube
  position: relative // [1] Évite un léger resize entre le thumbnail et le chargement de la vidéo.
  aspect-ratio: 16/9
  user-select: none
  background-color: #000
  & iframe
  & > div
    position: absolute // [1]
    inset: 0
  & .video-youtube-error
    text-align: center
  & .thumbnail-youtube
    display: grid
    place-content: center
    background-size: cover
    background-position: 50% 50% // @note Pour positionner correctement les images plus petites que l'élément.
    & button
      all: unset
      position: relative
      width: 5em
      //aspect-ratio: 1/1
      //max-width: 50%
      outline: none
      & svg
        fill: rgba(255, 255, 255, .7)
      &:focus svg
      &:hover svg
        fill: _color5
  & .video-youtube-title
    position: absolute
    top: 0
    left: 0
    right: 0
    padding: .5em 1em
    overflow: hidden
    white-space: nowrap
    text-align: right
    text-overflow: ellipsis
    text-shadow: 0 0 .2em rgba(0, 0, 0, .8)
  //@media (hover: hover) and (pointer: fine)
