_mediaPlayerSize = 3.5em
_mediaPlayerGap = .5em //(_mediaPlayerSize / 7)
_mediaPlayerSize2 = _mediaPlayerSize - (_mediaPlayerGap * 2)
_mediaPlayerBorder = .41em
_mediaPlayerRangeHeight = .31em

_mediaPlayerBlockThumb =
  pointer-events: auto
  width: 1em
  aspect-ratio: 1
  background-color: transparent
  border-radius: 50%

audio
video
canvas
  width: 100%

audio
video
  outline: none

//audio
//  height: _mediaPlayerSize // @note Harmonisation avec notre propre player personnalisé.

video
  height: auto // @note Important si les dimentions de la vidéo sont définies.
  aspect-ratio: 16/9 // @bugfix Permet de garder une cohérence entre la vidéo et son poster, mais aussi entre les vidéos d'une même grille.
  object-fit cover // @affected Firefox @note Influence sur l'image des posters.

//audio.media
//  display: none // @note C'est Javascript qui se charge de la suppression, ce qui permet l'affichage d'un lecteur par défaut si JS désactivé.

::cue // @note Toutes les propriétés CSS ne sont pas applicables à ce sélecteur @see https://developer.mozilla.org/en-US/docs/Web/CSS/::cue
  line-height: 1.3em // @note Empêche le chevauchement des sous-titres si plus d'une ligne.
  //color: #fff // @note '#fff' par défaut.
  background-color: rgba(0, 0, 0, .4)

video.media
  display: block
  background-color: #000 // @bugfix @affected Google Maps @note Pas de background prédéfinit sur élément `canvas` afin d'éviter les conflits.
  box-shadow: _shadow15

.media-player
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  gap: _mediaPlayerGap
  width: 100%
  height: _mediaPlayerSize
  padding-right: _mediaPlayerGap
  background-color: _colorG + 7%
  border-radius: (_mediaPlayerSize / 2)
  box-shadow: _shadow17
  user-select: none
  & button
    all: unset
    box-sizing: border-box
    flex-shrink: 0
    display: grid
    height: _mediaPlayerSize
    outline: none
    cursor: pointer
    & svg
      width: 1.2em
      height: 1.2em
      margin: auto
  & .media-play-pause
  & .media-mute
  & .media-picture-in-picture
  //& .media-subtitles
    & > :nth-child(2)
      display: none
    & > :last-child
      display: none
    &.active
      & > :first-child
        display: none
      & > :last-child
        display: initial
  & .media-play-pause:disabled
      & > :nth-child(2)
        display: initial
      & > :first-child
      & > :last-child
        display: none
  & .media-mute
  & .media-fullscreen
  & .media-menu
  & .media-extend-menu button
    width: _mediaPlayerSize2
    height: _mediaPlayerSize2
    background-color: _colorG + 14%
    border-radius: 50%
  & .media-fullscreen:hover
  & .media-menu:hover
    background-color: _colorG + 21%
  & .media-mute
  & .media-fullscreen
  & .media-menu
    &:focus-visible
      //background-color: _color5
      border: .2em solid _color5
  & .media-fullscreen.active
    background-color: _color2
  & .media-extend-menu button
    &:focus-visible
      //background-color: _color5
      border: .2em solid _color5
    &:hover
      background-color: _colorG + 21%
    &:active
    &.active
      background-color: _color2
  & .media-time
    flex-shrink: 0
  & .media-progress-bar
  & .media-volume-bar
    --position: 0%
    --color-slide: _color2
    all: unset
    //align-self: stretch
    width: 100%
    min-width: 0 // @affected Firefox
    height: _mediaPlayerRangeHeight
    padding-block: 1em // @note S'ajoute à la propriété height, ne doit pas dépasser la hauteur du player
    color: _color2
    background-clip: content-box
    cursor: pointer
    &:focus-visible
      --color-slide: _color5
  & .media-progress-bar
    --position-buffer: 0%
    --color-buffer: _colorG + 14%
    background-image:
      linear-gradient(90deg, var(--color-slide) 0, var(--color-slide) var(--position), transparent var(--position)),
      linear-gradient(90deg, var(--color-buffer) var(--position-buffer), transparent var(--position-buffer)),
      repeating-linear-gradient(90deg, transparent 0, transparent 2px, _colorG + 14% 2px, _colorG + 14% 4px) // @note En pixels car ne doit pas être scalable.
  & .media-volume-bar
    background-image: linear-gradient(90deg, var(--color-slide) var(--position), transparent var(--position))
  & .media-progress-bar
  & .media-volume-bar
    &:hover::-webkit-slider-thumb
    &:active::-webkit-slider-thumb
      background-color: _color2
    &:focus-visible::-webkit-slider-thumb
      background-color: _color5
    &:hover::-moz-range-thumb
    &:active::-moz-range-thumb
      background-color: _color2
    &:focus-visible::-moz-range-thumb
      background-color: _color5
  & ::-webkit-slider-thumb
    -webkit-appearance: none
    {_mediaPlayerBlockThumb}
  & ::-moz-range-thumb
    box-sizing: border-box // @affected Firefox @note Définition obligatoire de cette règle malgré sa déclaration en globale.
    border: none
    {_mediaPlayerBlockThumb}
  & .media-mute
    background: none
  & .media-volume-bar
    background-color: _colorG + 21%
  & .media-play-pause
    position: relative
    z-index: 1
    width: _mediaPlayerSize
    background-color: _colorG + 14%
    border-radius: 50%
    &::before
      content ''
      position: absolute
      inset: 0
      z-index: -1
      border: _mediaPlayerBorder solid transparent
      border-radius: 50%
    &:focus-visible::before
    &:focus-visible.active::before
      border-block-color: _color5
    &:hover::before
      border-block-color: _colorG + 21%
    &.active::before
      border-block-color: _color2
      animation: anim-play 20s linear infinite var(--play-state, running)
  & .media-tags
    position: absolute
    display: flex
    gap: .3em
    z-index: 1
    //top: 0
    bottom: .2em
    left: 4em
    & > *
      position: relative
      display: none
      min-width: 2.5em
      padding: .1em .3em
      font-size: .8em
      text-align: center
      line-height: 1
      background-color: _colorG + 21%
      border-radius: .3em
      &.active
        display: block
  & .media-extend-volume
    display: flex
    justify-content: flex-end
    align-items: center
    background-color: _colorG + 14%
    border-radius: (_mediaPlayerSize2 / 2)
    outline: none
    transition: padding-left .6s ease-in
    &:focus-within
    &:hover
    &:active
      padding-left: _mediaPlayerGap
      animation: anim-button .6s ease-in-out
      & .media-volume-bar
        display: inherit
        max-width: 10em
  & .media-play-pause.active ~ .media-extend-volume .media-mute.active
    animation: anim-mute 1s infinite
  & .media-volume-bar
    width: 100%
    max-width: 0
    transition: max-width .6s ease-in-out
  & .media-progress-bar
    flex-grow: 1
    width: 10% // @note Ce n'est pas la barre de volume qui s'étend, c'est la barre de progression qui rapetisse.
  & .media-extend-menu
    display: none
  & .media-extend-menu.active
    position: absolute
    z-index: 200 // @todo Si besoin
    top: - _mediaPlayerSize
    right: 0
    display: flex
    align-items: center
    gap: _mediaPlayerGap
    height: _mediaPlayerSize
    padding-inline: _mediaPlayerGap
    background-color: _colorG + 7%
    border-radius: (_mediaPlayerSize / 2)
    box-shadow: _shadow17
  &.error
    flex-shrink: 1
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    color: _colorG + 50%

.waiting .media-play-pause.active
  animation: anim-waiting  1s infinite

video + .media-player
  margin-top: .5em

.figure-media figcaption
  color: _colorT2 //_colorG + 35%

@keyframes anim-play
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

@keyframes anim-button
  50%
    background-color: _colorG + 21%

@keyframes anim-mute
  50%
    color: _colorG + 14%

@keyframes anim-waiting
  50%
    background-color: _color2

.video-youtube
  position: relative // [1] Évite un léger resize entre le thumbnail et le chargement de la vidéo.
  aspect-ratio: 16/9
  user-select: none
  background-color: #000
  & iframe
  & > div
    position: absolute // [1]
    inset: 0
  & .video-youtube-error
    text-align: center
  & .thumbnail-youtube
    display: grid
    place-content: center
    background-size: cover
    background-position: 50% 50% // @note Pour positionner correctement les images plus petites que l'élément.
    & button
      all: unset
      position: relative
      width: 5em
      //aspect-ratio: 1/1
      //max-width: 50%
      outline: none
      & svg
        fill: rgba(255, 255, 255, .7)
      &:focus svg
      &:hover svg
        fill: _color5
  & .video-youtube-title
    position: absolute
    top: 0
    left: 0
    right: 0
    padding: .5em 1em
    overflow: hidden
    white-space: nowrap
    text-align: right
    text-overflow: ellipsis
    text-shadow: 0 0 .2em rgba(0, 0, 0, .8)
  //@media (hover: hover) and (pointer: fine)
