messageColor1 = _colorG + 7%

[class^=message]
  --color: currentColor
  --bg-color: messageColor1
  --colorLink: _colorT2
  padding: .25em 1em // @note Harmonisation avec p.message
  color: var(--color)
  background-color: var(--bg-color)
  box-shadow: _shadow5
  //overflow hidden // @note Evite un conflit avec les margins et padding des éléments enfants. Mais pose des problèmes avec les pseudo-éléments.
  & a
    color: var(--colorLink)

main [class^=message]
  margin-bottom: 1em
  border-radius: _r2

p[class^=message]
  padding: 1em

.message-primary
  --bg-color: _colorG + 20%

.message-secondary
  --bg-color: _colorG + 3%

.message-info
  --bg-color: _color6

.message-success
  --bg-color: _color4

.message-error
  --bg-color: _color3

.message-warning
  --color: invert(_colorT)
  --bg-color: _color5
  & a
    --colorLink: _colorW
