_messageColor1 = _colorG + 7%

[class^=message]
  --color: currentColor
  --bg-color: _messageColor1
  --colorLink: _colorT2
  padding: .25em 1em // @note Harmonisation avec p.message
  color: var(--color)
  background-color: var(--bg-color)
  box-shadow: _shadow5
  //overflow hidden // @note Evite un conflit avec les margins et padding des éléments enfants. Mais pose des problèmes avec les pseudo-éléments.
  & a
    color: var(--colorLink)

main [class^=message]
  margin-bottom: 1em
  border-radius: _r2

p[class^=message]
  padding: 1em

.message-primary
  --bg-color: _colorG + 20%

.message-secondary
  --bg-color: _colorG + 3%

.message-info
  --bg-color: _color6

.message-success
  --bg-color: _color4

.message-error
  --bg-color: _color3

.message-warning
  //--color: #000
  //--bg-color: _color5
  --bg-color: _color5 - 30%

  /*
  &::after
    content ''
    display: block
    clear: both
  & > [class^=icon]
    float: left
    width: 2.5em
    height: 2.5em
    margin: .9em .5em 0 0
    padding: .6em
    color: var(--color)
    background-color: var(--bg-color, _messageColor1)
    clip-path: circle(50%) // @note Préférable à "border-radius: 50%" car évite un effet de rognage sur l'icône.
  */