@charset "utf-8";
/* Les guillemets doubles évitent une erreur au validateur du W3C. @see https://validator.w3.org/ */

/* DÉCLARATION DE L'INDEX DE LA CASCADE (Ordre de priorité croissant) */
@layer tokens, base, layout, transitions, components, helpers, print;

/* 1. COUCHE TOKENS (Variables de Runtime & Déclarations de ressources) */
/* Ingestion globale (Hors-couche pour résolution globale par l'AST) */
@import 'variable.css';
@import 'font.css' layer(tokens);

/* 2. COUCHE BASE (Règles génériques et sémantique brute) */
@import 'base.css' layer(base);
@import 'typography.css' layer(base);

/* 3. COUCHE LAYOUT (Invariants structurels et systèmes de grilles) */
/* @import 'layout.css' layer(layout); */
@import 'grid.css' layer(layout);
@import 'column.css' layer(layout);

/* 4. COUCHE TRANSITIONS (Animations et transitions) */
@import 'transition.css' layer(transitions);

/* 5. COUCHE COMPONENTS (Logique modulaire et blocs atomiques) */
/* @import 'navigation.css' layer(components);
@import 'breadcrumb.css' layer(components);
@import 'alert.css' layer(components); */
@import 'list.css' layer(components);
@import 'image.css' layer(components);
/* @import 'imageAnimation.css' layer(components);
@import 'mediaPlayer.css' layer(components);
@import 'map.css' layer(components);
@import 'card.css' layer(components);
@import 'flip.css' layer(components); */
@import 'codeBlock.css' layer(components);
@import 'messageBox.css' layer(components);
@import 'table.css' layer(components);
/* @import 'form.css' layer(components);
@import 'input.css' layer(components);
@import 'checkbox.css' layer(components);
@import 'range.css' layer(components);
@import 'button.css' layer(components);
@import 'accordion.css' layer(components);
@import 'tab.css' layer(components);
@import 'scrollTop.css' layer(components); */
@import 'footer.css' layer(components);
@import 'article.css' layer(components);
@import 'dropCap.css' layer(components);
/* @import 'lineMark.css' layer(components);
@import 'calendar.css' layer(components);
@import 'progress.css' layer(components);
@import 'loader.css' layer(components); */
@import 'chart.css' layer(components);
/* @import 'scrollBar.css' layer(components); */
@import 'ribbon.css' layer(components);
/* @import 'forum.css' layer(components);
@import 'skin.css' layer(components);
@import 'demo.css' layer(components); */

/* 6. COUCHE HELPERS (Surcharges de commodité / Utilitaires) */
/* @note Les helpers s'appliquent à la fin dans le but d'écraser des styles tels que font-size. */
@import 'helper.css' layer(helpers);

@layer print {
  body > :not(main, footer),
  form,
  fieldset,
  /* input, */
  /* textarea, */
  button,
  audio,
  video,
  [class*=player],
  /* .map, */
  .accordion,
  .card,
  pre button,
  pre div,
  .line-mark {
    display: none !important;
  }

  * {
    text-shadow: none !important;
  }

  *,
  ::before,
  ::after {
    color: black !important;
  }

  body,
  .article {
    display: block; /* @affected Firefox */
  }

  .footer {
    width: 100vw;
    box-shadow: none;
    & > * {
      flex-direction: column;
    }
  } /* @note Harmonisation entre navigateurs. */

  pre,
  blockquote,
  tr,
  img,
  figure,
  [class*='figure'] {
    break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    break-after: avoid;
  }

  a,
  h1 span {
    color: tomato !important;
  }

  [class*='figure'] {
    box-shadow: none !important;
    border: 0.1em solid #ddd; /* @affected Firefox @note Pas de prise en compte de la bordure si 1px. */
  }

  [class*='-alignleft'] {
    float: left;
    margin-inline-end: var(--gap);
  }

  [class*='-alignright'] {
    float: right;
    margin-inline-start: var(--gap);
  }

  .article .wrapper {
    text-align: justify;
    margin-block-start: var(--gap);
    padding: 0 !important; /* @affected Firefox */
    box-shadow: none !important; /* @affected Firefox */
  }

  .tags a {
    background: #efefef !important;
  }

  .avatar,
  .avatars,
  .tags {
    print-color-adjust: exact !important;
  }

  html,
  footer {
    background: white;
  }
}
