// @note Permet de choisir une feuille de styles spécifique si plusieurs thèmes CSS plutôt que de passer par le thème courant avec link(rel='stylesheet').
@charset "utf-8"

// @note Les helpers s'appliquent à la fin dans le but d'écraser des styles tels que font-size.

@require 'variable'
@require 'font'
@require 'base'
@require 'typography'
//@require 'layout'
@require 'grid'
@require 'column'
//@require 'navigation'
//@require 'breadcrumb'
//@require 'alert'
@require 'list'
@require 'image'
//@require 'mediaPlayer'
//@require 'map'
//@require 'card'
@require 'codeBlock'
@require 'messageBox'
@require 'table'
//@require 'form'
//@require 'input'
//@require 'checkbox'
//@require 'range'
//@require 'button'
//@require 'accordion'
//@require 'tab'
//@require 'scrollTop'
@require 'footer'
@require 'article'
@require 'dropCap'
//@require 'lineMark'
//@require 'calendar'
//@require 'progress'
//@require 'loader'
@require 'chart'
//@require 'scrollBar'
@require 'ribbon'
//@require 'forum'
//@require 'skin'
//@require 'demo'
@require 'helper'


body > :not(main, footer)
form
fieldset
//input
//textarea
button
audio
video
[class*=player]
//.map
.accordion
.card
pre button
pre div
.line-mark
  display: none !important

*
  text-shadow: none !important

*
::before
::after
  color: black !important

body
.article
  display: block // @affected Firefox

.footer // @note Harmonisation entre navigateurs.
  width: 100vw
  & > *
    flex-direction: column

pre
blockquote
tr
img
figure
[class*=figure]
  break-inside: avoid

p
h2
h3
  orphans: 3
  widows: 3

h2
h3
  break-after: avoid

a
h1 span
  color: tomato !important

[class*=figure]
  box-shadow: none !important
  border: .1em solid #ddd // @affected Firefox @note Pas de prise en compte de la bordure si 1px.

[class*=-alignleft]
  float: left
  margin-right: _gap

[class*=-alignright]
  float: right
  margin-left: _gap

.article .wrapper
  text-align: justify
  margin-block-start: _gap
  padding: 0 !important // @affected Firefox
  box-shadow: none !important // @affected Firefox


.keywords a
  background: #efefef !important

.avatar
.avatars
.keywords
  -webkit-print-color-adjust: exact !important
  print-color-adjust: exact !important

/*

// @see https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/style.css#L189

*
*::before
*::after
  background: #fff !important
  color: #000 !important
  box-shadow: none !important
  text-shadow: none !important

a
a:visited
  text-decoration: underline

a[href]::after
  content: ' (' attr(href) ')'

abbr[title]::after
  content: ' (' attr(title) ')'

a[href^=#]::after
//a[href^=javascript:]::after
  content: ''

pre
  white-space: pre-wrap !important
  border: none

thead
  display: table-header-group

pre
blockquote
tr
img
  break-inside: avoid

p
h2
h3
  orphans: 3
  widows: 3

h2
h3
  break-after: avoid

body > footer
nav
form
fieldset
input
textarea
button
audio
video
[class*=player]
.accordion
.card
pre button
pre div
  display: none

table
  border-collapse: collapse

table th
table td
  padding: 0 5px
  border: 1px solid #ddd

figure
img
figcaption
  max-width: 300px

.icon
  max-width: 20px

[class*=alert] svg
  max-width: 20px
  display: inline-block

*/
