_colorProgressBar1 = _color2
_colorProgressBar2 = rgba(0, 0, 0, .2) //_colorG
_colorProgressBar3 = rgba(255, 255, 255, .2)

.progress-bar
  position relative
  height 2em
  //margin 2em 0
  background-color _colorProgressBar2
  border-radius 1em

.progress-bar div
.progress-bar div::after
  position absolute
  border-radius 1em

.progress-bar div
  height 100%
  min-width 2em
  max-width 100%
  background-color _colorProgressBar1
  box-shadow inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .4)

.progress-bar div::after
  content ''
  z-index 1
  top 0
  left 0
  bottom 0
  right 0
  background-image linear-gradient(-45deg, _colorProgressBar3 25%, transparent 25%, transparent 50%, _colorProgressBar3 50%, _colorProgressBar3 75%, transparent 75%, transparent)
  background-size 3em 3em
  animation animProgress 1.5s linear infinite

@keyframes animProgress
  0%
    background-position 0 0
  100%
    background-position 3em 3em

/* @note La balise html progress pose des problèmes d'harmonisation des styles entre navigateurs @todo À revoir dans le temps...
progress[value]
  appearance none
  vertical-align middle
  width 100%
  height 2rem
  margin 0 // @bugfix @affected Chrome @note Alignement vertical décalé
  color $color1 // @affected IE10
  border 0 // @affected Firefox
  background _colorProgressBar1 // @affected Opera

progress::-webkit-progress-bar
  background _colorProgressBar1

progress::-webkit-progress-value
  background _colorProgressBar1
*/