_rangeColor1 = rgba(255, 255, 255, .1)
_rangeColor2 = #333
_rangeColor3 = rgba(255, 255, 255, .1)
_rangeColor5 = _color2
_rangeColor6 = _color2
_rangeColor7 = _colorT
_rangeColor8 = _color5
_rangeColor9 = _colorG - 20%
_rangeSize1 = 2.3em
_rangeSize3 = 3px
_rangeShadow1 = 0 .5rem 2rem rgba(0, 0, 0, .3)

[class^=range]
  --color: _rangeColor6
  display: grid
  gap: .5em
  margin-bottom: 1em
  & input
    grid-column: 1 // @see https://css-tricks.com/multi-thumb-sliders-particular-two-thumb-case/
    grid-row: 2 // Idem.
    pointer-events: none
    -webkit-appearance: none
    width: 100%
    height: .3em
    max-width: 100%
    cursor: pointer
    //background-color: _rangeColor1
    background: linear-gradient(to top, hsla(0, 0, 100%, .05) 0, hsla(0, 0, 100%, .05) 33.3%, #222 33.3%, #222 66.6%, hsla(0, 0, 100%, .05) 66.6%, hsla(0, 0, 100%, .05)) // @see https://stackoverflow.com/questions/22229270 @note background écrase la valeur background-color par défaut du navigateur.
    //background-size: 100% 100%
    & ~ input // non équivalent à :last-child
      background: initial // @bugfixed @affected Firefox @note La ligne de fond passe au-dessus des curseurs si transparence non définie.
    &:disabled
      //background-color: _rangeColor2
      cursor: not-allowed
      & + output
        color: _colorG + 30%
        &::after
          background: _rangeColor9 repeating-linear-gradient(-90deg, _rangeColor3 0 _rangeSize3, _rangeColor3 0, transparent 0, transparent _rangeSize3 * 2)
    &:focus
      outline: none
  /*
  & ::-webkit-slider-runnable-track // @note Barre
    background-color: _rangeColor1
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .2)
  */
  //1. Les deux solutions ne peuvent pas être factorisées.
  & ::-webkit-slider-thumb // @affected Chrome @note Curseur [1]
    //position: relative
    //z-index: 1
    pointer-events: auto
    -webkit-appearance: none
    width: _rangeSize1
    height: _rangeSize1
    background-color: saturation(_rangeColor5 - 10%, 80%)
    border: .2em solid _rangeColor5
    border-radius: 50%
    box-shadow: _shadow6
  & :focus-visible::-webkit-slider-thumb
    background-color: _rangeColor8
    border-color: _rangeColor8
  & input:disabled::-webkit-slider-thumb
    border-color: _colorG + 10%
    background: _rangeColor9 repeating-linear-gradient(-45deg, transparent 0 _rangeSize3, _colorG _rangeSize3 _rangeSize3 * 2)
  & ::-moz-range-thumb // @affected Firefox @note Curseur [1]
    pointer-events: auto
    //-webkit-appearance: none // ??? @todo A voir...
    box-sizing: border-box // @affected Firefox @note Définition obligatoire de cette règle malgré sa déclaration en globale.
    width: _rangeSize1
    height: _rangeSize1
    background-color: saturation(_rangeColor5 - 10%, 80%)
    border: none // @affected Firefox @note Définition obligatoire.
    border: .3em solid _rangeColor5
    border-radius: 50%
    box-shadow: _shadow6
  & :focus-visible::-moz-range-thumb
    background-color: _rangeColor8
    border-color: _rangeColor8 // @affected Firefox @note La déclaration !important n'est pas nécessaire.
  & input:disabled::-moz-range-thumb
    border-color: _colorG + 10%
    background: _rangeColor9 repeating-linear-gradient(-45deg, transparent 0 _rangeSize3, _colorG _rangeSize3 _rangeSize3 * 2)
  & output
    position: relative
    //justify-self: center
    margin: 0 auto 2em
    text-align: center
  & output:not(.phylactery)
    --size: 5em // @note Ne pas descendre en dessous de cette valeur, les navigateurs interprêtent différement @todo Comportement à suivre...
    width: var(--size)
    height: var(--size)
    line-height: var(--size)
    vertical-align: middle
    border-radius: 50%
    &::after
      box-sizing: border-box // @affected Firefox @note Définition obligatoire de cette règle malgré sa déclaration en globale.
      content: ''
      position: absolute
      z-index: -1
      inset: 0
      background-color: var(--color)
      border-radius: 50% 50% 0 50%
      box-shadow: _rangeShadow1
      transform: rotate(45deg)
  & .phylactery
    min-width: var(--size, 4em)
    padding: 1em
    background-color: var(--color)
    border-radius: .3em
    box-shadow: _rangeShadow1
    &::after
      position: absolute
      content ''
      bottom: -1em
      left: calc(50% - 1em)
      width: 2em
      height: 1.5em
      background-color: var(--color)
      clip-path: polygon(50% 100%, 0 0, 100% 0)
      filter: drop-shadow(0 .5rem 2rem rgba(0, 0, 0, .3)) // _rangeShadow1

.range-multithumb input
  --colorSlide: _rangeColor5
  background: linear-gradient(90deg, transparent var(--start), var(--colorSlide) var(--start), var(--colorSlide) var(--stop), transparent var(--stop)), linear-gradient(to top, hsla(0, 0, 100%, .05) 0, hsla(0, 0, 100%, .05) 33.3%, #222 33.3%, #222 66.6%, hsla(0, 0, 100%, .05) 66.6%, hsla(0, 0, 100%, .05)) // @see https://stackoverflow.com/questions/22229270
  &:disabled
    --colorSlide: #444
