// @bug @affected Chrome @note Effet de bord indésirables si utilisation avec la propriété column-count sur l'élément parent (sauf pour le premier item). 1/ Bandeau tronqué si placé sur un élément avec la propriété. 2/ Liens non cliquables si utilisation de clip-path.

_ribbonDottedSize = 2px
_ribbonDotted = _ribbonDottedSize dotted rgba(0, 0, 0, .3)
_ribbonColor1 = #ff6347
_ribbonColor2 = _color5

.ribbon-content
  position relative
  > [class*=ribbon]
    position absolute
    z-index 2000 // @note Au cas où le ribbon est placé après le contenu de .ribbon-hook. @todo Valeur importante pour passer par dessus les .map.
    line-height 10em
    //font-size 1.5em // zoom
    display block
    width 10em // @note Le choix d'un carré plutôt que d'un rectangle permet de mieux contrôler les déplacement avec transform et conduit à produire un clip-path plus simple que pour notre essai précédent.
    height 10em
    text-align center
    text-decoration none
    color #e9dac5
    background-color _ribbonColor1
    //border-top 0 solid Transparent
    border-bottom 4em solid #555
    clip-path polygon(80% 40%, 100% 60%, 100% 65%, 95% 60%, 5% 60%, 0% 65%, 0% 60%, 20% 40%)
    transform rotate(-45deg) translateY(-3.55em)
    //filter drop-shadow(0 0 2rem #000)
    &::before
    &::after
      content ''
      position absolute
      left 0
      width 100%
      height _ribbonDottedSize
      border-top _ribbonDotted
    &::before
      top 4.1em
    &::after
      bottom .1em
    &:focus
    &:hover
    &:active
      text-decoration none !important
      color #333 !important
      background-color _ribbonColor2
    span
      display block
      transform rotate(180deg)
  > .ribbon-top-left
    top 0
    left 0
  > .ribbon-top-right
    top 0
    right 0
    transform rotate(45deg) translate(0, -3.55em)
  > [class*=ribbon-top] //:not([class*=-bottom])
      background-image linear-gradient(to top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1) 2em)
  > [class*=ribbon-bottom]
    background-image linear-gradient(to top, rgba(255, 255, 255, .1), rgba(0, 0, 0, .1) 1.25em)
  > .ribbon-bottom-left
    bottom 0
    left 0
    transform rotate(225deg) translate(0, -3.55em)
  > .ribbon-bottom-right
    bottom 0
    right 0
    transform rotate(135deg) translate(0, -3.55em)
