_scrollTopColor1 = #000
_scrollTopColor2 = _colorG + 50%
_scrollTopColor3 = _color5

.scroll-top
  //display: none // @note Apparition de l'élément au scrool de la page via JS.
  position: fixed
  bottom: 0 // @todo Fallback car la variable env() est encore très récente.
  bottom: env(safe-area-inset-bottom, 0) // @note Permet de prendre en compte les éléments d'interface supperposés sur la page web, la flèche passera alors au-dessus. La valeur de "safe-area-inset-bottom" est fournie par le navigateur.
  right: 0
  z-index: 4000
  height: 3em
  width: 3em
  background-color: transparent
  border: none
  outline: none
  &.hide
    display: none
  & svg
    height: 2em
    width: 2em
    fill: _scrollTopColor1
    opacity: .5
  &:focus-within svg
    fill: _scrollTopColor3
  &:hover svg
  &:active svg
    fill: _scrollTopColor2
