@use 'variable' as *;

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: var(--colorA003);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color2);
}

* {
  scrollbar-color: var(--color2) var(--colorA003);
}
