_bg = '/medias/images/site/mosaic.png'

html
.logo-nav
.cmd-nav:focus
.cmd-nav:hover
.main-nav ul
.main-nav a
.main-nav .current
.main-nav .current::after
.breadcrumb
.breadcrumb ol
.breadcrumb li > *
.footer
.card h2
.card p
.card svg
[class^=message]
[class^=message]::before
[class*=list-stripe] > :not([class*=-links])
.list-straight li *
.list-straight li::before
.list-rounded li *
.list-rounded li::before
[class*=figure]
.search button
[class*=table] thead th
[class*=table] tfoot td
[class*=table] tbody th
[class*=table] tbody td
.accordion > * > :first-child
.accordion > * > :last-child
.tab-summary
.audio-player
.progress-bar div
[class*=demo-items] > *
.demo-item
  background-image: embedurl(_bg) // PNG moins lourd que WebP pour l'encodage en base64.
  background-size: image-size(_bg)[0] image-size(_bg)[1]
  background-repeat: repeat // Propriété nécéssaire pour les éléments avec clip-path
