_bg = '/medias/images/site/mosaic.png'

html
.logo-nav
.nav
.cmd-nav
.sub-nav li > *
.sub-nav .current::after
.breadcrumb li > *
.alert .wrap
.footer
.card h2
.card p
.card svg
[class^=message]
[class^=message]::before
[class*=list-stripe] > :not([class*=-links])
.list-straight li *
.list-straight li::before
.list-rounded li *
.list-rounded li::before
[class*=figure-image]
.search button
[class*=table] thead th
[class*=table] tfoot td
[class*=table] tbody th
[class*=table] tbody td
.accordion > * > :first-child
.accordion > * > :last-child
.tab-list > button
.tab-summary
.media-player
.media-player button
//.media-player .media-play-pause
.media-extend-volume
.media-extend-menu
//.media-extend-menu button
.progress-bar div
.article .keywords a
.topic-item
[class*=demo-items] > *
.demo-item
  background-image: embedurl(_bg) // PNG moins lourd que WebP pour l'encodage en base64.
  background-size: image-size(_bg)[0] image-size(_bg)[1] // Taile en px par défaut, c'est très bien car ce paramètre ne doit pas être scalable.
  background-repeat: repeat // Propriété nécéssaire pour les éléments avec clip-path

/*
html
  position: relative
  &::before
    content: ''
    position: fixed
    inset: 0
    filter: url('../sprites/filter.svg#noise') sepia(1) opacity(.2) // hue-rotate(0deg) // @affected All browsers @note Très mauvaise performance de SVG <feTurbulence>.
*/
