html,
.nav,
.cmd-nav,
.cmd-nav:not(:focus, :hover, [aria-expanded='true']) svg,
.sub-nav li > *,
.sub-nav .current::after,
.breadcrumb li > *,
.alert .wrap,
.footer,
.card > div:not([class^='ribbon']),
.card svg,
[class^='message'],
[class^='message']::before,
[class*='list-stripe'] > :not([class*='-links']),
.list-straight li > *,
.list-straight li::before,
.list-rounded li > *,
.list-rounded li::before,
[class*='figure-image'],
.input-group > :first-child,
.term,
.button,
.round-button,
.search button,
[class*='table'] thead th,
[class*='table'] tfoot td,
[class*='table'] tbody th,
[class*='table'] tbody td,
.accordion > * > :first-child,
.accordion > * > :last-child,
.tab-list > button,
.tab-summary,
.media-player,
.media-play-pause::before,
.media-tags > *,
.media-extend-volume,
.media-player .media-fullscreen,
.media-player .media-menu,
.media-extend-menu,
.media-extend-menu button,
.progress-bar div,
.article .tags a,
.topic-item,
[class*='demo-items'] > *,
.demo-item {
  /* @note PNG moins lourd que WebP pour l'encodage en base64. */
  background-image: var(--bg);
  /* @note Taille en px par défaut, ce paramètre ne doit pas être scalable. */
  background-size: 58px 61px;
  /* @note Propriété nécéssaire pour les éléments avec clip-path. */
  background-repeat: repeat;
}

/*
html {
  position: relative;
  &::before {
    content: '';
    position: fixed;
    inset: 0;
    filter: url('../sprites/filter.svg#noise') sepia(1) opacity(.2); /* @affected All browsers @note Très mauvaise performance de SVG <feTurbulence>.
  }
}
*/
