_tabColor1 = rgba(255, 255, 255, .1) //_colorG + 40%
//_tabColor2 = rgba(255, 255, 255, .05) //_colorG + 20%
_tabColor3 = _color2
_tabColor4 = #fff
_tabSize1 = 1px
_tabBoxShadow1 = 0 -1rem 1rem rgba(0, 0, 0, .05)

.tabs
  & .tab-list
    display flex
    margin-top .5em // Si onglets imbriqués.
    //margin-bottom 0
    padding 0
    & button
      z-index 1
      overflow hidden
      display block
      height 2.5em
      padding .5em 1em
      white-space nowrap
      text-overflow ellipsis
      text-decoration none
      color inherit
      background-color _colorG + 7%
      border _tabSize1 solid _tabColor1 //_tabColor2
      border-bottom-color _tabColor1
      border-radius .5em .5em 0 0
      box-shadow _tabBoxShadow1
      //filter drop-shadow(0 -.5rem .5rem rgba(0, 0, 0, .1))
      cursor pointer
      transition .2s box-shadow ease-in-out
      &.current
        z-index 2 // Permet une gestion correcte des ombres.
        flex-shrink 0
        max-width 60%
        background-color _color1
        border-bottom none
        pointer-events none
      &:not(.current)
        user-select none
  & .tab-panel
    position relative
    top - _tabSize1 // Compensation de la bordure inférieure des onglets.
    margin-bottom .5em
    padding 'calc(.5em + %s) 1em .5em' % _tabSize1 // @note Idem
    border _tabSize1 solid _tabColor1
    box-shadow 0 1rem 1rem rgba(0, 0, 0, .1)
    & + .tab-panel
      display none

@media (hover hover) and (pointer fine)

  .tabs .tab-list button
    &:focus-visible
    &:hover
      outline none
      box-shadow inset 0 -.3em _tabColor3, _tabBoxShadow1
