_tableSize = 5px
_tableColor1 = _colorG + 7%
_tableColor2 = _color2
_tableColor3 = _colorG - 30%
_tableColor4 = _colorG - 10%
_tableShadow1 = _shadow11
_tableShadow2 = inset 0 0 1px #222

[role=region][aria-labelledby][tabindex]
  &:has(.table) // @see https://css-tricks.com/under-engineered-responsive-tables/
    overflow: auto // clip
    box-shadow: _tableShadow1
    max-height: 80vh
  &:focus
    outline: .1em solid _color5

[class^=table]
  width: 100%
  //min-width: min-content
  border-collapse: collapse // separate
  font-weight: normal
  //overflow-wrap: normal
  word-break: normal
  text-align: left
  & th
    font-weight: normal
  & th
  & td
    vertical-align: top
    padding: .5em 1em
    box-shadow: _tableShadow2
  & thead th
    position: sticky
    top: 0
    z-index: 1
    background-color: _tableColor2
  & tfoot
  & tbody th
    background-color: _tableColor3
  & tbody tr:nth-child(odd)
    background-color: _tableColor1
  & tbody tr:nth-child(even)
    background-color: _tableColor4
  & tbody :empty::after
    content: '/'
  //&[class*=-fixed]
  //  table-layout: fixed
  //  width: content

.table-responsive
  @media (max-width: _sizeS)
    border-collapse: separate
    border-spacing: 0 .5em
    margin: -.5em 0
    & thead
    & tfoot
      display: none
    //& th
    & td
      display: block
    & td:last-child
      padding-bottom: 1em
    & td
      box-shadow: none
    & tr > :first-child
      padding-top: 1em
    & tfoot :empty
      display none
    & tbody tr
      background-color: _tableColor1 !important
      //border-radius: _r2
      box-shadow: _tableShadow1
      > *
        padding: 0 1em
    & tbody th::before
    & tbody td::before
      content: attr(data-thead) ' '
      color: _colorT2
    & tbody :empty::after
      content: '...'
