_topicColor1 = _colorG
_topicColor2 = _colorG + 27.5%

.topic
  display: grid
  grid-template-columns: minmax(0, 1fr)
  gap: _gap 0
  max-width: 60em
  & h1
    margin-bottom: .44em // @note Compense de manière "artisanale" le gap entre header et .wrapper @todo À revoir.
  & .wrapper
  & article
  & form
    max-width: 55em
    @media (min-width: _sizeXS)
      &:first-child
        margin-left: auto
      &:nth-child(odd)
        margin-left: auto
      &:nth-child(even)
        margin-right: auto
  & .wrapper
  & article
    background-color: _topicColor1
    border-radius: _r2
    @media (min-width: _sizeXS)
      padding: 4em 6em
      box-shadow: _shadow8
  & .sub-header
    margin-block: 2em 1em
  & .sub-header
  & article header
    display: grid
    grid-template-columns: 3.5em minmax(0,1fr)
    grid-template-areas: 'aa tt' 'aa uu'
  & article
  & form
    @media (max-width: _sizeXS)
      &::before
        content: ''
        display: block
        height: .5em
        margin-bottom: 1.5em
        background-image: repeating-linear-gradient(-45deg, transparent 0 _hrSize, rgba(255, 255, 255, .1) _hrSize _hrSize * 2)
  & article
    position: relative
  & .anchor
    position: absolute
    right: 2em
    color: _topicColor2
    @media (max-width: _sizeXS)
      top: 2em
    @media (min-width: _sizeXS)
      top: 4em
  & form
    width: 100%
  & .avatar
    grid-area: aa
    --img: ''
    width: 3em
    aspect-ratio: 1
    background: #222 var(--img)
    background-size: cover
    border-radius: 50%
  & address
    grid-area: tt
    font-style: normal
    font-weight: bold
    font-variant: small-caps
  & time
    grid-area: uu
  & .keywords
    list-style: none
    display: flex
    flex-wrap: wrap
    gap: (_gap / 2) (_gap / 2)
    font-size: .8em
    margin-block: .75em 0
    padding-left: 0
    & > :last-child
      margin-right: 0
    & li
      margin-bottom: .75em
      filter: drop-shadow(_shadow2)
    & a
      padding: .25em .5em .25em 1.25em
      white-space: nowrap
      background-color: _colorG - 28%
      clip-path: polygon(.75em 0, 100% 0, 100% 100%, .75em 100%, 0 50%)

/*
*
  outline: 1px solid orange !important
*/
