/* 1. Activation du moteur de transition inter-documents */
@view-transition {
  navigation: auto;
}

/* 2. Mapping des discriminants sur les invariants de la structure HTML */
.nav {
  view-transition-name: layout-nav;
}

#main {
  view-transition-name: layout-main;
}

.footer {
  view-transition-name: layout-footer;
}

.alert {
  view-transition-name: layout-alert;
}
