::marker
  color: _color2

.main-heading
  word-wrap: break-word // @note Alias de overflow-wrap @see https://developer.mozilla.org/fr/docs/Web/CSS/overflow-wrap
  text-shadow: .2em .2em .2em rgba(0, 0, 0, .3)
  span
    color: _color2

//.separator
//  width: 100%
//  height: 10em
//  fill: currentColor
//  margin: 2em auto

hr[data-hr]
.decorative-hr hr
  display: block
  //clear: both
  width: 100%
  height: 2em
  margin: 2em 0
  //font-family: _fontList2
  line-height: 1
  //letter-spacing: .5em
  background-image: none

hr[data-hr]::after
.decorative-hr hr::after
  content: attr(data-hr)
  display: block
  width: 100%
  height: 100%
  font-size: 2em
  text-align: center
  color: rgba(255, 255, 255, .2)

.blockquote blockquote
  position: relative
  margin: 0
  padding-left: 2em
  background: repeating-linear-gradient(-45deg, transparent 0 _hrSize, rgba(255, 255, 255, .1) _hrSize _hrSize * 2) no-repeat
  background-size: .5em 100%
  &::before
  &::after
    position: absolute
    left: -.1em
    line-height: .5
    font-size: 3rem
    color: _color2
    font-family: _fontList2
  &::before
    content: '\00AB' // '\201D'
    top: -.1em
  &::after
    content: '\00BB' //'\201C'
    bottom: 0
  & footer
    margin-block: .75em
    //text-align: right
    &::before
      content: '\2014 \00A0'
    &::after
      content: '.'

.decorative-hr hr::after
  content: '✻ ✻ ✻'

//:lang(grc) // @note Grec ancien (grec moderne : 'el')

:lang(he) // @note Hébreu
  direction: rtl
  //font-family: _fontList2

.verse
  color: _color2

.links p a:not([href^="#"])::after // Liens internes, sauf les ancres.
  content: ' ↩' //⤶

//_go = '/medias/icons/dest/external-link.svg'

.links p a[href*="//"]::after // @note Liens externes.
  content: ' ↗'
  /*
  content: embedurl(_go)
  display: inline-block
  height: 1em
  width: 1em
  color: var(--color)
  fill: var(--color)
  margin: -.5em 0 -.5em .2em
  */

.justify
  hyphens: auto
  @media (min-width: _sizeXS)
    text-align: justify
