// @note Règle pour les champs concernés par une classe spécifique, telle que `.input`.
_inputColor1 = _colorG - 35%
_inputColor2 = _color2
_inputColor3 = _color2
_inputColor4 = _color2
_inputColor5 = _colorG - 20%
_inputColor6 = #777
_inputColor7 = _colorW
_inputColor8 = _inputColor1 + 10%
_inputColor9 = #fff
_inputColor10 = rgba(0, 0, 0, .5)
_inputSize1 = 3em
_inputSize2 = 5px
_inputSize3 = 2px
_inputBoxShadow1 = inset 0 .2em .5em rgba(0, 0, 0, .2) //0 1.5rem 2rem rgba(0, 0, 0, .2)

//.input // ciblage trop général pose problème pour les élemnts imbriqués

/*
form
  & > .input
  & fieldset > .input
  & > [class*="grid"] > .input
    width: 100%
*/

.input
  & label
    display: inline-block
    margin-block-end: .5em
  & input:not([type=button], [type=submit], [type=range])
  & select
  & textarea
    width: 100%
    color: currentColor
    background-color: _inputColor1 !important // @bugfix @affected Chrome @note Le !important contre le style par défaut des préremplissages.
    border: _inputSize3 solid _inputColor8 // @note Permet d'anticiper le comportement des bordures colorées de '.invalid' en évitant des rattrapages en padding aléatoires selon le type d'input
    border-radius: _r2
    box-shadow: _inputBoxShadow1 !important // @bugfix @affected Chrome @note Le !important supplante le style par défaut des préremplissages.
  & input:not([type=button], [type=submit], [type=range])
  & select:not([multiple])
    height: _inputSize1 // @note Permet d'approcher un alignement "pixel perfect" entre les différents champs lorqu'ils sont alignés.
    max-height: _inputSize1
    line-height: _inputSize1
    padding-inline: 1em
  & input[type=color]
    padding: _inputSize3 !important //.4em // @note Les padding top et bottom doivent être les mêmes que les autres inputs pour rester verticalement aligné avec ces derniers. Ce comportement ne peut être corrigé par `box-sizing: border-box`.
    &::-webkit-color-swatch
      border: none
    &::-webkit-color-swatch-wrapper
      padding: 0
  & input[type=date]
  & input[type=datetime-local]
  & input[type=week]
  & input[type=month]
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z'/></svg>")
    &:focus
    &:hover
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='orange'><path d='M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z'/></svg>")
  & input[type=month]
    text-transform: capitalize
  & input[type=time]
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/><path d='M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z'></path></svg>")
    &:focus
    &:hover
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='orange'><path d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/><path d='M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z'></path></svg>")
  & input[type=file]
    padding-inline-end: 3em // @note Évite que le texte ne passe sous l'icône.
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z'></path></svg>")
    &:focus
    &:hover
    &:active
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='orange'><path d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z'></path></svg>")    
  & select:not([multiple])
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/></svg>")
    background-size: 1.5em 1.5em
    background-repeat: no-repeat
    background-position: calc(100% - .4em) 50%
    &:focus
    &:hover
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='orange'><path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/></svg>")
    &:active
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/></svg>")
  & select[multiple]
    min-height: _inputSize1 // @affected Chrome Androïd.
    padding: .4em 1em
  & textarea
    min-height: 9.75em
    max-height: 50vh
    padding: 1em
    line-height: 1.5
    resize: vertical
  & input:not([type=button]):focus
  & select:focus
  & textarea:focus
    border-color: _inputColor4
    outline: none
  /*
  & input:focus:not(:disabled)
  & input:hover:not(:disabled)
  & input:active:not(:disabled)
  & select:focus:not(:disabled)
  & select:hover:not(:disabled)
  & select:active:not(:disabled)
  & textarea:focus:not(:disabled)
  & textarea:hover:not(:disabled)
  & textarea:active:not(:disabled)
    animation: anim-input .05s ease-in-out
  */
  &.disabled label
    color: _inputColor6
  &.disabled input
    background: _inputColor5 repeating-linear-gradient(-45deg, transparent 0 _inputSize2, _colorG _inputSize2 _inputSize2 * 2)
    background-size: 100% 100%
    cursor: default
  & .invalid
    background-position: right .7em center // @note Révision de l'emplacement de l'astérisque si champ obligatoire
  & .invalid
    animation: anim-invalid-input 2s ease-in-out infinite !important
  // @note Code intéresant si couplé à des regex :
  //.input :invalid:focus
    // background-color: #f2dede !important
  //.input :valid:focus
    // background-color: #dff0d8
  /*
  & :required
  & .required // @note '.required' pour éléments select, et fallback all browsers
    //background-image: _image002
    background-repeat: no-repeat
    background-position: right .5em center
    background-size: 1em 1em
  & :required:focus
  & .required:focus
    background-image: none
  */
  & input + [class*=message]
    margin-block-start: 1em

.input:has([type=color] + output) // @bugfixed @affected Les anciens Firefox < v108.
  position: relative
  & output
    position: absolute
    left: .5em
    bottom: .6em
    margin: _inputSize3
    padding: .2em .5em
    font-family: monospace, monospace // @bugfix Déclaration double, solution de contournement pour certains navigateurs qui ont tendance à réduire la taille des polices monospaces. @affected Chrome. @see https://stackoverflow.com/questions/38781089/font-family-monospace-monospace
    color: _inputColor9
    background-color: _inputColor10
    pointer-events: none

:root .input-password input
  padding-inline-end: 3em // @note Évite que le texte ne passe sous l'icône.
  letter-spacing: .4em

.input-password
  position: relative
  & button
    position: absolute
    bottom: _inputSize1 / 2
    right: .5em
    width: 2.1em
    height: 2.8em
    padding: .5em
    color: #777
    background-color: transparent
    border: none
    &:focus
      outline: none
    &:focus
    &:hover
    &:active
      color: _color5
    & svg
      width: 100%
      height: 100%

.search form
  display: flex
  width: 100%
  height: 3em
  align-items: stretch
  & *
    outline: none
  & input //[type=search]
    flex-grow: 1
    max-height: 100%
    //min-height: 100%
    padding: .4em 1em
    color: currentColor
    background-color: _inputColor1
    border: 2px solid _inputColor8
    border-right: none
    border-radius: 1.5em 0 0 1.5em
    box-shadow: _inputBoxShadow1
    &:focus
    &:hover
    &:active
      border-color: _inputColor4 //_inputColor3
      //animation: anim-input .05s ease-in-out
  & button
    min-width: 3.5em
    color: _colorT
    background-color: _color2
    border: none
    border-radius: 0 1.5em 1.5em 0
    box-shadow: _inputBoxShadow1
    &:focus
    &:hover
    &:active
      color: _inputColor7
      animation: anim-search .2s ease-in-out
    & svg
      width: 1em
      height: 1em

/*
@keyframes anim-input
  to
    transform: scale(1.03) translateZ(0)
*/

@keyframes anim-invalid-input
  50%
    border-color: _color5

/*
@keyframes anim-search
  50%
    background-color: _color5
    transform: scale(1.1) translateZ(0)
*/
