@use 'variable' as *;

.calendar-color {
  vertical-align: sub;
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  margin-inline-end: 0.5em;
}

.calendar-white {
  background-color: hsl(0, 0%, 100%);
}

.calendar-green {
  background-color: hsl(120, 100%, 25%);
}

.calendar-red {
  background-color: hsl(0, 100%, 42%);
}

.calendar-purple {
  background-color: hsl(300, 100%, 25%);
}

.calendar-pink {
  background-color: hsl(330, 100%, 71%);
}

.calendar-black {
  background-color: var(--colorB);
}
