@use 'variable' as *;

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  margin-block: 0.83em 0.415em;
  padding: 0;
  white-space: normal;
  font-weight: bold;
}

label:where(:focus, :hover, :active, :checked) {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
input[type='button']:-moz-focusring,
input[type='reset']:-moz-focusring,
input[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

select {
  white-space: nowrap;
  text-overflow: ellipsis;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
}

select[multiple] option {
  padding-block-start: 0;
  padding-block-end: 0;
}

select[multiple] option {
  color: var(--colorT) !important;
}

select[multiple] option:checked {
  background: var(--color2)
    linear-gradient(0deg, var(--color2) 0%, var(--color2) 100%);
}

textarea {
  display: block;
  overflow: auto;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-inline-start: 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(0, 0%, 47%)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

input[type='search']::-webkit-search-cancel-button:hover,
input[type='search']::-webkit-search-cancel-button:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(39, 100%, 50%)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

input[type='file'],
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='week'],
input[type='month'],
select {
  -webkit-appearance: none;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.6em) 50%;
}

@supports (-moz-appearance: none) {
  input[type='date'],
  input[type='time'],
  input[type='datetime-local'],
  input[type='week'],
  input[type='month'] {
    padding-inline-end: 3em !important;
    cursor: pointer;
  }
}

::-webkit-datetime-edit-fields-wrapper,
input[type='file'],
input[type='color'],
select {
  cursor: pointer;
}

::-webkit-file-upload-button,
::file-selector-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

::-webkit-clear-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(0, 0%, 47%)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

::-webkit-clear-button:focus,
::-webkit-clear-button:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='hsl(39, 100%, 50%)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

[type='time']::-webkit-clear-button {
  transform: translateX(-1.4em);
}

:-webkit-autofill {
  -webkit-text-fill-color: var(--colorT);
  transition-property: background-color;
  transition-delay: 1000000s;
}

::placeholder {
  color: var(--colorG60);
}

:focus::placeholder {
  color: transparent;
}

.invalid + [class*='message'] {
  position: relative;
}

.invalid + [class*='message']::before {
  content: '';
  position: absolute;
  top: -0.7em;
  left: 0.8em;
  width: 1.6em;
  height: 0.8em;
  background-color: var(--colorS52);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
