.stats-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-inline-start: var(--list-start, 2.5em);
  list-style-type: none;
  margin: 0;
  padding: 0;

  & li {
    display: flex;
    gap: 0.5em;

    & span:first-child {
      width: 2em;
      /* font-weight: bold; */
      text-align: center;
    }

    & span:nth-child(2) {
      flex-shrink: 0;
      min-width: 3em;
      max-height: 1.5em;

      &:where(:focus, :hover, :active) {
        background-color: yellow;
        outline: none;
      }

      &::after {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-inline-start: .5em;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -622 964 955"><path fill="hsl(0, 0%, 64%)" d="M22 333c29 0 263-76 339-106 10-4 16-12 23-19l556-540c17-17 24-48 24-84 0-31-2-75-16-91-21-25-50-47-76-70-25-22-44-45-88-45-27 0-82 3-110 31L129-56c-24 24-41 41-48 66L15 243C5 277 0 304 0 311c0 19 14 22 22 22zm96-82c-11-18-24-31-44-40l56-188h19c16 0 36 1 39 5 4 6 9 62 14 74 7 17 30 19 50 19h22c11 0 27 2 33 6 3 2 4 17 5 34 1 12 0 25 0 35l-194 55zm96-265c-18-6-38-3-55-5l536-526c21-20 28-22 77-26L214-14zm138 189c-1-26-4-65-8-77l562-552c3 23 9 44 9 66 0 12-11 25-22 35L352 175zm-28-92c-15-3-34-7-53-7-12 0-35-1-35-5 0-10-2-23-3-35-1-14-2-26-2-32l569-568c25 21 66 59 95 87L324 83z"/></svg>');
        background-size: cover;
      }
    }
  }
}
