extends ../patternLayout

block variables
  - const documentType = 'accordion'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Accordions <span>.&nbsp;Documentation</span>',
      _title: 'Accordions, documentation',
      _description: 'Accordions, documentation'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/accordion
