extends ../patternLayout

block variables
  - const documentType = 'articles'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Lorem ipsum <span>.&nbsp;Sample articles template</span>',
      _title: 'Sample articles template . Scriptura framework',
      _description: 'Page de démonstration pour des articles.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/articles
