extends ../patternLayout

block variables
  - const documentType = 'articles'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Lorem ipsum <span>.&nbsp;Sample articles template</span>',
      _title: 'Articles . Scriptura',
      _description: 'Page de démonstration pour des articles.'
    }

block main
  article
    header(role='banner')
      h1.main-heading.text-center!= data._name
    include ../demos/articles
