extends ../patternLayout

block variables
  - const documentType = 'audioShare'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Le Donjon de Naheulbeuk <span>.&nbsp;Audio share template</span>',
      _title: 'Audio share . Scriptura',
      _description: 'Exemple de démonstration pour un partage de fichiers MP3'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  .column.l-column3.m-column2.gap.gap-bottom.media-relationship(data-next-reading='true')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 1
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E01.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 2
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E02.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 3
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E03.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 4
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E04.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 5
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E05.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 6
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E06.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 7
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E07.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 8
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E08.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 9
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E09.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 10
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E10.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 11
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E11.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 12
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E12.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 13
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E13.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 14
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E14.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 15
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E15.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 16
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E16.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 17
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E17.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 18
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E18.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 19
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E19.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 20
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E20.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 21.1
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E21-1.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 21.2
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E21-2.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 22
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E22.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 23
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E23.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 24
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E24.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 25
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E25.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 26.1
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E26-1.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 26.2
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E26-2.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 27.1
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E27-1.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 27.2
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E27-2.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 28
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E28.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 29
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E29.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 30.1
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E30-1.mp3')
    figure.figure-media
      figcaption
        span.sr-only Donjon de Naheulbeuk, 
        | Épisode 30.2
      audio.media(controls)
        source(src='/medias/audios/LeDonjonDeNaheulbeuk/S01E30-2.mp3')
  .grid2.s-grid1.gap
    div
      .message-highlight
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#pencil')
        div
          p Le Donjon de Naheulbeuk est une saga MP3 créée en 2001 par John Lang et diffusée gratuitement sur Internet. La saga narre les péripéties d'une compagnie d'aventuriers débutants, constituée d'un ranger, d'un nain, d'une elfe, d'un voleur, d'une magicienne, d'un ogre et d'un barbare, initialement partis dans un donjon, le donjon de Naheulbeuk, afin d'y voler une relique, une des douze statuettes de Gladeulfeurha.
    div
      .message-highlight
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#sharp')
        div
          p Les players de cette page sont configurés pour passer de l'un à l'autre lorsque le précédent à fini de lire sa plage. L'utilisateur a accès aux options dans le menu de chaque player.
