extends ../patternLayout

block variables
  - const documentType = 'audioShare2'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Chants chrétiens',
      _title: 'Chants chrétiens . Scriptura',
      _description: 'Sélection de chants et musiques sacrées'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  .grid2.s-grid1.m-grid1.gap.media-relationship(data-next-reading='true')
    figure.figure-media
      figcaption J'espère en silence - Dei Amoris Cantores
      audio.media(controls)
        source(src='/medias/audios/ChantsChretiens/J-espère-en-silence.mp3')
    figure.figure-media
      figcaption Je vous salue Marie - Ecclesia Cantic
      audio.media(controls)
        source(src='/medias/audios/ChantsChretiens/Je-vous-salue-Marie.mp3')
    figure.figure-media
      figcaption Regardez l'humilité de Dieu - Gaudete
      audio.media(controls)
        source(src='/medias/audios/ChantsChretiens/Regardez-l-humilité-de-Dieu2.mp3')
    figure.figure-media
      figcaption Regardez l'humilité de Dieu - Emmanuel Music
      audio.media(controls)
        source(src='/medias/audios/ChantsChretiens/Regardez-l-humilité-de-Dieu.mp3')
    figure.figure-media
      figcaption Pange lingua - Emmanuel Music
      audio.media(controls)
        source(src='/medias/audios/ChantsChretiens/Pange-Lingua.mp3')
    figure.figure-media
      figcaption Anima Christi - Emmanuel Music
      audio.media(controls)
        source(src='/medias/audios/ChantsChretiens/Anima-Christi.mp3')
    figure.figure-media
      figcaption Impropères - Emmanuel Music
      audio.media(controls)
        source(src='/medias/audios/ChantsChretiens/Impropères.mp3')
    figure.figure-media
      figcaption J'ai vu des fleuves d'eau vive - Emmanuel Music
      audio.media(controls)
        source(src='/medias/audios/ChantsChretiens/J-ai-vu-des-fleuves-d-eau-vive.mp3')




