extends ../patternLayout

block variables
  - const documentType = 'audioShare2'
  - const pageType = 'sandbox'
  -
    const data = {
      _name: 'Chants chrétiens',
      _title: 'Chants chrétiens . Scriptura',
      _description: 'Sélection de chants et musiques sacrées'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    h2 Divers
    .grid2.s-grid1.m-grid1.gap.gap-bottom.media-relationship(data-next-reading='true')
      figure.figure-media
        figcaption J'espère en silence - Dei Amoris Cantores
        audio.media(controls)
          source(src='/medias/audios/ChantsChretiens/J-espère-en-silence.mp3')
      figure.figure-media
        figcaption Regardez l'humilité de Dieu - Gaudete
        audio.media(controls)
          source(src='/medias/audios/ChantsChretiens/Regardez-l-humilité-de-Dieu2.mp3')
      figure.figure-media
        figcaption Regardez l'humilité de Dieu - Emmanuel Music
        audio.media(controls)
          source(src='/medias/audios/ChantsChretiens/Regardez-l-humilité-de-Dieu.mp3')
      figure.figure-media
        figcaption Pange lingua - Emmanuel Music
        audio.media(controls)
          source(src='/medias/audios/ChantsChretiens/Pange-Lingua.mp3')
      figure.figure-media
        figcaption Anima Christi - Emmanuel Music
        audio.media(controls)
          source(src='/medias/audios/ChantsChretiens/Anima-Christi.mp3')
      figure.figure-media
        figcaption Impropères - Emmanuel Music
        audio.media(controls)
          source(src='/medias/audios/ChantsChretiens/Impropères.mp3')
      figure.figure-media
        figcaption J'ai vu des fleuves d'eau vive - Emmanuel Music
        audio.media(controls)
          source(src='/medias/audios/ChantsChretiens/J-ai-vu-des-fleuves-d-eau-vive.mp3')
    hr
    h2 Hymne acathiste
    .grid2.s-grid1.m-grid1.gap.media-relationship(data-next-reading='true')
      figure.figure-media
        figcaption 1. Il est vraiment digne de te bénir
        audio.media(controls)
          source(src='/medias/audios/HymneAcathiste/01.mp3')
      figure.figure-media
        figcaption 2. Première stance, Annonciation, Visitation
        audio.media(controls)
          source(src='/medias/audios/HymneAcathiste/02.mp3')
      figure.figure-media
        figcaption 3. Réjouis-toi Marie
        audio.media(controls)
          source(src='/medias/audios/HymneAcathiste/03.mp3')
      figure.figure-media
        figcaption 4. Deuxième stance, Nativité
        audio.media(controls)
          source(src='/medias/audios/HymneAcathiste/04.mp3')
      figure.figure-media
        figcaption 5. Réjouis-toi Marie
        audio.media(controls)
          source(src='/medias/audios/HymneAcathiste/05.mp3')
      figure.figure-media
        figcaption 6. Troisième stance
        audio.media(controls)
          source(src='/medias/audios/HymneAcathiste/06.mp3')
      figure.figure-media
        figcaption 7. Réjouis-toi Marie
        audio.media(controls)
          source(src='/medias/audios/HymneAcathiste/07.mp3')
      figure.figure-media
        figcaption 8. Quatrième stance
        audio.media(controls)
          source(src='/medias/audios/HymneAcathiste/08.mp3')
      figure.figure-media
        figcaption 9. Sous ta miséricorde nous cherchons refuge
        audio.media(controls)
          source(src='/medias/audios/HymneAcathiste/09.mp3')
