extends ../patternLayout

block variables
  - const documentType = 'audioShare'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Le Donjon de Naheulbeuk <span>.&nbsp;Audio share template</span>',
      _title: 'Audio share . Scriptura',
      _description: 'Exemple de démonstration pour un partage de fichiers MP3'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  .grid-auto.xs-grid-auto.gap.gap-bottom.media-relationship(style='--size-grid:22em;--xs-size-grid:16em' data-next-reading='true')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E01.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E02.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E03.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E04.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E05.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E06.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E07.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E08.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E09.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E10.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E11.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E12.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E13.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E14.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E15.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E16.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E17.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E18.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E19.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E20.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E21-1.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E21-2.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E22.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E23.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E24.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E25.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E26-1.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E26-2.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E27-1.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E27-2.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E28.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E29.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E30-1.mp3')
    figure.figure-media
      figcaption.sr-only Donjon de Naheulbeuk
      audio.media(controls)
        source(src='/medias/audios/DonjonDeNaheulbeuk/S01E30-2.mp3')
  .grid2.vertical-gap
    .message-highlight
      svg.icon(role='img' focusable='false')
        use(href='/sprites/util.svg#pencil')
      div
        p Le Donjon de Naheulbeuk est une saga MP3 créée en 2001 par John Lang et diffusée gratuitement sur Internet. La saga narre les péripéties d'une compagnie d'aventuriers débutants, constituée d'un ranger, d'un nain, d'une elfe, d'un voleur, d'une magicienne, d'un ogre et d'un barbare, initialement partis dans un donjon, le donjon de Naheulbeuk, afin d'y voler une relique, une des douze statuettes de Gladeulfeurha.
