extends ../patternLayout

block variables
  - const documentType = 'checkbox'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Checkboxes, Radios Buttons & Toggle Switches <span>.&nbsp;Documentation</span>',
      _title: 'Checkboxes . Scriptura framework',
      _description: 'Checkboxes, Radios Buttons & Toggle Switches, documentation.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/checkbox
