extends ../patternLayout

block variables
  - const documentType = 'codeBlock'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Code Blocks <span>.&nbsp;Documentation</span>',
      _title: 'Code Blocks, documentation.',
      _description: 'Code Blocks, documentation.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/codeBlock
