extends ../patternLayout

block variables
  - const documentType = 'detailsSummary'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Details/Summary <span>.&nbsp;Documentation</span>',
      _title: 'Details/Summary . Scriptura',
      _description: 'Details/Summary, documentation.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/detailsSummary
