extends ../patternLayout

block variables
  - const documentType = 'grid'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Grids <span>.&nbsp;Documentation</span>',
      _title: 'Grids . Scriptura',
      _description: 'Grids, documentation.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/grid
