extends ../patternLayout

block variables
  - const documentType = 'image'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Images <span>.&nbsp;Documentation</span>',
      _title: 'Images . Scriptura',
      _description: 'Images, documentation.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/image
