extends ../patternLayout

block variables
  - const documentType = 'imageGallery'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Lorem ipsum <span>.&nbsp;Sample image gallery template</span>',
      _title: 'Gallery . Scriptura',
      _description: 'Exemple de démonstration pour une Gallerie d\images.'
    }
  -
    const img = {
          //class: '',
          name: 'Name',
          src: '/medias/images/uploads/',
          ext: 'webp',
          width: 'Width',
          height: 'Height',
          alt: 'Alt',
          author: 'Author',
          sources: []
        }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    .grid-auto.xs-grid-auto.gap.masonry
      figure.figure-image-focus
        picture
          //-source(srcset='/medias/images/demo/test-w1000.webp, /medias/images/demo/test-w2000.webp 2x' type='image/webp')
          source(srcset='/medias/images/demo/test-w600.webp, /medias/images/demo/test-w1000.webp 2x' type='image/webp')
          img(src='/medias/images/demo/test.webp' loading='lazy' alt='Image test' width='5301' height='3534')
        figcaption Responsive Images / Art Direction.
          br
          | Image test
      //-include includes/imageList
      -
        img.class = 'c2'
        img.name = 'matthew-smith'
        img.width = '5000'
        img.height = '3333'
        img.alt = 'Prairie'
        img.author = 'Matthew Smith'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'clay-banks'
        img.width = '2002'
        img.height = '3000'
        img.alt = 'Yaquina Head, Newport, États-Unis'
        img.author = 'Clay Banks'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'petr-vysohlid'
        img.width = '4429'
        img.height = '2953'
        img.alt = 'Phare de Talacre, Point of Ayr, Pays de Galles, Royaume-Uni'
        img.author = 'Petr Vysohlid'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'sapan-patel'
        img.width = '2931'
        img.height = '4396'
        img.alt = 'Coucher de soleil sur un champ, Los Angeles, États-Unis'
        img.author = 'Sapan Patel'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'andrew-charney'
        img.width = '5760'
        img.height = '3840'
        img.alt = 'Phare et maison du gardien'
        img.author = 'Andrew Charney'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'gabriella-clare-marino'
        img.width = '4000'
        img.height = '6000'
        img.alt = 'Une rue médiévale de la ville d\'Assise, Ombrie, Italie'
        img.author = 'Gabriella Clare Marino'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'robin-billy'
        img.width = '2565'
        img.height = '3634'
        img.alt = 'Forêt par temps d\'orage, Suisse'
        img.author = 'Robin Billy'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'marita-kavelashvili'
        img.width = '3424'
        img.height = '5136'
        img.alt = 'Forêt dans la brume, hautes montagnes d\'Adjarie, Géorgie'
        img.author = 'Marita Kavelashvili'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'tanner-mardis'
        img.width = '6000'
        img.height = '4000'
        img.alt = 'Sefer Torah, Bibliothèque du Congrès, Washington, États-Unis'
        img.author = 'Tanner Mardis'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'david-haughton'
        img.width = '2000'
        img.height = '1289'
        img.alt = 'Dunes en bord de mer'
        img.author = 'David Haughton'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'girl-with-red-hat'
        img.width = '4024'
        img.height = '6048'
        img.alt = 'Détails de l\'intérieur de la Capilla Real, Cathédrale de Cordoue, Espagne'
        img.author = 'Girl With Red Hat (Pseudo)'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'willian-justen-de-vasconcellos'
        img.width = '6000'
        img.height = '4000'
        img.alt = 'Désert de Huacachina, Perou'
        img.author = 'Willian Justen de Vasconcellos'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'hannah-falk'
        img.width = '4608'
        img.height = '3072'
        img.alt = 'Longue vue, Tour Eiffel'
        img.author = 'Hannah Falk'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'alice'
        img.width = '4496'
        img.height = '3000'
        img.alt = 'Silp Pa Phra Nakhon Si Ayutthaya, Thaïlande'
        img.author = 'Alice (Pseudo)'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'dawid-zawila'
        img.width = '4496'
        img.height = '3000'
        img.alt = 'Tournesol'
        img.author = 'Dawid Zawila'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'nicolas-hoizey'
        img.width = '3715'
        img.height = '3715'
        img.alt = 'Intérieur d\'un phare'
        img.author = 'Nicolas Hoizey'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'mr-bochelly'
        img.width = '2121'
        img.height = '3451'
        img.alt = 'Abbaye du Mont-Saint-Michel'
        img.author = 'Mr Bochelly'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'artem-sapegin'
        img.width = '5301'
        img.height = '3534'
        img.alt = 'Lac de Bled, Slovénie'
        img.author = 'Artem Sapegin'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'pisit-heng'
        img.width = '3024'
        img.height = '4032'
        img.alt = '«&nbsp;Il n\'est pas ici, Il est ressuscité&nbsp;», Nazareth, Israël'
        img.author = 'Pisit Heng'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'mike-smith'
        img.width = '5380'
        img.height = '3587'
        img.alt = 'Phare de Neist Point, Glendale, Royaume-Uni'
        img.author = 'Mike Smith'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'sapan-patel2'
        img.width = '4000'
        img.height = '6000'
        img.alt = 'Fougères'
        img.author = 'Sapan Patel'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'robin-billy2'
        img.width = '2500'
        img.height = '2500'
        img.alt = 'Épis de blé'
        img.author = 'Robin Billy'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'karol-kaczorek'
        img.width = '3160'
        img.height = '4803'
        img.alt = 'Paysage de campagne, Italie'
        img.author = 'Karol Kaczorek'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'aleksandra-boguslawska'
        img.width = '4288'
        img.height = '2848'
        img.alt = 'Chemin en bois vers la plage'
        img.author = 'Aleksandra Boguslawska'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'robin-ooode'
        img.width = '4000'
        img.height = '6000'
        img.alt = 'Notre-Dame de Paris sous la neige'
        img.author = 'Robin Ooode (Pseudo)'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'birger-strahl'
        img.width = '4928'
        img.height = '2772'
        img.alt = 'Phare au milieu de grandes herbes'
        img.author = 'Birger Strahl'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'kevin-mueller'
        img.width = '2712'
        img.height = '4068'
        img.alt = 'Perroquet, Sarrebruck, Allemagne'
        img.author = 'Kevin Mueller'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'jeremy-bishop'
        img.width = '3648'
        img.height = '5472'
        img.alt = 'Racines, Californie, états-Unis'
        img.author = 'Jeremy Bishop'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'mickey-o-neil'
        img.width = '3264'
        img.height = '2448'
        img.alt = 'Barque sur le rivage'
        img.author = 'Mickey o Neil'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'julia-solonina2'
        img.width = '3000'
        img.height = '4500'
        img.alt = 'Bellagio, Province de Côme, Italie'
        img.author = 'Julia Solonina'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'nick-perez'
        img.width = '3968'
        img.height = '2976'
        img.alt = 'Rive du lac Michigan vue du ciel, Traverse City, USA'
        img.author = 'Nick Perez'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'julia-solonina'
        img.width = '4000'
        img.height = '6000'
        img.alt = 'Oia, archipel de Santorin'
        img.author = 'Julia Solonina'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'jaredd-craig'
        img.width = '7952'
        img.height = '5304'
        img.alt = 'Forêt dans la brume'
        img.author = 'Jaredd Craig'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'sam-balye'
        img.width = '3840'
        img.height = '5760'
        img.alt = 'La grande muraille, province de Hebei, Chine'
        img.author = 'Sam Balye'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'henry-be'
        img.width = '4928'
        img.height = '3264'
        img.alt = 'Champ de coquelicots'
        img.author = 'Henry Be'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'tyler-maddigan'
        img.width = '3424'
        img.height = '5136'
        img.alt = 'Phare un jour brumeux, Cap Spear St. John\'s, Terre-Neuve'
        img.author = 'Tyler Maddigan'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'robin-billy3'
        img.width = '6240'
        img.height = '4160'
        img.alt = 'Une touche de violet dans les montagnes suisses'
        img.author = 'Robin Billy'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'luis-vidal'
        img.width = '6240'
        img.height = '4160'
        img.alt = 'Bas relief Maya'
        img.author = 'Luis Vidal'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'aj'
        img.width = '3696'
        img.height = '2448'
        img.alt = 'Fleurs de cerisier japonais'
        img.author = 'AJ (Pseudo)'
      include ../helpers/picture4
      -
        img.class = ''
        img.name = 'sarah-hu'
        img.width = '1823'
        img.height = '2745'
        img.alt = 'Cascade, Islande'
        img.author = 'Sarah Hu'
      include ../helpers/picture4
