extends ../patternLayout

block variables
  - const documentType = 'language'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Languages <span>.&nbsp;Documentation</span>',
      _title: 'Languages, documentation',
      _description: 'Languages, documentation'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/language
