extends ../patternLayout

block variables
  - const documentType = 'loader'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Loaders <span>.&nbsp;Documentation</span>',
      _title: 'Loaders, documentation.',
      _description: 'Loaders, documentation.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/loader
