extends ../patternLayout

block variables
  - const documentType = 'map'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Maps <span>.&nbsp;Documentation</span>',
      _title: 'Maps, documentation.',
      _description: 'Maps, documentation.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/map
