extends ../patternLayout

block variables
  - const documentType = 'messageBox'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Message Boxes <span>.&nbsp;Documentation</span>',
      _title: 'Message Boxes . Scriptura',
      _description: 'Message Boxes, documentation.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/messageBox
