extends ../patternLayout

block variables
  - const documentType = 'player'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Audio & video players <span>.&nbsp;Documentation</span>',
      _title: 'Audio & video players . Scriptura framework',
      _description: 'Audio & video players, documentation.'
    }
block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/player
