extends ../patternLayout

block variables
  - const documentType = 'progressBar'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Progress Bars <span>.&nbsp;Documentation</span>',
      _title: 'Progress Bars . Scriptura',
      _description: 'Progress Bars, documentation.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/progressBar
