extends ../patternLayout

block variables
  - const documentType = 'range'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Ranges <span>.&nbsp;Documentation</span>',
      _title: 'Ranges . Scriptura',
      _description: 'Ranges, documentation.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/range
