extends ../patternLayout

block variables
  - const documentType = 'register'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Register <span>.&nbsp;Sample register template</span>',
      _title: 'Register . Scriptura',
      _description: 'Exemple de démonstration pour une page d\'inscription.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  .grid2.s-grid1.m-grid1.gap
    .grid.gap(style='--n: 1')
      .boxx
        form(action='/page/dashboard.html' method='post')
          .input
            label(for='input-username') Créez un nom d'utilisateur
            input#input-username(type='text' name='username' placeholder='user' autocorrect='off' autocapitalize='off' spellcheck='false' required='required')
          .input
            label(for='input-password') Créez votre mot de passe
            input#input-password(type='password' name='password' placeholder='• • • • • • • •' required='required')
          .input
            label(for='input-password2') Réentrez votre mot de passe
            input#input-password2(type='password' name='password2' placeholder='• • • • • • • •' required='required')
          .message(style='--bg-color:#333;padding-block:.5em 1em;border:1px dashed rgba(255,255,255,0.15)')
            p
              svg.icon-inline(role='img' focusable='false')
                use(href='/sprites/util.svg#warning')
              | Question anti-spam. Paramétrez les curseurs selon les donnnées suivantes&nbsp;: la valeur la plus petite est vingt-sept, la plus grande fait cinquante de plus.
            .range-multithumb
              label(for='range-start-1').sr-only Valeur minimale
              input#range-start-1(type='range' name='range-start' min='0' max='100' step='1' value='0')
              label(for='range-stop-1').sr-only Valeur maximale
              input#range-stop-1(type='range' name='range-stop' min='0' max='100' step='1' value='100')
              output.phylactery
          .flex
            button.button.item-push
              svg.icon-inline(role='img' focusable='false')
                use(href='/sprites/util.svg#quill')
              | Je m'inscris
      .boxx
        p Déjà inscrit&nbsp;?
        p
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#login')
          a(href='/page/login.html') Se connecter
    .center
      svg.size.decorative-svg(role='img' focusable='false')
        use(href='/sprites/silos/195v.svg#1')
