extends ../patternLayout

block variables
  - const documentType = 'ribbon'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Ribbons <span>.&nbsp;Documentation</span>',
      _title: 'Ribbons . Scriptura',
      _description: 'Ribbons, documentation.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/ribbon
