extends ../patternLayout

block variables
  - const documentType = 'sprite2'
  - const pageType = 'sandbox'
  -
    const data = {
      _name: 'SVG sprite using CSS variables <span>.&nbsp;Test</span>',
      _title: 'SVG sprite using CSS custom properties . Scriptura',
      _description: 'SVG sprite using CSS custom properties.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/sprite2
