extends ../patternLayout

block variables
  - const documentType = 'sprite'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Sprites <span>.&nbsp;Documentation</span>',
      _title: 'Sprites . Scriptura',
      _description: 'Sprites, documentation.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/sprite
