extends ../patternLayout

block variables
  - const documentType = 'table'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Tables <span>.&nbsp;Documentation</span>',
      _title: 'Tables, documentation.',
      _description: 'Tables, documentation.'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  include ../demos/table
