extends ../patternLayout

block variables
  - const documentType = 'tab'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Tabs <span>.&nbsp;Documentation</span>',
      _title: 'Tabs . Scriptura',
      _description: 'Tabs, documentation.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/tab
