extends ../patternLayout

block variables
  - const documentType = 'templates'
  -
    const data = {
      _name: 'Templates <span>.&nbsp;Index</span>',
      _title: 'Templates . Scriptura',
      _description: 'Exemples de démonstration pour des gabarits'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    .grid3.gap
      .c2
        ul.grid2.list-straight
          include ../includes/templateLinks
      figure.center
        svg.size.decorative-svg(role='img' focusable='false')
          use(href='/sprites/various/Jeanne-D-Arc.svg#1')
