extends ../patternLayout

block variables
  - const documentType = 'templates'
  -
    const data = {
      _name: 'Templates <span>.&nbsp;Demonstration</span>',
      _title: 'Templates . Scriptura',
      _description: 'Exemple de démonstration pour des gabarits'
    }

block main
  header(role='banner')
    h1.main-heading!= data._name
  .grid3.gap
    .c2
      ul.grid2.list-straight
        include ../includes/templateLinks
    .center
      svg.size.decorative-svg(role='img' focusable='false')
        use(href='/sprites/various/Jeanne-D-Arc.svg#1')
        //-use(href='/sprites/silos/79v-d1.svg#1')
