extends ../patternLayout

block variables
  - const documentType = 'topic'
  - const pageType = 'template'
  -
    const data = {
      _name: 'Lorem ipsum dolor sit amet <span>.&nbsp;Sample topic template</span>',
      _title: 'Topic . Scriptura',
      _description: 'Sujet de forum de démonstration.'
    }

block main
  article.article
    header(role='banner')
      h1.main-heading!= data._name
      .sub-header
        .avatar(style='--img:url(/medias/images/uploads/henri-de-lubac-w300.webp)')
        address
          a(href='/page/person.html') Henri de Lubac
        time(datetime='2017-04-23 20:33:21') Le 23 avril 2017 à 20h33
      ul.tags
        li
          a(href='/page/forum.html') Écriture & Tradition
        li
          a(href='/page/forum.html') Apologétique
        li 
          a(href='/page/forum.html') Sur le mal
        li 
          a(href='/page/forum.html') Métaphysique
    .wrapper.links.decorative-hr
      p Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue.
      pre.pre
        code.language-css(data-code='CSS' translate='no').
          :root {
            color-scheme: dark;
          }
      p Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.
    footer
      button.button2.cmd-print(aria-label='Imprimer l\'article')
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#print')
      button.button2(aria-label='Garder l\'article en favori')
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#star')
      button.button2(aria-label='Commenter l\'article')
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#share')
      button.button2(aria-label='Éditer l\'article')
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#pencil')
    - for (let i = 0; i < 20; i++)
      article.comment.links.decorative-hr(id='comment-' + (i + 1))
        header
          h2.sr-only Commentaire numéro #{i + 1} du sujet "Lorem ipsum dolor sit amet".
          - if (i % 2)
           .avatar(style='--img:url(/medias/images/uploads/pisit-heng-w300.webp)')
          - else
           .avatar(style='--img:url(/medias/images/uploads/nicolas-hoizey-w300.webp)')
          address
            a(href='/page/person.html') Pseudo #{i + 1}
          time(datetime='2017-04-23 20:33:21') Le 23 avril 2017 à 20h33
          a.anchor(href='#comment-' + (i + 1) aria-label='Commentaire n°' + (i + 1)) ##{i + 1}
        p
          | Lorem ipsum dolor sit amet. Aut fuga laborum eos 
          a(href='/') ipsam corrupti
          |  et aspernatur eligendi voluptatem veniam et nulla voluptas? Est beataesint cum 
          a(href='https://github.com') dolores dolorem
          |  est doloremque quia ut autem numquam ea error voluptas.
        - if (i % 5 == 0)
          pre.pre
            code.language-css(data-code='CSS' translate='no').
              @media (prefers-reduced-motion: reduce) {
                html {
                  scroll-behavior: auto;
                }
              }
        p Ab eaque commodi est fugiat temporibus qui consequatur galisum quo facilis quia non sint dignissimos. Qui consequuntur enim est voluptatemmolestias et voluptas velit.
        footer.flex.gap.gap-top.items-push
          a.button2.scale(href=`/editor-comment/1` style='--scale:80%')
            svg.icon(role='img' focusable='false')
              use(href='/sprites/util.svg#pencil')
            span.sr-only Éditer le commentaire
          form(action='/delete/comment' method='post')
            input(type='hidden' name='_method' value='delete')
            input(type='hidden' name='commentId' value=1)
            input(type='hidden' name='articleSlug' value='the-slug')
            button.button2.assistance-delete.scale(type='submit' style='--scale:80%')
              svg.icon(role='img' focusable='false')
                use(href='/sprites/util.svg#trash-can')
              span.sr-only Supprimer le commentaire
    form(method='get' action='./').grid.gap
      .input
        label.sr-only Répondre
        textarea
      .flex
        button.button.item-push
          svg.icon-inline(role='img' focusable='false')
            use(href='/sprites/util.svg#share')
          | Répondre
