extends ../patternLayout

block variables
  - const documentType = 'typography'
  - const pageType = 'component'
  -
    const data = {
      _name: 'Typography <span>.&nbsp;Documentation</span>',
      _title: 'Typography . Scriptura',
      _description: 'Typography, documentation.'
    }

block main
  article
    header(role='banner')
      h1.main-heading!= data._name
    include ../demos/typography
