extends ../PatternLayouts

append var
  - name = 'Layout Examples'
  - layoutspage = true
  - title = name + titlesuffix

mixin list(name, anchor)
  li
    a(href='./#{anchor}.html')
      span.icon-arrow-down
      | &nbsp;&nbsp;#{name}

block content
  ul.list-stripe-link.summary
    +list('Fluid Grid Layout', 'GridLayout')
    +list('Layout for a blog', 'Layout01')
    +list('Layout for Photoblog', 'Layout02')
    +list('Layout for Photoblog 2', 'Layout03')
    +list('Example Complex Layout', 'Layout04')
    +list('Example Nested Grid', 'Layout05')
    +list('Grid with offsets', 'Layout06')
    +list('Grid with offsets 2', 'Layout07')
    +list('Layout for Mobile', 'Layout08')
    +list('Layout for Mobile 2', 'Layout09')
    +list('Wraps', 'Layout10')
    +list('Main Nav', 'MainNav01')
    +list('Main Nav Bottom', 'MainNav02')
    +list('Slideshows', 'Slideshows')
