extends ../PatternLayouts

append var
  - name = 'Example layout for photoblog'
  - title = name + titlesuffix
  - contentlarge = true

block content
  .section
    .wrap
      h1(itemprop='headline name').emphasized Example Layout for Photoblog
      p
        em Resize your browser window to test.
      .grid.demo-layout2
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
        .m3.sizeS-m4.sizeL-m4.sizeXS-m6
          .ratio-16-9
    .section#index-detail-of-html-code
      .wrap
        h2.highlight Detail of html code
          a.anchor(href='#index-detail-of-html-code')
        pre
          code(translate='no', data-code=' Jade', data-select='true', data-value='Sélection').
            .grid
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9
              .m3.sizeS-m4.sizeL-m4.sizeXS-m6
                .ratio-16-9