extends ../PatternLayouts

append var
  - name = 'Example Complex Layout'
  - title = name + titlesuffix
  - contentlarge = true

block content
  .section
    .wrap.demo-layout
      h1(itemprop='headline name').emphasized= name
      p
        em Resize your browser window to test.
      .grid
        .grid6
         .m12
          p
            code .m
        .grid6
          .grid7.sizeS-grid12
            .m6.sizeS-m12.sizeXS-m6
              p
                code .m
            .m6.sizeS-m12.sizeXS-m6
              p
                code .m
          .grid5.sizeS-grid12
              .m12.sizeXS-m4
                p
                  code .m
              .m12.sizeXS-m6.sizeXS-m4
                p
                  code .m
              .m12.sizeXS-m6.sizeXS-m4
                p
                  code .m
      .grid
        .m4
          p
            code .m
        .grid8
          .m12.sizeS-m6.sizeXS-m6
            p
              code .m
          .m12.sizeS-m6.sizeXS-m6
            p
              code .m
      .grid
        .m3.sizeS-m6
          p
            code .m
        .m3.sizeS-m6.sizeXS-m6
          p
            code .m
        .m3.sizeS-m6.sizeXS-m6
          p
            code .m
        .m3.sizeS-m6
          p
            code .m
        .m12.sizeXS-m6
          p
            code .m
        .m1.sizeXS-m6
          p
            code .m
        .m1
          p
            code .m
        .m1.sizeXS-m6
          p
            code .m
        .m1.sizeXS-m6
          p
            code .m
        .m1
          p
            code .m
        .m1.sizeXS-m6
          p
            code .m
        .m1.sizeXS-m6
          p
            code .m
        .m1
          p
            code .m
        .m1.sizeXS-m6
          p
            code .m
        .m1.sizeXS-m6
          p
            code .m
        .m1
          p
            code .m
        .m1.sizeXS-m6
          p
            code .m
        .m2.sizeS-m3.sizeXS-m6
          p
            code .m
        .m2.sizeS-m3
          p
            code .m
        .m2.sizeS-m3.sizeXS-m6.sizeXS-m3
          p
            code .m
        .m2.sizeS-m3.sizeXS-m6.sizeXS-m3
          p
            code .m
        .m2.sizeS-m6.sizeXS-m3
          p
            code .m
        .m2.sizeS-m6.sizeXS-m3
          p
            code .m
  .section#index-detail-of-html-code
    .wrap
      h2.highlight Detail of html code
        a.anchor(href='#index-detail-of-html-code')
      pre
        code(translate='no' data-code=' Pug' data-select='true' data-value='Select and copy').
          .grid
            .grid6
             .m12
            .grid6
              .grid7.sizeS-grid12
                .m6.sizeS-m12.sizeXS-m6
                .m6.sizeS-m12.sizeXS-m6
              .grid5.sizeS-grid12
                  .m12.sizeXS-m4
                  .m12.sizeXS-m6.sizeXS-m4
                  .m12.sizeXS-m6.sizeXS-m4
          .grid
            .m4
            .grid8
              .m12.sizeS-m6.sizeXS-m6
              .m12.sizeS-m6.sizeXS-m6
          .grid
            .m3.sizeS-m6
            .m3.sizeS-m6.sizeXS-m6
            .m3.sizeS-m6.sizeXS-m6
            .m3.sizeS-m6
            .m12.sizeXS-m6
            .m1.sizeXS-m6
            .m1
            .m1.sizeXS-m6
            .m1.sizeXS-m6
            .m1
            .m1.sizeXS-m6
            .m1.sizeXS-m6
            .m1
            .m1.sizeXS-m6
            .m1.sizeXS-m6
            .m1
            .m1.sizeXS-m6
            .m2.sizeS-m3.sizeXS-m6
            .m2.sizeS-m3
            .m2.sizeS-m3.sizeXS-m6.sizeXS-m3
            .m2.sizeS-m3.sizeXS-m6.sizeXS-m3
            .m2.sizeS-m6.sizeXS-m3
            .m2.sizeS-m6.sizeXS-m3