extends ../PatternLayouts

append var
  - name = 'Example number two layout for photoblog'
  - title = name + titlesuffix
  - contentlarge = true

block content
    .section
      .wrap
        h1(itemprop='headline name').emphasized Example Layout for Photoblog 2
        p
          em Resize your browser window to test.
        .grid.demo-layout2
          .m7.sizeXS-m6
            .ratio-1-2.sizeS-hidden
          .m5.sizeXS-m6
            .ratio-1-2
          .m5.sizeXS-m6
            .ratio-1-2
          .m7.sizeXS-m6
            .ratio-1-2.sizeS-hidden
          .m7.sizeXS-m6
            .ratio-1-2.sizeS-hidden
          .m5.sizeXS-m6
            .ratio-1-2
    .section#index-detail-of-html-code
      .wrap
        h2.highlight Detail of html code
          a.anchor(href='#index-detail-of-html-code')
        pre
          code(translate='no' data-code=' Jade' data-select='true' data-value='Sélection').
            .grid
              .m7.sizeXS-m6
                .ratio-1-2.sizeS-hidden
              .m5.sizeXS-m6
                .ratio-1-2
              .m5.sizeXS-m6
                .ratio-1-2
              .m7.sizeXS-m6
                .ratio-1-2.sizeS-hidden
              .m7.sizeXS-m6
                .ratio-1-2.sizeS-hidden
              .m5.sizeXS-m6
                .ratio-1-2