extends ../PatternLayouts

append var
  - name = 'Grid with offsets'
  - title = name + titlesuffix
  - contentlarge = true

block content
  .section
    .wrap
      h1(itemprop='headline name').emphasized= name
      p
        em Resize your browser window to test.
      .grid.demo-layout
        .grid
          .m1
            p
              code [no]
        .grid
          .m1.o1
            p
              code .o1
        .grid
          .m1.o2
            p
              code .o2
        .grid
          .m1.o3
            p
              code .o3
        .grid
          .m1.o4
            p
              code .o4
        .grid
          .m1.o5
            p
              code .o5
        .grid
          .m1.o6
            p
              code .o6
        .grid
          .m1.o7
            p
              code .o7
        .grid
          .m1.o8
            p
              code .o8
        .grid
          .m1.o9
            p
              code .o9
        .grid
          .m1.o10
            p
              code .o10
        .grid
          .m1.o11
            p
              code .o11
  .section#index-detail-of-html-code
    .wrap
      h2.highlight Detail of html code
        a.anchor(href='#index-detail-of-html-code')
      pre
        code(translate='no' data-code=' Pug' data-select='true' data-value='Select and copy').
          .grid
            .grid
              .m1
            .grid
              .m1.o1
            .grid
              .m1.o2
            .grid
              .m1.o3
            .grid
              .m1.o4
            .grid
              .m1.o5
            .grid
              .m1.o6
            .grid
              .m1.o7
            .grid
              .m1.o8
            .grid
              .m1.o9
            .grid
              .m1.o10
            .grid
              .m1.o11