doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title Layout for mobile 2 | Scriptura Framework
    meta(name='description' content='Mobil\'s layout 2 for Scriptura Framework')
    include ../Includes/Metas
  body(itemscope itemtype='https://schema.org/WebPage')
    include ../Includes/MainNav
    .section
      .wrap
        h1(itemprop='headline name').emphasized Layout for Mobile 2
        p
          em Resize your browser window to test.
        .grid.demo-layout
          .m.sizeXS-m2
          .m.sizeXS-m2
          .m.sizeXS-m2
          .m.sizeXS-m2
          .m.sizeXS-m2
          .m.sizeXS-m2
          .m.sizeXS-m3
          .m.sizeXS-m3
          .m.sizeXS-m3
          .m.sizeXS-m3
          .m.sizeXS-m4
          .m.sizeXS-m4
          .m.sizeXS-m4
          .m.sizeXS-m6
          .m.sizeXS-m6
          .m
    .section#index-detail-of-html-code
      .wrap
        h2.highlight Detail of html code
          a.anchor(href='#index-detail-of-html-code')
        pre
          code(translate='no', data-code=' Jade', data-select='true', data-value='Sélection').
            .grid
              .m.sizeXS-m2
              .m.sizeXS-m2
              .m.sizeXS-m2
              .m.sizeXS-m2
              .m.sizeXS-m2
              .m.sizeXS-m2
              .m.sizeXS-m3
              .m.sizeXS-m3
              .m.sizeXS-m3
              .m.sizeXS-m3
              .m.sizeXS-m4
              .m.sizeXS-m4
              .m.sizeXS-m4
              .m.sizeXS-m6
              .m.sizeXS-m6
              .m
    footer.section.footer
      include ../Includes/Footer
    include ../Includes/Scripts