extends ../PatternLayouts

append var
  - name = 'Example layout for a blog'
  - title = name + titlesuffix
  - contentlarge = true

block content
  .section
      .wrap
        h1(itemprop='headline name').emphasized Example Layout for a Blog
        p
          em Resize your browser window to test.
        .grid.demo-layout
          main.m8.sizeS-m12
            p
              code main
          aside.m4.sizeS-m12
            p
              code aside
          aside.m3.sizeS-m6
            p
              code aside
          aside.m3.sizeS-m6
            p
              code aside
          aside.m3.sizeS-m6
            p
              code aside
          aside.m3.sizeS-m6
            p
              code aside
    .section#index-detail-of-html-code
      .wrap
        h2.highlight Detail of html code
          a.anchor(href='#index-detail-of-html-code')
        pre
          code(translate='no' data-code=' Jade' data-select='true' data-value='Sélection').
            .grid
              main.m8.sizeS-m12
              aside.m4.sizeS-m12
              aside.m3.sizeS-m6
              aside.m3.sizeS-m6
              aside.m3.sizeS-m6
              aside.m3.sizeS-m6