doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title Ribbons, Style Guide | Scriptura Framework
    meta(name='description' content='Ribbons for Scriptura Framework')
    include ../Includes/Metas.jade
  body(itemscope itemtype='https://schema.org/WebPage')
    include ../Includes/MainNav.jade
    main(itemprop='mainContentOfPage').section
      .wrap
        h1(itemprop='headline name').emphasized Ribbons
        include ../Includes/Ribbons.jade
    footer.section.footer
      include ../Includes/Footer.jade
    include ../Includes/Scripts.jade