doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title Style Guide | Scriptura Framework
    meta(name='description' content='Style Guide for Scriptura Framework')
    include ../Includes/Metas.jade
  body(itemscope itemtype='//schema.org/WebPage')
    nav.main-nav(role='navigation')
      .wrap
        input(type='checkbox')#cmd-main-nav
        label(for='cmd-main-nav')
          span
        .brand
          a(href='/')
            span.letter S
            span criptura
        ul
          li
            a(href='/')
              span.icon-home
              span.sizeNav-hidden Home
          li
            span.active
              span.icon-list2
              | Style Guide
          li
            a(href='./Layouts.html')
              span.icon-frame
              | Layout Examples
          li
            a(href='./Themes.html')
              span.icon-rocket
              | Themes
          li.item-push
            a(href='//github.com/Scriptura/Scriptura')
              span.icon-github
              | Repository
    header.section(role='banner')
      .wrap
        include ../Includes/Summary.jade
    section.section#index-typography
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Typography.html') See page
        h2.highlight Typography
          a.anchor(href='#index-typography')
        include ../Includes/Typography.jade
    section.section#index-messages-box
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./MessagesBox.html') See page
        h2.highlight Messages Box
          a.anchor(href='#index-messages-box')
        include ../Includes/MessagesBox.jade
    section.section#index-code-blocks
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./CodeBlocks.html') See page
        h2.highlight Code Blocks
          a.anchor(href='#index-code-blocks')
        include ../Includes/CodeBlocks.jade
    section.section#index-lists
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Lists.html') See page
        h2.highlight Lists
          a.anchor(href='#index-lists')
        include ../Includes/Lists.jade
    section.section#index-tables
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Tables.html') See page
        h2.highlight Tables
          a.anchor(href='#index-tables')
        include ../Includes/Tables.jade
    section.section#index-images
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Images.html') See page
        h2.highlight Images
          a.anchor(href='#index-images')
        include ../Includes/Images.jade
    section.section#index-players
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Players.html') See page
        h2.highlight Players
          a.anchor(href='#index-players')
        include ../Includes/Players.jade
    section.section#index-inputs
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Inputs.html') See page
        h2.highlight Inputs
          a.anchor(href='#index-inputs')
        include ../Includes/Inputs.jade
    section.section#index-checkbox-radio
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./CheckboxRadio.html') See page
        h2.highlight Checkbox & Radio
          a.anchor(href='#index-checkbox-radio')
        include ../Includes/CheckboxRadio.jade
    section.section#index-ranges
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Ranges.html') See page
        h2.highlight Ranges
          a.anchor(href='#index-ranges')
        include ../Includes/Ranges.jade
    section.section#index-buttons
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Buttons.html') See page
        h2.highlight Buttons
          a.anchor(href='#index-buttons')
        include ../Includes/Buttons.jade
    section.section#index-ajax
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Ajax.html') See page
        h2.highlight Ajax
          a.anchor(href='#index-ajax')
        include ../Includes/Ajax.jade
    section.section#index-tabs
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Tabs.html') See page
        h2.highlight Tabs
          a.anchor(href='#index-tabs')
        include ../Includes/Tabs.jade
    section.section#index-accordions
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Accordions.html') See page
        h2.highlight Accordions
          a.anchor(href='#index-accordions')
        include ../Includes/Accordions.jade
    section.section#index-progress
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Progress.html') See page
        h2.highlight Progress
          a.anchor(href='#index-progress')
        include ../Includes/Progress.jade
    section.section#index-loaders
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Loaders.html') See page
        h2.highlight Loaders
          a.anchor(href='#index-loaders')
        include ../Includes/Loaders.jade
    section.section#index-ribbons
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Ribbons.html') See page
        h2.highlight Ribbons
          a.anchor(href='#index-ribbons')
        include ../Includes/ribbons.jade
    section.section#index-grid-layout
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./GridLayout.html') See page
        h2.highlight Grid Layout
          a.anchor(href='#index-grid-layout')
        include ../Includes/GridLayout.jade
        p
          a(href='./Layouts.html')
            span.icon-paperclip
            |  Layout Examples
    section.section#index-columns
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Columns.html') See page
        h2.highlight Columns
          a.anchor(href='#index-columns')
        include ../Includes/Columns.jade
    section.section#index-dimensions
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Dimensions.html') See page
        h2.highlight Dimensions
          a.anchor(href='#index-dimensions')
        include ../Includes/Dimensions.jade
    section.section#index-zoom
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Zoom.html') See page
        h2.highlight Zoom
          a.anchor(href='#index-zoom')
        include ../Includes/Zoom.jade
    section.section#index-ratios
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Ratios.html') See page
        h2.highlight Ratios
          a.anchor(href='#index-ratios')
        include ../Includes/Ratios.jade
    section.section#index-langages
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Langages.html') See page
        h2.highlight Langages
          a.anchor(href='#index-langages')
        include ../Includes/Langages.jade
    section.section#index-glyph-icons
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./GlyphIcons.html') See page
        h2.highlight Glyph Icons
          a.anchor(href='#index-glyph-icons')
        include ../Includes/GlyphIcons.jade
    section.section#index-maps
      .wrap.box.ribbon-container.sizeXS-ribbon-container-bottom
        .ribbon
          a(href='./Maps.html') See page
        h2.highlight Maps
          a.anchor(href='#index-maps')
        include ../Includes/Maps.jade
    footer.section.footer
      include ../Includes/Footer.jade
    include ../Includes/Scripts.jade
