.grid2.gap
  div
    p
      code .accordion
    .accordion
      details
        summary Cherry
        div
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium, leo sed malesuada tempor, leo ipsum fermentum magna, et sodales nibh dolor sed lacus. Phasellus condimentum lectus sit amet urna gravida molestie. Ut varius in ex in aliquet. Ut scelerisque elementum scelerisque. Vivamus ipsum nunc, lobortis eget diam nec, pellentesque mattis neque. Mauris eu laoreet sapien. Pellentesque vel viverra orci. Donec ac aliquet quam, ut imperdiet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo augue, lacinia vitae egestas sit amet, rhoncus a ipsum. Quisque id est eu ipsum rutrum lacinia et nec elit. Nulla facilisi. Fusce tellus diam, interdum sed tincidunt ac, feugiat a diam. Cras nec diam quis felis fermentum aliquam vitae congue ante. Aenean laoreet nibh id sodales blandit. Etiam a erat molestie, malesuada purus ut, dictum neque.
      details
        summary Banana
        div
          p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
      details
        summary Gooseberry
        div
          p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
          p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
    p.message Comportement par défaut de 
        code details/summary
        | , mais avec des animations.
  div
    p
      code .accordion(data-singletab='true')
    .accordion(data-singletab='true')
      details
        summary Apricot
        div
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium, leo sed malesuada tempor, leo ipsum fermentum magna, et sodales nibh dolor sed lacus. Phasellus condimentum lectus sit amet urna gravida molestie. Ut varius in ex in aliquet. Ut scelerisque elementum scelerisque. Vivamus ipsum nunc, lobortis eget diam nec, pellentesque mattis neque. Mauris eu laoreet sapien. Pellentesque vel viverra orci. Donec ac aliquet quam, ut imperdiet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo augue, lacinia vitae egestas sit amet, rhoncus a ipsum. Quisque id est eu ipsum rutrum lacinia et nec elit. Nulla facilisi. Fusce tellus diam, interdum sed tincidunt ac, feugiat a diam. Cras nec diam quis felis fermentum aliquam vitae congue ante. Aenean laoreet nibh id sodales blandit. Etiam a erat molestie, malesuada purus ut, dictum neque.
      details
        summary Pear
        div
          p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
      details
        summary Peach
        div
          p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
          p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
    p.message Avec option 
      code singletab
      | &nbsp;: un seul onglet s'ouvre à la fois.
  div
    p
      code .accordion(data-singletab='true') + details(open='open')
    .accordion(data-singletab='true')
      details
        summary Redcurrant
        div
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium, leo sed malesuada tempor, leo ipsum fermentum magna, et sodales nibh dolor sed lacus. Phasellus condimentum lectus sit amet urna gravida molestie. Ut varius in ex in aliquet. Ut scelerisque elementum scelerisque. Vivamus ipsum nunc, lobortis eget diam nec, pellentesque mattis neque. Mauris eu laoreet sapien. Pellentesque vel viverra orci. Donec ac aliquet quam, ut imperdiet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo augue, lacinia vitae egestas sit amet, rhoncus a ipsum. Quisque id est eu ipsum rutrum lacinia et nec elit. Nulla facilisi. Fusce tellus diam, interdum sed tincidunt ac, feugiat a diam. Cras nec diam quis felis fermentum aliquam vitae congue ante. Aenean laoreet nibh id sodales blandit. Etiam a erat molestie, malesuada purus ut, dictum neque.
      details(open='open')
        summary Watermelon
        div
          p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
      details
        summary Raspberry
        div
          p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
          p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
    p.message Avec deux options&nbsp;: un seul onglet s'ouvre à la fois + un onglet ouvert par défaut (option standard de 
      code details/summary
      | ).
  div
    p.message L'accordéon est basé sur les éléments html 
      code details/summary
      | . Le javascript transforme cette base pour permettre les animations et un meilleur contrôle, il ajoute aussi des attributs aria pour l'accessibilité. L'accordéon reste accessible au clavier comme pour le html de base.
    p.message Notez que l'apparence de l'accordéon ne changera pas si javascript est désactivé. Seul les animations et l'option 
      code singletab
      |  auront disparus.
    p.message(role='alert')
      svg.icon(role='img' focusable='false')
        use(href='/sprites/utils.svg#warning')
      | Les accordéons ne doivent pas inclure d'éléments enfants provoquant un recalcul de la hauteur du panneau (animation de l'accordéon basée sur la propriété max-height).

  //-
    div
      p
        code .accordion details/summary
      .accordion
        details
          summary Quince
          div
            details
              summary Tangerine
              div
                p Nulla fermentum tempus massa vel facilisis. Cras nec nisi mattis, vestibulum orci quis, mattis sem. Sed posuere orci at metus eleifend, sed mollis magna convallis. Aenean blandit est nec sodales vulputate. Nullam massa ex, luctus sed orci convallis, rhoncus venenatis felis. Sed eget nunc eget velit facilisis lacinia. Nunc arcu elit, facilisis eget nisi sed, maximus consequat odio. Suspendisse sit amet dictum ex. Nunc eu suscipit felis.
            details
              summary Pineapple
              div
                p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
            details
              summary Blackcurrant
              div
                p In eleifend placerat mi. Suspendisse semper suscipit tortor sed efficitur. Aliquam nulla sem, volutpat luctus mauris elementum, lobortis ultricies dui. Nam sit amet nisi eu nibh gravida elementum at quis nibh. Nam pretium elit ut vulputate cursus.
        details
          summary Watermelon
          div
            .tabs
              details
                summary Blackberry
                div
                  p Duis vitae pellentesque leo, ut semper lorem. Nulla massa lorem, venenatis pretium venenatis vitae, dignissim eu orci. Morbi rutrum arcu ac tellus bibendum, sed placerat ipsum vehicula. Phasellus rhoncus luctus nulla, sed venenatis nisl accumsan vel. Curabitur in sapien lectus. Duis dictum massa ac mauris rhoncus rutrum.
              details
                summary Kiwi
                div
                  p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
              details
                summary Strawberry
                div
                  p Donec a ex sagittis, ultricies dui feugiat, posuere nunc. Morbi tempus dolor turpis, eu ullamcorper nunc pharetra at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed volutpat magna sed varius tincidunt. Nunc metus nisl, mollis non nibh vel, imperdiet tristique nibh.
        details
          summary Pomegranate
          div
            p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin eget magna metus. Etiam et feugiat lectus. Proin augue quam, fringilla vitae urna venenatis, placerat vulputate leo. Aenean vel justo lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dignissim quam tempus nisi auctor ultrices. Morbi bibendum, nunc et semper dictum, lorem quam laoreet neque, vitae maximus metus eros pretium orci. Suspendisse potenti. Donec efficitur nisi sit amet magna pulvinar mollis. Etiam vulputate odio eget mattis finibus. Nunc ac auctor leo, sed dignissim eros.
            p Cras dignissim pharetra lorem. Cras ullamcorper rutrum lorem ac porta. Cras urna lorem, vestibulum eget lacinia eget, elementum et neque. Integer tempus eros non turpis vestibulum elementum. Fusce non urna ipsum. Suspendisse pretium lobortis elit, eu pellentesque tellus. Pellentesque nec pretium nulla, quis sollicitudin libero. Morbi finibus enim leo, fringilla mollis ligula consequat sit amet.
