.flex.gap
  div
    p
      code .button
    button(type='button').button.scale120
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/utils.svg#pen')
      | Register
  div
    p
      code .button
    button(type='button').button.scale120
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/utils.svg#checkmark')
      | Submit
  div
    p
      code .round-button
    button(type='button').round-button.scale300
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/utils.svg#checkmark')
      span.sr-only Submit
  div
    p
      code .round-button
    button(type='button').round-button.scale300
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/utils.svg#bin')
      span.sr-only Submit
