.grid3.gap
  div
    p
      code button.button
    br
    button(type='button').button
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#pen')
      | Register
  div
    p
      code (style='--color:#fff;--bg-color:#4e667a')
    br
    button(type='button' style='--color:#fff;--bg-color:#4e667a').button
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#pen')
      | Register
  div
    p
      code .scale150
    br
    button(type='button').button.scale150
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#checkmark')
      | Submit
hr(data-hr='✻ ✻ ✻')
.grid3.gap
  div
    p
      code button.round-button
    br
    button(type='button' aria-label='Submit').round-button
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#printer')
  div
    p
      code (style='--color:#fff;--bg-color:#4e667a')
    br
    button(type='button' aria-label='Submit' style='--color:#fff;--bg-color:#4e667a').round-button
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#printer')
  div
    p
      code .scale150
    br
    button(type='button' aria-label='Submit').round-button.scale150
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#pen')
