.flex.gap
  div
    p
      code .button
    button(type='button').button.zoom120
      svg.icon(role='img' focusable='false')
        use(xlink:href='/sprites/utils.svg#pen')
      | Register
  div
    p
      code .button
    button(type='button').button.zoom120
      svg.icon(role='img' focusable='false')
        use(xlink:href='/sprites/utils.svg#checkmark')
      | Submit
  div
    p
      code .round-button
    button(type='button').round-button.zoom300
      svg.icon(role='img' focusable='false')
        use(xlink:href='/sprites/utils.svg#checkmark')
      span.sr-only Submit
  div
    p
      code .round-button
    button(type='button').round-button.zoom300
      svg.icon(role='img' focusable='false')
        use(xlink:href='/sprites/utils.svg#bin')
      span.sr-only Submit
