.grid4.gap
  div
    p
      code button.button
    br
    button(type='button').button
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#pen')
      | Register
  div
    p
      code .scale120
    br
    button(type='button').button.scale120
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#checkmark')
      | Submit
  div
    p
      code (style='--color:#4e667a')
    br
    button(type='button' style='--color:#4e667a').button.scale120
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#pen')
      | Register
  div
    p
      code .scale150
    br
    button(type='button').button.scale150
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#checkmark')
      | Submit
hr(data-hr='✻ ✻ ✻')
.grid4.gap
  div
    p
      code button.round-button
    br
    button(type='button').round-button
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#printer')
      span.sr-only Submit
  div
    p
      code .scale120
    br
    button(type='button').round-button.scale120
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#pen')
      span.sr-only Submit
  div
    p
      code (style='--color:#4e667a')
    br
    button(type='button' style='--color:#4e667a').round-button.scale120
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#printer')
      span.sr-only Submit
  div
    p
      code .scale150
    br
    button(type='button').round-button.scale150
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#pen')
      span.sr-only Submit
