form(method='get' action='./').grid4.gap.media-l-grid2
  fieldset
    p
      code [type=checkbox].checkbox
    div
      input#test990.checkbox(type='checkbox' checked)
      label(for='test990') Option n°1
    div
      input#test991.checkbox(type='checkbox')
      label(for='test991') Option n°2
    div
      input#test992.checkbox(type='checkbox')
      label(for='test992') Option n°3
    div
      input#test999.checkbox(type='checkbox' disabled)
      label(for='test999') Option n°4 (disabled)
  fieldset
    p
      code [type=radio].checkbox
    div
      input#test980.checkbox(type='radio' name='test45' checked)
      label(for='test980') Option n°1
    div
      input#test981.checkbox(type='radio' name='test45')
      label(for='test981') Option n°2
    div
      input#test982.checkbox(type='radio' name='test45')
      label(for='test982') Option n°3
    div
      input#test989.checkbox(type='radio' name='test45' disabled)
      label(for='test989') Option n°4 (disabled)
  fieldset
    p
      code label.switch [type=checkbox]
    label.switch
      input(type='checkbox' checked)
      span.switch-bg
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°1
    label.switch
      input(type='checkbox')
      span.switch-bg
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°2
    label.switch
      input(type='checkbox')
      span.switch-bg
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°3
    label.switch
      input(type='checkbox' disabled)
      span.switch-bg
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°4 (disabled)
  fieldset
    p
      code label.switch [type=radio]
    label.switch
      input(type='radio' name='test034' checked)
      span.switch-bg
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°1
    label.switch
      input(type='radio' name='test034')
      span.switch-bg
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°2
    label.switch
      input(type='radio' name='test034')
      span.switch-bg
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°3
    label.switch
      input(type='radio' name='test034' disabled)
      span.switch-bg
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°4 (disabled)
  fieldset
    p
      code .switch
    label.switch
      input(type='checkbox' checked)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°1
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°2
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°3
    label.switch
      input(type='checkbox' disabled)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°4 (disabled)
  fieldset
    p
      code .switch [type=radio]
    label.switch
      input(type='radio' name='test234' checked)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°1
    label.switch
      input(type='radio' name='test234')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°2
    label.switch
      input(type='radio' name='test234')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°3
    label.switch
      input(type='radio' name='test234' disabled)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°4 (disabled)
  fieldset.switch-dual-state
    p
      code .switch-dual-state > .switch
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#moon')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#sun')
      span Option n°1
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#unlocked')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#locked')
      span Option n°2
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye-blocked')
      span Option n°3
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#quill')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#pen')
      span Option n°4
  fieldset.switch-dual-state
    p
      code .switch-dual-state > .switch
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#moon')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#sun')
      span Option n°1
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#unlocked')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#locked')
      span Option n°2
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye-blocked')
      span Option n°3
    label.switch
      input(type='checkbox' disabled)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#quill')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#pen')
      span Option n°4 (disabled)
  //-fieldset
    p
      code .switch [type=radio]
    label.switch
      input(type='radio' name='test235' checked)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°1
    label.switch
      input(type='radio' name='test235')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°2
    label.switch
      input(type='radio' name='test235')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°3
    label.switch
      input(type='radio' name='test235' disabled)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#mark')
      span Option n°4 (disabled)
  .c2
    p.message(role='alert')
      svg.icon(role='img' focusable='false')
        use(xlink:href='/sprites/utils.svg#info')
      | Les bouttons checkbox et radio sont utilisés lorsqu'un choix demande à être validé après coup, au sein d'un ensemble de choix dans un formulaire. Les switchs sont utilisés pour une validation imédiate du choix de l'utilisateur.
  .c2
    p.message(role='alert')
      svg.icon(role='img' focusable='false')
        use(xlink:href='/sprites/utils.svg#paperclip')
      | Le design d'un switch accessible à l'aide des seuls pseudo-éléments est tout à fait possible, nous l'avons fait à une époque. Mais cette solution rend la modularité du style parfois impossible. Le label n'étant pas indépendant du switch, son positionnement sera limité, des pseudo-éléments utilisants déjà background-image ne peuvent plus être texturés, l'effets "zoom" à l'aide de la propriété font-size sera problématique.
