form(method='get' action='./').grid4.gap.media-l-grid2
  fieldset
    p
      code [type=checkbox].checkbox
    div
      input#test990.checkbox(type='checkbox' checked)
      label(for='test990') Option n°1
    div
      input#test991.checkbox(type='checkbox')
      label(for='test991') Option n°2
    div
      input#test992.checkbox(type='checkbox')
      label(for='test992') Option n°3
    div
      input#test999.checkbox(type='checkbox' disabled)
      label(for='test999') Option n°4 (disabled)
  fieldset
    p
      code [type=radio].checkbox
    div
      input#test980.checkbox(type='radio' name='test45' checked)
      label(for='test980') Option n°1
    div
      input#test981.checkbox(type='radio' name='test45')
      label(for='test981') Option n°2
    div
      input#test982.checkbox(type='radio' name='test45')
      label(for='test982') Option n°3
    div
      input#test989.checkbox(type='radio' name='test45' disabled)
      label(for='test989') Option n°4 (disabled)
  fieldset
    label.switch
      input(type='checkbox' checked)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye')
      span Option n°1
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye')
      span Option n°2
    label.switch
      input(type='checkbox')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye')
      span Option n°3
    label.switch
      input(type='checkbox', disabled)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#checkmark')
          svg.icon(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#pen')
      span Option n°4 (disabled)
  fieldset
    label.switch
      input(type='radio' name='test234' checked)
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
      span Option n°1
    label.switch
      input(type='radio' name='test234')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
      span Option n°2
    label.switch
      input(type='radio' name='test234')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
      span Option n°3
    label.switch
      input(type='radio' name='test234')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
      span Option n°4
  fieldset.switch-state
    label.switch
      input(type='radio' name='test235')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
      span Option n°1
    label.switch
      input(type='radio' name='test235')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
      span Option n°2
    label.switch
      input(type='radio' name='test235')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
      span Option n°3
    label.switch
      input(type='radio' name='test235')
      span.switch-bg.zoom200
        span.switch-toogle
          svg.icon(role='img' focusable='false')
           use(xlink:href='/sprites/utils.svg#checkmark')
      span Option n°4
.grid2.gap
  p.message(role='alert')
    svg.icon(role='img' focusable='false')
      use(xlink:href='/sprites/utils.svg#info')
    | Les bouttons checkbox et radio sont utilisés lorsqu'un choix demande à être validé après coup, au sein d'un ensemble de choix dans un formulaire. Les switchs sont utilisés pour une validation imédiate du choix de l'utilisateur.
