form(method='get' action='./').grid4.gap.media-l-grid2
  fieldset
    p
      code [type=checkbox].checkbox
    div
      input#test990.checkbox(type='checkbox' checked)
      label(for='test990') Option n°1
    div
      input#test991.checkbox(type='checkbox')
      label(for='test991') Option n°2
    div
      input#test992.checkbox(type='checkbox')
      label(for='test992') Option n°3
    div
      input#test993.checkbox(type='checkbox' disabled)
      label(for='test993') Option n°4 (disabled)
  fieldset
    p
      code [type=radio].checkbox
    div
      input#test980.checkbox(type='radio' name='test45' checked)
      label(for='test980') Option n°1
    div
      input#test981.checkbox(type='radio' name='test45')
      label(for='test981') Option n°2
    div
      input#test982.checkbox(type='radio' name='test45')
      label(for='test982') Option n°3
    div
      input#test983.checkbox(type='radio' name='test45' disabled)
      label(for='test983') Option n°4 (disabled)
  fieldset
    p
      code [type=checkbox].switch
    div
      input#test970.switch(type='checkbox' checked)
      label(for='test970') Option n°1
    div
      input#test971.switch(type='checkbox')
      label(for='test971') Option n°2
    div
      input#test972.switch(type='checkbox')
      label(for='test972') Option n°3
    div
      input#test973.switch(type='checkbox' disabled)
      label(for='test973') Option n°4 (disabled)
  fieldset
    p
      code [type=radio].switch
    div
      input#test960.switch(type='radio' name='test845' checked)
      label(for='test960') Option n°1
    div
      input#test961.switch(type='radio' name='test845')
      label(for='test961') Option n°2
    div
      input#test962.switch(type='radio' name='test845')
      label(for='test962') Option n°3
    div
      input#test963.switch(type='radio' name='test845' disabled)
      label(for='test963') Option n°4 (disabled)
  fieldset
    p
      code [type=checkbox].switch label.zoom200
    div
      input#test950.switch(type='checkbox' checked)
      label(for='test950').zoom200
        span.zoom-reset Option n°1
    div
      input#test951.switch(type='checkbox')
      label(for='test951').zoom200
        span.zoom-reset Option n°2
    div
      input#test952.switch(type='checkbox')
      label(for='test952').zoom200
        span.zoom-reset Option n°3
  fieldset
    p 
      code [type=radio].switch label.zoom200
    div
      input#test940.switch(type='radio' name='test847' checked)
      label(for='test971130').zoom200
        span.zoom-reset Option n°1
    div
      input#test941.switch(type='radio' name='test847')
      label(for='test941').zoom200
        span.zoom-reset Option n°2
    div
      input#test942.switch(type='radio' name='test847')
      label(for='test942').zoom200
        span.zoom-reset Option n°3
  fieldset
    p
      code Personalized
    div
      input#test930.switch(type='checkbox')
      label(for='test930' style='--switchTrue:url(/medias/icons/smiley-happy-color.svg);--switchFalse:url(/medias/icons/smiley-sad-color.svg)').zoom200
        span.zoom-reset Happy or sad
    div
      input#test931.switch(type='checkbox')
      label(for='test931' style='--switchTrue:url(/medias/icons/eye-color.svg);--switchFalse:url(/medias/icons/eye-blocked-color.svg)').zoom200
        span.zoom-reset See or hide
    //-div
      input#test932.switch(type='checkbox')
      label(for='test932' style='--switchTrue:url(/medias/icons/sex-female.svg);--switchFalse:url(/medias/icons/sex-male.svg)').zoom200
        span.zoom-reset Men or women
    div
      input#test933.switch(type='checkbox')
      label(for='test933' style='--switchTrue:url(/medias/icons/unlocked-color.svg);--switchFalse:url(/medias/icons/locked-color.svg)').zoom200
        span.zoom-reset Locked or unlocked
  fieldset
    p
      code .switch2
    div
      input#test920.switch2(type='checkbox', checked='')
      label(for='test920') Option n°1
        span(data-on='yes', data-off='no')
  fieldset
    p
      code .switch3
    div
      input#test882150.switch3(type='checkbox')
      label(for='test882150').zoom200
        span.toogle
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye')
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#eye-blocked')
        span.zoom-reset See or hide
.grid2.gap
  p.message(role='alert')
    svg.icon(role='img' focusable='false')
      use(xlink:href='/sprites/utils.svg#info')
    | Les bouttons checkbox et radio sont utilisés lorsqu'un choix demande à être validé après coup, au sein d'un ensemble de choix dans un formulaire. Les switchs sont utilisés pour une validation imédiate du choix de l'utilisateur.
