form(method='get' action='./').grid4.gap.media-l-grid2
  fieldset
    p
      code [type=checkbox].checkbox
    div
      input#test990.checkbox(type='checkbox' checked)
      label(for='test990') Option n°1
    div
      input#test991.checkbox(type='checkbox')
      label(for='test991') Option n°2
    div
      input#test992.checkbox(type='checkbox')
      label(for='test992') Option n°3
    div
      input#test999.checkbox(type='checkbox' disabled)
      label(for='test999') Option n°4 (disabled)
  fieldset
    p
      code [type=radio].checkbox
    div
      input#test980.checkbox(type='radio' name='test45' checked)
      label(for='test980') Option n°1
    div
      input#test981.checkbox(type='radio' name='test45')
      label(for='test981') Option n°2
    div
      input#test982.checkbox(type='radio' name='test45')
      label(for='test982') Option n°3
    div
      input#test989.checkbox(type='radio' name='test45' disabled)
      label(for='test989') Option n°4 (disabled)
  fieldset
    p
      code .switch-unicode
    div
      input#test920.switch-unicode(type='checkbox', checked)
      label(for='test920') Option n°1. Cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum.
        span(data-on='yes' data-off='no')
    div
      input#test921.switch-unicode(type='checkbox')
      label(for='test921') Option n°2
        span(data-on='yes' data-off='no')
    div
      input#test922.switch-unicode(type='checkbox')
      label(for='test922') Option n°3
        span(data-on='yes' data-off='no')
    div
      input#test929.switch-unicode(type='checkbox' disabled)
      label(for='test929') Option n°4 (disabled)
        span(data-on='yes' data-off='no')
  fieldset
    p
      code .switch-svg
    div
      input#test910.switch-svg(type='checkbox' checked)
      label(for='test910') Checked (item par défaut)
        span
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#checkmark')
    div
      input#test911.switch-svg(type='checkbox')
      label(for='test911') Sun or moon
        span
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#sun')
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#moon')
    div
      input#test900.switch-svg(type='checkbox')
      label(for='test900') Locked or unlocked. Cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum.
        span
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#lock-open')
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#lock')
        span.zoom-reset Locked or unlocked
    div
      input#test909.switch-svg(type='checkbox' disabled)
      label(for='test909') See or hide (disabled)
        span
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/utils.svg#checkmark')
  fieldset
    p
      code .switch-svg + label.zoom200
    div
      input#test890.switch-svg(type='checkbox' checked)
      label(for='test890').zoom200
        span
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#sun')
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#moon')
        span.zoom-reset Sun or moon
    div
      input#test891.switch-svg(type='checkbox')
      label(for='test891').zoom200
        span
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#person')
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#person-dress')
        span.zoom-reset Men or women
    div
      input#test892.switch-svg(type='checkbox')
      label(for='test892').zoom200
        span
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/regular.svg#eye')
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/regular.svg#eye-slash')
        span.zoom-reset See or hide. Cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum.
    div
      input#test893.switch-svg(type='checkbox')
      label(for='test893').zoom200
        span
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#lock-open')
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#lock')
        span.zoom-reset Locked or unlocked
    div
      input#test899.switch-svg(type='checkbox' disabled)
      label(for='test899').zoom200
        span
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#lock-open')
          svg(role='img' focusable='false')
            use(xlink:href='/sprites/solid.svg#lock')
        span.zoom-reset Locked or unlocked
.grid2.gap
  p.message(role='alert')
    svg.icon(role='img' focusable='false')
      use(xlink:href='/sprites/utils.svg#info')
    | Les bouttons checkbox et radio sont utilisés lorsqu'un choix demande à être validé après coup, au sein d'un ensemble de choix dans un formulaire. Les switchs sont utilisés pour une validation imédiate du choix de l'utilisateur.
