.grid2.gap
  div
    p
      code pre.pre > code
    pre.pre
      code(translate='no').
         OxxO
        X oo X
        X >< X
         XXXX~<>
       (..)(..)
  div
    p
      code pre.pre > code(data-select)
    pre.pre
      code(translate='no' data-select='Select and copy').
         OxxO
        X oo X
        X >< X
         XXXX~<>
       (..)(..)
  div
    p
      code pre.pre > code:empty
    pre.pre
      code(translate='no')
  div
    p
      code pre.pre > code(data-select):empty
    pre.pre
      code(translate='no' data-select='Select and copy')
  div
    p
      code pre.pre > code(data-select)
    pre.pre
      code(translate='no' data-select='Select and copy') Single line content
  div
    p
      code pre.pre > code(data-code='HTML' data-select)
    pre.pre
      code.language-html(translate='no' data-code='HTML' data-select='Select and copy').
        &lt;html&gt;
        &lt;head&gt;&lt;/head&gt;
        &lt;body&gt;
          &lt;header&gt;&lt;/header&gt;
          &lt;main&gt;
            &lt;article&gt;&lt;/article&gt;
          &lt;/main&gt;
          &lt;aside&gt;&lt;/aside&gt;
          &lt;footer&gt;&lt;/footer&gt;
        &lt;/body&gt;
        &lt;/html&gt;
