.grid2.media-s-grid1.gap.masonry
  div
    p
      code pre.pre > code
    pre.pre
      code(translate='no').
         OxxO
        X oo X
        X >< X
         XXXX~<>
       (..)(..)
  div
    p
      code code(data-select)
    pre.pre
      code(translate='no' data-select='Select and copy').
         OxxO
        X oo X
        X >< X
         XXXX~<>
       (..)(..)
  div
    p
      code code(data-select)
    pre.pre
      code(translate='no' data-select='Select and copy') Single line content
  div
    p
      code code:empty
    pre.pre
      code(translate='no')
  div
    p
      code code(data-select):empty
    pre.pre
      code(translate='no' data-select='Select and copy')
  div
    p
      code code(data-code='HTML')
    -
      const htmlTest = `<!DOCTYPE html>
      <!-- a comment... -->
      <html>
        <head></head>
        <body>
          <header></header>
          <main>
            <article></article>
          </main>
          <aside></aside>
          <footer></footer>
        </body>
      </html>`
    pre.pre
      code.language-html(translate='no' data-code='HTML' data-select='Select and copy')= htmlTest
  div
    pre.pre
      code.language-css(data-code='CSS' translate='no' data-select='Select and copy').
        /* a comment... */
        :root {
          color-scheme: dark;
        }

        *,
        *::before,
        *::after {
          box-sizing: border-box;
        }

        html {
          -webkit-text-size-adjust: 100%;
          color: #e9dac5;
          background-color: #393939;
          font-family: 'Noto Sans', sans-serif;
          line-height: 1.5;
          scroll-behavior: smooth;
        }

        @media (prefers-reduced-motion: reduce) {
          html {
            scroll-behavior: auto;
          }
        }
  div
    pre.pre
      code.language-js(data-code='JS' translate='no' data-select='Select and copy').
        // a comment...
        const startPage = (() => {
          const html = document.documentElement,
                c = 'start-map'
          html.classList.add(c)
          window.addEventListener('load', function() {
            setTimeout(() => {
              html.classList.remove(c)
            }, 1500)
          })
        })()
  div
    pre.pre
      code.language-stylus(data-code='Stylus' translate='no' data-select='Select and copy').
        // a comment...
        .accordion
          display flex
          flex-direction column
          gap .5em 0
          & > * > :first-child
            box-sizing border-box
            display flex
            align-items center
            width 100%
  div
    pre.pre
      code.language-pug(translate='no' data-code='Pug' data-select='Select and copy').
        // a comment...
        ul.grid4.list-straight
          li
            svg.icon(role='img' focusable='false')
              use(xlink:href='/svgs/compiled/svgs.20ea15c6.svg#edit')
            a(href='#index') Artichauts
          li
            svg.icon(role='img' focusable='false')
              use(xlink:href='/svgs/compiled/svgs.20ea15c6.svg#check')
            a(href='#index') Carottes
