- const items = [ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus non tellus nec egestas. Donec ornare, nibh nec lacinia efficitur, lectus dolor consequat sem, eu sagittis nisi lectus eget mi. Nulla non metus nulla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.', 'Praesent pellentesque elit non dui finibus, malesuada tincidunt lorem laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget rhoncus justo, non consequat justo. Integer consequat sit amet mauris sed lacinia. In lobortis tincidunt odio at finibus. In in mauris ut neque aliquet efficitur sit amet eu metus.', 'Donec at efficitur augue. Duis ornare diam et tristique ullamcorper. Sed ullamcorper leo at ligula ultricies feugiat. Vivamus erat purus, blandit sit amet est sed, feugiat iaculis dolor.', 'Morbi a libero dictum, tempus lectus sit amet, luctus magna. Aliquam rutrum nunc eros, sed dignissim libero iaculis sit amet. Aliquam erat volutpat. Nulla facilisi. Phasellus ac leo vel est ultricies faucibus. Sed id semper diam.', 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Fusce eros mauris, congue vitae purus quis, suscipit semper metus. Praesent non velit lectus.', 'Pellentesque at sodales magna. Nullam id vestibulum urna. Etiam semper vehicula nibh, id fringilla velit vestibulum eu. Donec maximus, ligula quis consequat scelerisque, sapien risus sollicitudin erat, id malesuada sapien quam a odio.', 'Mauris vitae orci ullamcorper elit fringilla volutpat. Curabitur vehicula bibendum nibh, eu fringilla arcu ullamcorper et. Morbi massa ex, viverra eu risus id, ultricies luctus dolor. Ut ut laoreet purus.', 'Duis ornare diam et tristique ullamcorper. Sed ullamcorper leo at ligula ultricies feugiat. Vivamus erat purus, blandit sit amet est sed, feugiat iaculis dolor. Nunc vel nulla diam.', 'Pellentesque at sodales magna. In hac habitasse platea dictumst. Vestibulum aliquet feugiat quam ac maximus. Nam ligula neque, tincidunt eu mauris at, maximus rhoncus elit. Vestibulum porta euismod dignissim.', 'Fusce eros mauris, congue vitae purus quis, suscipit semper metus. Fusce sagittis nisl vitae volutpat fringilla. Donec elementum nisi eget augue egestas pharetra. Etiam sit amet pharetra felis. Ut eu velit nec massa vehicula tincidunt sit amet vel lectus.', 'Aliquam erat volutpat. Nulla facilisi. Phasellus ac leo vel est ultricies faucibus. Sed id semper diam. Praesent non velit lectus. Proin vehicula ut metus non tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.', 'Quisque in interdum tortor. Quisque ornare id massa a placerat. Nam orci lorem, pharetra a lacus feugiat, lacinia porta sem. Pellentesque viverra fringilla tincidunt. Etiam condimentum elementum metus, et lacinia justo condimentum non.' ]
p
  code .column4.gap
.column4.gap.demo-items.demo-counter
  - for (var i = 0; i < items.length; i++)
    div
      p= ' ' + items[i]
.grid2.media-s-grid1.vertical-gap
  div
    p.message
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#info')
      | Les styles CSS ne permettent pas encore une implémentation de type masonry, avec une distribution des items horizontale et non verticale comme ici. Mais 
      code .column
      |  est pour l'instant la solution full CSS qui s'en approche le plus. Pour tester l'effet masonry avec le framework nous vous conseillons une autre approche en 
      a(href='./grids.html') grid layout + javascript
      | .
  div
    p.message-warning
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/util.svg#warning')
      | Nombreux bugs affectant Chrome : éléments ou effet d'ombre tronqués.
