.grid2.gap
  div
    p
      code details
    details
      summary Item 1
      div
        p Lorem ipsum dolor 1 sit amet, consectetur adipiscing elit. Nunc pretium, leo sed malesuada tempor, leo ipsum fermentum magna, et sodales nibh dolor sed lacus. Phasellus condimentum lectus sit amet urna gravida molestie. Ut varius in ex in aliquet. Ut scelerisque elementum scelerisque. Vivamus ipsum nunc, lobortis eget diam nec, pellentesque mattis neque. Mauris eu laoreet sapien. Pellentesque vel viverra orci. Donec ac aliquet quam, ut imperdiet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo augue, lacinia vitae egestas sit amet, rhoncus a ipsum. Quisque id est eu ipsum rutrum lacinia et nec elit. Nulla facilisi. Fusce tellus diam, interdum sed tincidunt ac, feugiat a diam. Cras nec diam quis felis fermentum aliquam vitae congue ante. Aenean laoreet nibh id sodales blandit. Etiam a erat molestie, malesuada purus ut, dictum neque.
    details
      summary Item 2
      div
        p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
    details
      summary Item 3
      div
        p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
        p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
  div
    p
      code details
    details
      summary Item 1. A tab with a very long label for tests.
      div
        p Lorem ipsum dolor 1 sit amet, consectetur adipiscing elit. Nunc pretium, leo sed malesuada tempor, leo ipsum fermentum magna, et sodales nibh dolor sed lacus. Phasellus condimentum lectus sit amet urna gravida molestie. Ut varius in ex in aliquet. Ut scelerisque elementum scelerisque. Vivamus ipsum nunc, lobortis eget diam nec, pellentesque mattis neque. Mauris eu laoreet sapien. Pellentesque vel viverra orci. Donec ac aliquet quam, ut imperdiet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo augue, lacinia vitae egestas sit amet, rhoncus a ipsum. Quisque id est eu ipsum rutrum lacinia et nec elit. Nulla facilisi. Fusce tellus diam, interdum sed tincidunt ac, feugiat a diam. Cras nec diam quis felis fermentum aliquam vitae congue ante. Aenean laoreet nibh id sodales blandit. Etiam a erat molestie, malesuada purus ut, dictum neque.
    details
      summary Item 2
      div
        p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
    details
      summary Item 3
      div
        p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
        p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
  div
    p
      code details(open='open') details(open='open') details
    details(open='open')
      summary Item 1
      div
        details(open='open')
          summary Item 1.1
          div
            details
              summary Item 1.1.1
              div
                p Lorem ipsum dolor 1 sit amet, consectetur adipiscing elit. Nunc pretium, leo sed malesuada tempor, leo ipsum fermentum magna, et sodales nibh dolor sed lacus. Phasellus condimentum lectus sit amet urna gravida molestie. Ut varius in ex in aliquet. Ut scelerisque elementum scelerisque. Vivamus ipsum nunc, lobortis eget diam nec, pellentesque mattis neque. Mauris eu laoreet sapien. Pellentesque vel viverra orci. Donec ac aliquet quam, ut imperdiet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo augue, lacinia vitae egestas sit amet, rhoncus a ipsum. Quisque id est eu ipsum rutrum lacinia et nec elit. Nulla facilisi. Fusce tellus diam, interdum sed tincidunt ac, feugiat a diam. Cras nec diam quis felis fermentum aliquam vitae congue ante. Aenean laoreet nibh id sodales blandit. Etiam a erat molestie, malesuada purus ut, dictum neque.
            details
              summary Item 1.1.2
              div
                p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
            details
              summary Item 1.1.3
              div
                p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
                p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
        details
          summary Item 1.2
          div
            p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
        details
          summary Item 1.3
          div
            p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
            p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
    details
      summary Item 2
      div
        p Sed malesuada condimentum dui, vitae commodo nibh consequat sit amet. Nulla semper id nisi a aliquam. Maecenas quis magna nec lectus finibus interdum ut sed leo. Donec mollis diam id ante pharetra, at aliquam neque feugiat. Quisque id vulputate odio, quis ultricies odio. Nulla facilisi. Pellentesque ut aliquet enim. Fusce congue felis sit amet nulla bibendum condimentum. Proin lacinia ex non sem vulputate, quis laoreet dolor vestibulum. In ut molestie sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eget orci ultricies, scelerisque sem vitae, bibendum augue.
    details
      summary Item 3
      div
        p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Curabitur at tempor massa, ac finibus mi. Suspendisse nibh neque, porta et placerat vel, gravida at magna. Aenean augue dui, tincidunt nec ligula ut, laoreet tempor elit. Nullam vel sagittis eros, vel mattis ex.
        p Suspendisse fermentum luctus odio. Curabitur fringilla pulvinar interdum. Morbi porta orci neque, at commodo nulla tincidunt sed. Nulla finibus libero erat, eu auctor felis condimentum ac. Duis aliquet arcu sed luctus molestie. Pellentesque eros ipsum, ullamcorper ac turpis non, dictum hendrerit nulla. Integer mattis feugiat mauris a tincidunt. Duis fermentum faucibus nisl.
