p
  code .grid2.gap
.grid2.gap.demo-items-empty.demo-counter(style='--itemHeight:5em')
  div
  div
  .c2
    code .c2
  div
  div
br
hr(data-hr='✻ ✻ ✻')
p
  code .grid3.gap
.grid3.gap.demo-items-empty.demo-counter(style='--itemHeight:5em')
  div
  div
  div
  .r2
    code .r2
  div
  div
  div
  .r2.c2
    code .r2.c2
  .c2
    code .c2
  .c3
    code .c3
  div
  div
  div
  div
br
hr(data-hr='✻ ✻ ✻')
p
  code .grid4.gap
.grid4.gap.demo-items-empty.demo-counter(style='--itemHeight:5em')
  .r4
    code .r4
  div
  div
  div
  div
  .c2
    code .c2
  .c3
    code .c3
  .c4
    code .c4
  div
  div
  div
br
hr(data-hr='✻ ✻ ✻')
p
  code .grid4.gap.masonry
.grid4.gap.masonry.demo-items-empty.demo-counter
  div(style='height:5em')
  div(style='height:7em')
  div(style='height:5em').c2
    code .c2
  div(style='height:8em')
  div(style='height:7em')
  div(style='height:12em')
  div(style='height:6em')
  div(style='height:5em').c2
    code .c2
  div(style='height:8em')
  div(style='height:5em')
  div(style='height:9em')
  div(style='height:5em')
  div(style='height:6em')
  div(style='height:7em')