.grid4.gap
  div
    p
      code .loader
    br
    .loader
  div
    p
      code .loader.scale120
    br
    .loader.scale120
  div
    p
      code (style='--loader-frame:5s')
    br
    .loader(style='--loader-frame:5s').scale120
  div
    p
      code (style='--loader-color:#d2b48c')
    br
    .loader(style='--loader-frame:10s;--loader-color:#d2b48c').scale120
