.grid3.media-l-grid2.media-s-grid1.vertical-gap
  div
    p
      code .message p
    .message
      p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
        a(href='/') Link test.
  div
    p
      code p.message
    p.message Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
      a(href='/') Link test.
  div
    p
      code .message-primary
    p.message-primary(role='alert')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/utils.svg#paperclip')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
      a(href='/') Link test.
  div
    p
      code .message-secondary
    p.message-secondary(role='alert')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/utils.svg#paperclip')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
      a(href='/') Link test.
  div
    p
      code .message-info
    p.message-info(role='alert')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/utils.svg#info')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
      a(href='/') Link test.
  div
    p
      code .message-success
    p.message-success(role='alert')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/utils.svg#checkmark')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
      a(href='/') Link test.
  div
    p
      code .message-error
    p.message-error(role='alert')
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/utils.svg#mark')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
      a(href='/') Link test.
  div
    p
      code .message-warning
    p.message-warning(role='alert')
      svg.icon-inline.blink(role='img' focusable='false')
        use(href='/sprites/utils.svg#warning')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
      a(href='/') Link test.
