.grid2.gap
  div
    p
      code .progress-bar(data-value='0')
    .progress-bar(data-value='0')
    br
    p
      code .scale150(data-value='50')
    .progress-bar.scale150(data-value='50')
    br
    p
      code style='--color:#4e667a'
    .progress-bar.scale150(data-value='100' style='--color:#4e667a')
  div
    h2 Test
    .progress-bar.scale150#progress-test-target(data-value='0')
    br
    button#progress-test-cmd.button(type='button') Test de 0 à 100%
//-p
    code progress
  progress(max='100', value='50')
