p
  code .progress-bar(data-value='0')
.progress-bar(data-value='0')
br
p
  code .progress-bar(data-value='50')
.progress-bar(data-value='50')
br
p
  code .progress-bar(data-value='100')
.progress-bar(data-value='100')
//-p
    code progress
  progress(max='100', value='50')
