.grid2.gap.demo-items
  .ribbon-hook
    p
      code .ribbon-left a
    .ribbon-left
      a(href='#') Consulter
  .ribbon-hook
    p
      code .ribbon a
    .ribbon
      a(href='#') Consulter
  .ribbon-hook.c2
    p
      code .ribbon-left a
      | 
      code .ribbon a
    .ribbon-left
      a(href='#') Consulter
    .ribbon
      a(href='#') Consulter
