.grid2.gap.gap-bottom
  .demo-item.ribbon-content.center
    p
      code .ribbon-top-left
    .ribbon-top-left Top left
  .demo-item.ribbon-content.center
    p
      code .ribbon-top-right
    .ribbon-top-right Top right
  .demo-item.ribbon-content.center.c2(style='min-height:15em')
    p
      code .ribbon-content > .ribbon-&lt;top|bottom&gt;-&lt;left|right&gt;
    .ribbon-top-left Top left
    .ribbon-top-right Top right
    .ribbon-bottom-left Bottom left
    .ribbon-bottom-right Bottom right
  .demo-item.ribbon-content.center
    p
      code .ribbon-bottom-left
    .ribbon-bottom-left Bottom left
  .demo-item.ribbon-content.center
    p
      code .ribbon-bottom-right
    .ribbon-bottom-right Bottom right
hr(data-hr='✻ ✻ ✻')
.grid2.gap.gap-bottom
  .demo-item.ribbon-content.c2(style='min-height:15em')
    .ribbon-top-left Top left
    .ribbon-top-right Top right
    .ribbon-bottom-left
      span Bottom left
    .ribbon-bottom-right
      span Bottom right
  .demo-item.ribbon-content.center
    p
      code .ribbon-bottom-left span
    .ribbon-bottom-left
      span Bottom left
  .demo-item.ribbon-content.center
    p
      code .ribbon-bottom-right span
    .ribbon-bottom-right
      span Bottom right
hr(data-hr='✻ ✻ ✻')
.grid2.gap
  .demo-item.ribbon-content.center(style='min-height:12em')
    .ribbon-top-left.scale150 Top left
    .ribbon-bottom-right.scale150
      span.rescale Bottom right
    div
      p
        code .ribbon-top-left.scale150
      p
        code .ribbon-bottom-right.scale150 span.rescale
  .demo-item.ribbon-content.center
    p
      code a.ribbon-top-right
    a(href='#').ribbon-top-right
      svg.icon-inline(role='img' focusable='false')
        use(href='/sprites/solid.svg#arrow-right-long')
      | Link
//-.center
  svg.size16.decorative-svg(role='img' focusable='false')
    use(href='/sprites/silos/145v-d1.svg#1')