.column2.gap
  p
    code .scale70
  p.scale70 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .scale75
  p.scale75 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .scale80
  p.scale80 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .scale90
  p.scale90 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .scale95
  p.scale95 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code no scale
  p Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .scale105
  p.scale105 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .scale110
  p.scale110 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .scale115
  p.scale115 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .scale120
  p.scale120 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .scale50 .rescale
  p.scale50 Consetetur sadipscing elitr, 
    span.rescale sed diam nonumy
    |  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
hr(data-hr='✻ ✻ ✻')
div
  .demo-item.ribbon-content.center(style='min-height:22em')
    .ribbon-top-left Top left
    .ribbon-top-right.scale120 Top right
    .ribbon-bottom-right.scale150
      .rotate180 Bottom right
    .ribbon-bottom-left.scale200
      .rotate180.rescale Bottom left
    div
      p
        code .ribbon-top-left (Origin)
      p
        code .ribbon-top-right.scale120
      p
        code .ribbon-bottom-right.scale150 .rotate180
      p
        code .ribbon-bottom-left.scale200 .rotate180.rescale
hr(data-hr='✻ ✻ ✻')
.grid4.gap
  div
    p
      code .round-button
    .center
      button(type='button').round-button
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#checkmark')
        span.sr-only Submit
  div
    p
      code .round-button.scale120
    .center
      button(type='button').round-button.scale120
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#checkmark')
        span.sr-only Submit
  div
    p
      code .round-button.scale160
    .center
      button(type='button').round-button.scale160
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#checkmark')
        span.sr-only Submit
  div
    p
      code .round-button.scale200
    .center
      button(type='button').round-button.scale200
        svg.icon(role='img' focusable='false')
          use(href='/sprites/util.svg#checkmark')
        span.sr-only Submit
