h2 Sprites
.grid4.media-xs-grid2.gap
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/various/Assomption.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/various/Jeanne-D-Arc.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/various/Christ-de-Wissembourg.svg#1')
  div
    svg.size15.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/39r.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/79v-d1.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/83v-d1.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/126r-d1.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/131v-d1.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/145v-d1.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/163v.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/182r-d1-1.1.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/182r-d1.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/182r-d2.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/195v.svg#1')
  div
    svg.size20.decorative-svg(role='img' focusable='false')
      use(xlink:href='/sprites/silos/245v-d1.svg#1')