.grid2.gap.media-l-grid1.media-s-grid1
  div
    p
      code table.table
    div(role='region' aria-labelledby='Caption01' tabindex='0')
      table.table
        thead
          tr
            th User
            th First Name
            th Last Name
            th Email
        tbody
          tr
            th(data-thead='User') 1
            td(data-thead='First Name :') Vincent
            td(data-thead='Last Name :') de Paul
            td(data-thead='Email :') vincentdepaul@gmail.com
          tr
            th(data-thead='User') 2
            td(data-thead='First Name :') Frédéric
            td(data-thead='Last Name :') Ozanam
            td(data-thead='Email :') fredericOzanam@gmail.com
          tr
            th(data-thead='User') 3
            td(data-thead='First Name :') Martin
            td(data-thead='Last Name :') de Porrès
            td(data-thead='Email :') martin.o.p.@gmail.com
          tr
            th(data-thead='User') 4
            td(data-thead='First Name :') Paul
            td(data-thead='Last Name :')
            td(data-thead='Email :') paulDeTarse@gmail.com
          tr
            th(data-thead='User') 5
            td(data-thead='First Name :') Philippe
            td(data-thead='Last Name :') Smaldone
            td(data-thead='Email :') philippe.smaldone@gmail.com
          tr
            th(data-thead='User') 6
            td(data-thead='First Name :', colspan='2') Anjezë Gonxhe Bojaxhiu
            td(data-thead='Email :') mere-teresa@gmail.com
          tr
            th(data-thead='User') 7
            td(data-thead='First Name :') Karol Józef
            td(data-thead='Last Name :') Wojtyła
            td(data-thead='Email :') Jean-PaulII@gmail.com
        tfoot
          tr
            td
            td Foot
            td Foot
            td Foot
  div
    p
      code table.table
    div(role='region' aria-labelledby='Caption01' tabindex='0')
      table.table
        thead
          tr
            th First Name
            th Last Name
            th Email
        tbody
          tr
            td(data-thead='First Name :') Vincent
            td(data-thead='Last Name :') de Paul
            td(data-thead='Email :') vincentdepaul@gmail.com
          tr
            td(data-thead='First Name :') Frédéric
            td(data-thead='Last Name :') Ozanam
            td(data-thead='Email :') fredericOzanam@gmail.com
          tr
            td(data-thead='First Name :') Martin
            td(data-thead='Last Name :') de Porrès
            td(data-thead='Email :') martin.o.p.@gmail.com
          tr
            td(data-thead='First Name :') Paul
            td(data-thead='Last Name :')
            td(data-thead='Email :') paulDeTarse@gmail.com
          tr
            td(data-thead='First Name :') Philippe
            td(data-thead='Last Name :') Smaldone
            td(data-thead='Email :') philippe.smaldone@gmail.com
          tr
            td(data-thead='First Name :', colspan='2') Anjezë Gonxhe Bojaxhiu
            td(data-thead='Email :') mere-teresa@gmail.com
          tr
            td(data-thead='First Name :') Karol Józef
            td(data-thead='Last Name :') Wojtyła
            td(data-thead='Email :') Jean-PaulII@gmail.com
        tfoot
          tr
            td Foot
            td Foot
            td Foot
  div
    p
      code table.table-responsive
    div(role='region' aria-labelledby='Caption01' tabindex='0')
      table.table-responsive
        thead
          tr
            th First Name
            th Last Name
            th Email
        tbody
          tr
            td(data-thead='First Name :') Vincent
            td(data-thead='Last Name :') de Paul
            td(data-thead='Email :') vincentdepaul@gmail.com
          tr
            td(data-thead='First Name :') Frédéric
            td(data-thead='Last Name :') Ozanam
            td(data-thead='Email :') fredericOzanam@gmail.com
          tr
            td(data-thead='First Name :') Martin
            td(data-thead='Last Name :') de Porrès
            td(data-thead='Email :') martin.o.p.@gmail.com
          tr
            td(data-thead='First Name :') Paul
            td(data-thead='Last Name :')
            td(data-thead='Email :') paulDeTarse@gmail.com
          tr
            td(data-thead='First Name :') Philippe
            td(data-thead='Last Name :') Smaldone
            td(data-thead='Email :') philippe.smaldone@gmail.com
          tr
            td(data-thead='First Name :', colspan='2') Anjezë Gonxhe Bojaxhiu
            td(data-thead='Email :') mere-teresa@gmail.com
          tr
            td(data-thead='First Name :') Karol Józef
            td(data-thead='Last Name :') Wojtyła
            td(data-thead='Email :') Jean-PaulII@gmail.com
        tfoot
          tr
            td Foot
            td Foot
            td Foot
  .center
    svg.size25.decorative-svg(role='img' focusable='false')
      use(href='/sprites/various/Jeanne-D-Arc.svg#1')
