.column2.gap
  p
    code .zoom70
  p.zoom70 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .zoom75
  p.zoom75 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .zoom80
  p.zoom80 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .zoom90
  p.zoom90 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .zoom95
  p.zoom95 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code no zoom
  p Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .zoom105
  p.zoom105 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .zoom110
  p.zoom110 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .zoom115
  p.zoom115 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .zoom120
  p.zoom120 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  p
    code .zoom50 .zoom-reset
  p.zoom50 Consetetur sadipscing elitr, 
    span.zoom-reset sed diam nonumy
    |  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
.flex.gap
  div
    p
      code .zoom450
    button.round-button.zoom450
      svg.icon(role='img' focusable='false')
        use(href='/sprites/utils.svg#bookmark')
      span.sr-only Enregistrer
  div
    p
      code .zoom300
    button.round-button.zoom300
      svg.icon(role='img' focusable='false')
        use(href='/sprites/utils.svg#bookmark')
      span.sr-only Enregistrer
  div
    p
      code .zoom200
    button.round-button.zoom200
      svg.icon(role='img' focusable='false')
        use(href='/sprites/utils.svg#bookmark')
      span.sr-only Enregistrer
  div
    p
      code no zoom
    button.round-button
      svg.icon(role='img' focusable='false')
        use(href='/sprites/utils.svg#bookmark')
      span.sr-only Enregistrer

