.grid
  .grid
    .m4.sizeS-m6
      p
        code .accordion-js
      .accordion-js
        h3 Item 1
        div
          p 
            code .active
            |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        h3 Item 2
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
        h3 Item 3
        ol
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
    .m4.sizeS-m6
      p
        code .accordion-js
      .accordion-js
        h3 Item 1
        div
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        h3 Item 2
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
        h3 Item 3
        ol
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
    .m4.sizeS-m6
      p
        code .accordion-js
      .accordion-js
        h3 Item 1
        .active
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        h3 Item 2
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
        h3 Item 3
        ol
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
  .grid
    .m4.sizeS-m6
      p
        code .accordion-js-link
      .accordion-js-link
        h3 Item 1
        ul
          li
            a(href='#index-accordions')
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          li
            a(href='#index-accordions')
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        h3 Item 2
        ul
          li
            a(href='#index-accordions')
              code .active
              |  Sub-item
          li
            a(href='#index-accordions') Sub-item
        h3 Item 3
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
        h3 Item 4
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
    .m4.sizeS-m6
      p
        code .accordion-js-link
      .accordion-js-link
        h3 Item 1
        ul
          li
            a(href='#index-accordions')
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          li
            a(href='#index-accordions')
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        h3 Item 2
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
        h3 Item 3
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
        h3 Item 4
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
    .m4.sizeS-m6
      p
        code .accordion-js-link
      .accordion-js-link
        h3 Item 1
        ul
          li
            a(href='#index-accordions')
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          li
            a(href='#index-accordions')
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        h3 Item 2
        ul.active
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
        h3 Item 3
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
        h3 Item 4
        ul
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item
          li
            a(href='#index-accordions') Sub-item