p
  code ajax.button
.button-group
  button(data-display='global' data-url='Test').button
    span.icon-puzzle
    |  Ajax Global
  button(data-display='affected' data-url='Test').button
    span.icon-ampersand
    |  Ajax Affected
  button(data-display='popin' data-url='Test').button
    span.icon-enlarge
    |  Ajax Popin
//- Fenêtre Ajax dédiée pour 'Test'
.ajax-window-Test