p
  code ajax.button
.button-group
  button.button.ajax-global#ajax-test
    span.icon-list
    |  Ajax Test
  button.button.ajax-popin#ajax-test2
    span.icon-enlarge
    |  Ajax Test + Popin
  button.button.ajax-global#ajax-todo-ajax
    span.icon-warning
    |  @todo Problem Ajax
.ajax-window