p
  em A framework created by
p
  span.icon-quill
p
  a.author(href='//github.com/Scriptura', itemprop='author', itemscope, itemtype='https://schema.org/Person')
    span(itemprop='name')
      span(itemprop='givenName') Olivier
      |  
      span(itemprop='familyName') Chavarin