p
  code .organizational-chart
.organizational-chart
  // 1/16 final:
  ul
    li player 1
    li player 2
    li
    li
    li player 5
    li player 6
    li player 7
    li player 8
    li player 9
    li player 10
    li player 11
    li player 12
    li player 13
    li player 14
    li player 15
    li player 16
    li player 17
    li player 18
    li player 19
    li player 20
    li player 21
    li player 22
    li player 23
    li player 24
    li player 25
    li player 26
    li player 27
    li player 28
    li player 29
    li player 30
    li player 31
    li player 32
  // 1/8 final:
  ul
    li player 2
    li player 3
    li player 5
    li player 7
    li player 10
    li player 11
    li player 14
    li player 15
    li player 18
    li player 19
    li player 22
    li player 23
    li player 25
    li player 28
    li player 30
    li player 31
  // 1/4 final:
  ul
    li player 3
    li player 7
    li player 10
    li player 14
    li player 18
    li player 22
    li player 25
    li player 30
  // 1/2 final:
  ul
    li player 7
    li player 14
    li player 22
    li player 30
  // Final:
  ul
    li player 7
    li player 22
  // Winner:
  ul
    li player 7