.grid
  form.m3.sizeS-m6(method='get', action='./')
    p
      code [type="checkbox"].checkbox
    div
      input#test6619.checkbox(type='checkbox', checked='')
      label(for='test6619') Option 1
    div
      input#test6629.checkbox(type='checkbox')
      label(for='test6629') Option 2
    div
      input#test6639.checkbox(type='checkbox')
      label(for='test6639') Option 3
    div
      input#test6649.checkbox(type='checkbox', disabled='')
      label(for='test6649') Option 4 (disabled)
  form.m3.sizeS-m6(method='get', action='./')
    p
      code [type="radio"].checkbox
    div
      input#test49.checkbox(type='radio', name='test45', checked='')
      label(for='test49') Option 1
    div
      input#test59.checkbox(type='radio', name='test45')
      label(for='test59') Option 2
    div
      input#test69.checkbox(type='radio', name='test45')
      label(for='test69') Option 3
    div
      input#test79.checkbox(type='radio', name='test45', disabled='')
      label(for='test79') Option 3 (disabled)
  form.m3.sizeS-m6(method='get', action='./')
    p
      code [type="checkbox"].switch
    div
      input#test881.switch(type='checkbox', checked='')
      label(for='test881') Option n°1
        span(data-on='yes', data-off='no')
    div
      input#test882.switch(type='checkbox')
      label(for='test882') Option n°2
        span(data-on='yes', data-off='no')
    div
      input#test883.switch(type='checkbox')
      label(for='test883') Option n°3
        span(data-on='yes', data-off='no')
    div
      input#test884.switch(type='checkbox', disabled='')
      label(for='test884') Option n°4 (disabled)
        span(data-on='yes', data-off='no')
  form.m3.sizeS-m6(method='get', action='./')
    p
      code [type="radio"].switch
    div
      input#test882114.switch(type='radio', name='test845', checked='')
      label(for='test882114') Option n°1
        span(data-on='yes', data-off='no')
    div
      input#test882115.switch(type='radio', name='test845')
      label(for='test882115') Option n°2
        span(data-on='yes', data-off='no')
    div
      input#test882116.switch(type='radio', name='test845')
      label(for='test882116') Option n°3
        span(data-on='yes', data-off='no')
    div
      input#test882117.switch(type='radio', name='test845', disabled='')
      label(for='test882117') Option n°4 (disabled)
        span(data-on='yes', data-off='no')