p
  code .columns
.columns
  div
    .demo-item
  div
    .demo-item
.columns
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
.columns
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
.columns
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
.columns
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
.columns
  div.c2
    .demo-item
      p
        code .c2
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
.columns
  div.c3
    .demo-item
      p
        code .c3
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
.columns
  div.c4
    .demo-item
      p
        code .c4
  div
    .demo-item
  div
    .demo-item
.columns
  div.c5
    .demo-item
      p
        code .c5
  div
    .demo-item
hr
p
  code .columns-smallspace
.columns-smallspace
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
p
  code .columns
.columns
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
p
  code .columns-largespace
.columns-largespace
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
  div
    .demo-item
hr
p
  code .columns
.columns
  p
    b Column 1
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
  p
    b Column 2
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
.columns3
  p
    b Column 1
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.
  p
    b Column 2
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.
  p
    b Column 3
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.
.columns4
  p
    b Column 1
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
  p
    b Column 2
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
  p
    b Column 3
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
  p
    b Column 4
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
.columns5
  p
    b Column 1
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  p
    b Column 2
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  p
    b Column 3
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  p
    b Column 4
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  p
    b Column 5
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
.columns6
  p
    b Column 1
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  p
    b Column 2
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  p
    b Column 3
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  p
    b Column 4
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  p
    b Column 5
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
  p
    b Column 6
    | . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
p
  b No column.
  |  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.