p
  code .width2
img(src='../Images/Demo/ponton.jpg', alt='Ponton').width2
p
  code .width4
img(src='../Images/Demo/ponton.jpg', alt='Ponton').width4
p
  code .width8
img(src='../Images/Demo/ponton.jpg', alt='Ponton').width8
p
  code .width16
img(src='../Images/Demo/ponton.jpg', alt='Ponton').width16
p
  code .width32
img(src='../Images/Demo/ponton.jpg', alt='Ponton').width32