- inlineStyle = 'background-image:url(../Images/Demo/ponton1024.jpg);background-size:cover'
- each i in [2, 4, 8, 16, 32]
  p
    code .width#{i}
  div(class='width#{i}')
    .ratio-16-9(style='#{inlineStyle}')