.grid.text-center
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-ampersand
    .icon-ampersand.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-apple
    .icon-apple.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-arrow-down
    .icon-arrow-down.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-arrow-left
    .icon-arrow-left.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-arrow-right
    .icon-arrow-right.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-arrow-up
    .icon-arrow-up.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-asterisk
    .icon-asterisk.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-asterisk2
    .icon-asterisk2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-asterism
    .icon-asterism.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-asterism2
    .icon-asterism2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-at
    .icon-at.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-badge
    .icon-badge.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-barcode
    .icon-barcode.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-bin
    .icon-bin.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-bird-love
    .icon-bird-love.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-bomb
    .icon-bomb.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-book
    .icon-book.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-bookmark
    .icon-bookmark.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-bubbles
    .icon-bubbles.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-bubbles2
    .icon-bubbles2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-calendar
    .icon-calendar.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-cart
    .icon-cart.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-checkmark-hollow
    .icon-checkmark-hollow.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-checkmark
    .icon-checkmark.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-checkmark2
    .icon-checkmark2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-chevron-right
    .icon-chevron-right.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-chevron-right2
    .icon-chevron-right2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-chevron-right3
    .icon-chevron-right3.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-code
    .icon-code.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-cogwheel
    .icon-cogwheel.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-cogwheel2
    .icon-cogwheel2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-cogwheel3
    .icon-cogwheel3.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-compass
    .icon-compass.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-cone
    .icon-cone.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-eject
    .icon-control-eject.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-fast-next
    .icon-control-fast-next.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-fast-prev
    .icon-control-fast-prev.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-next
    .icon-control-next.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-next2
    .icon-control-next2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-pause
    .icon-control-pause.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-play
    .icon-control-play.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-prev
    .icon-control-prev.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-prev2
    .icon-control-prev2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-control-stop
    .icon-control-stop.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-covered
    .icon-covered.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-covered2
    .icon-covered2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-creative-commons
    .icon-creative-commons.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-creditcard
    .icon-creditcard.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-crop
    .icon-crop.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-cross
    .icon-cross.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-download
    .icon-download.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-drink
    .icon-drink.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-earth
    .icon-earth.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-enlarge-diagonal
    .icon-enlarge-diagonal.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-enlarge
    .icon-enlarge.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-envelope-open
    .icon-envelope-open.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-envelope
    .icon-envelope.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-equalizer
    .icon-equalizer.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-feed
    .icon-feed.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-flag
    .icon-flag.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-flake
    .icon-flake.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-flame
    .icon-flame.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-flower
    .icon-flower.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-frame
    .icon-frame.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-gamepad
    .icon-gamepad.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-github
    .icon-github.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-headphone
    .icon-headphone.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-heart-hollow
    .icon-heart-hollow.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-heart
    .icon-heart.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-histogram
    .icon-histogram.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-home
    .icon-home.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-hour-glass
    .icon-hour-glass.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-info
    .icon-info.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-key-hollow
    .icon-key-hollow.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-key
    .icon-key.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-keyboard
    .icon-keyboard.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-lab
    .icon-lab.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-leaf
    .icon-leaf.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-like
    .icon-like.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-link
    .icon-link.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-list-numbered
    .icon-list-numbered.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-list
    .icon-list.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-list2
    .icon-list2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-location
    .icon-location.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-location2
    .icon-location2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-locked
    .icon-locked.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-login
    .icon-login.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-logout
    .icon-logout.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-mark-hollow
    .icon-mark-hollow.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-mark
    .icon-mark.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-meridian-globe
    .icon-meridian-globe.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-minus
    .icon-minus.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-music-note
    .icon-music-note.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-nut
    .icon-nut.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-old-key
    .icon-old-key.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-paper-plane
    .icon-paper-plane.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-paperclip
    .icon-paperclip.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-pen
    .icon-pen.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-phone
    .icon-phone.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-phone2
    .icon-phone2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-picture
    .icon-picture.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-pie
    .icon-pie.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-plus
    .icon-plus.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-point-down
    .icon-point-down.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-point-left
    .icon-point-left.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-point-right
    .icon-point-right.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-point-up
    .icon-point-up.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-power
    .icon-power.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-printer
    .icon-printer.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-puzzle
    .icon-puzzle.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-qrcode
    .icon-qrcode.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-quill
    .icon-quill.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-quotes-left
    .icon-quotes-left.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-quotes-right
    .icon-quotes-right.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-radio-checked
    .icon-radio-checked.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-radio-checked2
    .icon-radio-checked2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-radio-unchecked
    .icon-radio-unchecked.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-rocket
    .icon-rocket.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-ruler
    .icon-ruler.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-ruler2
    .icon-ruler2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-ruler3
    .icon-ruler3.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sandals
    .icon-sandals.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-scissors
    .icon-scissors.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-search
    .icon-search.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-select-column
    .icon-select-column.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sex-female
    .icon-sex-female.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sex-male
    .icon-sex-male.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-share
    .icon-share.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sharp
    .icon-sharp.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-shrink-diagonal
    .icon-shrink-diagonal.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-shrink
    .icon-shrink.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-skull
    .icon-skull.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-angry
    .icon-smiley-angry.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-angry2
    .icon-smiley-angry2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-baffled
    .icon-smiley-baffled.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-baffled2
    .icon-smiley-baffled2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-confused
    .icon-smiley-confused.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-confused2
    .icon-smiley-confused2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-cool
    .icon-smiley-cool.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-cool2
    .icon-smiley-cool2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-crying
    .icon-smiley-crying.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-crying2
    .icon-smiley-crying2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-evil
    .icon-smiley-evil.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-evil2
    .icon-smiley-evil2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-frustrated
    .icon-smiley-frustrated.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-frustrated2
    .icon-smiley-frustrated2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-grin
    .icon-smiley-grin.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-grin2
    .icon-smiley-grin2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-happy
    .icon-smiley-happy.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-happy2
    .icon-smiley-happy2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-hipster
    .icon-smiley-hipster.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-hipster2
    .icon-smiley-hipster2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-neutral
    .icon-smiley-neutral.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-neutral2
    .icon-smiley-neutral2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-sad
    .icon-smiley-sad.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-sad2
    .icon-smiley-sad2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-shocked
    .icon-smiley-shocked.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-shocked2
    .icon-smiley-shocked2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-sleepy
    .icon-smiley-sleepy.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-sleepy2
    .icon-smiley-sleepy2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-smile
    .icon-smiley-smile.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-smile2
    .icon-smiley-smile2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-tongue
    .icon-smiley-tongue.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-tongue2
    .icon-smiley-tongue2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-wink
    .icon-smiley-wink.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-wink2
    .icon-smiley-wink2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-wondering
    .icon-smiley-wondering.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-smiley-wondering2
    .icon-smiley-wondering2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-snowflake
    .icon-snowflake.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sort-alpha-asc
    .icon-sort-alpha-asc.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sort-alpha-desc
    .icon-sort-alpha-desc.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sort-amount-asc
    .icon-sort-amount-asc.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sort-amount-desc
    .icon-sort-amount-desc.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sort-numberic-desc
    .icon-sort-numberic-desc.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sort-numeric-asc
    .icon-sort-numeric-asc.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-space-invader
    .icon-space-invader.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-spinner
    .icon-spinner.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-sun
    .icon-sun.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-switch
    .icon-switch.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-toggle-off
    .icon-toggle-off.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-toggle-on
    .icon-toggle-on.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-tools
    .icon-tools.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-umbrella
    .icon-umbrella.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-unlocked
    .icon-unlocked.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-upload
    .icon-upload.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-user
    .icon-user.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-video-play
    .icon-video-play.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-video-play2
    .icon-video-play2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-warning
    .icon-warning.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-windows
    .icon-windows.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-windows8
    .icon-windows8.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-ying-yang
    .icon-ying-yang.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-download2
    .icon-download2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-upload2
    .icon-upload2.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-birthday-cake
    .icon-birthday-cake.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-office
    .icon-office.zoom250
  .m2.sizeL-m3.sizeS-m4.sizeXS-m6
    p.zoom80
      code .icon-suitcase
    .icon-suitcase.zoom250