.grid
  .m4.sizeS-m6
    p
      code img
    img(src='../Images/Demo/ponton.jpg', alt='Ponton')
  .m4.sizeS-m6
    p
      code .figure
    figure.figure
      img(src='../Images/Demo/ponton.jpg', alt='Ponton')
  .m4.sizeS-m6
    p
      code .figure-captionslide
    figure.figure-captionslide
      img(src='../Images/Demo/ponton.jpg', alt='Ponton')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .m3.sizeL-m4.sizeS-m6
    p
      code .figure figcaption
    figure.figure
      img(src='../Images/Demo/ponton.jpg', alt='Ponton')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .m3.sizeL-m4.sizeS-m6
    p
      code .figure-focus
    figure.figure-focus
      img(src='../Images/Demo/ponton.jpg', alt='Ponton')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .m3.sizeL-m4.sizeS-m6
    p
      code .figure-focus
    figure.figure-focus
      img(src='../Images/Demo/tunel.jpg', alt='Tunel')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .m3.sizeL-m4.sizeS-m6
    p
      code .figure-focus
    figure.figure-focus
      img(src='../Images/Demo/LittleGirl.jpg', alt='Little Girl')
      figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  .grid
    .m6
      p
        code .figure
      figure.figure
        img(src='../Images/Demo/ponton.jpg', alt='Ponton')
    .m6
      p
        code .figure-thumbnail
      figure.figure-thumbnail
        img(src='../Images/Demo/ponton.jpg', alt='Ponton')
  .grid
    .m6
      p
        code .figure-alignleft
      figure.figure-alignleft-captionslide-thumbnail
        img(src='../Images/Demo/ponton.jpg', alt='Ponton')
        figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    .m6
      p
        code .figure-alignright
      figure.figure-alignright-captionslide-thumbnail
        img(src='../Images/Demo/ponton.jpg', alt='Ponton')
        figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.