.grid
  form.m6.sizeS-m12(method='get' action='./')
    fieldset
      legend Label & Inputs
      p
        code .input label + input
      .columns
        .input
          label(for='name') Type text
          input#name(type='text' name='name' value='' size='23' placeholder='John' required='')
        .input.c2.invalid
          label(for='name2') Text + error
          input#name2(type='text' name='name2' value='' size='23' placeholder='Smith' required='')
          p Champ invalide&nbsp;: des caractères numériques sont placés dans votre nom.
      .input.disabled
        label(for='name3') Disabled Attribute
        input#name3(type='text' name='name3' value='' size='23' placeholder=':disabled' required='' disabled='')
      .columns
        .input.c2
          label(for='email') Type email
          input#email(type='email' name='email' value='' size='23' placeholder='pseudo@email.com' required='')
        .input
          label(for='tel') Type tel
          input#tel(type='tel' name='tel' value='' size='23' placeholder='0477446677')
      .columns
        .input
          label(for='date') Type date
          input(type='date' name='date' value='2015-02-12')
        .input
          label(for='time') Type time
          input(type='time' name='time')
        .input
          label(for='datetime') Type datetime
          input(type='datetime' name='datetime')
      .columns
        .input
          label(for='number') Type number
          input(type='number' name='number' step='1' min='-5' max='100' value='50')
        .input
          label(for='color') Type color
          input(type='color' name='color' value='#5ae310')
        .input-password
          label(for='password') Type password
          input(type='password' id='user_password' name='password' placeholder='• • • • • • • •')
          input(type='checkbox' title='See the password')
      .input.hidden
        label(for='test') Type hidden
        input#test(type='text' name='test' value='' size='23' placeholder='requis')
  form.m6.sizeS-m12(method='get' action='./')
    fieldset
      legend Select & Textarea
      p
        code .input label + select
      .columns
        .input
          label(for='pays') Type select
          select#pays(name='pays')
            option(value='00' selected='') Pays
            option(value='FR') France
            option(value='ZA') Afrique du Sud
            option(value='AL') Albanie
            option(value='DZ') Algérie
            option(value='DE') Allemagne
            option(value='AD') Andorre
            option(value='AO') Angola
            option(value='AI') Anguilla
            option(value='AQ') Antarctique
            option(value='AG') Antigua-et-Barbuda
            option(value='AN') Antilles néerlandaises
        .input
          label(for='pays2') Type select multiple
          select#pays2(multiple name='pays2')
            option(value='00' selected='') Pays
            option(value='FR') France
            option(value='ZA') Afrique du Sud
            option(value='AL') Albanie
            option(value='DZ') Algérie
            option(value='DE') Allemagne
            option(value='AD') Andorre
            option(value='AO') Angola
            option(value='AI') Anguilla
            option(value='AQ') Antarctique
            option(value='AG') Antigua-et-Barbuda
            option(value='AN') Antilles néerlandaises
      p
        code .input label + textarea
      .input
        label(for='message') Textarea
        textarea#message(name='message' placeholder='Bonjour...' required='')
.grid
  h3 Search Form
  p
    code .search
  form.m6(role='search' method='get' action='./')
    fieldset.search
      input(type='search' name='s' placeholder='Rechercher' required='')
      label(accesskey='s') Rechercher
      button
        span Valider
.grid
  h3 Input Groups
  form.grid(method='get' action='./')
    fieldset.m6
      p
        code .input-group
      .input-group
        label(for='test1111') Text label
        div
          div Prepend
          input(type='text' id='test1111' name='test1111' placeholder='Test')
          div Append
      .input-group
        label(for='test1112') Result
        div
          div Total Value
          input(type='text' id='test1112' name='test1112' placeholder='Test')
          div Deutsche Mark
    fieldset.m6
      p
        code .input-group
      .input-group-right
        label(for='test1113') Total
        div
          div $
          input(type='number' id='test1113' name='test1113' placeholder='100')
          div .00
      .input-group-right
        label(for='test1114') Total
        div
          div €
          input(type='number' id='test1114' name='test1114' placeholder='100')
          div .00