h3 Greek Ancient
p
  code :lang(grc)
.columns-largespace
  p(lang='grc')
    span.verse 1
    |  Ἰησοῦς δὲ ἐπορεύθη εἰς τὸ ὄρος τῶν ἐλαιῶν. 
    span.verse 2
    |  Ὄρθρου δὲ πάλιν παρεγένετο εἰς τὸ ἱερὸν καὶ πᾶς ὁ λαὸς ἤρχετο πρὸς αὐτόν, καὶ καθίσας ἐδίδασκεν αὐτούς.
    span.verse 3
    |  Ἄγουσιν δὲ οἱ γραμματεῖς καὶ οἱ Φαρισαῖοι γυναῖκα ἐπὶ μοιχείᾳ κατειλημμένην καὶ στήσαντες αὐτὴν ἐν μέσῳ 
    span.verse 4
    |  λέγουσιν αὐτῷ· διδάσκαλε, αὕτη ἡ γυνὴ κατείληπται ἐπ᾽ αὐτοφώρῳ μοιχευομένη· 
    span.verse 5
    |  ἐν δὲ τῷ νόμῳ ἡμῖν Μωϋσῆς ἐνετείλατο τὰς τοιαύτας λιθάζειν. σὺ οὖν τί λέγεις ; 
    span.verse 6
    |  τοῦτο δὲ ἔλεγον πειράζοντες αὐτόν, ἵνα ἔχωσιν κατηγορεῖν αὐτοῦ. ὁ δὲ Ἰησοῦς κάτω κύψας τῷ δακτύλῳ κατέγραφεν εἰς τὴν γῆν.
  p
    span.verse 1
    |  Et Jésus alla vers le Mont des Oliviers. 
    span.verse 2
    |  Et à l'aurore, de nouveau, il se présenta vers le Temple, et tout le peuple venait auprès de lui, et s'asseyant il les enseignait. 
    span.verse 3
    |  Et les scribes et les Pharisiens amènent une femme saisie sur adultère, et l'ayant dressée au milieu 
    span.verse 4
    |  ils lui disent : Maître, cette femme a été saisie en flagrant délit, s'adultérant ; 
    span.verse 5
    |  dans la loi Moïse nous a commandé de lapider de telles (femmes). Toi donc, que dis-tu ? 
    span.verse 6
    |  Et cela ils (le) disaient en l'éprouvant, afin qu'ils aient à l'accuser. Mais Jésus s'étant baissé en bas, du doigt, écrivait sur la terre.
h3 Hebrew
p
  code :lang(he)
.columns-largespace
  p(lang='he')
    span.verse 1
    |  בְּרֵאשִׁ֖ית בָּרָ֣א אֱלֹהִ֑ים אֵ֥ת הַשָּׁמַ֖יִם וְאֵ֥ת הָאָֽרֶץ׃
    |  
    span.verse 2
    |  וְהָאָ֗רֶץ הָיְתָ֥ה תֹ֨הוּ֙ וָבֹ֔הוּ וְחֹ֖שֶׁךְ עַל־פְּנֵ֣י תְהֹ֑ום וְר֣וּחַ אֱלֹהִ֔ים מְרַחֶ֖פֶת עַל־פְּנֵ֥י הַמָּֽיִם׃
    |  
    span.verse 3
    |  וַיֹּ֥אמֶר אֱלֹהִ֖ים יְהִ֣י אֹ֑ור וַֽיְהִי־אֹֽור׃
    |  
    span.verse 4
    |  וַיַּ֧רְא אֱלֹהִ֛ים אֶת־הָאֹ֖ור כִּי־טֹ֑וב וַיַּבְדֵּ֣ל אֱלֹהִ֔ים בֵּ֥ין הָאֹ֖ור וּבֵ֥ין הַחֹֽשֶׁךְ׃
    |  
    span.verse 5
    |  וַיִּקְרָ֨א אֱלֹהִ֤ים׀ לָאֹור֙ יֹ֔ום וְלַחֹ֖שֶׁךְ קָ֣רָא לָ֑יְלָה וַֽיְהִי־עֶ֥רֶב וַֽיְהִי־בֹ֖קֶר יֹ֥ום אֶחָֽד׃ פ
  p
    span.verse 1
    |  Au commencement, Dieu créa le ciel et la terre. 
    span.verse 2
    |  Or la terre était vide et vague, les ténèbres couvraient l'abîme, un vent de Dieu tournoyait sur les eaux. 
    span.verse 3
    |  Dieu dit : "Que la lumière soit" et la lumière fut. 
    span.verse 4
    |  Dieu vit que la lumière était bonne, et Dieu sépara la lumière et les ténèbres. 
    span.verse 5
    |  Dieu appela la lumière "jour" et les ténèbres "nuit." Il y eut un soir et il y eut un matin : premier jour.