.grid
  .m3.sizeS-m6
    p
      code ul
    ul
      li Artichauts
      li Carottes
      li Concombres
      li Poireaux
      li Choux
        ul
          li Composition
          li Saveur
          li Taille
          li Couleurs
            ul
              li Vert
              li Gris
              li Rouge
  .m3.sizeS-m6
    p
      code ol
    ol
      li
        a(href='#index') Artichauts
      li
        a(href='#index') Carottes
      li
        a(href='#index') Concombres
      li
        a(href='#index') Poireaux
      li
        a(href='#index') Choux
        ol
          li
            a(href='#index') Composition
          li
            a(href='#index') Saveur
          li
            a(href='#index') Taille
          li
            a(href='#index') Couleurs
            ol
              li
                a(href='#index') Vert
              li
                a(href='#index') Gris
              li
                a(href='#index') Rouge
  .m3.sizeS-m6
    p
      code ul.list
    ul.list
      li Artichauts
      li Carottes
      li Concombres
      li Poireaux
      li Choux
        ul
          li Composition
          li Saveur
          li Taille
          li Couleurs
            ul
              li Vert
              li Gris
              li Rouge
  .m3.sizeS-m6
    p
      code div.list
    .list
      div Artichauts
      div Carottes
      div Concombres
      div Poireaux
      div
        | Choux
        div Composition
        div Saveur
        div Taille
        div
          | Couleurs
          div Vert
          div Gris
          div Rouge
.grid
  .m3.sizeS-m6
    p
      code ul.list-stripe
    ul.list-stripe
      li
        span.icon-sharp
        | &nbsp;&nbsp;Artichauts
      li
        span.icon-sharp
        | &nbsp;&nbsp;Carottes
      li
        span.icon-sharp
        | &nbsp;&nbsp;Concombres
      li
        span.icon-sharp
        | &nbsp;&nbsp;Poireaux
      li
        span.icon-sharp
        | &nbsp;&nbsp;Choux
  .m3.sizeS-m6
    p
      code ul.list-stripe-link
    ul.list-stripe-link
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Artichauts
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Carottes
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Concombres
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Poireaux
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Choux
  .m3.sizeS-m6
    p
      code div.list-stripe
    .list-stripe
      div
        span.icon-sharp
        | &nbsp;&nbsp;Artichauts
      div
        span.icon-sharp
        | &nbsp;&nbsp;Carottes
      div
        span.icon-sharp
        | &nbsp;&nbsp;Concombres
      div
        span.icon-sharp
        | &nbsp;&nbsp;Poireaux
      div
        span.icon-sharp
        | &nbsp;&nbsp;Choux
  .m3.sizeS-m6
    p
      code div.list-stripe-link
    .list-stripe-link
      div
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Artichauts
      div
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Carottes
      div
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Concombres
      div
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Poireaux
      div
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Choux
  .m6
    p
      code .list-stripe-large
    ul.list-stripe-large
      li
        span.icon-sharp
        | &nbsp;&nbsp;Artichauts
      li
        span.icon-sharp
        | &nbsp;&nbsp;Carottes
      li
        span.icon-sharp
        | &nbsp;&nbsp;Concombres
      li
        span.icon-sharp
        | &nbsp;&nbsp;Poireaux
      li
        span.icon-sharp
        | &nbsp;&nbsp;Choux
  .m6
    p
      code .list-stripe-large-link
    ul.list-stripe-large-link
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Artichauts
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Carottes
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Concombres
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Poireaux
      li
        a(href='#index')
          span.icon-arrow-right
          | &nbsp;&nbsp;Choux
.columns-largespace
  div
    p
      code .list-number
    ol.list-number
      li
        a(href='#index') Artichauts
      li
        a(href='#index') Carottes
      li
        a(href='#index') Concombres
      li
        a(href='#index') Poireaux
      li
        a(href='#index') Artichauts
      li
        a(href='#index') Carottes
      li
        a(href='#index') Concombres
      li
        a(href='#index') Poireaux
      li
        a(href='#index') Choux
      li
        a(href='#index') Petits pois
      li
        a(href='#index') Courgettes
      li
        a(href='#index') Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
  div
    p
      code .list-number-rounded
    ol.list-number-rounded
      li
        a(href='#index') Artichauts
      li
        a(href='#index') Carottes
      li
        a(href='#index') Concombres
      li
        a(href='#index') Poireaux
      li
        a(href='#index') Artichauts
      li
        a(href='#index') Carottes
      li
        a(href='#index') Concombres
      li
        a(href='#index') Poireaux
      li
        a(href='#index') Choux
      li
        a(href='#index') Petits pois
      li
        a(href='#index') Courgettes
      li
        a(href='#index') Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
p
  code .list-stripe-link.summary
.list-stripe-link.summary
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list
  li
    a(href='#index')
      span.icon-arrow-down
      | &nbsp;&nbsp;Item list