nav.main-nav(role='navigation')
  .wrap
    .brand-image.onaline
      a(href='/')
        span Scriptura
    input(type='checkbox', id='cmd-main-nav')
    label(for='cmd-main-nav')
      span
    ul
      li
        if homepage
          span.active
            span.icon-home.only-icon
            span Home
        else
          a(href='/')
            span.icon-home.only-icon
            span Home
      li
        if styleguidepage
          span.active
            span.icon-list2
            | Style Guide
        else
          a(href='/Pages/StyleGuide.html')
            span.icon-list2
            | Style Guide
      li
        if layoutspage
          span.active
            span.icon-frame
            | Layout Examples
        else
          a(href='/Pages/Layouts.html')
            span.icon-frame
            | Layout Examples
      li
        if themespage
          span.active
            span.icon-rocket
            | Themes
        else
          a(href='/Pages/Themes.html')
            span.icon-rocket
            | Themes
      li.item-push
        a(href='//github.com/Scriptura/ScripturaFramework')
          span.icon-github
          | Repository