nav.main-nav(role='navigation')
  .wrap
    input(type='checkbox', id='cmd-main-nav')
    label(for='cmd-main-nav')
      span
    .brand
      a(href='/')
        span.letter S
        span criptura
    ul
      li
        a(href='/')
          span.icon-home
          span.sizeNav-hidden Home
      li
        a(href='./StyleGuide.html')
          span.icon-list2
          | Style Guide
      li
        a(href='./Layouts.html')
          span.icon-frame
          | Layout Examples
      li
        a(href='./Themes.html')
          span.icon-rocket
          | Themes
      li.item-push
        a(href='//github.com/Scriptura/ScripturaFramework')
          span.icon-github
          | Repository