script(src='https://maps.googleapis.com/maps/api/js')
script.
  var carte = new google.maps.LatLng(45.592305, 4.369958);
  var tMarker = [
  { lat : 45.592305,
  lon : 4.369958,
  title : 'Marker 1'
  },
  ];
  var map;
  function initialize() {
  var mapOptions = {
  scrollwheel: false,
  zoom: 12,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  center: carte
  };
  map = new google.maps.Map(document.getElementById('google-maps'),
  mapOptions);
  function createMarqueur( tab, map){
  var oLatLng, oMarker, data;
  var i, nb = tab.length;
  for( i = 0; i < nb; i++){
  data = tab[i];
  oLatLng = new google.maps.LatLng( data.lat, data.lon);
  oMarker = new google.maps.Marker({
  position : oLatLng,
  // animation: google.maps.Animation.BOUNCE,
  map : map,
  title : data.title
  });
  }
  }
  // creating markers
  createMarqueur( tMarker, map);
  marker = new google.maps.Marker({
  map: map,
  draggable: true,
  animation: google.maps.Animation.BOUNCE
  });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
#google-maps.map.ratio-1-2.sizeXS-ratio
//-
    h3 Open Street Map
      @note Les cartes OpenStreetMap utilisent des unités dépréciées (cf. console)
      iframe.map(src='http://www.openstreetmap.org/export/embed.html?bbox=4.261322021484375%2C45.5343711000901%2C4.373931884765625%2C45.6456082765877&layer=hot&marker=45.5900172453615%2C4.317626953125')
br