.grid
  .m4.sizeS-m12
    p
      code .message
    p.message Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    p
      code div.message
    .message
      p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  .m4.sizeS-m6
    p
      code .message-info
    p.message-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    p
      code .message-success
    p.message-success Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    p
      code .message-error
    p.message-error Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    p
      code .message-warning
    p.message-warning Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  .m4.sizeS-m6
    p
      code .message-source
    p.message-source Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    p
      code .message-api
    p.message-api Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    p
      code .message-date
    p.message-date Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    p
      code .message-keyword
    p.message-keyword Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    p
      code .message-location
    p.message-location Lorem ipsum dolor sit amet, consectetuer adipiscing elit.