meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='geo.placename', content='Saint-Médard-en-Forez, Loire, France')
link(rel='shortcut icon', href='../favicon.ico')
link(rel='stylesheet', href='../Public/Styles/MainRatatouille.css', media='screen')#stylesheet
link(rel='stylesheet', href='../Public/Styles/Print.css', media='print')