//-
  p
    code progress
  progress(max='100', value='50')
p
  code .progress
.progress
  #progress-test(data-value='0')
.progress
  div(data-value='40')
.progress
  div(data-value='70')
.progress
  div(data-value='100')
.progress
  div(data-value='30')
button.button#progress-start Start demo