.grid.demo-ratio
  .grid2
    .m
      .ratio
        code .ratio
  .grid2
    .m
      .ratio-1-2
        code .ratio-1-2
  .grid2
    .m
      .ratio-1-3
        code .ratio-1-3
  .grid2
    .m
      .ratio-1-4
        code .ratio-1-4
  .grid2
    .m
      .ratio-1-8
        code .ratio-1-8
  .grid2
    .m
      .ratio-1-12
        code .ratio-1-12
.grid.demo-ratio
  .grid4
    .m
      .ratio-16-10
        code .ratio-16-10
        br
        code .ratio-8-5
  .grid4
    .m
      .ratio-16-9
        code .ratio-16-9
  .grid4
    .m
      .ratio-16-7
        code .ratio-16-7
.grid.demo-ratio
  .grid3
    .m
      .ratio-4-3
        code .ratio-4-3
  .grid3
    .m
      .ratio-3-2
        code .ratio-3-2
  .grid3
    .m
      .ratio-7-3
        code .ratio-7-3
  .grid3
    .m
      .ratio-5-2
        code .ratio-5-2