.grid
  .m4
    .ribbon-container
      p
        code .ribbon-container .ribbon
      .ribbon
        a(href='#index-ribbons') Top
    .ribbon-container-bottom
      p
        code .ribbon-container-bottom
      .ribbon
        a(href='#index-ribbons') Bottom
  .m4
    .ribbon-container-dual
      p
        code .ribbon-container-dual
      .ribbon
        a(href='#index-ribbons') Top
      .ribbon
        a(href='#index-ribbons') Bottom
  .m4
    .ribbon-container.sizeXS-ribbon-container-bottom
      p
        code .sizeXS-ribbon-container-bottom
      .ribbon
        a(href='#index-ribbons') Responsive