script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script window.jQuery || document.write('<script src="../Scripts/Vendors/JQuery.js"><\/script>')
script(src='../Public/Scripts/Main.js')
script(src='../Public/Scripts/Themes.js')