h1(itemprop='headline name').emphasized Style Guide
p.touch-hidden
  em Keyboard navigation: press 
    code s
    | or 
    code z
    |  to switch sections.
ul.list-stripe-link.summary
  li
    a(href='#index-typography')
      span.icon-arrow-down
      | &nbsp;&nbsp;Typography
  li
    a(href='#index-messages-box')
      span.icon-arrow-down
      | &nbsp;&nbsp;Messages Box
  li
    a(href='#index-code-blocks')
      span.icon-arrow-down
      | &nbsp;&nbsp;Code Blocks
  li
    a(href='#index-lists')
      span.icon-arrow-down
      | &nbsp;&nbsp;Lists
  li
    a(href='#index-tables')
      span.icon-arrow-down
      | &nbsp;&nbsp;Tables
  li
    a(href='#index-images')
      span.icon-arrow-down
      | &nbsp;&nbsp;Images
  li
    a(href='#index-players')
      span.icon-arrow-down
      | &nbsp;&nbsp;Players
  li
    a(href='#index-inputs')
      span.icon-arrow-down
      | &nbsp;&nbsp;Inputs
  li
    a(href='#index-checkbox-radio')
      span.icon-arrow-down
      | &nbsp;&nbsp;Checkbox & Radio
  li
    a(href='#index-ranges')
      span.icon-arrow-down
      | &nbsp;&nbsp;Ranges
  li
    a(href='#index-buttons')
      span.icon-arrow-down
      | &nbsp;&nbsp;Buttons
  li
    a(href='#index-ajax')
      span.icon-arrow-down
      | &nbsp;&nbsp;Ajax
  li
    a(href='#index-tabs')
      span.icon-arrow-down
      | &nbsp;&nbsp;Tabs
  li
    a(href='#index-accordions')
      span.icon-arrow-down
      | &nbsp;&nbsp;Accordions
  li
    a(href='#index-progress')
      span.icon-arrow-down
      | &nbsp;&nbsp;Progress
  li
    a(href='#index-loaders')
      span.icon-arrow-down
      | &nbsp;&nbsp;Loaders
  li
    a(href='#index-ribbons')
      span.icon-arrow-down
      | &nbsp;&nbsp;Ribbons
  li
    a(href='#index-grid-layout')
      span.icon-arrow-down
      | &nbsp;&nbsp;Grid Layout
  li
    a(href='#index-columns')
      span.icon-arrow-down
      | &nbsp;&nbsp;Columns
  li
    a(href='#index-dimensions')
      span.icon-arrow-down
      | &nbsp;&nbsp;Dimensions
  li
    a(href='#index-zoom')
      span.icon-arrow-down
      | &nbsp;&nbsp;Zoom
  li
    a(href='#index-ratios')
      span.icon-arrow-down
      | &nbsp;&nbsp;Ratios
  li
    a(href='#index-langages')
      span.icon-arrow-down
      | &nbsp;&nbsp;Langages
  li
    a(href='#index-glyph-icons')
      span.icon-arrow-down
      | &nbsp;&nbsp;Glyph Icons
  li
    a(href='#index-maps')
      span.icon-arrow-down
      | &nbsp;&nbsp;Maps