.columns-largespace
  div
    p
      code .tabs-js
    .tabs-js
      h3 Tab 1
      div
        figure.figure-thumbnail-alignleft
          img(src='//Images/Demo/ponton.jpg', alt='Ponton')
        p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      h3 Tab 2
      div
        p Eius commodi eveniet inventore, laudantium, minus quia reiciendis optio molestiae iure fuga animi alias, blanditiis omnis natus! Deleniti quae iure, voluptate asperiores quod fugit ab amet blanditiis, qui sapiente voluptatibus maxime voluptates perspiciatis quo deserunt. Vel, repellat velit suscipit totam itaque magnam culpa impedit repellendus voluptate quasi quisquam illum ad esse rem natus maiores et exercitationem deserunt consectetur quo expedita obcaecati veniam laboriosam error quam.
        p Ea, impedit accusantium earum repellendus quia nesciunt quis ut, quibusdam doloremque, assumenda deleniti recusandae saepe quae optio, non excepturi nostrum. Dignissimos rerum eveniet quod totam consequatur vel voluptate nihil blanditiis dolor soluta fugiat officia expedita aspernatur ab explicabo maiores, ipsa, impedit quas quis nulla quaerat.
      h3 Tab 3, long text long text long text long text
      div
        p Dicta natus iste corporis, impedit, aliquid officia veritatis maiores explicabo, aspernatur soluta porro beatae inventore eveniet nemo voluptate nihil ullam.  Provident error similique ipsa perspiciatis facere recusandae hic praesentium, veritatis maxime ut voluptas quaerat sapiente, ullam placeat veniam ex at ad nulla quidem. Aspernatur eius vel aliquam maxime unde omnis a veritatis excepturi, iusto laborum esse itaque eum consequatur iure odio.
        p Quasi fugit ad, voluptatem beatae. Nesciunt accusamus dolor repellendus perferendis autem illo, veniam ipsum rem fugiat voluptatem enim, sapiente laborum, aut earum omnis tenetur quae a? Blanditiis tenetur nesciunt provident vero tempore dolores doloremque numquam molestias, possimus odio nobis asperiores quidem iste sit. Eveniet, porro, asperiores?
  div
    p
      code .tabs-js-united
    .tabs-js-united
      h3 Tab 1
      div
        figure.figure-thumbnail-alignleft
          img(src='//Images/Demo/ponton.jpg', alt='Ponton')
        p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      h3 Tab 2
      div
        p Eius commodi eveniet inventore, laudantium, minus quia reiciendis optio molestiae iure fuga animi alias, blanditiis omnis natus! Deleniti quae iure, voluptate asperiores quod fugit ab amet blanditiis, qui sapiente voluptatibus maxime voluptates perspiciatis quo deserunt. Vel, repellat velit suscipit totam itaque magnam culpa impedit repellendus voluptate quasi quisquam illum ad esse rem natus maiores et exercitationem deserunt consectetur quo expedita obcaecati veniam laboriosam error quam.
        p Ea, impedit accusantium earum repellendus quia nesciunt quis ut, quibusdam doloremque, assumenda deleniti recusandae saepe quae optio, non excepturi nostrum. Dignissimos rerum eveniet quod totam consequatur vel voluptate nihil blanditiis dolor soluta fugiat officia expedita aspernatur ab explicabo maiores, ipsa, impedit quas quis nulla quaerat.
      h3 Tab 3, long text long text long text long text
      div
        p Dicta natus iste corporis, impedit, aliquid officia veritatis maiores explicabo, aspernatur soluta porro beatae inventore eveniet nemo voluptate nihil ullam.  Provident error similique ipsa perspiciatis facere recusandae hic praesentium, veritatis maxime ut voluptas quaerat sapiente, ullam placeat veniam ex at ad nulla quidem. Aspernatur eius vel aliquam maxime unde omnis a veritatis excepturi, iusto laborum esse itaque eum consequatur iure odio.
        p Quasi fugit ad, voluptatem beatae. Nesciunt accusamus dolor repellendus perferendis autem illo, veniam ipsum rem fugiat voluptatem enim, sapiente laborum, aut earum omnis tenetur quae a? Blanditiis tenetur nesciunt provident vero tempore dolores doloremque numquam molestias, possimus odio nobis asperiores quidem iste sit. Eveniet, porro, asperiores?
        p