.grid
  .m6
    p
      code .zoom70
    p.zoom70 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code .zoom75
    p.zoom75 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code .zoom80
    p.zoom80 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code .zoom90
    p.zoom90 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code .zoom95
    p.zoom95 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code *
    p Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code .zoom105
    p.zoom105 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code .zoom110
    p.zoom110 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code .zoom115
    p.zoom115 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code .zoom120
    p.zoom120 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    p
      code .zoom50 .zoom-reset
    p.zoom50 Consetetur sadipscing elitr, 
      span.zoom-reset sed diam nonumy
      |  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    h3 Another Example
    .icon-ampersand.zoom1000
    .icon-ampersand.zoom500
    .icon-ampersand.zoom250
    .icon-ampersand
    .icon-ampersand.zoom50
  .m6
    h3 Another Example
    form(method='get', action='./')
      .zoom50
        input#test70001.switch(type='checkbox')
        label(for='test70001') Option 1
          span(data-on='yes', data-off='no')
      .zoom80
        input#test70002.switch(type='checkbox')
        label(for='test70002') Option 1
          span(data-on='yes', data-off='no')
      div
        input#test70003.switch(type='checkbox')
        label(for='test70003') Option 1
          span(data-on='yes', data-off='no')
      .zoom120
        input#test70004.switch(type='checkbox')
        label(for='test70004') Option 1
          span(data-on='yes', data-off='no')
      .zoom150
        input#test70005.switch(type='checkbox')
        label(for='test70005') Option 1
          span(data-on='yes', data-off='no')
    br
    h3 Another Example
    .zoom50
      button.button Button
    br
    .zoom80
      button.button Button
    br
    div
      button.button Button
    br
    .zoom120
      button.button Button
    br
    .zoom150
      button.button Button
    br
    h3 Another Example
    p
      code .loader2.zoom50
    .loader2.zoom50
    p
      code .loader2
    .loader2
    p
      code .loader2.zoom150
    .loader2.zoom150
